<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta data-n-head="true" name="author" content="edraw.xyz">
    <meta data-n-head="true" name="MobileOptimized" content="320">
    <meta data-n-head="true" name="HandheldFriendly" content="True">
    <meta data-n-head="true" name="apple-mobile-web-app-capable" content="yes">
    <meta data-n-head="true" name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>智慧水务</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but yun doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <!--<script src="https://static.bimface.com/api/BimfaceSDKLoader/BimfaceSDKLoader@latest-release.js"></script>-->
    <script src="https://static.bimface.com/api/BimfaceSDKLoader/BimfaceSDKLoader@latest-release.js" charset="utf-8"></script>
    <script src="https://www.edraw.xyz/online/js/qrcode.js"></script>
    <script src="https://www.edraw.xyz/online/js/canvas2image.js"></script>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
