<template>
	<v-app style="padding: 0px;">
		<appTop :title="title" :pre="pre" :button="button"></appTop>
		<v-card class="mx-auto" max-width="400" flat style="margin-top: 12px;">
			<v-img src="https://cdn.vuetifyjs.com/images/cards/plane.jpg" height="200px"></v-img>

			<v-card-title>{{ content_title }}</v-card-title>

			<v-card-subtitle>{{ content_time }}</v-card-subtitle>

			<v-card-subtitle>{{ content_sub_title }}</v-card-subtitle>
		</v-card>

		<appBottom></appBottom>
	</v-app>
</template>

<script>
import appTop from '../components/appTop.vue';

import appBottom from '../components/appBottom.vue';

import appCard from '../components/appCard.vue';

export default {
	name: 'appContent.vue',

	components: {
		appTop,

		appBottom,

		appCard
	},

	mounted: function() {
		this.content_title = this.$route.query.title;

		this.title = this.$route.query.sub_title;

		this.content_sub_title = '正文内容......';

		this.content_time = this.$route.query.time;
	},

	data: function() {
		return {
			title: '置顶新闻',

			pre: 'back',

			button: '',

			content_title: '',

			content_sub_title: '',

			content_time: ''
		};
	}
};
</script>

<style scoped></style>
