<template>
	<v-app style="padding: 0px;">
		<appTop :title="title" :pre="pre" :button="button"></appTop>

		<v-container style="position: absolute;top: 56px;background-color: #F2F2F2;padding: 0px;z-index: 2;">
			<template>
				<v-expansion-panels accordion>
					<v-expansion-panel>
						<v-expansion-panel-header>
							<template v-slot:default="{ open }">
								<v-row no-gutters>
									<v-col cols="4" class="font-weight-bold">
										<v-icon style="padding: 0 4px 0 0;">mdi-image</v-icon>
										拍照视频
									</v-col>
								</v-row>
							</template>
						</v-expansion-panel-header>
						<v-expansion-panel-content>
							<v-textarea background-color="grey lighten-2" label="照片视频..."></v-textarea>
							<v-card-actions style="padding:24px;">
								<v-spacer></v-spacer>
								<v-btn text color="primary" outlined>扫码拍照</v-btn>
							</v-card-actions>
						</v-expansion-panel-content>
					</v-expansion-panel>

					<v-expansion-panel>
						<v-expansion-panel-header>
							<template v-slot:default="{ open }">
								<v-row no-gutters>
									<v-col cols="4" class="font-weight-bold">
										<v-icon style="padding: 0 4px 0 0;">mdi-text-subject</v-icon>
										建立事件
									</v-col>
								</v-row>
							</template>
						</v-expansion-panel-header>
						<v-expansion-panel-content>
							<v-row class="justify-center" style="padding: 0 12px;">
								<v-col cols="12"><v-select v-model="select" :items="items" label="事件分类" required></v-select></v-col>
								<v-col cols="12"><v-text-field v-model="name" label="事件标题" required></v-text-field></v-col>
								<v-col cols="12"><v-text-field v-model="local" label="事件位置" required></v-text-field></v-col>
								<v-col cols="12"><v-select v-model="renwu" :items="renwus" label="关联任务" required></v-select></v-col>
								<v-col cols="12"><v-text-field v-model="time" label="时间信息" required></v-text-field></v-col>
								<v-col cols="12"><v-textarea background-color="grey lighten-2" label="添加事件描述..."></v-textarea></v-col>
							</v-row>
						</v-expansion-panel-content>
					</v-expansion-panel>

					<v-expansion-panel>
						<v-expansion-panel-header>
							<template v-slot:default="{ open }">
								<v-row no-gutters>
									<v-col cols="4" class="font-weight-bold">
										<v-icon style="padding: 0 4px 0 0;">mdi-alert-rhombus</v-icon>
										我的建议
									</v-col>
								</v-row>
							</template>
						</v-expansion-panel-header>
						<v-expansion-panel-content><v-textarea background-color="grey lighten-2" label="添加处理建议..."></v-textarea></v-expansion-panel-content>
					</v-expansion-panel>

					<v-expansion-panel>
						<v-card-actions style="padding:24px;">
							<v-btn color="primary">
								<v-icon>mdi-cloud-upload-outline</v-icon>
								保存上传
							</v-btn>
						</v-card-actions>
					</v-expansion-panel>
				</v-expansion-panels>
			</template>
		</v-container>

		<appBottom></appBottom>
	</v-app>
</template>

<script>
import appTop from '../components/appTop.vue';

import appBottom from '../components/appBottom.vue';

import appCard from '../components/appCard.vue';

export default {
	components: {
		appTop,

		appBottom,

		appCard
	},

	data: function() {
		return {
			title: '事件上报',

			pre: 'back',

			button: '',

			margin_top: 24,

			imgSrc: 'https://www.edraw.xyz/app/assets/images/15next.png',

			imgSrc1: 'https://www.edraw.xyz/app/assets/images/weather.png',

			//

			items: ['水环境巡查', '养护巡检', '河湖长巡视', '应急处置', '排水户检查'],

			selete: '',

			name: 'XXXX事件',
			local: '湖北省武汉市武昌区XX街道XX路XX号',
			renwu: '紧急任务1',
			time: '2020-04-08 09:00',

			renwus: ['紧急任务1', '紧急任务2', '紧急任务3', '紧急任务4', '紧急任务5'],

			date: null,

			trip: {
				name: '紧急任务X',

				start_time: '',

				end_time: '',

				info_d: 'XX大道路面积水...',

				info: '内容：雄楚大道489号路面积水：附近工地一水管爆裂，导致路面严重积水，引发交通堵塞...',

				location: null,

				start: '2020-04-08',

				end: '2020-04-10',

				users_n: '4',

				users: [
					{ name: '张XXX', tel: '130-XXXX-XXXX' },

					{ name: '王XXX', tel: '130-XXXX-XXXX' },

					{ name: '张XXX', tel: '130-XXXX-XXXX' },

					{ name: '李XXX', tel: '130-XXXX-XXXX' }
				]
			},

			slider: 75,

			checkbox: true
		};
	},

	methods: {
		jump_to_yuan() {
			this.$router.push({ path: '/yinjiyuan' });
		}
	}
};
</script>
