<template>
	<v-app style="padding: 0px;">
		<appTop :title="title" :pre="pre" :button="button"></appTop>

		<v-container style="position: absolute;top: 56px;background-color: #F2F2F2;padding: 0px;z-index: 2;">
			<template>
				<v-stepper v-model="e6" vertical>
					<v-stepper-step :complete="e6 > 1" step="1">
						预案任务1
						<v-spacer></v-spacer>
						<small>责任人 XXX</small>
					</v-stepper-step>

					<v-stepper-content step="1">
						<v-card class="mb-4" height="200px" outlined tile>
							<v-list-item>
								<v-list-item-content style="margin: 0 0 120px 0;">
									<div class="overline mb-4">演练说明</div>
									<v-list-item-subtitle>正文......</v-list-item-subtitle>
								</v-list-item-content>

								<v-list-item-avatar tile size="180" color="grey"><v-icon>mdi-play</v-icon></v-list-item-avatar>
							</v-list-item>
						</v-card>
						<v-btn color="primary" @click="e6 = 2">下一步</v-btn>
					</v-stepper-content>

					<v-stepper-step :complete="e6 > 2" step="2">
						预案任务2
						<v-spacer></v-spacer>
						<small>责任人 XXX</small>
					</v-stepper-step>

					<v-stepper-content step="2">
						<v-card class="mb-4" height="200px" outlined tile>
							<v-list-item>
								<v-list-item-content style="margin: 0 0 120px 0;">
									<div class="overline mb-4">演练说明</div>
									<v-list-item-subtitle>正文......</v-list-item-subtitle>
								</v-list-item-content>

								<v-list-item-avatar tile size="180" color="grey"><v-icon>mdi-play</v-icon></v-list-item-avatar>
							</v-list-item>
						</v-card>
						<v-btn color="primary" @click="e6 = 3">下一步</v-btn>
					</v-stepper-content>

					<v-stepper-step :complete="e6 > 3" step="3">
						预案任务3
						<v-spacer></v-spacer>
						<small>责任人 XXX</small>
					</v-stepper-step>

					<v-stepper-content step="3">
						<v-card class="mb-4" height="200px" outlined tile>
							<v-list-item>
								<v-list-item-content style="margin: 0 0 120px 0;">
									<div class="overline mb-4">演练说明</div>
									<v-list-item-subtitle>正文......</v-list-item-subtitle>
								</v-list-item-content>

								<v-list-item-avatar tile size="180" color="grey"><v-icon>mdi-play</v-icon></v-list-item-avatar>
							</v-list-item>
						</v-card>
						<v-btn color="primary" @click="e6 = 4">下一步</v-btn>
					</v-stepper-content>

					<v-stepper-step step="4">
						预案任务4
						<v-spacer></v-spacer>
						<small>责任人 XXX</small>
					</v-stepper-step>
					<v-stepper-content step="4">
						<v-card class="mb-4" height="200px" outlined tile>
							<v-list-item>
								<v-list-item-content style="margin: 0 0 120px 0;">
									<div class="overline mb-4">演练说明</div>
									<v-list-item-subtitle>正文......</v-list-item-subtitle>
								</v-list-item-content>

								<v-list-item-avatar tile size="180" color="grey"><v-icon>mdi-play</v-icon></v-list-item-avatar>
							</v-list-item>
						</v-card>
						<v-btn color="primary" @click="e6 = 1">完成</v-btn>
					</v-stepper-content>
				</v-stepper>
			</template>
		</v-container>

		<appBottom></appBottom>
	</v-app>
</template>

<script>
import appTop from '../components/appTop.vue';

import appBottom from '../components/appBottom.vue';

import appCard from '../components/appCard.vue';

export default {
	components: {
		appTop,

		appBottom,

		appCard
	},

	data: function() {
		return {
			title: '预案任务',

			pre: 'back',

			button: '',

			margin_top: 24,

			imgSrc: 'https://www.edraw.xyz/app/assets/images/15next.png',

			imgSrc1: 'https://www.edraw.xyz/app/assets/images/weather.png',

			//

			e6: 1
		};
	},

	methods: {
		getColor(calories) {
			if (calories == '未处理') return 'red';
			else if (calories == '已成功') return 'green';
			else if (calories == '已失败') return 'orange';
			else return 'blue';
		},

		jump_to_yuan() {
			this.$router.push({ path: '/yuan' });
		}
	}
};
</script>
