<template>
	<v-app style="padding: 0px;">
		<appTop :title="title" :pre="pre" :button="button"></appTop>

		<v-container style="position: absolute;top: 56px;background-color: #F2F2F2;padding: 0px;z-index: 2;">
			<template>
				<v-expansion-panels accordion>
					<v-expansion-panel>
						<v-expansion-panel-header>
							<template v-slot:default="{ open }">
								<v-row no-gutters>
									<v-col cols="4" class="font-weight-bold">
										<v-icon style="padding: 0 4px 0 0;">mdi-folder</v-icon>
										任务名称
									</v-col>
								</v-row>
							</template>
						</v-expansion-panel-header>
						<v-expansion-panel-content><v-text-field v-model="trip.name" placeholder="Caribbean Cruise"></v-text-field></v-expansion-panel-content>
					</v-expansion-panel>

					<v-expansion-panel>
						<v-expansion-panel-header>
							<template v-slot:default="{ open }">
								<v-row no-gutters>
									<v-col cols="4" class="font-weight-bold">
										<v-icon style="padding: 0 4px 0 0;">mdi-text-subject</v-icon>
										任务内容
									</v-col>
								</v-row>
							</template>
						</v-expansion-panel-header>
						<v-expansion-panel-content>
							<v-textarea background-color="grey lighten-2" label="任务内容..."></v-textarea>

							<v-textarea background-color="grey lighten-2" label="救援内容..."></v-textarea>

							<v-textarea background-color="grey lighten-2" label="人员装备..."></v-textarea>
						</v-expansion-panel-content>
					</v-expansion-panel>

					<v-expansion-panel>
						<v-expansion-panel-header v-slot="{ open }">
							<v-row no-gutters>
								<v-col cols="4" class="font-weight-bold">
									<v-icon style="padding: 0 4px 0 0;">mdi-map-marker-path</v-icon>
									任务导航
								</v-col>
							</v-row>
						</v-expansion-panel-header>
						<v-expansion-panel-content>
							<v-row no-gutters>
								<v-spacer></v-spacer>
								<v-col cols="12"><v-img src="https://www.edraw.xyz/app/assets/images/map_daohang.png" aspect-ratio="1.7"></v-img></v-col>
							</v-row>

							<v-card-actions>
								<v-spacer></v-spacer>
								<v-btn text color="primary" outlined>开始导航</v-btn>
							</v-card-actions>
						</v-expansion-panel-content>
					</v-expansion-panel>

					<v-expansion-panel>
						<v-expansion-panel-header v-slot="{ open }">
							<v-row no-gutters>
								<v-col cols="4" class="font-weight-bold">
									<v-icon style="padding: 0 4px 0 0;">mdi-history</v-icon>
									任务时间
								</v-col>
							</v-row>
						</v-expansion-panel-header>
						<v-expansion-panel-content>
							<v-row justify="space-around" no-gutters>
								<v-col cols="3">
									<v-menu ref="startMenu" :close-on-content-click="false" :return-value.sync="trip.start" offset-y min-width="290px">
										<template v-slot:activator="{ on }">
											<v-text-field v-model="trip.start" label="Start date" prepend-icon="mdi-calendar-month" readonly v-on="on"></v-text-field>
										</template>
										<v-date-picker v-model="date" no-title scrollable>
											<v-spacer></v-spacer>
											<v-btn text color="primary" @click="$refs.startMenu.isActive = false">Cancel</v-btn>
											<v-btn text color="primary" @click="$refs.startMenu.save(date)">OK</v-btn>
										</v-date-picker>
									</v-menu>
								</v-col>

								<v-col cols="3">
									<v-menu ref="endMenu" :close-on-content-click="false" :return-value.sync="trip.end" offset-y min-width="290px">
										<template v-slot:activator="{ on }">
											<v-text-field v-model="trip.end" label="End date" prepend-icon="mdi-calendar-month" readonly v-on="on"></v-text-field>
										</template>
										<v-date-picker v-model="date" no-title scrollable>
											<v-spacer></v-spacer>
											<v-btn text color="primary" @click="$refs.endMenu.isActive = false">Cancel</v-btn>
											<v-btn text color="primary" @click="$refs.endMenu.save(date)">OK</v-btn>
										</v-date-picker>
									</v-menu>
								</v-col>
							</v-row>
						</v-expansion-panel-content>
					</v-expansion-panel>

					<v-expansion-panel>
						<v-expansion-panel-header>
							<template v-slot:default="{ open }">
								<v-row no-gutters>
									<v-col cols="4" class="font-weight-bold">
										<v-icon style="padding: 0 4px 0 0;">mdi-account-multiple</v-icon>
										执行人员
									</v-col>
								</v-row>
							</template>
						</v-expansion-panel-header>
						<v-expansion-panel-content>
							<v-row v-for="user in trip.users">
								<v-col cols="6"><v-text-field v-model="user.name" label="姓名" prepend-icon="mdi-account-circle" required></v-text-field></v-col>

								<v-col cols="6"><v-text-field v-model="user.tel" label="电话" prepend-icon="mdi-cellphone-iphone" required></v-text-field></v-col>
							</v-row>
						</v-expansion-panel-content>
					</v-expansion-panel>

					<v-expansion-panel>
						<v-expansion-panel-header>
							<template v-slot:default="{ open }">
								<v-row no-gutters>
									<v-col cols="4" class="font-weight-bold">
										<v-icon style="padding: 0 4px 0 0;">mdi-help-circle</v-icon>
										任务求助
									</v-col>
								</v-row>
							</template>
						</v-expansion-panel-header>
						<v-expansion-panel-content>
							<v-textarea background-color="grey lighten-2" label="求助内容..."></v-textarea>

							<v-textarea background-color="grey lighten-2" label="照片视频..."></v-textarea>
							<v-card-actions>
								<v-spacer></v-spacer>
								<v-btn text color="primary" outlined>申请求助</v-btn>
							</v-card-actions>
						</v-expansion-panel-content>
					</v-expansion-panel>

					<v-expansion-panel>
						<v-expansion-panel-header>
							<template v-slot:default="{ open }">
								<v-row no-gutters>
									<v-col cols="4" class="font-weight-bold">
										<v-icon style="padding: 0 4px 0 0;">mdi-cloud-upload-outline</v-icon>
										任务汇报
									</v-col>
								</v-row>
							</template>
						</v-expansion-panel-header>
						<v-expansion-panel-content style="padding: 0 0 56px 0;">
							<v-textarea background-color="grey lighten-2" label="任务数据..."></v-textarea>

							<v-textarea background-color="grey lighten-2" label="汇报内容..."></v-textarea>

							<v-subheader class="pl-0">任务完成度</v-subheader>
							<v-slider v-model="slider" thumb-label="always"></v-slider>

							<v-checkbox v-model="checkbox" label="任务成功"></v-checkbox>

							<v-card-actions>
								<v-spacer></v-spacer>
								<v-btn text color="primary" outlined>提交</v-btn>
							</v-card-actions>
						</v-expansion-panel-content>
					</v-expansion-panel>
				</v-expansion-panels>
			</template>
		</v-container>

		<appBottom></appBottom>
	</v-app>
</template>

<script>
import appTop from '../components/appTop.vue';

import appBottom from '../components/appBottom.vue';

import appCard from '../components/appCard.vue';

export default {
	components: {
		appTop,

		appBottom,

		appCard
	},

	data: function() {
		return {
			title: '任务详情',

			pre: 'back',

			button: '',

			margin_top: 24,

			imgSrc: 'https://www.edraw.xyz/app/assets/images/15next.png',

			imgSrc1: 'https://www.edraw.xyz/app/assets/images/weather.png',

			//

			date: null,

			trip: {
				name: '紧急任务X',

				start_time: '',

				end_time: '',

				info_d: 'XX大道路面积水...',

				info: '内容：雄楚大道489号路面积水：附近工地一水管爆裂，导致路面严重积水，引发交通堵塞...',

				location: null,

				start: '2020-04-08',

				end: '2020-04-10',

				users_n: '4',

				users: [
					{ name: '张XXX', tel: '130-XXXX-XXXX' },

					{ name: '王XXX', tel: '130-XXXX-XXXX' },

					{ name: '张XXX', tel: '130-XXXX-XXXX' },

					{ name: '李XXX', tel: '130-XXXX-XXXX' }
				]
			},

			slider: 75,

			checkbox: true
		};
	},

	methods: {
		jump_to_yuan() {
			this.$router.push({ path: '/yinjiyuan' });
		}
	}
};
</script>
