<template>
	<v-app style="padding: 0px;">
		<appTop :title="title" :pre="pre" :button="button"></appTop>

		<v-container style="position: absolute;top: 56px;background-color: #F2F2F2;padding: 0px;z-index: 2;">
			<v-data-table :headers="headers" :items="desserts" :sort-by="['calories']" :sort-desc="[false, true]" class="elevation-1" @click="jump_to_renwuinfo">
				<template v-slot:item.iron="{ item }">
					<v-chip :color="getColor(item.iron)" dark outlined small class="justify-center" style="width: 60px;min-width: 60px;">{{ item.iron }}</v-chip>
				</template>

				<template v-slot:item.calories="{ item }">
					<v-chip :color="getColor(item.calories)" dark class="justify-center" style="width: 60px;min-width: 60px;">{{ item.calories }}</v-chip>
				</template>

				<template v-slot:item.open="{ item }">
					<v-chip outlined color="#666" small style="width: 60px;min-width: 60px;" @click="jump_to_renwuinfo"><v-icon right>mdi-play</v-icon></v-chip>
				</template>
			</v-data-table>
		</v-container>

		<appBottom></appBottom>
	</v-app>
</template>

<script>
import appTop from '../components/appTop.vue';

import appBottom from '../components/appBottom.vue';

import appCard from '../components/appCard.vue';

export default {
	components: {
		appTop,

		appBottom,

		appCard
	},

	data: function() {
		return {
			title: '任务管理',

			pre: 'back',

			button: '',

			margin_top: 24,

			imgSrc: 'https://www.edraw.xyz/app/assets/images/15next.png',

			imgSrc1: 'https://www.edraw.xyz/app/assets/images/weather.png',

			//

			headers: [
				{
					text: '',
					align: 'start',
					sortable: 'false',
					value: 'iron'
				},
				{ text: '紧急程度', value: 'calories' },
				{ text: '名称', value: 'name' },
				//{ text: '地点', value: 'fat' },
				{ text: '执行人', value: 'carbs' },
				//{ text: '应急预案', value: 'yuan' },
				{ text: '', value: 'open' }
			],
			desserts: [
				{
					name: '紧急任务1',
					calories: '1级',
					fat: 'xx路xx号',
					carbs: '张xx',
					protein: '130xxxxxxxx',
					iron: '执行中',
					yuan: '预案X',
					open: '打开'
				},
				{
					name: '紧急任务2',
					calories: '1级',
					fat: 'xx路xx号',
					carbs: '张xx',
					protein: '130xxxxxxxx',
					iron: '已成功',
					yuan: '预案X',
					open: '打开'
				},
				{
					name: '紧急任务3',
					calories: '3级',
					fat: 'xx路xx号',
					carbs: '张xx',
					protein: '130xxxxxxxx',
					iron: '已失败',
					yuan: '预案X',
					open: '打开'
				},
				{
					name: '紧急任务4',
					calories: '1级',
					fat: 'xx路xx号',
					carbs: '张xx',
					protein: '130xxxxxxxx',
					iron: '未开始',
					yuan: '预案X',
					open: '打开'
				},
				{
					name: '紧急任务5',
					calories: '3级',
					fat: 'xx路xx号',
					carbs: '张xx',
					protein: '130xxxxxxxx',
					iron: '执行中',
					yuan: '预案X',
					open: '打开'
				},
				{
					name: '紧急任务6',
					calories: '3级',
					fat: 'xx路xx号',
					carbs: '张xx',
					protein: '130xxxxxxxx',
					iron: '执行中',
					yuan: '预案X',
					open: '打开'
				},
				{
					name: '紧急任务7',
					calories: '2级',
					fat: 'xx路xx号',
					carbs: '张xx',
					protein: '130xxxxxxxx',
					iron: '已成功',
					yuan: '预案X',
					open: '打开'
				},
				{
					name: '紧急任务8',
					calories: '2级',
					fat: 'xx路xx号',
					carbs: '张xx',
					protein: '130xxxxxxxx',
					iron: '已成功',
					yuan: '预案X',
					open: '打开'
				},
				{
					name: '紧急任务9',
					calories: '2级',
					fat: 'xx路xx号',
					carbs: '张xx',
					protein: '130xxxxxxxx',
					iron: '未开始',
					yuan: '预案X',
					open: '打开'
				}
			]
		};
	},

	methods: {
		getColor(calories) {
			if (calories == '未开始' || calories == '1级') return 'red';
			else if (calories == '已成功' || calories == '3级') return 'green';
			else if (calories == '已失败') return 'orange';
			else return 'blue';
		},

		jump_to_yuan() {
			this.$router.push({ path: '/yinjiyuan' });
		},

		jump_to_renwuinfo() {
			this.$router.push({ path: '/yinjirenwuinfo' });
		}
	}
};
</script>
