<template>
	<v-app style="padding: 0px;">
		<appTop :title="title" :pre="pre" :button="button"></appTop>

		<v-container style="position: absolute;top: 56px;background-color: #F2F2F2;padding: 0 0 56px 0;z-index: 2;">
			<template>
				<v-card max-width="600" class="mx-auto">
					<v-list two-line subheader rounded>
						<v-subheader inset>路面积水</v-subheader>

						<v-list-item v-for="item in items" :key="item.title" @click="jump_to_yuan">
							<v-list-item-avatar><v-icon :class="[item.iconClass]" v-text="item.icon"></v-icon></v-list-item-avatar>

							<v-list-item-content>
								<v-list-item-title v-text="item.title"></v-list-item-title>
								<v-list-item-subtitle v-text="item.subtitle"></v-list-item-subtitle>
							</v-list-item-content>

							<v-list-item-action>
								<v-btn icon><v-icon color="grey lighten-1">mdi-play</v-icon></v-btn>
							</v-list-item-action>
						</v-list-item>

						<v-divider inset></v-divider>

						<v-subheader inset>水管爆裂</v-subheader>

						<v-list-item v-for="item in items2" :key="item.title" @click="jump_to_yuan">
							<v-list-item-avatar><v-icon :class="[item.iconClass]" v-text="item.icon"></v-icon></v-list-item-avatar>

							<v-list-item-content>
								<v-list-item-title v-text="item.title"></v-list-item-title>
								<v-list-item-subtitle v-text="item.subtitle"></v-list-item-subtitle>
							</v-list-item-content>

							<v-list-item-action>
								<v-btn icon><v-icon color="grey lighten-1">mdi-play</v-icon></v-btn>
							</v-list-item-action>
						</v-list-item>

						<v-divider inset></v-divider>

						<v-subheader inset>污水超标</v-subheader>

						<v-list-item v-for="item in items1" :key="item.title" @click="jump_to_yuan">
							<v-list-item-avatar><v-icon :class="[item.iconClass]" v-text="item.icon"></v-icon></v-list-item-avatar>

							<v-list-item-content>
								<v-list-item-title v-text="item.title"></v-list-item-title>
								<v-list-item-subtitle v-text="item.subtitle"></v-list-item-subtitle>
							</v-list-item-content>

							<v-list-item-action>
								<v-btn icon><v-icon color="grey lighten-1">mdi-play</v-icon></v-btn>
							</v-list-item-action>
						</v-list-item>
					</v-list>
				</v-card>
			</template>
		</v-container>

		<appBottom></appBottom>
	</v-app>
</template>

<script>
import appTop from '../components/appTop.vue';

import appBottom from '../components/appBottom.vue';

import appCard from '../components/appCard.vue';

export default {
	components: {
		appTop,

		appBottom,

		appCard
	},

	data: function() {
		return {
			title: '案例知识库',

			pre: 'back',

			button: '',

			margin_top: 24,

			imgSrc: 'https://www.edraw.xyz/app/assets/images/15next.png',

			imgSrc1: 'https://www.edraw.xyz/app/assets/images/weather.png',

			//

			items: [
				{ icon: 'mdi-server mdi-rotate-90', iconClass: 'blue lighten-3 white--text', title: '整体预案1', subtitle: '等级：X级' },
				{ icon: 'mdi-server mdi-rotate-90', iconClass: 'blue lighten-3 white--text', title: '整体预案2', subtitle: '等级：X级' },
				{ icon: 'mdi-server mdi-rotate-90', iconClass: 'blue lighten-3 white--text', title: '整体预案3', subtitle: '等级：X级' }
			],
			items1: [
				{ icon: 'mdi-server mdi-rotate-90', iconClass: 'blue lighten-3 white--text', title: '整体预案1', subtitle: '等级：X级' },
				{ icon: 'mdi-server mdi-rotate-90', iconClass: 'blue lighten-3 white--text', title: '整体预案2', subtitle: '等级：X级' }
			],

			items2: [
				{ icon: 'mdi-server mdi-rotate-90', iconClass: 'blue lighten-3 white--text', title: '整体预案1', subtitle: '等级：X级' },
				{ icon: 'mdi-server mdi-rotate-90', iconClass: 'blue lighten-3 white--text', title: '整体预案2', subtitle: '等级：X级' },
				{ icon: 'mdi-server mdi-rotate-90', iconClass: 'blue lighten-3 white--text', title: '整体预案3', subtitle: '等级：X级' },
				{ icon: 'mdi-server mdi-rotate-90', iconClass: 'blue lighten-3 white--text', title: '整体预案4', subtitle: '等级：X级' }
			]
		};
	},

	methods: {
		jump_to_yuan() {
			this.$router.push({ path: '/yinjiyuan' });
		}
	}
};
</script>
