<template>
	<v-app style="padding: 0px;">
		<appTop :title="title" :pre="pre" :button="button"></appTop>

		<v-tabs v-model="tab" background-color="blue darken-4" dark grow slider-color="light-blue" slider-size="4" style="z-index: 1;position:fixed;top:56px;">
			<v-tab v-for="(tab_title, t) in tabs" :key="t" class="subtitle-1 font-weight-bold">{{ tab_title }}</v-tab>
		</v-tabs>

		<v-tabs-items v-model="tab">
			<v-tab-item v-for="(tab_title, t) in tabs" :key="t">
				<v-row style="background-color: #F2F2F2;padding-bottom: 56px;margin:0px;width: 100%;">
					<v-col cols="12" :style="{ 'margin-top': margin_top + 'px' }"></v-col>

					<v-col v-for="i in 10" :key="i" cols="12"><appCard :title="tab_title + '标题' + i" :sub_title="'副标题'" :table_title="tab_title"></appCard></v-col>
				</v-row>
			</v-tab-item>
		</v-tabs-items>

		<appBottom></appBottom>
	</v-app>
</template>

<script>
import appTop from '../components/appTop.vue';

import appBottom from '../components/appBottom.vue';

import appCard from '../components/appCard.vue';

export default {
	components: {
		appTop,

		appBottom,

		appCard
	},

	data: function() {
		return {
			title: '今日简报',

			pre: 'back',

			button: 'calendar',

			tabs: ['巡检养护专题', '防洪防涝专题', '水环境专题'],

			tab: null,

			labels: ['SU', 'MO', 'TU', 'WED', 'TH', 'FR', 'SA'],
			time: 0,
			forecast: [
				{ day: 'Tuesday', icon: 'mdi-white-balance-sunny', temp: '24\xB0/12\xB0' },
				{ day: 'Wednesday', icon: 'mdi-white-balance-sunny', temp: '22\xB0/14\xB0' },
				{ day: 'Thursday', icon: 'mdi-cloud', temp: '25\xB0/15\xB0' }
			],
			today: '08/04',

			margin_top: 24
		};
	}
};
</script>

<style scoped></style>
