<template>
	<v-app style="padding: 0px;">
		<appTop :title="title" :pre="pre" :button="button"></appTop>

		<v-container style="position: absolute;top: 56px;background-color: #F2F2F2;padding: 0 0 56px 0;z-index: 2;">
			<div class="user" @click="lookInfo">
				<div class="userBox">
					<v-avatar color="teal" size="48"><img src="https://cdn.vuetifyjs.com/images/john.jpg" alt="头像" /></v-avatar>
					<div class="userName">shadow</div>
				</div>
				<v-icon large >mdi-chevron-right</v-icon>
			</div>
			<div class="option" v-for="(item,index) in options" :key="index" @click="gotoPage(item)">
				<div>{{item.name}}</div>
				<v-icon medium>mdi-chevron-right</v-icon>
			</div>
		</v-container>

		<appBottom></appBottom>
	</v-app>
</template>

<script>
import appTop from '../components/appTop.vue';

import appBottom from '../components/appBottom.vue';

import appCard from '../components/appCard.vue';

export default {
	components: {
		appTop,

		appBottom,

		appCard
	},

	data: function() {
		return {
			title: '我的信息',

			pre: 'back',

			button: '',
			options:[
				{
					name:'通讯录',
					path:'/communication'
				},
				{
					name:'角色权限',
					path:'/permission'
				},
				{
					name:'APP设置',
					path:'/setting'
				},
			]

		};
	},

	methods: {
		jump_to_yuan() {
			
		},
		gotoPage(item){
			this.$router.push({ path: item.path });
		},
		// 查看个人信息
		lookInfo() {
			this.$router.push({ path: '/userInfo' });
			
		}
	}
};
</script>
<style scoped lang="scss">
	.v-application{
		background-color: rgb(242, 242, 242)!important;
	}
	.container{
		background:none!important;
	}
.user {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 16px;
	.userBox {
		display: flex;
		align-items: center;
		.userName {
			margin-left: 16px;
		}
	}
}
.option {
	margin: 10px;
	padding: 2.67vw;
	background-color: #fff;
	border-radius: 6px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
</style>
