<template>
	<v-app style="padding: 0px;">
		<appTop :title="title" :pre="pre" :button="button"></appTop>

		<v-container style="position: absolute;top: 52px;background-color: #F2F2F2;padding-bottom: 72px;z-index: 2;">
			<v-card class="mx-auto" max-width="400" style="padding: 0px;margin-top: 10px;">
				<v-tabs v-model="tab0" background-color="white" centered grow icons-and-text slider-size="4">
					<v-tab v-for="(tab, t) in tabs0" :key="t" class="subtitle-1 font-weight-bold">
						{{ tab.title }}
						<v-icon>{{ tab.icon }}</v-icon>
					</v-tab>
				</v-tabs>

				<v-tabs-items v-model="tab0">
					<v-tab-item v-for="(tab, t) in tabs0" :key="t">
						<v-img class="white--text align-end" height="360px" :position="t == 1 ? 'right center' : 'left center'" :src="imgSrc"></v-img>
					</v-tab-item>
				</v-tabs-items>
			</v-card>

			<v-card class="mx-auto" max-width="400" style="padding:0px;margin-top: 20px;">
				<v-tabs v-model="tab1" background-color="white" centered grow icons-and-text slider-size="4">
					<v-tab v-for="(tab, t) in tabs1" :key="t" class="subtitle-1 font-weight-bold">
						{{ tab.title }}
						<v-icon>{{ tab.icon }}</v-icon>
					</v-tab>
				</v-tabs>

				<v-tabs-items v-model="tab1">
					<v-tab-item v-for="(tab, t) in tabs1" :key="t"><v-img class="white--text align-end" height="260px" :src="tab.src"></v-img></v-tab-item>
				</v-tabs-items>
			</v-card>

			<v-card class="mx-auto" max-width="400" style="padding:0px;margin-top: 20px;">
				<v-tabs v-model="tab2" background-color="white" centered grow icons-and-text slider-size="4">
					<v-tab v-for="(tab, t) in tabs2" :key="t" class="subtitle-1 font-weight-bold">
						{{ tab.title }}
						<v-icon>{{ tab.icon }}</v-icon>
					</v-tab>
				</v-tabs>

				<v-tabs-items v-model="tab2">
					<v-tab-item v-for="(tab, t) in tabs2" :key="t"><v-img class="white--text align-end" height="260px" :src="tab.src"></v-img></v-tab-item>
				</v-tabs-items>
			</v-card>
		</v-container>

		<appBottom></appBottom>
	</v-app>
</template>

<script>
import appTop from '../components/appTop.vue';

import appBottom from '../components/appBottom.vue';

// import appCard from './appCard.vue';

export default {
	components: {
		appTop,

		appBottom,

		// appCard
	},

	data: function() {
		return {
			title: '天气预报',

			pre: 'back',

			button: '',

			tab: null,

			tabs0: [
				{
					title: '未来15天',

					icon: 'mdi-weather-partly-cloudy'
				},

				{
					title: '过去15天',

					icon: 'mdi-weather-pouring'
				}
			],

			tab0: null,

			tabs1: [
				{
					title: '逐小时预报',

					icon: 'mdi-progress-clock',

					src: 'https://www.edraw.xyz/app/assets/images/hour.png'
				},

				{
					title: '卫星图',

					icon: 'mdi-earth',

					src: 'https://www.edraw.xyz/app/assets/images/weixing.jpeg'
				},
				{
					title: '雷达图',

					icon: 'mdi-edge',

					src: 'https://www.edraw.xyz/app/assets/images/leida.jpg'
				},
				{
					title: '降雨分布图',

					icon: 'mdi-gradient',

					src: require('../assets/rain.jpeg')
				}
			],

			tab1: null,

			tabs2: [
				{
					title: '台风预报',

					icon: 'mdi-ubisoft',

					src: 'https://www.edraw.xyz/app/assets/images/tf.gif'
				},

				{
					title: '台风路线',

					icon: 'mdi-map-marker-path',

					src: 'https://www.edraw.xyz/app/assets/images/taifeng.jpeg'
				}
			],

			tab2: null,

			margin_top: 24,

			imgSrc: 'https://www.edraw.xyz/app/assets/images/15next.png',

			imgSrc1: 'https://www.edraw.xyz/app/assets/images/weather.png'
		};
	}
};
</script>

<style scoped></style>
