<template>
	<v-app style="padding: 0px;">
		<appTop :title="title" :pre="pre" :button="button"></appTop>

		<v-container style="position: absolute;top: 56px;background-color: #F2F2F2;padding: 0px;z-index: 2;">
			<!-- 排序 -->
			<div class="sortWrap">
				<div class="selectWrap" @click="toggleSort">
					<div class="type">{{ sortList[sortIndex].value }}</div>
					<div class="sortIcon">
						<div class="icon0"></div>
						<div class="icon1"></div>
					</div>
				</div>

				<div class="sortListWrap" v-if="showSortList">
					<div class="list">
						<div class="item" v-for="(item, index) in sortList" :key="item.value" @click="selectSort(index, item)">{{ item.value }}</div>
					</div>
				</div>
			</div>
			<!-- 列表 -->
			<div class="contentListWrap">
				<v-card class="mx-auto" max-width="100%" v-for="(item,index) in contentList" :key="item.id">
					<v-card-text>
						<div class="cardContent">
							<div class="item">
								<div class="left">任务状态</div>
								<div class="status" :class="`status`+item.taskStatus">未开始</div>
							</div>
							<div class="item">
								<div class="left">紧急程度</div>
								<div class="level" :class="`level`+item.taskLevel">{{item.taskLevel}}级</div>
							</div>
							<div class="item">
								<div class="left">任务名称</div>
								<div>紧急任务1</div>
							</div>
							<div class="item">
								<div class="left">执行人</div>
								<div>张先生</div>
							</div>
							<v-btn color="#1f69be" @click="jump_to_renwuinfo">任务详情</v-btn>
						</div>
					</v-card-text>

				</v-card>
				<div class="mask" @click="hideSort" v-if="showSortList"></div>
			</div>
			<!-- fixed 图标 -->
			<div class="fixedIconWrap">
				<v-btn light fab small  @click="jump_to_yuan"><v-icon>mdi-animation-play</v-icon></v-btn>
				<v-btn light fab small  @click="jump_to_ku"><v-icon>mdi-bookshelf</v-icon></v-btn>
			</div>
		</v-container>

		<appBottom></appBottom>
	</v-app>
</template>

<script>
import appTop from '../components/appTop.vue';

import appBottom from '../components/appBottom.vue';

// import appCard from './appCard.vue';

export default {
	components: {
		appTop,

		appBottom

		// appCard
	},

	data: function() {
		return {
			title: '应急响应',

			pre: 'back',

			button: '',

			margin_top: 24,
			sortIndex: 0,
			showSortList: false,
			sortList: [
				{
					value: '任务状态'
				},
				{
					value: '紧急程度'
				},
				{
					value: '任务名称'
				},
				{
					value: '执行人'
				}
			],
			// 事件级别 1 2 3, 事件状态 1未开始 2 执行中 3 已成功 4 已失败
			contentList:[
				{
					id:0,
					taskLevel:1,
					taskStatus:1,
					taskName:'紧急任务3',
					operatorName:'张先生'
				},
				{
					id:1,
					taskLevel:2,
					taskStatus:3,
					taskName:'紧急任务2',
					operatorName:'李女士'
				},
				{
					id:2,
					taskLevel:3,
					taskStatus:2,
					taskName:'紧急任务4',
					operatorName:'王先生'
				},
				{
					id:3,
					taskLevel:3,
					taskStatus:4,
					taskName:'紧急任务1',
					operatorName:'陈先生'
				},
			],
		};
	},

	methods: {
		toggleSort() {
			this.showSortList = !this.showSortList;
		},
		selectSort(index) {
			this.sortIndex = index;
			this.showSortList = false;
		},
		hideSort(){
			this.showSortList = false;
		},
		jump_to_renwu: function() {
			this.$router.push({ path: '/yinjirenwu' });
		},

		jump_to_yuan() {
			this.$router.push({ path: '/yinjiyuan' });
		},

		jump_to_ku() {
			this.$router.push({ path: '/yinjiku' });
		},

		jump_to_renwuinfo() {
			this.$router.push({ path: '/yinjirenwuinfo' });
		},
	}
};
</script>

<style scoped lang="scss">
.v-application {
	background: rgb(242, 242, 242) !important;
}
.container {
	padding: 0 !important;
	background: rgb(242, 242, 242) !important;
}

.sortWrap {
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	background-color: #fff;
	margin-top: 10px;
	position: relative;
	z-index: 1000;

	.selectWrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 4vw;
		line-height: 4vw;
		color: #1867c0;
		opacity: 0.8;
		.icon0 {
			width: 0;
			height: 0;
			border-bottom: 6px solid #cecece;
			border-right: 8px solid transparent;
			border-left: 8px solid transparent;
			margin: 2px;
		}
		.icon1 {
			width: 0;
			height: 0;
			border-top: 6px solid #cecece;
			border-right: 8px solid transparent;
			border-left: 8px solid transparent;
			margin: 2px;
		}
	}

	.sortListWrap {
		position: absolute;
		left: 0;
		top: 100%;
		width: 100%;
		.list {
			box-shadow: 2px 6px 6px -3px #888888;
		}
		.item {
			padding: 10px 10px 10px 20px;
			background-color: #fff;
			width: 100%;
		}
	}
}
.contentListWrap{
	width: 92vw;
	margin: 2vw 4vw;
	position: relative;
	.mask{
		position: absolute;
		left:50% ;
		top: 0;
		width:100vw;
		transform: translate(-50%,0);
		height: 100%;
		min-height:calc(96vh - 142px);
		background-color: rgba(0,0,0,0.5);
	}
	.v-card{
		margin-bottom: 10px;
	}
	.cardContent{
		display: flex;
		flex-direction: column;
		.item{
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 10px 0;
			font-size: 4vw;
			
			.left{
				font-weight: bold;
				color: #000;
			}
			.status{
				padding: 1vw 2vw;
				font-size: 3vw;
				line-height:3vw ;
				border-radius: 5vw;
			}
			.status1{
				color: #f2453d;
				border: 1px solid #f2453d;
			}
			.status2{
				color: #2c98f0;
				border: 1px solid #2c98f0;
			}
			.status3{
				color: #50ae55;
				border: 1px solid #50ae55;
			}
			.status4{
				color: #fd9827;
				border: 1px solid #fd9827;
			}
			.level{
				padding: 1.6vw 4vw;
				font-size: 3.6vw;
				line-height:3.6vw ;
				color: #fff;
				border-radius: 4vw;
			}
			.level1{
				background-color:#f2453d ;
			}
			.level2{
				background-color:#2c98f0 ;
			}
			.level3{
				background-color:#50ae55 ;
			}
		}
		.v-btn{
			color: #fff;
			margin-top: 4vw;
		}
	}
	
}
.fixedIconWrap {
	position: fixed;
	right: 0;
	bottom: 80px;
	display: flex;
	flex-direction: column;
	.v-btn {
		margin: 8px 16px;
	}
}
</style>
