<template>
	<v-app style="padding: 0px;">
		<appTop :title="title" :pre="pre" :button="button"></appTop>
		<v-container style="position: absolute;top: 56px;background-color: #F2F2F2;padding: 0 0 56px 0;z-index: 2;">
			<div class="newUser">请输入验证码</div>
			<div class="tip">验证码已发送至手机：+86{{tel}}</div>
			<div class="checkCodeWrap" >
				<security-code v-model="authCode" @input="checkInput"></security-code>
			</div>
			<div class="reSend">重发验证码？</div>
		</v-container>
	</v-app>
</template>

<script>
import appTop from '../components/appTop.vue';

// import appBottom from '../components/appBottom.vue';
import SecurityCode from '../components/SecurityCode.vue';



export default {
	components: {
		appTop,
		SecurityCode
	},

	data: function() {
		return {
			title: '',

			pre: 'back',
			
			button: false,
			tel:'',
			// 验证码
			authCode:'',
			isNewUser:false
		};
	},
	created() {
		this.tel = this.$route.query.tel;
		this.isNewUser = this.$route.query.isNewUser;
	},
	methods: {
		checkInput(val){
			if(val.length>=4){
				this.$router.push({
					path: '/setPassword',
					query: {
						isNewUser:this.isNewUser
					}
				});
			}
		}
	}
};
</script>
<style scoped lang="scss">
	input{
		border-style: none;
		outline: none;
		background-color: transparent;
		appearance: none;
		-webkit-appearance:none;
		//字体抗锯齿
		-webkit-font-smoothing:antialiased;
		//文本垂直对齐文本输入框
		vertical-align: middle;
	}
	input::-webkit-input-placeholder{color:#c0c0c0;}

	.container{
		background:none!important;
		padding: 0!important;
		display: flex;
		flex-direction: column;
		.newUser{
			margin-left: 6vw;
			padding-top: 20px;
			font-size: 5vw;
			font-weight: bold;
			// margin: 20px auto 0;
		}
		.tip{
			margin-left: 6vw;
			padding-top: 6px;
		}
		.reSend{
			position: fixed;
			bottom: 4vw;
			width: 100%;
			text-align: center;
			
			// margin: 60vw auto 4vw;
		}

		
	}
</style>
