<template>
	<v-app style="padding: 0px;">
		<appTop :title="title" :pre="pre" :button="button"></appTop>

		<v-container style="position: absolute;top: 56px;background-color: #F2F2F2;padding: 0 0 56px 0;z-index: 2;">
			<v-tabs fixed-tabs background-color="F2F2F2"  v-model="type">
				<v-tab v-for="(item,index) in items" :key="item.type" @click="switchTab(index)">{{ item.type }}</v-tab>
			</v-tabs>
			<v-tabs-items v-model="type">
				<v-tab-item v-for="(item,index) in items" :key="item.type">
					<div class="list">
						<div class="list-item" v-for="(item2, index2) in item.list" :key="index2">
							<div class="left-wrap">
								<v-avatar color="teal" size="48"><img :src="item2.avatar" alt="头像" /></v-avatar>
								
								<div class="user-info">
									<div class="name">{{item2.name}}</div>
									<div class="unit">{{item2.unit}}</div>
									<div class="position">{{item2.position}}</div>
									<div class="tel">{{item2.tel}}</div>
								</div>
							</div>
							<div class="right-wrap">
								<v-btn small color="primary" v-if="item2.save">转存</v-btn>
							</div>
						</div>
					</div>
				</v-tab-item>
			</v-tabs-items>
			<div class="buildAndScan" v-if="currentIndex==3">
				<div>新建</div>
				<div>扫码</div>
			</div>
		</v-container>

		<appBottom></appBottom>
	</v-app>
</template>

<script>
import appTop from '../components/appTop.vue';

import appBottom from '../components/appBottom.vue';


export default {
	components: {
		appTop,

		appBottom,
	},

	data: function() {
		return {
			title: '通讯录',

			pre: 'back',

			button: '',
			type:'',
			currentIndex:0,
			items:[
				{
					type:'系统通信录',
					list:[
						{
							avatar:'https://cdn.vuetifyjs.com/images/john.jpg',
							name:'张司晨',
							unit:'武汉防汛管理公司',
							position:'主管',
							tel:'18976543671',
							save:true
						},
						{
							avatar:'https://cdn.vuetifyjs.com/images/john.jpg',
							name:'张司晨',
							unit:'武汉防汛管理公司',
							position:'主管',
							tel:'18976543671',
							save:true
						},
					]
				},
				{
					type:'应急通信录',
					list:[
						{
							avatar:'https://cdn.vuetifyjs.com/images/john.jpg',
							name:'张司晨',
							unit:'武汉防汛管理公司',
							position:'主管',
							tel:'18976543671',
							save:true
						},
						{
							avatar:'https://cdn.vuetifyjs.com/images/john.jpg',
							name:'张司晨',
							unit:'武汉防汛管理公司',
							position:'主管',
							tel:'18976543671',
							save:true
						},
						{
							avatar:'https://cdn.vuetifyjs.com/images/john.jpg',
							name:'张司晨',
							unit:'武汉防汛管理公司',
							position:'主管',
							tel:'18976543671',
							save:true
						},
					]
				},
				{
					type:'单位通信录',
					list:[
						{
							avatar:'https://cdn.vuetifyjs.com/images/john.jpg',
							name:'张司晨',
							unit:'武汉防汛管理公司',
							position:'主管',
							tel:'18976543671',
							save:true
						},
						{
							avatar:'https://cdn.vuetifyjs.com/images/john.jpg',
							name:'张司晨',
							unit:'武汉防汛管理公司',
							position:'主管',
							tel:'18976543671',
							save:true
						},
						{
							avatar:'https://cdn.vuetifyjs.com/images/john.jpg',
							name:'张司晨',
							unit:'武汉防汛管理公司',
							position:'主管',
							tel:'18976543671',
							save:true
						},
						{
							avatar:'https://cdn.vuetifyjs.com/images/john.jpg',
							name:'张司晨',
							unit:'武汉防汛管理公司',
							position:'主管',
							tel:'18976543671',
							save:true
						},
					]
				},
				{
					type:'个人通信录',
					list:[
						{
							avatar:'https://cdn.vuetifyjs.com/images/john.jpg',
							name:'张司晨',
							unit:'武汉防汛管理公司',
							position:'主管',
							tel:'18976543671',
							build:true
						},
						{
							avatar:'https://cdn.vuetifyjs.com/images/john.jpg',
							name:'张司晨',
							unit:'武汉防汛管理公司',
							position:'主管',
							tel:'18976543671',
							build:true
						},
						
					]
				},
			]
		};
	},

	methods: {
		switchTab(index){
			this.currentIndex=index;
		}
	}
};
</script>
<style scoped lang="scss">
	.v-application{
		background-color: rgb(242, 242, 242)!important;
	}
	.container{
		background:none!important;
	}
	.container {
		padding: 10px 0 0 0 !important;
	}
	.theme--light.v-tabs-items{
		background:none!important;
	}
	.list{
		
		.list-item{
			width: 100%;
			box-sizing: border-box;
			padding: 10px;
			margin-top: 10px;
			background:#fff;
			display: flex;
			justify-content: space-between;
			.left-wrap{
				display: flex;
				align-items: center;
				.user-info{
					display: flex;
					margin-left: 10px;
					justify-content: space-between;
					flex-direction: column;
					padding: 5px 0;
				}
			}
			.right-wrap{
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				justify-content: center;
				.v-btn{
					margin: 10px 10px!important;
					
				}
			}

		}
	}
	.buildAndScan{
		position: fixed;
		right: 10px;
		bottom: 80px;
		display: flex;
		flex-direction: column;
		div{
			width: 12vw;
			height:12vw;
			border-radius: 12vw;
			color: #fff;
			font-size: 4vw;
			background: #1867c0;
			margin: 8px;
			box-shadow: #1867c0 1px 1px 4px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

</style>
