<template>
	<v-app style="padding: 0px;">
		<appTop :title="title" :pre="pre" :button="button"></appTop>

		<v-container style="position: absolute;top: 56px;background-color: #F2F2F2;padding: 0px;z-index: 2;">
			<v-card class="mx-auto" tile style="box-shadow: none;padding: 0px;width: 100vw;">
				<v-img class="white--text align-end" style="height: calc(100vh - 56px - 56px);position: fixed;" src="https://www.edraw.xyz/app/assets/images/citymap.png"></v-img>
			</v-card>

			<v-popover :open="true" :autoHide="false" placement="top" style="position:absolute;top: 60px;left:40px;">
				<template slot="popover">
					<v-alert type="error" style="background-color: transparent;margin: 0px;padding: 8px;" @click.stop="jump_to_renwuinfo">路面积水</v-alert>
				</template>
			</v-popover>

			<v-popover :open="true" :autoHide="false" placement="top" style="position:absolute;top:60vh;left:75vw;">
				<template slot="popover">
					<v-alert type="error" style="background-color: transparent;margin: 0px;padding: 8px;" @click.stop="jump_to_renwuinfo">污水超标</v-alert>
				</template>
			</v-popover>

			<v-popover
				:open="true"
				:autoHide="false"
				placement="top"
				style="position:absolute;top:50vh;left:35vw;"
				popoverInnerClass="success_inner"
				popoverArrowClass="success_arrow"
			>
				<template slot="popover">
					<v-alert type="success" style="background-color: transparent;margin: 0px;padding: 8px;" @click.stop="jump_to_renwuinfo">水管爆裂</v-alert>
				</template>
			</v-popover>

			<v-popover :open="true" :autoHide="false" placement="top" style="position:absolute;top:40vh;left:45vw;" popoverInnerClass="doing_inner" popoverArrowClass="doing_arrow">
				<template slot="popover">
					<v-alert icon="mdi-flag-variant" dark style="background-color: transparent;margin: 0px;padding: 8px;" @click.stop="jump_to_renwuinfo">水管爆裂</v-alert>
				</template>
			</v-popover>

			<v-alert dense light dismissible tile style="position:fixed;bottom:42px;width:98vw;left:1vw;background-color: rgba(255,255,255,0.65);">
				紧急事件 2 项
				<br />
				已经处理 1 项
				<br />
				正在处理 1 项
			</v-alert>
		</v-container>

		<appBottom></appBottom>
	</v-app>
</template>

<style>
.success_inner {
	background: #4caf50;
	opacity: 0.9;
	color: white;
	border-radius: 16px;
	padding: 5px 10px 4px;
}
.success_arrow {
	width: 0;
	height: 0;
	border-style: solid;
	position: absolute;
	margin: 5px;
	border-color: #4caf50;
}
.doing_inner {
	background: #1565c0;
	opacity: 0.9;
	color: white;
	border-radius: 16px;
	padding: 5px 10px 4px;
}
.doing_arrow {
	width: 0;
	height: 0;
	border-style: solid;
	position: absolute;
	margin: 5px;
	border-color: #1565c0;
}
.tooltip {
	display: block !important;
	z-index: 9;
}

.tooltip .tooltip-inner {
	background: #ff5252;
	opacity: 0.9;
	color: white;
	border-radius: 16px;
	padding: 5px 10px 4px;
}

.tooltip .tooltip-arrow {
	width: 0;
	height: 0;
	border-style: solid;
	position: absolute;
	margin: 5px;
	border-color: #ff5252;
}

.tooltip[x-placement^='top'] {
	margin-bottom: 5px;
}

.tooltip[x-placement^='top'] .tooltip-arrow {
	border-width: 5px 5px 0 5px;
	border-left-color: transparent !important;
	border-right-color: transparent !important;
	border-bottom-color: transparent !important;
	bottom: -5px;
	left: calc(50% - 5px);
	margin-top: 0;
	margin-bottom: 0;
}

.tooltip[x-placement^='top'] .success_arrow {
	border-width: 5px 5px 0 5px;
	border-left-color: transparent !important;
	border-right-color: transparent !important;
	border-bottom-color: transparent !important;
	bottom: -5px;
	left: calc(50% - 5px);
	margin-top: 0;
	margin-bottom: 0;
}

.tooltip[x-placement^='top'] .doing_arrow {
	border-width: 5px 5px 0 5px;
	border-left-color: transparent !important;
	border-right-color: transparent !important;
	border-bottom-color: transparent !important;
	bottom: -5px;
	left: calc(50% - 5px);
	margin-top: 0;
	margin-bottom: 0;
}

.tooltip[x-placement^='bottom'] {
	margin-top: 5px;
}

.tooltip[x-placement^='bottom'] .tooltip-arrow {
	border-width: 0 5px 5px 5px;
	border-left-color: transparent !important;
	border-right-color: transparent !important;
	border-top-color: transparent !important;
	top: -5px;
	left: calc(50% - 5px);
	margin-top: 0;
	margin-bottom: 0;
}

.tooltip[x-placement^='right'] {
	margin-left: 5px;
}

.tooltip[x-placement^='right'] .tooltip-arrow {
	border-width: 5px 5px 5px 0;
	border-left-color: transparent !important;
	border-top-color: transparent !important;
	border-bottom-color: transparent !important;
	left: -5px;
	top: calc(50% - 5px);
	margin-left: 0;
	margin-right: 0;
}

.tooltip[x-placement^='left'] {
	margin-right: 5px;
}

.tooltip[x-placement^='left'] .tooltip-arrow {
	border-width: 5px 0 5px 5px;
	border-top-color: transparent !important;
	border-right-color: transparent !important;
	border-bottom-color: transparent !important;
	right: -5px;
	top: calc(50% - 5px);
	margin-left: 0;
	margin-right: 0;
}

.tooltip[aria-hidden='true'] {
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.15s, visibility 0.15s;
}

.tooltip[aria-hidden='false'] {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.15s;
}
</style>

<script>
import appTop from '../components/appTop.vue';

import appBottom from '../components/appBottom.vue';


export default {
	components: {
		appTop,

		appBottom,

	},

	data: function() {
		return {
			title: '应急响应',

			pre: 'back',

			button: '',

			margin_top: 24,

			imgSrc: 'https://www.edraw.xyz/app/assets/images/15next.png',

			imgSrc1: 'https://www.edraw.xyz/app/assets/images/weather.png',

			message: 'dafsdfasdf'
		};
	},

	methods: {
		jump_to_renwu(){
			console.log(1);
			this.$router.push({ path: '/yinjirenwu' });
		},

		jump_to_yuan() {
			this.$router.push({ path: '/yinjiyuan' });
		},

		jump_to_ku() {
			this.$router.push({ path: '/yinjiku' });
		},

		jump_to_renwuinfo() {
			this.$router.push({ path: '/yinjirenwuinfo' });
		}
	}
};
</script>
