<template>
	<v-app style="padding: 0px;">
		<appTop :title="title" :pre="pre" :alert="alert" @clickAlert="lookMessage"></appTop>

		<v-container style="position: absolute;top: 52px;background-color: #F2F2F2;padding-bottom: 68px;z-index: 2;">
			<v-row>
				<v-col cols="12" :style="{ 'margin-top': margin_top + 'px' }">
					<v-card class="mx-auto" max-width="400" @click="jump_to_weather">
						<v-list-item two-line>
							<v-list-item-content>
								<v-list-item-title class="title">武昌</v-list-item-title>
								<v-list-item-subtitle class="subtitle-2">{{ today }}</v-list-item-subtitle>
							</v-list-item-content>
						</v-list-item>

						<v-card-text align="center">
							<v-row>
								<v-col cols="12" class="py-0"><v-img src="https://cdn.vuetifyjs.com/images/cards/sun.png" width="20%"></v-img></v-col>
								<v-col class="display-1 py-0" style="text-align: center;" cols="12">23&deg;C</v-col>
								<v-col class="headline py-0" style="text-align: center;" cols="12">多云 | 东北风 2 级</v-col>
								<v-col class="headline py-0" style="text-align: center;" cols="12">降水概率 20%</v-col>
							</v-row>
						</v-card-text>
						<v-card-actions class="py-4">
							<v-btn class="ma-0" text color="error">
								<v-icon left>mdi-weather-lightning</v-icon>
								局部雷阵雨
							</v-btn>
						</v-card-actions>
					</v-card>
				</v-col>

				<v-col v-for="(item, i) in items" :key="i" cols="12"><appCard :title="item.title" :sub_title="item.artist"></appCard></v-col>
			</v-row>
		</v-container>

		<appBottom></appBottom>
	</v-app>
</template>

<script>
import appTop from '../components/appTop.vue';

import appBottom from '../components/appBottom.vue';

import appCard from '../components/appCard.vue';

export default {
	components: {
		appTop,

		appBottom,

		appCard
	},

	data: function() {
		return {
			title: '智慧水务',

			pre: '',

			alert: '雄楚大道489号路面积水：附近工地一水管爆裂，导致路面严重积水，引发交通堵塞...',

			items: [
				{
					color: '#FFF',
					src: 'https://cdn.vuetifyjs.com/images/cards/foster.jpg',
					title: '市领导视察智慧水务指挥中心',
					artist: '置顶新闻'
				},
				{
					color: '#FFF',
					src: 'https://cdn.vuetifyjs.com/images/cards/halcyon.png',
					title: '智慧水务助力武昌大发展',
					artist: '今日简报'
				}
				/*{
                        color: '#FFF',
                        src: 'https://cdn.vuetifyjs.com/images/cards/halcyon.png',
                        title: 'AR巡检污水处理厂',
                        artist: '我的工作',
                    },*/
			],

			labels: ['SU', 'MO', 'TU', 'WED', 'TH', 'FR', 'SA'],
			time: 0,
			forecast: [
				{ day: 'Tuesday', icon: 'mdi-white-balance-sunny', temp: '24\xB0/12\xB0' },
				{ day: 'Wednesday', icon: 'mdi-white-balance-sunny', temp: '22\xB0/14\xB0' },
				{ day: 'Thursday', icon: 'mdi-cloud', temp: '25\xB0/15\xB0' }
			],
			today: '08/04',
			margin_top: 132,
			click_heart: false
		};
	},

	methods: {
		jump_to(index) {
			if (index == 1) {
				this.$router.push({ path: '/today' });
			}
		},

		jump_to_weather() {
			this.$router.push({ path: '/weather' });
		},
		// 查看消息
		lookMessage() {
			this.$router.push({ path: '/message' });
		}
	}
};
</script>

<style scoped></style>
