<template>
	<v-app id="user">
		<snackBar ref="snackBar" @show_sbar="show_snackbar"></snackBar>

		<sidebarMenu ref="sidebar_menu"></sidebarMenu>

		<template>
			<div>
				<v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp" app color="blue darken-3" dark height="48px" style="z-index: 299;width:100vw;max-width:100vw;">
					<!--<v-app-bar-nav-icon @click.stop="set_sidebar_mini"></v-app-bar-nav-icon>-->

					<v-tooltip bottom color="gray" style="z-index: 299">
						<template v-slot:activator="{ on }">
							<v-toolbar-title class="font-weight-bold" @click="jump_to_home" style="cursor:pointer;max-width:150px;min-width: 110px;" v-on="on">
								EDRAW.XYZ
							</v-toolbar-title>
						</template>
						<span>主页</span>
					</v-tooltip>

					<v-spacer></v-spacer>

					<v-tooltip bottom color="gray" style="z-index: 299">
						<template v-slot:activator="{ on }">
							<v-btn icon><v-icon @click="jump_to_home" v-on="on">mdi-login</v-icon></v-btn>
						</template>
						<span>退出</span>
					</v-tooltip>
				</v-app-bar>
			</div>
		</template>

		<v-content class="v-content-ass row align-center">
			<loginCard :login="login"></loginCard>
		</v-content>
	</v-app>
</template>

<script>
import sidebarMenu from '../components/sidebarMenu.vue';

import snackBar from '../components/snackbar.vue';

import loginCard from '../components/loginCard.vue';

export default {
	components: {
		sidebarMenu,

		snackBar,

		loginCard
	},

	data: function() {
		return {
			login: {
				isLogin: true,

				projection: {
					name: '',

					imageUrl: '',

					sharer: '',

					shareTxt: '',

					id: ''
				},

				btnTxt: 'WELCOME'
			}
		};
	},

	// on front of load when init
	created: function() {
		// get login callback projection id?

		this.login.projection.id = this.$route.query.id;

		if (typeof this.login.projection.id != 'undefined') {
			//传参
			var oMyForm = new FormData();

			oMyForm.append('p_id', this.$G.projection.id);

			var _this = this;

			var url = this.$G.phpurl + 'projectionLoadById.php';

			this.axios
				.post(url, oMyForm)
				.then(response => {
					console.log(response);

					if (response != '') {
						if (response['data']['code'] == 'success') {
							console.log('查询项目：' + response['data']['msg']);

							_this.login.projection.name = response['data']['data']['name'];

							_this.login.projection.imageUrl = response['data']['data']['cover'];

							var members = response['data']['data']['members'];

							_this.login.projection.sharer = members.length > 0 ? members[0]['name'] : '';

							_this.login.projection.shareTxt = '创建';

							_this.login.isLogin = false;
						} else {
							_this.show_snackbar(response['data']['msg']);
						}
					}
				})
				.catch(function(error) {
					// 请求失败处理

					console.log(error);

					return null;
				});
		}
	},

	// on load when init
	mounted: function() {
		/*var url = this._get_login_url()['href'];

            if(this._get_device_is_mobile()){

                window.location.href = url;

            } else {

                var wx_login_div = document.getElementById('wx_login_div');

                if(wx_login_div.getElementsByTagName("iframe").length === 0){

                    var iframe = document.createElement("iframe");

                    // iframe.src="https://open.weixin.qq.com/connect/qrconnect?appid=wxcb7237f3ff9cd5d1&scope=snsapi_login&redirect_uri=https%3A%2F%2Fwww.edraw.xyz%2Fonline%2Fphp%2FwxLogin.php&state=kCC0gQaJUPn1I4WwGa1iQupNNVylxIF2&login_type=jssdk&self_redirect=true&style=black&href=https://www.edraw.xyz/online/css/wx_login.css";// 微信电脑端登录

                    iframe.src= url;

                    iframe.width = "100%";

                    iframe.height = "100%";

                    iframe.frameborder = "0";

                    iframe.scrolling = "no";

                    iframe.style = "border-width:0;";

                    iframe.target="_parent";

                    wx_login_div.appendChild(iframe);
                }

            }

            this.$G.projection.id = '';// clear projection id for share.*/
	},

	methods: {
		jump_to_home() {
			this.$router.push({ path: '/home' });
		},

		jump_to_user() {
			// this.$router.push({path: '/user'})

			this.$router.push({ path: '/user', query: { name: 'edraw.xyz' } });
		},

		show_snackbar(msg) {
			console.log('App show snack bar: ' + msg);

			this.$refs.snackBar.show_bar(msg); // 调用子组件的方法
		},

		set_sidebar_mini() {
			this.$refs.sidebar_menu.set_mini(); // 调用子组件的方法
		},

		// whether is mobile?
		_get_device_is_mobile() {
			var mobile = false;

			var browserName = navigator.userAgent;

			if (/Android/i.test(browserName)) {
				mobile = true;
			} else if (/BlackBerry/i.test(browserName)) {
				mobile = true;
			} else if (/iPhone|iPad|iPod/i.test(browserName)) {
				mobile = true;

				// this.apple_mobile = true;
			} else if (/Opera Mini/i.test(browserName)) {
				mobile = true;
			} else if (/IEMobile/i.test(browserName)) {
				mobile = true;
			} else {
				mobile = false;

				// this.apple_mobile = false;
			}

			return mobile;
		},

		// get login url on phone or pc?
		_get_login_url() {
			var login = {
				label: '',

				href: '',

				backgroundColor: ''
			};

			var loginMode = this._get_device_is_mobile() ? 'WeiXin_onPhone' : 'WeiXin_onPc';

			switch (loginMode) {
				case 'WeiXin_onPhone':
					login.backgroundColor = '#44b549';

					login.label = '微信客户端登录';

					login.href =
						'https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxa83f724a3b8d25a5&redirect_uri=https%3A%2F%2Fwww.edraw.xyz%2Fonline%2F' +
						this.$G.phpurl +
						'%2FwxLoginOnPhone.php&response_type=code&scope=snsapi_userinfo&state=kCC0gQaJUPn1I4WwGa1iQupNNVylxIF2#wechat_redirect';

					break;

				case 'WeiXin_onPc': // 微信扫码登录
					login.label = '微信扫码登录';

					login.href =
						'https://open.weixin.qq.com/connect/qrconnect?appid=wxcb7237f3ff9cd5d1&scope=snsapi_login&redirect_uri=https%3A%2F%2Fwww.edraw.xyz%2Fonline%2F' +
						this.$G.phpurl +
						'%2FwxLogin.php&state=kCC0gQaJUPn1I4WwGa1iQupNNVylxIF2&login_type=jssdk&self_redirect=true&style=black&href=https://www.edraw.xyz/yun/css/wx_login.css';

					break;

				case 'TaoBao_onPhone':
					login.backgroundColor = '#FF8C00';

					login.label = '淘宝客户端登录';

					login.href =
						'https://oauth.taobao.com/authorize?response_type=code&client_id=25022892&redirect_uri= https%3A%2F%2Fwww.edraw.xyz%2Fmain%2Fphp%2FtbLogin.php&state=1212&view=wap';

					break;

				case 'TaoBao_onPc':
					login.backgroundColor = '#FF8C00';

					login.label = '淘宝客户端登录';

					login.href =
						'https://oauth.taobao.com/authorize?response_type=code&client_id=25022892&redirect_uri= https%3A%2F%2Fwww.edraw.xyz%2Fmain%2Fphp%2FtbLogin.php&state=1212&view=web';

					break;

				case 'TaoBao_seller_onPc':
					login.backgroundColor = '#FF8C00';

					login.label = '淘宝客户端登录';

					login.href =
						'https://oauth.taobao.com/authorize?response_type=code&client_id=25022892&redirect_uri= https%3A%2F%2Fwww.edraw.xyz%2Fmain%2Fphp%2FtbGetSellerInfo.php&state=1212&view=web';

					break;

				default:
			}

			return login;
		}
	}
};
</script>
