<template>
	<v-app style="padding: 0px;">
		<appTop :title="title" :pre="pre" :button="button"></appTop>

		<v-container>
			<!-- <v-text-field label="通知查询"></v-text-field> -->
			<v-tabs fixed-tabs background-color="F2F2F2"  v-model="tab">
				<v-tab v-for="item in items" :key="item.tab">{{ item.tab }}</v-tab>
			</v-tabs>
			<v-tabs-items v-model="tab">
				<v-tab-item v-for="item in items" :key="item.tab">
					<v-card flat v-for="(item2, index) in item.list" :key="index">
						<v-card-text>{{ item2.content }}</v-card-text>
					</v-card>
				</v-tab-item>
			</v-tabs-items>
		</v-container>

		<appBottom></appBottom>
	</v-app>
</template>

<script>
import appTop from '../components/appTop.vue';

import appBottom from '../components/appBottom.vue';

export default {
	components: {
		appTop,

		appBottom
	},

	data: function() {
		return {
			title: '消息通知',
			
			pre: 'back',
			
			button: '',
			tab: null,
			items: [
				{
					tab: '最新通知',
					list: [
						{
							content: '最新通知1'
						},
						{
							content: '最新通知2'
						},
						{
							content: '最新通知3'
						},
						{
							content: '最新通知4'
						}
					]
				},
				{
					tab: '历史通知',
					list: [
						{
							content: '历史通知1'
						},
						{
							content: '历史通知2'
						},
						{
							content: '历史通知3'
						},
						{
							content: '历史通知4'
						}
					]
				}
				// {
				// 	tab:'通知查询',
				// 	content:'这是通知查询'
				// },
			]
		};
	},

	methods: {}
};
</script>

<style scoped>
	.v-application{
		background-color: rgb(242, 242, 242)!important;
	}
	.container{
		background:none!important;
		padding: 10px 0 0 0 !important;
	}
	.v-input{
		background:#fff!important;
		margin-bottom: 6px;
	}
</style>
