<template>
	<v-app style="padding: 0px;">
		<!-- <appTop :title="title" :pre="pre" :button="button"></appTop> -->

		<v-container style="position: absolute;top: 0;background-color: #F2F2F2;padding: 0 0 56px 0;z-index: 2;">
			<img
				class="image"
				src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1589886888019&di=e66523777e4d6d53be2ff75ca312d714&imgtype=0&src=http%3A%2F%2Fku.90sjimg.com%2Felement_origin_min_pic%2F17%2F12%2F15%2Fed3540dae5a2b871bb529d01fcb09dd5.jpg"
				alt=""
			/>
			<div class="formWrap">
				<div class="inputWrap">
					<input type="text" placeholder="+86|(请输入手机号码)" maxlength="11" v-model="tel" />
				</div>
				<div class="inputWrap">
					<input type="text" placeholder="请输入密码" maxlength="20" v-model="password" />
				</div>
				<div class="btnWrap">
					<v-btn color="primary" width="100%" @click="login">登录</v-btn>
					<v-btn color="primary" width="100%" outlined @click="register">注册</v-btn>
				</div>
			</div>
			<div class="forget" @click="forget">忘记密码？</div>
		</v-container>

		<!-- <appBottom></appBottom> -->
	</v-app>
</template>

<script>
// import appTop from '../components/appTop.vue';

// import appBottom from '../components/appBottom.vue';

export default {
	components: {
		// appTop,

		// appBottom
	},

	data: function() {
		return {
			title: '登录',

			pre: 'back',

			button: '',
			tel: '',
			password: '',
			disabled:true
		};
	},

	methods: {
		login(){
			localStorage.setItem("token",'chorgihdejkldelehgde')
			this.$router.push({
				path: '/home', 
			});
		},
		register() {
			this.$router.push({ 
				path: '/inputTel', 
				query: {
					isNewUser: true,
				}
			});
		},
		forget() {
			this.$router.push({
				path: '/inputTel'
			});
		}
	}
};
</script>
<style scoped lang="scss">
input {
	border-style: none;
	outline: none;
	background-color: transparent;
	appearance: none;
	-webkit-appearance: none;
	//字体抗锯齿
	-webkit-font-smoothing: antialiased;
	//文本垂直对齐文本输入框
	vertical-align: middle;
}
input::-webkit-input-placeholder {
	color: #c0c0c0;
}
// .v-application{
// 	background-color: rgb(242, 242, 242)!important;
// }
.container {
	background: none !important;
	padding: 0 !important;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 0;
	.image {
		width: 20vw;
		margin: 6vw 0 4vw;
		border-radius: 20vw;
	}
	.formWrap {
		width: 90vw;
		// background-color: #fff;
		padding: 4vw 6vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 2vw;
	}
	.inputWrap {
		margin: 10px 0;
		// border: 1px solid #1867c0;
		height: 14vw;
		width: 78vw;
		// border-radius: 4px;
		border-bottom: 1px solid #c0c0c0;
		input {
			height: 14vw;
			line-height: 14vw;
			padding-left: 4vw;
			color: #1867c0;
		}
	}
	.btnWrap {
		margin-top: 10vw;
		width: 100%;

		.v-btn {
			margin-bottom: 4vw;
			border-radius: 100px;
		}
	}
	.forget {
		margin-top: 8vw;
		color: #1867c0;
	}
}
</style>
