<template>
	<v-app style="padding: 0px;">
		<appTop :title="title" :pre="pre" :button="button"></appTop>
		<v-container style="position: absolute;top: 56px;background-color: #F2F2F2;padding: 0 0 56px 0;z-index: 2;">
			<div class="newUser">新用户注册</div>
			<div class="inputWrap">
				<div class="label">+86</div>
				<input type="text" placeholder="请输入手机号码" maxlength="11" v-model="tel" @input="inputChange"/>
			</div>
			<v-btn  color="primary" :disabled='isDisable' @click="nextStep" >下一步</v-btn>
		</v-container>
	</v-app>
</template>

<script>
import appTop from '../components/appTop.vue';

// import appBottom from '../components/appBottom.vue';


export default {
	components: {
		appTop,
		// appBottom
	},

	data: function() {
		return {
			title: '',

			pre: 'back',
			
			button: false,
			tel:'',
			isDisable:true
		};
	},

	methods: {
		nextStep(){
			this.$router.push({
				path: '/checkCode',
				query: {
					tel: this.tel,
				}
			});
		},
		inputChange(e){
			this.isDisable=!this.checkPhone(this.tel);
		},
		// 验证手机号码
		checkPhone(val, tip) {
			if (!/^1[345789]\d{9}$/.test(val)) {
				return false;
			} else {
				return true;
			}
		},
	}
};
</script>
<style scoped lang="scss">
	input{
		border-style: none;
		outline: none;
		background-color: transparent;
		appearance: none;
		-webkit-appearance:none;
		//字体抗锯齿
		-webkit-font-smoothing:antialiased;
		//文本垂直对齐文本输入框
		vertical-align: middle;
	}
	input::-webkit-input-placeholder{color:#c0c0c0;}

	.container{
		background:none!important;
		padding: 0!important;
		display: flex;
		flex-direction: column;
		.newUser{
			margin-left: 6vw;
			padding-top: 20px;
			font-size: 5vw;
			font-weight: bold;
			// margin: 20px auto 0;
		}
		.inputWrap{
			display: flex;
			margin-left: 6vw;
			margin-top: 40px;
			.label{
				margin-right: 16px;
			}
		}
		.v-btn{
			margin-top: 40px;
			margin-left: 6vw;
			width:88vw ;
		}
		
	}
</style>
