<template>
	<v-app style="padding: 0px;">
		<appTop :title="title" :pre="pre" :button="button"></appTop>

		<v-container style="position: absolute;top: 56px;background-color: #F2F2F2;padding: 0 0 56px 0;z-index: 2;">
			<v-expansion-panels>
				<v-expansion-panel v-for="(item, index) in permissions" :key="index">
					<v-expansion-panel-header>{{ item.name }}</v-expansion-panel-header>
					<v-expansion-panel-content>{{ item.contents }}</v-expansion-panel-content>
				</v-expansion-panel>
			</v-expansion-panels>
		</v-container>

		<appBottom></appBottom>
	</v-app>
</template>

<script>
import appTop from '../components/appTop.vue';

import appBottom from '../components/appBottom.vue';

export default {
	components: {
		appTop,

		appBottom
	},

	data: function() {
		return {
			title: '角色权限',

			pre: 'back',

			button: '',
			permissions:[
				{
					name:'操作指引',
					contents:'进入首页,可以查看当地天气预报、水务简报、消息通知等，作为管理者可以进行事件的上报和上报相关设置，在我的信息页面，可以了解操作指引，查看相关通讯录，和个人职责和权限功能',
				},
				{
					name:'职责',
					contents:'负责防汛工作、收集相关信息，汇报相关信息',
				},
				{
					name:'权限',
					contents:'当前权限为管理员，可建立事件，拍照上传图片，建立应急响应方案，查看通讯录里相关人员信息等！',
				},
			]
		};
	},

	methods: {}
};
</script>
<style scoped lang="scss">
	.container {
		padding: 10px 0 0 0 !important;
	}
.v-application {
	background-color: rgb(242, 242, 242) !important;
}
</style>
