<template>
	<v-app style="padding: 0px;">
		<appTop :title="title" :pre="pre" :button="button"></appTop>

		<v-container style="position: absolute;top: 56px;background-color: #F2F2F2;padding: 0 0 56px 0;z-index: 2;">
			<div class="passwordTitle" v-if="isNewUser">设置密码</div>
			<div class="passwordTitle" v-else>修改密码</div>
			<div class="formWrap">
				<div class="inputWrap">
					<input type="text" placeholder="请输入密码" maxlength="11" v-model="password" />
				</div>
				<div class="inputWrap">
					<input type="text" placeholder="确认密码" maxlength="20" v-model="again" />
				</div>
				<div class="btnWrap">
					<v-btn  color="primary" width="100%" @click="sure">确认</v-btn>
				</div>
				
			</div>

		</v-container>

		<!-- <appBottom></appBottom> -->
	</v-app>
</template>

<script>
import appTop from '../components/appTop.vue';

import appBottom from '../components/appBottom.vue';


export default {
	components: {
		appTop,

		appBottom,
	},

	data: function() {
		return {
			title: '',

			pre: 'back',
			button: false,
			password:'',
			again:'',
			isNewUser:false
		};
	},
	created() {
		this.isNewUser = this.$route.query.isNewUser;
	},
	methods: {
		register(){
			this.$router.push({ path: '/myRegister' });
		},
		sure(){
			localStorage.setItem("token",'chorgihdejkldelehgde')
			this.$router.push({ path: '/home' });
		}
		
	}
};
</script>
<style scoped lang="scss">
	input{
		border-style: none;
		outline: none;
		background-color: transparent;
		appearance: none;
		-webkit-appearance:none;
		//字体抗锯齿
		-webkit-font-smoothing:antialiased;
		//文本垂直对齐文本输入框
		vertical-align: middle;
	}
	input::-webkit-input-placeholder{color:#c0c0c0;}
	// .v-application{
	// 	background-color: rgb(242, 242, 242)!important;
	// }
	.container{
		background:none!important;
		padding: 0!important;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 0;
		
		.passwordTitle{
			margin-left: 6vw;
			padding-top: 20px;
			font-size: 5vw;
			font-weight: bold;
			align-self:flex-start;
		}
		.formWrap{
			width: 100vw;
			// background-color: #fff;
			padding: 4vw 6vw;
			display: flex;
			flex-direction: column;
			align-items: center;
			border-radius: 2vw;
		}
		.inputWrap{
			margin: 10px 0;
			// border: 1px solid #1867c0;
			height: 14vw;
			width: 88vw;
			// border-radius: 4px;
			border-bottom: 1px solid #c0c0c0;
			input{
				height:14vw ;
				line-height: 14vw;
				// padding-left: 4vw;
				color: #1867c0;
			}
		}
		.btnWrap{
			margin-top: 10vw;
			width: 100%;
			
			.v-btn{
				margin-bottom: 4vw;
				border-radius: 100px;
			}
		}
		.forget{
			margin-top: 8vw;
			color: #1867c0;
		}
	}
</style>
