<template>
	<v-app style="padding: 0px;">
		<appTop :title="title" :pre="pre" :button="button"></appTop>

		<v-container style="position: absolute;top: 56px;background-color: #F2F2F2;padding: 0 0 56px 0;z-index: 2;">
			<div class="setting" v-for="(item,index) in settings" :key="index" @click="gotoPage(item)">
				<div>{{item.name}}</div>
				<div class="right-wrap">
					<div class="des">{{item.des}}</div>
					<v-icon medium >mdi-chevron-right</v-icon>
				</div>
				
				
			</div>
		</v-container>

		<appBottom></appBottom>
	</v-app>
</template>

<script>
import appTop from '../components/appTop.vue';

import appBottom from '../components/appBottom.vue';


export default {
	components: {
		appTop,

		appBottom,
	},

	data: function() {
		return {
			title: 'APP设置',

			pre: 'back',

			button: '',
			settings:[
				{
					name:'安全设置',
					des:'手机号、密码、指纹登陆、图案解锁',
					path:'/'
				},
				{
					name:'权限设置',
					des:'蓝牙、GPS、数据、照相机、麦克风',
					path:'/'
				},
				{
					name:'帮助与反馈',
					path:'/'
				},
				{
					name:'关于APP',
					path:'/'
				},
				{
					name:'退出账号',
					path:'/home'
				},
				
			]
		};
	},

	methods: {
		gotoPage(item){
			if(item.path=='/home'){
				localStorage.removeItem("token")
			}
			this.$router.push({ path: item.path });
		},
		
	}
};
</script>
<style scoped lang="scss">
	.v-application{
		background-color: rgb(242, 242, 242)!important;
	}
	.container{
		background:none!important;
		padding: 0!important;
		.setting {
			margin-top: 10px;
			padding: 3vw;
			background-color: #fff;
			display: flex;
			align-items: center;
			justify-content: space-between;
			background-color: #fff;
			font-size: 4.6vw;
			.right-wrap{
				display: flex;
				align-items: center;
				.des{
					font-size: 3.6vw;
				}
			}
		}
	}
</style>
