<template>
	<v-app style="padding: 0px;">
		<appTop :title="title" :pre="pre" :button="button"></appTop>

		<v-container style="position: absolute;top: 56px;background-color: #F2F2F2;padding: 0 0 56px 0;z-index: 2;">
			<v-row class="justify-center" style="padding:12px 12px 60px;">
				<!-- <v-col cols="4"><v-img src="https://www.edraw.xyz/app/assets/images/user.jpg" aspect-ratio="0.75"></v-img></v-col> -->
				<v-avatar color="teal" size="80"><img src="https://cdn.vuetifyjs.com/images/john.jpg" alt="头像" /></v-avatar>
				<v-col cols="12"><v-text-field v-model="name" label="姓名" required></v-text-field></v-col>
				<v-col cols="12"><v-text-field v-model="tel" label="电话" required></v-text-field></v-col>
				<v-col cols="12"><v-text-field v-model="number" label="身份证号" required></v-text-field></v-col>
				<v-col cols="12"><v-text-field v-model="home" label="住址" required></v-text-field></v-col>
				<v-col cols="12"><v-text-field v-model="danwei" label="授权单位" required></v-text-field></v-col>
				<v-col cols="6"><v-img src="https://www.edraw.xyz/app/assets/images/qrcode.jpg" aspect-ratio="1"></v-img></v-col>
			</v-row>
		</v-container>

		<appBottom></appBottom>
	</v-app>
</template>

<script>
import appTop from '../components/appTop.vue';

import appBottom from '../components/appBottom.vue';


export default {
	components: {
		appTop,

		appBottom,
	},

	data: function() {
		return {
			title: '个人信息',

			pre: 'back',

			button: '',
						
			name: '张XX',
			tel: '130-XXXX-XXXX',
			number: '4201XXXXXXXXXX****',
			home: '湖北省武汉市武昌区XX街道XX小区X幢XX室',
			danwei: 'XXX市政公司',
		};
	},

	methods: {

	}
};
</script>
<style scoped lang="scss">
	.v-application{
		background-color: rgb(242, 242, 242)!important;
	}
</style>
