<template>
	<v-app id="bottom" style="background-color:#F2F2F2;height:56px;position:fixed;bottom: 0px;z-index: 2;">
		<v-bottom-navigation color="blue light-2" fixed shift>
			<div v-for="(item, i) in items" :key="i">
				<v-badge v-if="item.count" color="blue" :content="item.count" overlap offset-x="30" offset-y="20">
					<v-btn class="px-1" height="56" @click="jump_to(item)">
						<span>{{ item.title }}</span>
						<v-icon>{{ item.icon }}</v-icon>
					</v-btn>
				</v-badge>
				<v-btn v-else class="px-1" height="56" @click="jump_to(item)">
					<span>{{ item.title }}</span>
					<v-icon>{{ item.icon }}</v-icon>
				</v-btn>
			</div>
		</v-bottom-navigation>
	</v-app>
</template>

<script>
export default {
	data: function() {
		return {
			items: [
				{
					title: '首页',
					icon: 'mdi-home',
					count: '2',
					path:'/home'
				},
				{
					title: 'GIS',
					icon: 'mdi-earth',
					count: '',
					path:'/gis'
				},
				{
					title: '事件',
					icon: 'mdi-plus',
					count: '',
					path:'/event'
				},
				{
					title: '应急',
					icon: 'mdi-flash-circle',
					count: '6',
					path:'/yinji'
				},
				{
					title: '我的',
					icon: 'mdi-account',
					count: '',
					path:'/user'
				}
			],
		};
	},
	
	methods: {
		jump_to(item) {	
			if(this.$route.path==item.path){return}
			this.$router.push({ path: item.path });
		}
	}
};
</script>
