<template>
	<v-card class="mx-auto" max-width="400" @click="jump_to">
		<v-img class="white--text align-end" height="260px" :src="imgSrc">
			<v-card-title>{{ title }}</v-card-title>
		</v-img>

		<v-card-subtitle class="pb-0">2020-04-08</v-card-subtitle>

		<v-card-text class="subtitle-1 font-weight-bold py-0">
			<div style="letter-spacing:2px;">{{ sub_title }}</div>
		</v-card-text>

		<v-card-actions>
			<v-list-item class="grow">
				<v-row align="center" justify="end">
					<v-tooltip bottom color="gray">
						<template v-slot:activator="{ on }">
							<v-btn icon>
								<v-badge color="blue" :content="999" offset-x="10" class="font-weight-light"><v-icon @click.stop="" v-on="on">mdi-eye</v-icon></v-badge>
							</v-btn>
						</template>
						<span>浏览数</span>
					</v-tooltip>

					<v-tooltip bottom color="gray">
						<template v-slot:activator="{ on }">
							<v-btn icon>
								<v-icon @click.stop="heart = !heart" v-on="on">{{ heart ? 'mdi-heart' : 'mdi-heart-outline' }}</v-icon>
							</v-btn>
						</template>
						<span>收藏</span>
					</v-tooltip>
				</v-row>
			</v-list-item>
		</v-card-actions>
	</v-card>
</template>

<script>
export default {
	props: ['title', 'sub_title', 'table_title'],

	data: function() {
		return {
			heart: false,

			imgSrc: '',

			images: [
				'https://cdn.vuetifyjs.com/images/cards/house.jpg',

				'https://cdn.vuetifyjs.com/images/cards/road.jpg',

				'https://cdn.vuetifyjs.com/images/cards/plane.jpg',

				'https://cdn.vuetifyjs.com/images/cards/docks.jpg',

				'https://cdn.vuetifyjs.com/images/cards/mountain.jpg'
			]
		};
	},

	mounted: function() {
		this.imgSrc = this.images[Math.round(Math.random() * 4)];
	},

	methods: {
		jump_to() {
			if (this.sub_title == '今日简报') {
				this.$router.push({ path: '/today' });
			} else if (this.sub_title == '置顶新闻') {
				this.$router.push({
					path: '/content',
					query: { title: this.title, sub_title: this.sub_title, time: '2020-04-08' }
				});
			} else if (this.sub_title == '我的工作') {
			} else {
				this.$router.push({
					path: '/content',
					query: { title: this.title, sub_title: this.table_title, time: '2020-04-08' }
				});
			}
		}
	}
};
</script>

<style scoped></style>
