<template>
	<v-app id="top" style="background-color:#F2F2F2;height:56px;">
		<v-navigation-drawer v-model="drawer" left app style="z-index:99;" >
			<v-list dense>
				<v-list-item link>
					<v-list-item-action><v-icon>mdi-home</v-icon></v-list-item-action>
					<v-list-item-content><v-list-item-title>设置</v-list-item-title></v-list-item-content>
				</v-list-item>
				<v-list-item link>
					<v-list-item-action><v-icon>mdi-contact-mail</v-icon></v-list-item-action>
					<v-list-item-content><v-list-item-title>关于</v-list-item-title></v-list-item-content>
				</v-list-item>
			</v-list>
		</v-navigation-drawer>

		<v-app-bar app color="#1565C0" dark>
			<v-app-bar-nav-icon @click.stop="jump_to_home">
				<v-icon>{{ pre == 'back' ? 'mdi-chevron-left' : '' }}</v-icon>
			</v-app-bar-nav-icon>
			<v-app-bar-nav-icon>
				<v-icon>{{ '' }}</v-icon>
			</v-app-bar-nav-icon>
			<v-spacer></v-spacer>
			<v-toolbar-title class="font-weight-bold text--center">{{ title }}</v-toolbar-title>
			<v-spacer></v-spacer>

			<!--<v-app-bar-nav-icon @click.stop="on_pick_date">
                <v-icon>{{ button=='calendar'?'mdi-calendar-month':'' }}</v-icon>
            </v-app-bar-nav-icon>-->

			<v-dialog ref="dialog" v-model="modal" :return-value.sync="picker_date" persistent width="290px">
				<template v-slot:activator="{ on }">
					<v-app-bar-nav-icon v-model="picker_date" v-on="button == 'calendar' ? on : ''">
						<v-icon>{{ button == 'calendar' ? 'mdi-calendar-month' : '' }}</v-icon>
					</v-app-bar-nav-icon>
				</template>
				<v-date-picker v-model="picker_date" scrollable>
					<v-spacer></v-spacer>
					<v-btn text color="primary" @click="modal = false">取消</v-btn>
					<v-btn text color="primary" @click="$refs.dialog.save(picker_date)">确认</v-btn>
				</v-date-picker>
			</v-dialog>

			<v-app-bar-nav-icon @click.stop="drawer = !drawer" v-if="button!==false"><v-icon>mdi-dots-vertical</v-icon></v-app-bar-nav-icon>
		</v-app-bar>
		<v-alert v-if="alert" prominent type="error" style="position:fixed; top:66px;width:auto;left:10px;right:10px;z-index: 4;" >
			<v-row align="center" @click="clickAlert">
				<v-col class="grow">{{ alert }}</v-col>
				<!-- <v-col class="shrink"><v-btn outlined @click="jump_to_jinji">地图</v-btn></v-col> -->
			</v-row>
		</v-alert>
	</v-app>
</template>

<script>
export default {
	props: ['title', 'pre', 'button', 'alert'],

	data: () => ({
		drawer: null,

		picker_date: new Date().toISOString().substr(0, 10),

		modal: false
	}),

	methods: {
		jump_to_home() {
			if (this.pre == 'back') {
				this.$router.go(-1);
			}
		},
		
		jump_to_jinji() {
			this.$router.push({ path: '/yinji' });
		},
		clickAlert(){
			this.$emit('clickAlert')
		}
	}
};
</script>

<style>
.v-btn:not(.v-btn--text):not(.v-btn--outlined).v-btn--active:before {
	opacity: 0 !important;
}
</style>
