<template>
	<div>
		<v-menu
			v-model="selectedOpen"
			:close-on-content-click="false"
			:activator="selectedElement"
			max-width="350"
			min-width="350"
			right
			offset-x
			:open-on-click="false"
			origin="top right"
		>
			<v-card color="white" max-width="350" min-width="350" flat>
				<v-toolbar :color="selectedEvent.backgroundColor" flat dark height="48">
					<v-avatar color="white" size="36" style="margin-right:12px;"><img :src="imgUrl" /></v-avatar>
					<v-toolbar-title v-html="typeof selectedEvent.extendedProps != 'undefined' ? selectedEvent.extendedProps.type : ''"></v-toolbar-title>
					<v-spacer></v-spacer>
					<v-btn v-show="typeof selectedEvent.extendedProps != 'undefined' ? selectedEvent.extendedProps.modelId : false" icon>
						<v-icon @click="open_model(selectedEvent)">mdi-application-import</v-icon>
					</v-btn>
					<v-btn v-show="typeof selectedEvent.extendedProps != 'undefined' ? selectedEvent.extendedProps.type != '应用' : true" icon>
						<v-icon @click="edit_event">mdi-pencil</v-icon>
					</v-btn>
					<v-btn v-show="typeof selectedEvent.extendedProps != 'undefined' ? selectedEvent.extendedProps.type != '应用' : true" icon>
						<v-icon @click="delete_event(selectedEvent)">mdi-delete</v-icon>
					</v-btn>
				</v-toolbar>
				<v-card-text>
					<span>内容：{{ selectedEvent.title }}</span>
					<span v-show="typeof selectedEvent.extendedProps != 'undefined' ? selectedEvent.extendedProps.description : false">
						<br />
						备注：{{ typeof selectedEvent.extendedProps != 'undefined' ? selectedEvent.extendedProps.description : '' }}
					</span>
					<span>
						<br />
						时间：{{ _getDate(selectedEvent.start) }}
					</span>
					<span v-show="selectedEvent.end">至 {{ _getDate(selectedEvent.end) }}</span>
					<span v-show="typeof selectedEvent.extendedProps != 'undefined' ? selectedEvent.extendedProps.location : false">
						<br />
						地点：{{ typeof selectedEvent.extendedProps != 'undefined' ? selectedEvent.extendedProps.location : '' }}
					</span>
					<span v-show="eventCreatorName != ''">
						<br />
						发布：{{ eventCreatorName }}
					</span>
				</v-card-text>
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn text color="orange darken-1" @click="selectedOpen = false">close</v-btn>
				</v-card-actions>
			</v-card>
		</v-menu>
	</div>
</template>

<script>
import { formatDate } from '@fullcalendar/core';

export default {
	props: {
		selectedEvent: {},

		imgUrl: '',

		eventCreatorName: ''
	},

	data() {
		return {
			selectedElement: '.v-content__wrap',

			selectedOpen: false,

			show_edit_delete_button: true
		};
	},

	methods: {
		show_dialog() {
			this.selectedOpen = true;
		},

		// show edit event dialog when click edit button

		edit_event() {
			this.$emit('editevent');
		},

		// delete event when click delete button

		delete_event(selectedEvent) {
			this.$emit('deleteevent', selectedEvent);
		},

		open_model(selectedEvent) {
			this.$emit('openmodelfromcalendar', selectedEvent.extendedProps);
		},

		_getDate(str) {
			if (str != '') {
				str = formatDate(str, {
					year: 'numeric',

					month: '2-digit',

					day: '2-digit',

					hour: '2-digit',

					minute: '2-digit',

					second: '2-digit',

					hour12: false,

					locale: 'zh-cn'
				});

				str = str.split('/').join('-');
			}

			return str;
		}
	}
};
</script>

<style scoped></style>
