<template>
	<div class="text-center">
		<v-bottom-sheet v-model="sheet" persistent>
			<v-sheet class="text-center" height="360px">
				<v-btn class="mt-6" color="error" @click="close_sheet">{{ close }}</v-btn>
				<div class="text-center mx-auto" style="width:100%;max-width: 600px;position: relative;">
					<template>
						<v-stepper value="step" class="mt-12" style="display: block;">
							<v-stepper-header>
								<v-stepper-step step="1" :complete="step > 0">上传</v-stepper-step>
								<v-divider></v-divider>
								<v-stepper-step step="2" :complete="step > 1" v-show="show_translate">转换</v-stepper-step>
								<v-divider></v-divider>
								<v-stepper-step :step="step_three" :complete="step > 2">完成</v-stepper-step>
							</v-stepper-header>
						</v-stepper>
					</template>
					<v-progress-circular style="margin-top:20px;" :rotate="360" :size="120" :width="10" :value="progress" :indeterminate="autorotate" color="pink" top>
						{{ text }}
					</v-progress-circular>
				</div>
			</v-sheet>
		</v-bottom-sheet>
	</div>
</template>

<script>
export default {
	data: function() {
		return {
			close: '取消',

			sheet: false, // hide or show sheet

			step: 0, // progress step

			progress: 0, // progress value

			text: '', // progress text

			autorotate: false,

			show_translate: true,

			step_three: '3'
		};
	},

	methods: {
		show_sheet() {
			this.sheet = true;
		},

		set_progress_value(value) {
			this.progress = value;

			this.text = value;
		},

		set_progress_step(step, value_text, show_translate) {
			this.step = step;

			this.show_translate = typeof show_translate == 'undefined' ? true : show_translate;

			this.step_three = this.show_translate ? '3' : '2';

			if (step == '1.5') {
				// 上传图片

				this.autorotate = true;

				this.text = value_text;

				this.close = '取消';
			} else if (step == '2') {
				// 转换

				this.autorotate = true;

				this.text = '转换中';

				this.close = '进入后台转换';
			} else if (step == '3') {
				// 完成

				this.autorotate = false;

				this.progress = '100%';

				this.text = '100%';

				this.close = 'OK';
			} else if (step == '-1') {
				// 查询超时

				this.autorotate = false;

				this.progress = '0%';

				this.text = '后台转换中';

				this.close = '进入后台转换';
			} else {
				// 上传

				this.autorotate = false;

				this.close = '取消';
			}
		},

		close_sheet() {
			this.sheet = false;

			if (this.close == '取消') {
				this.$emit('reload');

				console.log('终止查询转换状态');
			} else if (this.close == '进入后台转换') {
				this.$emit('gotogettranslateloop', '进入后台转换');

				console.log('进入后台转换');
			} else {
				this.$emit('closesheet');

				console.log('关闭 sheet');
			}
		}
	}
};
</script>
