<template>
	<v-timeline style="max-width:600px;margin:auto auto 48px auto;" dense clipped align-top>
		<!--<span style="margin:0 0 24px 90px;" class="body-1">2020-02-16</span>-->
		<v-timeline-item v-for="(item, i) in items" :key="i" :color="item.time ? 'white' : item.color" :icon="item.icon" fill-dot>
			<v-hover>
				<template v-slot="{ hover }">
					<v-card
						:color="item.time ? '#fff' : '#eee'"
						:flat="item.time ? true : false"
						:elevation="hover && !item.time ? 12 : 0"
						style="margin: 0 0 0 -12px;"
						width="70vw"
						max-width="600"
					>
						<v-card-title style="cursor: pointer;padding: 6px 16px;" :class="item.time ? 'body-1 font-weight-light' : 'body-1 font-weight-bold'" @click="click_card(i)">
							{{ item.name }}
						</v-card-title>
						<v-card-text v-show="!item.time" class="font-weight-light" style="cursor:pointer;" @click="click_card(i)">{{ item.text }}</v-card-text>
						<v-img
							v-show="item.show"
							class="align-end card-image-project-ass"
							:src="item.gif"
							max-height="400"
							max-width="600"
							width="70vw"
							@click="show(item.gif, item.name)"
						></v-img>
					</v-card>
				</template>
			</v-hover>
		</v-timeline-item>
		<viewer :images="images" class="viewer" ref="viewer"><img v-for="src in images" :src="src" :key="src" style="display: none;" /></viewer>
	</v-timeline>
</template>

<script>
import 'viewerjs/dist/viewer.css';

import Viewer from 'v-viewer/src/component.vue';

export default {
	components: {
		Viewer
	},

	data() {
		return {
			images: [
				this.$G.gifurl + 'help_login.gif',

				this.$G.gifurl + 'help_use.gif',

				this.$G.gifurl + 'help_add_projection.gif',

				this.$G.gifurl + 'help_open_projection.gif',

				this.$G.gifurl + 'help_upload_model.gif',

				this.$G.gifurl + 'help_model_timeline.gif',

				this.$G.gifurl + 'help_projection_timeline.gif',

				this.$G.gifurl + 'help_upload_image.gif',

				this.$G.gifurl + 'help_layout.gif',

				this.$G.gifurl + 'help_share.gif',

				this.$G.gifurl + 'help_new_upload_file.gif',

				this.$G.gifurl + 'help_smart_sort.gif',

				this.$G.gifurl + 'help_upload_children.gif',

				this.$G.gifurl + 'help_edit_select.gif',

				this.$G.gifurl + 'help_edit_info.gif',

				this.$G.gifurl + 'help_delete_file.gif'
			],

			titles: [
				'登录',
				'我的项目库',
				'新建项目',
				'进入项目',
				'添加图纸',
				'图纸时间线',
				'项目进度表',
				'上传图片',
				'视窗切换',
				'项目分享',
				'上传图纸, 智能匹配文件夹',
				'图纸智能排序',
				'上传新版本图纸',
				'编辑项目属性',
				'编辑图纸属性',
				'删除图纸'
			],

			items: [
				{
					name: '2020-02-16',

					color: 'white', //

					time: true
				},
				{
					name: '登录',
					color: 'blue', //
					icon: 'mdi-account-circle',
					text: 'PC端浏览器使用手机微信扫描二维码登录，或手机微信内识别二维码登录',
					gif: this.$G.gifurl + 'help_login.gif',
					show: false
				},
				{
					name: '我的项目库',
					color: 'blue',
					icon: 'mdi-view-dashboard',
					text: '点击"演示案例"或者"我的项目库"，进入项目库',
					gif: this.$G.gifurl + 'help_use.gif', //help_use.gif
					show: false
				},
				{
					name: '新建项目',
					color: 'blue',
					icon: 'mdi-plus',
					text: '点击"新建项目"添加项目卡片，输入项目的名称、位置、时间、规模、类型等信息',
					gif: this.$G.gifurl + 'help_add_projection.gif', //help_add_projection
					show: false
				},
				{
					name: '进入项目',
					color: 'blue',
					icon: 'mdi-gesture-tap-hold',
					text: '点击项目卡片，进入项目',
					gif: this.$G.gifurl + 'help_open_projection.gif', //help_open_projection
					show: false
				},
				{
					name: '添加图纸',
					color: 'blue',
					icon: 'mdi-cloud-upload-outline',
					text: '点击"上传文件"添加图纸，可以上传.dwg .skp .rvt格式文件',
					gif: this.$G.gifurl + 'help_upload_model.gif', //help_upload_model
					show: false
				},
				{
					name: '图纸时间线',
					color: 'blue',
					icon: 'mdi-credit-card-clock',
					text: '显示图纸的所有记录，包括图纸创建、上传、转换、打开等信息，以及不同版本的图纸',
					gif: this.$G.gifurl + 'help_model_timeline.gif', //help_model_timeline.gif
					show: false
				},
				{
					name: '项目进度表',
					color: 'blue',
					icon: 'mdi-clipboard-list',
					text: '显示整个项目的进度计划，包括项目图纸的绘制、审图、出图的信息，以及项目管理的会议、汇报、出差、现场和后期服务的所有进度安排。',
					gif: this.$G.gifurl + 'help_projection_timeline.gif', //help_projection_timeline
					show: false
				},
				{
					name: '2020-03-01',

					time: true
				},
				{
					name: '上传图片',
					color: 'cyan darken-1',
					icon: 'mdi-cloud-upload-outline',
					text: '上传图片格式文件，点击图片缩放、平移浏览图片。支持.jpg, .jpeg, .gif, .bmp, .png等图片文件。',
					gif: this.$G.gifurl + 'help_upload_image.gif', //help_projection_timeline
					show: false
				},
				{
					name: '视窗切换',
					color: 'cyan darken-1',
					icon: 'mdi-view-agenda mdi-rotate-90',
					text: '视窗可以在多窗口和单窗口之间切换，多窗口模式下，手机端划分上下窗口，PC端划分左右窗口。',
					gif: this.$G.gifurl + 'help_layout.gif', //help_projection_timeline
					show: false
				},
				{
					name: '项目分享',
					color: 'cyan darken-1',
					icon: 'mdi-share-variant',
					text:
						'点击工具栏的 “分享” 按钮或者点击侧边栏的 “项目成员” 下的 “邀请成员” 按钮，分享项目的二维码。新成员在PC端浏览器用手机微信扫码，或在微信内直接识别二维码加入项目中。',
					gif: this.$G.gifurl + 'help_share.gif', //help_projection_timeline
					show: false
				},
				{
					name: '2020-03-10',

					time: true
				},
				{
					name: '上传图纸, 智能匹配文件夹',
					color: 'orange darken-1',
					icon: 'mdi-cloud-upload-outline',
					text:
						'点击 “项目图纸” 目录下的 “上传文件” 按钮，上传图纸时，选择项目的楼号、专业、进度下拉列表的属性项，并输入版本备注和时间。图纸上传完成后，自动智能匹配文件夹。支持.3dm,.3ds,.dae,.dgn,.dwf,.dwfx,.dwg,.dxf,.fbx,.gbg,.gbq,.gcl,.gdq,.ggj,.gjg,.gmp,.gpb,.gpv,.gqi,.gsc,.gsh,.gtb,.gtj,.gzb,.ifc,.igms,.nwc,.nwd,.obj,.osgb,.ply,.rfa,.rte,.rvm,.rvt,.skp,.step,.stl,.stp,.zip等三十多种格式文件。',
					gif: this.$G.gifurl + 'help_new_upload_file.gif', //help_projection_timeline
					show: false
				},
				{
					name: ' 图纸智能排序',
					color: 'orange darken-1',
					icon: 'mdi-sort-descending',
					text: '点击 “项目图纸” 旁的 “智能排序” 按钮，选择下拉列表中的“楼号、专业、进度、时间、类型”选项，项目图纸的文件夹和文件夹下的图纸将都会按照所选属性智能排序。',
					gif: this.$G.gifurl + 'help_smart_sort.gif', //help_projection_timeline
					show: false
				},
				{
					name: '上传新版本图纸',
					color: 'orange darken-1',
					icon: 'mdi-plus',
					text: '点击视窗侧边的 “上传新版本” 按钮，上传图纸的新版本，图纸的不同版本图纸按照时间，自动排序。',
					gif: this.$G.gifurl + 'help_upload_children.gif', //help_projection_timeline
					show: false
				},
				{
					name: '编辑项目属性',
					color: 'orange darken-1',
					icon: 'mdi-pencil',
					text: '上传图纸时，选择项目的楼号、专业、进度下拉列表的 “编辑...” 项，编辑项目属性，以 “，” 分割，属性在线保存，项目用户都可以使用。',
					gif: this.$G.gifurl + 'help_edit_select.gif', //help_projection_timeline
					show: false
				},
				{
					name: '编辑图纸属性',
					color: 'orange darken-1',
					icon: 'mdi-pencil',
					text: '选择图纸，点击侧边栏底部的 “修改” 按钮，在图纸的属性面板，编辑图纸属性。',
					gif: this.$G.gifurl + 'help_edit_info.gif', //help_projection_timeline
					show: false
				},
				{
					name: '删除图纸',
					color: 'orange darken-1',
					icon: 'mdi-delete',
					text: '选择图纸，点击侧边栏底部的 “删除” 按钮，删除图纸和图纸的所有不同版本。只有项目创建者才能删除图纸！',
					gif: this.$G.gifurl + 'help_delete_file.gif', //help_projection_timeline
					show: false
				}
			]
		};
	},

	// set viewer's title!

	mounted() {
		const viewer = this.$refs.viewer.$viewer;

		viewer.options.title = [
			1,
			(image, imageData) => {
				for (let i = 0; i < this.images.length; i++) {
					if (this.images[i].indexOf(image.alt) > -1) {
						return this.titles[i];
					}
				}

				return '';
			}
		];
	},

	methods: {
		click_card(index) {
			this.items[index].show = !this.items[index].show;

			this.items.forEach((_item, i) => {
				if (i != index) _item.show = false;
			});
		},

		inited(viewer) {
			this.$viewer = viewer;

			// this.$viewer.images = this.images;
		},

		show(image_name) {
			const index = this.images.indexOf(image_name);

			const viewer = this.$refs.viewer.$viewer;

			viewer.view(index);
		}
	}
};
</script>

<style>
.v-timeline-item__dot {
	box-shadow: none !important;
}
.viewer-title {
	font-size: 24px !important;
	font-weight: bolder;
	color: white;
	background-color: rgba(0, 0, 0, 0.87);
	margin-bottom: 24px !important;
	padding: 2px 12px !important;
}
</style>