<template>
	<div class="text-center">
		<v-dialog v-model="dialog" width="348">
			<v-card>
				<v-card-title class="blue darken-1"><span class="white--text" blue>设置为项目封面?</span></v-card-title>

				<v-img class="align-end card-image-project-ass" :src="imageUrl" height="250" width="300" style="margin: 24px;"></v-img>

				<v-divider></v-divider>

				<v-card-actions bottom>
					<v-spacer></v-spacer>
					<v-btn color="orange darken-1" text @click="is_cancel">Cancel</v-btn>
					<v-btn color="orange darken-1" text @click="is_accept">OK</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
	</div>
</template>

<script>
export default {
	data() {
		return {
			dialog: false,

			imageUrl: ''
		};
	},

	methods: {
		show_dialog() {
			this.dialog = true;
		},

		set_image(imageData) {
			this.imageUrl = imageData;

			this.show_dialog();
		},

		is_accept() {
			this.dialog = false;

			this.$emit('is_cover', true, this.imageUrl);
		},

		is_cancel() {
			this.dialog = false;

			this.$emit('is_cover', false);
		}
	}
};
</script>
