<template>
	<v-row v-show="show_images" id="imageViewer" style="height:calc(100vh - 48px);display: flex;" align="end">
		<!--swiperMain-->
		<swiper id="swiperTop" ref="swiperTop" style="height:auto;background-color: #f7f7f7;" :options="swiperOptionTop">
			<swiper-slide v-for="item in images">
				<img :src="item.imgUrl" style="max-height:calc(100vh - 120px);max-width:100%;display: block;" class="ma-auto swiper-lazy" />
				<div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
			</swiper-slide>
		</swiper>

		<!--swiperThumbs-->
		<swiper id="swiperThumbs" ref="swiperThumbs" :options="swiperOptionThumbs" style="margin-bottom: 6px;margin-top: 6px;" class="gallery-thumbs">
			<swiper-slide v-for="item in images" style="height:58px;min-width:58px;max-width:58px;"><img :src="item.imgUrl" style="height:58px;max-width:58px;" /></swiper-slide>
		</swiper>

		<!--pagination-->
		<div class="swiper-pagination" slot="pagination" style="top:0px;width:100%"></div>

		<div class="swiper-button-prev"></div>
		<!--左箭头。如果放置在swiper-container外面，需要自定义样式。-->

		<div class="swiper-button-next"></div>
		<!--右箭头。如果放置在swiper-container外面，需要自定义样式。-->
	</v-row>
</template>

<style type="text/css">
.swiper-button-prev {
	color: white;
}
.swiper-button-next {
	color: white;
}
.my-bullet {
	width: 12px;
	height: 4px;
	margin: 0 4px;
	display: inline-block;
	border-radius: 2px;
	background: #000;
	opacity: 0.2;
}
.my-bullet-active {
	opacity: 1;
	background: #e91e63;
}
.gallery-thumbs .swiper-slide {
	opacity: 0.5;
	border: 1px solid grey;
}
.gallery-thumbs .swiper-slide-active {
	opacity: 1;
	border: 1px solid #ff9800;
}
</style>

<script>
import { swiper, swiperSlide } from 'vue-awesome-swiper';

import 'swiper/css/swiper.css';

export default {
	components: {
		swiper,

		swiperSlide
	},

	name: 'carrousel',

	data() {
		return {
			swiperOptionTop: {
				//swiper3

				/*autoplay:false,*/

				spaceBetween: '10%',

				zoom: true,

				passiveListeners: false,

				effect: 'coverflow',

				/*cubeEffect: {

                     slideShadows: true,

                     shadow: true,

                     shadowOffset: 50,

                     shadowScale: 0.8

                     },

                    slidesPerView: 1,*/

				/*autoHeight: true,

                     setWrapperSize :true,*/

				lazy: true,

				mousewheel: true, //开启鼠标滚轮控制Swiper切换。可设置鼠标选项，默认值false

				mousewheelControl: true, //同上

				resistanceRatio: 0, //抵抗率。边缘抵抗力的大小比例。值越小抵抗越大越难将slide拖离边缘，0时完全无法拖离。本业务需要

				pagination: {
					el: '.swiper-pagination',

					clickable: true,

					bulletClass: 'my-bullet', //需设置.my-bullet样式

					bulletActiveClass: 'my-bullet-active'
				},

				navigation: {
					nextEl: '.swiper-button-next',

					prevEl: '.swiper-button-prev'
				}
			},

			swiperOptionThumbs: {
				watchSlidesVisibility: true, //防止不可点击

				spaceBetween: 4,

				centeredSlides: true,

				slidesPerView: 'auto',

				touchRatio: 0.2,

				slideToClickedSlide: true
			},

			images: [
				{
					name: '01',

					imgUrl: this.$G.imagesurl + '01.png'
				},

				{
					name: '02',

					imgUrl: this.$G.imagesurl + '02.png'
				},

				{
					name: '03',

					imgUrl: this.$G.imagesurl + '03.gif'
				}
			],

			show_images: false
		};
	},

	computed: {
		swiper() {
			return this.$refs.swiperTop.swiper;
		}
	},

	mounted() {
		this.$nextTick(() => {
			const swiperTop = this.$refs.swiperTop.swiper;

			const swiperThumbs = this.$refs.swiperThumbs.swiper;

			swiperTop.controller.control = swiperThumbs;

			swiperThumbs.controller.control = swiperTop;
		});
	},

	methods: {
		show_viewer() {
			this.show_images = true;

			document.getElementById('imageViewer').style.display = 'flex';
		},

		hide_viewer() {
			this.show_images = false;

			document.getElementById('imageViewer').style.display = 'none';
		},

		open_viewer_by_path(imagePath) {
			if (imagePath != '') {
				this.images = [
					{
						name: '01',

						imgUrl: imagePath
					}
				];
			}

			this.show_viewer();
		}
	}
};
</script>
