<template>
	<v-row v-show="show_images" id="imageViewer" style="height:100%;">
		<div class="row justify-center align-center" style="width:100%;height:calc(100% - 56px);">
			<viewer :images="images" id="imageDiv" @inited="inited" rebuild class="viewer my-auto row justify-center align-center fill-height" ref="viewer">
				<img
					v-for="src in images"
					:src="src"
					:key="src"
					style="max-width: 60%;max-height:80%;object-fit: contain;cursor: pointer;margin: 5px;display: inline-block;border: 1px solid grey;"
				/>
			</viewer>
		</div>

		<v-card-actions bottom style="width:100%;padding: 0;height: 56px;">
			<v-btn color="grey darken-2" icon height="48" width="48" @click="show" class="mx-auto" style="border-radius: 0;" title="浏览"><v-icon>mdi-airplay</v-icon></v-btn>
		</v-card-actions>
	</v-row>
</template>

<script>
import 'viewerjs/dist/viewer.css';

import Viewer from 'v-viewer/src/component.vue';

export default {
	components: {
		Viewer
	},

	data() {
		return {
			show_images: false,

			images: [
				/*this.$G.imagesurl + '01.png',

                    this.$G.imagesurl + '02.png',

                    this.$G.imagesurl + '03.gif',*/
			]
		};
	},

	methods: {
		inited(viewer) {
			this.$viewer = viewer;
		},

		show() {
			this.show_images = true;

			this.$viewer.show();

			document.getElementById('imageViewer').style.display = 'flex';
		},

		show_viewer() {
			this.show_images = true;

			// this.$viewer.show();

			document.getElementById('imageViewer').style.display = 'flex';
		},

		hide_viewer() {
			this.show_images = false;

			document.getElementById('imageViewer').style.display = 'none';
		},

		open_viewer_by_path(imagePath) {
			if (imagePath != '') {
				this.images = [imagePath];
			}

			this.show_viewer();
		}
	}
};
</script>

<style type="text/css">
.viewer-list {
	height: 56px;
}
.viewer-toolbar > ul > li + li {
	margin-left: 4px;
}
.viewer-toolbar > ul {
	margin: 0 0 8px 0;
}
.viewer-one-to-one {
	display: none;
}
.viewer-reset {
	display: none;
}
.viewer-backdrop {
	height: calc(100vh - 48px);
	margin-top: 48px;
	width: 100vw;
}
.viewer-close {
	background-color: #fb8c00;
}
</style>
