<template>
	<v-overlay :value="overlay" style="z-index:201;"><v-progress-circular indeterminate size="64"></v-progress-circular></v-overlay>
</template>

<script>
export default {
	name: 'loadOverlay',

	props: ['overlay']
};
</script>

<style scoped></style>
