<template>
	<v-card class="row align-center ma-auto" :key="login.projection.imageUrl" :min-height="540" :width="300" :hover="true" outlined flat>
		<v-img
			v-show="!login.isLogin"
			class="align-end card-image-project-ass"
			:src="login.projection.imageUrl"
			:height="160"
			width="252"
			id="canvas_img"
			style="margin:24px 24px 0 24px;"
		></v-img>

		<div id="wx_login_div" style="height: 260px;width:100%;margin:0px;"></div>

		<v-card-text v-if="login.isLogin" class="text--primary" style="text-align: center;padding-top: 20px;">
			<div>EDRAW.XYZ</div>
			<div>请使用微信扫描二维码登录</div>
		</v-card-text>

		<v-card-text v-else class="text--primary" style="text-align: center;padding-top: 20px;">
			<div>EDRAW.XYZ</div>
			<div>这是由 {{ login.projection.sharer }} {{ login.projection.shareTxt }}的</div>
			<div>项目 {{ login.projection.name }}</div>
			<div>请使用微信扫描二维码加入</div>
		</v-card-text>

		<v-card-actions style="width:100%;">
			<v-btn color="orange darken-1" text style="width:100%;margin-left: -2px" @click="loginClose">{{ login.btnTxt }}</v-btn>
		</v-card-actions>
	</v-card>
</template>

<script>
export default {
	props: [
		'login' // {isLogin:boolean, projection:{name:'', id:'', sharer:'', key:'', shareTxt:'', image:''}, btnTxt:''}
	],

	data: function() {
		return {};
	},

	// on load when init
	mounted: function() {
		this.set_login();
	},

	// on update when imageUrl is changed!!!
	updated: function() {
		this.set_login();
	},

	methods: {
		loginClose() {
			if (!this.login.isLogin) {
				this.$emit('closedialog');
			}
		},

		set_login() {
			var url = this._get_login_url()['href'];

			if (this._get_device_is_mobile()) {
				window.location.href = url;
			} else {
				var wx_login_div = document.getElementById('wx_login_div');

				if (wx_login_div.getElementsByTagName('iframe').length === 0) {
					var iframe = document.createElement('iframe');

					// iframe.src="https://open.weixin.qq.com/connect/qrconnect?appid=wxcb7237f3ff9cd5d1&scope=snsapi_login&redirect_uri=https%3A%2F%2Fwww.edraw.xyz%2Fonline%2Fphp%2FwxLogin.php&state=kCC0gQaJUPn1I4WwGa1iQupNNVylxIF2&login_type=jssdk&self_redirect=true&style=black&href=https://www.edraw.xyz/online/css/wx_login.css";// 微信电脑端登录

					iframe.src = url;

					iframe.width = '100%';

					iframe.height = '100%';

					iframe.frameborder = '0';

					iframe.scrolling = 'no';

					iframe.style = 'border-width:0;';

					iframe.target = '_parent';

					wx_login_div.appendChild(iframe);
				}
			}

			// this.$G.projection.id = '';// clear projection id for share.
		},

		// whether is mobile?
		_get_device_is_mobile() {
			var mobile = false;

			var browserName = navigator.userAgent;

			if (/Android/i.test(browserName)) {
				mobile = true;
			} else if (/BlackBerry/i.test(browserName)) {
				mobile = true;
			} else if (/iPhone|iPad|iPod/i.test(browserName)) {
				mobile = true;

				// this.apple_mobile = true;
			} else if (/Opera Mini/i.test(browserName)) {
				mobile = true;
			} else if (/IEMobile/i.test(browserName)) {
				mobile = true;
			} else {
				mobile = false;

				// this.apple_mobile = false;
			}

			return mobile;
		},

		// get login url on phone or pc?
		_get_login_url() {
			// whether is callback projection by projection id?

			var login = {
				label: '',

				href: '',

				backgroundColor: ''
			};

			var loginMode = this._get_device_is_mobile() ? 'WeiXin_onPhone' : 'WeiXin_onPc';

			var callback_url = _get_callback_url(loginMode, this);

			switch (loginMode) {
				case 'WeiXin_onPhone':
					login.backgroundColor = '#44b549';

					login.label = '微信客户端登录';

					login.href =
						'https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxa83f724a3b8d25a5&redirect_uri=' +
						callback_url +
						'&response_type=code&scope=snsapi_userinfo&state=kCC0gQaJUPn1I4WwGa1iQupNNVylxIF2#wechat_redirect';

					break;

				case 'WeiXin_onPc': // 微信扫码登录
					login.label = '微信扫码登录';

					login.href =
						'https://open.weixin.qq.com/connect/qrconnect?appid=wxcb7237f3ff9cd5d1&scope=snsapi_login&redirect_uri=' +
						callback_url +
						'&state=kCC0gQaJUPn1I4WwGa1iQupNNVylxIF2&login_type=jssdk&self_redirect=true&style=black&href=https://www.edraw.xyz/yun/css/wx_login.css';

					break;

				case 'TaoBao_onPhone':
					login.backgroundColor = '#FF8C00';

					login.label = '淘宝客户端登录';

					login.href =
						'https://oauth.taobao.com/authorize?response_type=code&client_id=25022892&redirect_uri= https%3A%2F%2Fwww.edraw.xyz%2Fmain%2Fphp%2FtbLogin.php&state=1212&view=wap';

					break;

				case 'TaoBao_onPc':
					login.backgroundColor = '#FF8C00';

					login.label = '淘宝客户端登录';

					login.href =
						'https://oauth.taobao.com/authorize?response_type=code&client_id=25022892&redirect_uri= https%3A%2F%2Fwww.edraw.xyz%2Fmain%2Fphp%2FtbLogin.php&state=1212&view=web';

					break;

				case 'TaoBao_seller_onPc':
					login.backgroundColor = '#FF8C00';

					login.label = '淘宝客户端登录';

					login.href =
						'https://oauth.taobao.com/authorize?response_type=code&client_id=25022892&redirect_uri= https%3A%2F%2Fwww.edraw.xyz%2Fmain%2Fphp%2FtbGetSellerInfo.php&state=1212&view=web';

					break;

				default:
			}

			return login;

			function _get_callback_url(loginMode, _this) {
				var p_id = typeof _this.login.projection != 'undefined' ? _this.login.projection.id : null;

				var php = loginMode == 'WeiXin_onPc' ? 'wxLogin.php' : 'wxLoginOnPhone.php';

				var _callback_url = p_id ? _this.$G.downImageUrl + _this.$G.phpurl + php + '?pid=' + p_id : _this.$G.downImageUrl + _this.$G.phpurl + php;

				var callback_url = encodeURIComponent(_callback_url);

				return callback_url;
			}
		}
	}
};
</script>
