<template>
	<div
		v-show="display && viewpoint"
		style=" position: absolute;
                    height: 100%;
                    width: 170px;"
	>
		<v-timeline
			v-show="show == 'viewpoint'"
			id="model_viewpoint"
			style=" height: auto;
                        max-height: calc(100vh - 212px);
                        z-index: 9;
                        margin: 0px 0px 0px -42px;
                        padding: 0 0 2px 0;
                        position: fixed;
                        overflow: hidden scroll;
                        position:absolute;
                        bottom: 104px;
                        width: 170px;"
			dense
		>
			<v-timeline-item
				style="padding: 4px 0 0 0;"
				v-for="(item, i) in viewpoint_items.items.concat([upload_item, rename_item])"
				:key="i"
				:color="viewpoint_items.select_id == item.id ? selectedColor : item.color"
				small
				fill-dot
			>
				<v-card
					light
					style="margin: 0 0 0 -30px;padding: 4px;pointer-events:auto;"
					class="elevation-1"
					:color="viewpoint_items.select_id == item.id ? selectedColor : item.color"
					width="90"
					max-width="100"
					min-height="24"
					@click="click_item(item)"
				>
					<v-card-title style="cursor: pointer;padding: 0 0 0 10px;line-height: 18px;" class="body-2 font-regular white-text">{{ item.name }}</v-card-title>
					<v-card-text
						style="padding: 0 0 0 10px;margin: 0;line-height: 12px;white-space:nowrap;text-overflow:ellipsis; overflow: hidden;"
						class="caption font-weight-light"
					>
						{{ item.text }}
					</v-card-text>
					<v-icon small style="position:absolute;bottom: 2px;left: 0px;">
						{{ viewpoint_items.select_id == item.id ? 'mdi-play' : last_select_id == item.id ? 'mdi-pause' : '' }}
					</v-icon>
				</v-card>
			</v-timeline-item>
		</v-timeline>
		<v-tooltip right>
			<template v-slot:activator="{ on }">
				<v-btn
					absolute
					dark
					fab
					small
					bottom
					left
					:elevation="show == 'viewpoint' ? 4 : 2"
					:color="show == 'viewpoint' ? 'orange darken-1' : '#9E9E9E'"
					style=" left: 10px;
                                bottom: 48px;
                                max-width: 24px;
                                max-height: 24px;
                                border-radius: 0px 50% 50% 0px;
                                z-index: 10;"
					@click="toggle_show"
					v-on="on"
				>
					<v-icon>mdi-run-fast</v-icon>
				</v-btn>
			</template>
			<span>漫游列表</span>
		</v-tooltip>
	</div>
</template>
<style>
.v-timeline:before {
	display: none;
}
.v-timeline-item__divider {
	min-width: 12px !important;
	left: -42px;
}
</style>

<script>
export default {
	props: {
		// 'viewpoint_items': {items: [], show: true, select_id: ''}

		walkthrough: null,

		show: true,

		display: true
	},

	data() {
		return {
			viewpoint_items: { items: [], show: true, select_id: '' },

			viewpoint: true,

			// timeline: false,

			selectedColor: 'orange darken-1',

			color: 'rgba(255,255,255,0.78)',

			last_select_id: null,

			upload_item: {
				id: '1_1_a',

				name: '保存漫游',

				text: '',

				color: 'rgba(255,255,255,0.78)',

				show: true
			},

			rename_item: {
				id: '1_1_e',

				name: '修改漫游',

				text: '',

				color: 'rgba(255,255,255,0.78)',

				show: true
			}

			/*items: [

                    {

                        id: '',// model id

                        name: '第一版',// title text

                        text: '2020-02-20',// second text

                        color: 'rgba(255,255,255,0.78)',

                        suffix: '',

                        badge_value: {

                            build: '',

                            tech: '',

                            plan: '',

                            version: '',

                            date: null

                        },

                        show: true,

                    },

                ],*/
		};
	},

	methods: {
		/**
		 * set view point init
		 * @param modelId
		 */
		show_viewpoint_by_id(modelId) {
			// is not 3D model , not to show viewpoint list

			if (modelId == null) {
				this.viewpoint = false;
			} else {
				this.viewpoint = true;

				this.get_or_save_view_point_to_msql(modelId, 'get');
			}
		},

		rename_view_point() {
			let _this = this;

			_this.$emit('renameviewpoint', _this._get_items_values(), _this._get_item_names_array(), function(mode, sel_value) {
				switch (mode) {
					case 'delete':
						_this.viewpoint_items.items.forEach((_item, i) => {
							if (_item.id == sel_value.id) {
								_this.viewpoint_items.items.splice(i, 1); // delete

								_this.$emit('errordialog', '删除 1 条漫游路径');
							}
						});

						break;

					case 'rename':
						_this.viewpoint_items.items.forEach(_item => {
							if (_item.id == sel_value.id) {
								_item['name'] = sel_value['new_name'];
							}
						});

						break;

					default:
				}

				// save to msql

				_this.get_or_save_view_point_to_msql(sel_value['model_id'], 'update');
			});
		},

		_get_items_values() {
			var values = [];

			this.viewpoint_items.items.forEach(item => {
				values.push({
					name: item.name,

					value: item.id
				});
			});

			return values;
		},

		_get_item_names_array() {
			let names = [];

			this.viewpoint_items.items.forEach(_item => {
				names.push(_item.name);
			});

			return names;
		},

		// save_view_point

		save_view_point() {
			let rout_ul = document.getElementsByClassName('bf-route-list bf-scroll-bar');

			if (typeof rout_ul != 'undefined' && rout_ul.length > 0 && rout_ul[0].childElementCount > 0) {
				let _this = this;

				this.$emit('showdialog', _this._get_item_names_array(), function(input_name, modelId) {
					if (typeof input_name != 'undefined' && input_name != '') {
						_this._create_walkthrough(function(key_frames) {
							_this._add_item({
								id: 'tuku_v_' + Math.round(Math.random() * 10000), // viewpoint id

								name: input_name, // title text

								text: '漫游点 ' + key_frames['keys'].length + ' 个', // second text

								color: 'rgba(255,255,255,0.78)',

								frames: key_frames
							});

							// save to msql

							_this.get_or_save_view_point_to_msql(modelId, 'new');
						});
					}
				});
			} else {
				this.$emit('errordialog', '前先设置漫游路径');
			}
		},

		// when click item

		click_item(item) {
			if (item.id == '1_1_a') {
				this.stop_walkthrough();

				this.save_view_point();
			} else if (item.id == '1_1_e') {
				this.stop_walkthrough();

				this.rename_view_point();
			} else if (this.viewpoint_items.select_id == item.id) {
				this.pause_walkthrough(item);
			} else {
				this.play_walkthrough(item);
			}
		},

		toggle_show() {
			this.$emit('sidebarlisttoggle', 'viewpoint');
		},

		/**
		 * get or save view point of model to msql
		 * @param modelId
		 * @param mode
		 */
		get_or_save_view_point_to_msql(modelId, mode) {
			let viewpoints = '';

			if (mode == 'update' || mode == 'new') {
				viewpoints = JSON.stringify(this.viewpoint_items);
			}

			let _this = this;

			//传参
			var oMyForm = new FormData();

			oMyForm.append('modelId', modelId);

			oMyForm.append('viewpoints', viewpoints);

			var url = this.$G.phpurl + 'modelViewpoint.php';

			this.axios
				.post(url, oMyForm)
				.then(response => {
					console.log(response);

					if (response != '') {
						console.log('图纸视角：' + response['data']['msg']);

						if (mode == 'get') {
							if (response['data']['data']['viewpoints'] != '') {
								_this.viewpoint_items = JSON.parse(response['data']['data']['viewpoints']);
							} else {
								_this.viewpoint_items = { items: [], show: true, select_id: '' };
							}
						} else if (mode == 'new') {
							// play

							_this.play_walkthrough(_this.viewpoint_items.items[_this.viewpoint_items.items.length - 1]);
						}
					}
				})
				.catch(function(error) {
					// 请求失败处理

					console.error(error);

					return null;
				});
		},

		// add_view_point

		_create_walkthrough(callback) {
			// this.$emit('addviewpoint');

			let key_frames = [];

			let rout_ul = document.getElementsByClassName('bf-route-list bf-scroll-bar');

			if (typeof rout_ul != 'undefined') {
				let d = rout_ul[0];

				for (let a = 0; a < d.childElementCount; a++) key_frames.push(d.children[a].keyFrame);

				let rout_time_input = document.getElementsByClassName('bf-route-number');

				let n = 10;

				if (typeof rout_time_input != 'undefined') {
					n = parseFloat(rout_time_input[0].value);
				}

				if (key_frames.length > 1) {
					/*this.walkthrough.setKeyFrames(key_frames);

                        this.walkthrough.setWalkthroughTime(n);

                        this.walkthrough.play(key_frames[0].id);*/

					callback({ keys: key_frames, time: n });
				}
			}
		},

		_add_item(item) {
			this.viewpoint_items.items.push(item);
		},

		play_walkthrough(item) {
			console.log('play ' + item.name);

			// click button

			if (document.getElementsByClassName('bf-button gld-bf-map bf-checked').length == 0 && document.getElementsByClassName('gld-bf-map').length > 0) {
				document.getElementsByClassName('gld-bf-map')[0].click();
			}

			let key_frames = item['frames'];

			let _this = this;

			if (key_frames['keys'].length > 1) {
				this.walkthrough.setKeyFrames(key_frames['keys']);

				this.walkthrough.setKeyFrameCallback(keyFrameCallback);

				this.walkthrough.setWalkthroughTime(key_frames['time']);

				this.walkthrough.stopCallback(stopCallback);

				// go on play

				if (item.id == this.last_select_id) {
					this.walkthrough.play();
				}

				// play from start
				else {
					this.walkthrough.play(key_frames['keys'][0].id);
				}
			}

			this.viewpoint_items.select_id = item.id;

			this.last_select_id = null;

			//回调事件

			function keyFrameCallback(idx) {
				item.text = '漫游到 ' + (key_frames['keys'].length - idx - 1); // second text

				/*if(idx >= item['frames']['keys'].length - 1){

                        _this.stop_walkthrough(item);

                    }*/
			}

			function stopCallback() {
				if (_this.viewpoint_items.select_id != null) {
					_this.stop_walkthrough(item);
				}

				return null;
			}
		},

		pause_walkthrough(item) {
			if (item != null) console.log('pause ' + item.name);

			this.last_select_id = this.viewpoint_items.select_id;

			this.viewpoint_items.select_id = null;

			this.walkthrough.pause();
		},

		stop_walkthrough(item) {
			this.viewpoint_items.select_id = null;

			this.walkthrough.stop();

			if (item != null) {
				console.log('stop ' + item.name);

				item.text = '漫游点 ' + item['frames']['keys'].length + ' 个'; // second text
			}
		}

		/*/!**
             * value: items array , if value is 'This is a children model', is selected a children model
             * @param value
             *!/
            set_items(value){

                this.viewpoint_items.show = true;

                this.viewpoint_items.items = value;

                if(typeof(value) == 'object' && value.length > 0){

                    this._sort_items_by_date();

                }

                // this.items.push(this.upload_item);

            },

            // sort items by 降序
            _sort_items_by_date(){

                this.viewpoint_items.items.sort(function(a, b) {

                    return  new Date(b.text) - new Date(a.text)
                });

            },

            hide_timeline(){

                this.viewpoint_items.show = false;

            },*/
	}
};
</script>
