<template>
	<div class="text-center">
		<v-bottom-sheet v-model="sheet" persistent>
			<v-sheet class="text-center" height="360px">
				<v-btn color="white" height="24" style="z-index: 199;margin-top: -24px;" @click="close_sheet"><v-icon>mdi-chevron-down</v-icon></v-btn>

				<template>
					<VueHorizontalTimeline
						:items="items"
						timeline-background="white"
						line-color="light-blue"
						min-width="100"
						min-height="100"
						title-class="body-1 font-weight-bold"
						content-class="caption font-weight-light"
						class="ass_timeline"
						clickable="true"
					/>
				</template>
			</v-sheet>
		</v-bottom-sheet>
	</div>
</template>
<style>
.v-dialog__content {
	width: 100vw !important;
}
</style>

<script>
export default {
	data() {
		return {
			items: [],

			close: '关闭',

			sheet: false // hide or show sheet
		};
	},

	methods: {
		show_sheet(timelineValues) {
			this.items = timelineValues;

			this.sheet = true;

			this.set_card_color_by_title();
		},

		close_sheet() {
			this.sheet = false;
		},

		set_card_color_by_title() {
			var n = 0;

			var _this = this;

			var timer = setInterval(() => {
				// show canvas image

				var timeline = document.getElementsByClassName('timeline');

				if ((timeline != null && timeline.length > 0) || n > 10) {
					clearInterval(timer); // stop timer

					var cards = document.getElementsByClassName('time');

					for (var i = 0; i < cards.length; i++) {
						var card = cards[i];

						var title = card.childNodes[1].innerText; // title

						if (title == '打开') {
							card.style.backgroundColor = '#ffffff'; // white
						} else if (title.indexOf('创建') > -1 || title.indexOf('成功') > -1 || title.indexOf('后台') > -1) {
							card.style.backgroundColor = '#FFCC80'; // orange lighten-3
						} else if (title.indexOf('失败') > -1) {
							card.style.backgroundColor = '#E53935'; // red darken-1

							// time

							/*if(card.childNodes[2].innerText.indexOf('重新提交') < 0){

                                    card.childNodes[2].innerText += '\n<点击重新提交>';

                                    card.addEventListener("click", function(){

                                        _this.$emit('show_text_dialog', '重新提交转换？');

                                    });

                                }*/
						}
					}
				}

				n++;
			}, 300);
		}
	}
};
</script>
