<template>
	<v-row style="position:absolute;" :key="update">
		<v-col v-if="typeof value != 'undefined' && value.countTxt != '' && typeof value.countTxt != 'undefined' && value.countTxt != '0'" style="position:absolute;">
			<v-badge :offset-x="10" offset-y="-42" :content="value.countTxt" :color="selected ? 'orange lighten-4' : color" bordered overlap></v-badge>
		</v-col>
		<v-col v-if="typeof value != 'undefined' && value.topTxt != '' && typeof value.topTxt != 'undefined'" class="tuku_badge_top_text" style="position:absolute;">
			<v-badge offset-x="-24" offset-y="-22" :content="value.topTxt" :color="selected ? sel_color : color" overlap></v-badge>
		</v-col>
		<v-col v-if="selected" style="position:absolute;"><v-badge offset-x="10" offset-y="-22" :content="selectedTxt" :color="selected_color" overlap bordered></v-badge></v-col>
	</v-row>
</template>

<script>
export default {
	props: [
		'value', // countTxt, topTxt, build, tech, plan, version, date

		'selected', // whether is clicked?

		'selectedTxt', // text of select

		'update', // if changed to update

		'dir_type' //
	],

	data: function() {
		return {
			color: 'rgba(120, 120, 120, 0.3)', // default color

			sel_color: 'orange darken-1',

			selected_color: 'pink',

			icon: 'mdi-check'
		};
	},

	mounted: function() {
		this.set_top_text();
	},

	watch: {
		// when value is changed
		update: function() {
			this.set_top_text();
		}
	},

	methods: {
		reload() {
			this.$forceUpdate();
		},

		set_top_text() {
			if (typeof this.value != 'undefined') {
				// set top text value by dir type!!!

				var version = this.value['version'];

				var top_text = '';

				switch (this.dir_type) {
					case 'BUILD':
						top_text = this.value['tech'] + ' - ' + this.value['plan'] + (version != '' ? ' - ' + version : '');

						break;

					case 'TECH':
						top_text = this.value['build'] + ' - ' + this.value['plan'] + (version != '' ? ' - ' + version : '');

						break;

					case 'PLAN':
						top_text = this.value['build'] + ' - ' + this.value['tech'] + (version != '' ? ' - ' + version : '');

						break;

					case 'TIME':
						top_text = this.value['build'] + ' - ' + this.value['tech'] + ' - ' + this.value['plan'];

						break;

					case 'SUFFIX':
						top_text = this.value['build'] + ' - ' + this.value['tech'] + ' - ' + this.value['plan'];

						break;

					default:
						top_text = this.value['tech'] + ' - ' + this.value['plan'] + (version != '' ? ' - ' + version : '');
				}

				this.value.topTxt = top_text;
			}
		},

		/**
		 *
		 * @param value:{is_show, is_icon, txt, color}
		 */
		/*show_badge(value){

                this.value = value;

                this.value.txt = value['is_icon'] && value['txt'] == '' || value['txt'] == null ? this.icon : value['txt'];

                this.value.color = value.color == null || value.color == '' ? this.color : value.color == 'selected' ? this.selected_color : value.color;

            },

            hide_badge(){

                this.badge = false;

            },*/

		/**
		 * update node badge' count txt
		 * @param node
		 * @param mode:"add" or "delete"
		 */
		update_node_badge_count(node, mode, value) {
			/*var node_badge_value = node['badge_value'];

                var _count = typeof(node_badge_value) == 'undefined' || node_badge_value == null ? 0 : parseInt(node_badge_value['txt']);

                _count = mode == 'new' ? value : _count + (mode == 'add' ? 1 : mode == 'delete' ? -1 : 0);

                if(typeof(node['badge_value']) == 'undefined'){

                    node['badge_value'] = {

                        countTxt : '',

                        topTxt : '',

                        buildTxt: '',

                        techTxt: '',

                        planTxt: '',

                        versionTxt: '',

                        date:'',

                    };

                }

                if(_count >= 1){

                    node['badge_value']['countTxt'] = _count + '';

                } else {

                    node['badge_value']['countTxt'] = '';

                }*/
		},

		/**
		 * set node badge' top text
		 * @param node
		 * @param value:{build, tech, plan, version}
		 */
		set_node_badge_value(node, value, projection_dir_type) {
			/*if(typeof(node['badge_value']) == 'undefined'){

                    node['badge_value'] = {

                        countTxt : '',

                        topTxt : '',

                        buildTxt: '',

                        techTxt: '',

                        planTxt: '',

                        versionTxt: '',

                        date:'',

                    };

                }

                node['badge_value']['buildTxt'] = value['build'];

                node['badge_value']['techTxt'] = value['tech'];

                node['badge_value']['planTxt'] = value['plan'];

                var version = value['version'] == null || typeof(value['version']) == 'undefined' ? '' : value['version'];

                node['badge_value']['versionTxt'] = version;

                // set top text value by dir type!!!

                var top_text = '';

                switch (projection_dir_type) {

                    case 'BUILD':

                        top_text = value['tech'] + ' - ' + value['plan'] + (version != '' ? ' - ' + version : '');

                        break;

                    case "TECH":

                        top_text = value['build'] + ' - ' + value['plan'] + (version != '' ? ' - ' + version : '');

                        break;

                    case "PLAN":

                        top_text = value['build'] + ' - ' + value['tech'] + (version != '' ? ' - ' + version : '');

                        break;

                    default:

                        top_text = value['tech'] + ' - ' + value['plan'] + (version != '' ? ' - ' + version : '');

                }

                node['badge_value']['topTxt'] = top_text;*/
		}
	}
};
</script>

<style>
.tuku_badge_top_text > span > span > span {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 148px;
	text-align: left;
}
</style>
