<template>
	<v-menu transition="slide-y-transition" bottom left :key="dir_update" offset-y>
		<template v-slot:activator="{ on: menu }">
			<v-tooltip top style="margin-right: 12px;">
				<template v-slot:activator="{ on: tooltip }">
					<v-btn color="grey darken-1" width="24" style="right:8px;position:absolute;" depressed text tile x-small v-on="{ ...tooltip, ...menu }">
						<v-icon>mdi-sort-descending</v-icon>
					</v-btn>
				</template>
				<span>智能排序</span>
			</v-tooltip>
		</template>
		<v-list>
			<v-list-item-group v-model="sel_dir_type" mandatory color="orange darken-1">
				<v-list-item v-for="(item, i) in items" :key="i" @click="set_dir_type(i)">
					<v-list-item-title>{{ item.title }}</v-list-item-title>
				</v-list-item>
			</v-list-item-group>
		</v-list>
	</v-menu>
</template>
<script>
export default {
	props: [
		'models_items', // items[1]['children']

		'dir_update',

		'dir_type' // 'SUFFIX' default
	],

	watch: {
		dir_update: function() {
			// set dir type default

			this.sel_dir_type = this.dir_type == '' ? this.sel_dir_type : this.dir_type;

			this.set_new_models_dir();

			this.dir_type = ''; // set '' to sort by sel_dir_type!!!
		}
	},

	data: function() {
		return {
			items: [
				{ title: '楼号', value: 'BUILD' },

				{ title: '专业', value: 'TECH' },

				{ title: '进度', value: 'PLAN' },

				{ title: '时间', value: 'TIME' },

				{ title: '类型', value: 'SUFFIX' }
			],

			sel_dir_type: 'SUFFIX' // default when load init
		};
	},

	methods: {
		set_dir_type(index) {
			this.sel_dir_type = this.items[index]['value'];

			this.set_new_models_dir();
		},

		set_new_models_dir: function() {
			let _this = this;

			let new_models_items = [];

			for (let item of this.models_items) {
				// sort in dir's children
				if (typeof item['children'] != 'undefined') {
					for (let _item of item['children']) {
						_set_new_model_dir(_item, _this);
					}
				}

				// sort by dir(if is model node)
				else if (item.id.indexOf('tuku_') > -1) {
					_set_new_model_dir(item, _this);
				}
			}

			// get new model dir sort of a item
			function _set_new_model_dir(_item, that) {
				let new_dir_name = that._get_dir_name_by_type(_item);

				let new_item = that._get_new_model_item(_item);

				that._get_model_node_by_name_to_do(new_models_items, new_dir_name, function(new_dir) {
					new_dir['children'].splice(0, 0, new_item); //insert 1st
				});
			}

			// sort array by name

			// let str = '总图建筑结构给排水电气暖通概念方案初步设计施工图第一次提图第二次提图第三次提图第四次提图施工图出图其他';

			let str = this._get_description_string(this.sel_dir_type);

			new_models_items.sort(function(a, b) {
				if (typeof a.name != 'undefined' && typeof b.name != 'undefined') {
					let x = str.indexOf(a.name) > -1 ? str.indexOf(a.name) : a.name.toLowerCase();

					let y = str.indexOf(b.name) > -1 ? str.indexOf(b.name) : b.name.toLowerCase();

					if (x < y) {
						return -1;
					}

					if (x > y) {
						return 1;
					}
				}

				return 0;
			});

			// sort dir children

			for (let item of new_models_items) {
				if (typeof item['children'] != 'undefined') {
					item['children'].sort(function(a, b) {
						let x = _getIndex(a['badge_value'], _this);

						let y = _getIndex(b['badge_value'], _this);

						if (x < y) {
							return -1;
						}

						if (x > y) {
							return 1;
						}

						return 0;
					});
				}
			}

			function _getIndex(_badge_value, _this) {
				let index = 0;

				let i = 4;

				for (let key of ['build', 'tech', 'plan', 'date']) {
					if (key != _this.sel_dir_type) {
						let s = _this._get_description_string(key);

						index += (s.indexOf(_badge_value[key]) > -1 ? s.indexOf(_badge_value[key]) + 1 : s.length) * Math.pow(100, i);
					}

					i--;
				}

				return index;
			}

			// push 新建项目 item

			new_models_items.push(
				{
					name: '上传文件',

					icon: 'add',

					id: '1_x_a',

					version: '2.0.0'
				}

				/*{
                        name: '新建目录',

                        icon: 'adf',

                        id: '1_x_d',

                        version: '1.0.0',

                    },

                    {
                        name: '修改目录',

                        icon: 'ade',

                        id:'1_x_e',

                    },*/
			);

			this.$emit('updateItems', new_models_items, this.sel_dir_type);

			return new_models_items;
		},

		_get_dir_name_by_type: function(_item) {
			let _dir_name;

			switch (this.sel_dir_type) {
				case 'BUILD':
					_dir_name = _item['badge_value']['build'];

					break;

				case 'TECH':
					_dir_name = _item['badge_value']['tech'];

					break;

				case 'PLAN':
					_dir_name = _item['badge_value']['plan'];

					break;

				case 'TIME':
					_dir_name = _item['badge_value']['date'];

					break;

				case 'SUFFIX':
					_dir_name = this._getSuffixDirName(_item);

					break;

				default:
					_dir_name = _item['badge_value']['build'];
			}

			return _dir_name;
		},

		/**
		 * find node by name and then to do something
		 * @param name
		 * @param do_function
		 * @private
		 */
		_get_model_node_by_name_to_do(new_models_items, name, do_function) {
			let items = new_models_items;

			let _this = this;

			if (!_find_each(items, name)) {
				// if not find , to create new dir by name
				let new_item = _this._add_new_dir_by_name(new_models_items, name);

				do_function(new_item);
			}

			function _find_each(items, name) {
				let _is_fined = false;

				let i = 0;

				for (let item of items) {
					if (item['name'] == name) {
						_is_fined = true;

						do_function(item);

						return _is_fined;
					} else if (typeof item['children'] != 'undefined') {
						_is_fined = _find_each(item['children'], name);
					}

					i++;
				}

				return _is_fined;
			}
		},

		// push new dir to items
		_add_new_dir_by_name(new_models_items, _dir_name) {
			if (_dir_name != '' && _dir_name != null) {
				// let insert_id = -1;// 修建目录 ,last - 1

				// set dir id

				let new_index = 0;

				let children_len = new_models_items.length;

				if (children_len == 0) {
					new_index = 0;
				} else if (children_len > 0) {
					let lastest_id = new_models_items[children_len - 1]['id'];

					new_index = parseInt(lastest_id.split('_')[1]) + 1;
				}

				// push to array
				new_models_items.push({
					name: _dir_name,

					children: [],

					id: '1_' + new_index + ''
				});

				return new_models_items[new_models_items.length - 1]; // last
			}
		},

		_get_new_model_item(old_item) {
			let old_badge_value = old_item['badge_value'];

			let new_item = {
				name: old_item['name'],

				icon: old_item['icon'],

				id: old_item['id'],

				badge_value: {
					countTxt: old_badge_value['countTxt'],

					topTxt: this._get_new_top_text(old_item),

					build: old_badge_value['build'],

					tech: old_badge_value['tech'],

					plan: old_badge_value['plan'],

					version: old_badge_value['version'],

					date: old_badge_value['date']
				}
			};

			return new_item;
		},

		_get_new_top_text(old_item) {
			// set top text value by dir type!!!

			let badge_value = old_item['badge_value'];

			let version = badge_value['version'];

			let top_text = '';

			switch (this.sel_dir_type) {
				case 'BUILD':
					top_text = badge_value['tech'] + ' - ' + badge_value['plan'] + (version != '' ? ' - ' + version : '');

					break;

				case 'TECH':
					top_text = badge_value['build'] + ' - ' + badge_value['plan'] + (version != '' ? ' - ' + version : '');

					break;

				case 'PLAN':
					top_text = badge_value['build'] + ' - ' + badge_value['tech'] + (version != '' ? ' - ' + version : '');

					break;

				case 'TIME':
					top_text = badge_value['build'] + ' - ' + badge_value['tech'] + ' - ' + badge_value['plan'];

					break;

				case 'SUFFIX':
					top_text = badge_value['build'] + ' - ' + badge_value['tech'] + ' - ' + badge_value['plan'];

					break;

				default:
					top_text = badge_value['tech'] + ' - ' + badge_value['plan'] + (version != '' ? ' - ' + version : '');
			}

			return top_text;
		},

		_get_description_string(str_key) {
			let str = '总图建筑结构给排水电气暖通概念方案初步设计施工图第一次提图第二次提图第三次提图第四次提图施工图出图其他';

			if (this.$G.description != '' && typeof this.$G.description == 'object' && typeof this.$G.description[str_key.toLowerCase()] != 'undefined') {
				let str_array = this.$G.description[str_key.toLowerCase()];

				str = str_array.join('');
			}

			return str;
		},

		/**
		 * set projection description from msql
		 * @param response_description:{build,tech,plan}
		 * @private
		 */
		set_projection_description(response_description) {
			if (response_description != '') {
				this.$G.description = JSON.parse(response_description);
			} else {
				// default description : build tech plan

				this.$G.description = {
					build: ['1#', '2#', '其他', '编辑...'],

					tech: ['总图', '建筑', '结构', '电气', '给排水', '暖通', '建模', '甲方资料', '其他', '编辑...'],

					plan: ['概念', '方案', '初步设计', '施工图', '第一次提图', '第二次提图', '第三次提图', '施工图出图', '其他', '编辑...']
				};
			}

			this.$G.description['suffix'] = ['图片文件', '2D图纸', '3D模型', '其他'];
		},

		/**
		 * get dir name by suffix
		 * @param item
		 * @return {string}
		 * @private
		 */
		_getSuffixDirName(item) {
			return item['icon'] == 'png' ? '图片文件' : item['icon'] == 'dwg' ? '2D图纸' : '3D模型';
		}
	}
};
</script>
