<template>
	<div
		v-show="display"
		style=" position: absolute;
                height: 100%;
                width: 170px;"
	>
		<v-timeline
			v-show="show == 'children'"
			id="children_sidebar_timeline"
			style=" height: auto;
                        max-height: calc(100vh - 212px);
                        z-index: 9;
                        margin: 0px 0px 0px -42px;
                        padding: 0 0 2px 0;
                        position: fixed;
                        overflow: hidden scroll;
                        position:absolute;
                        bottom: 104px;
                        width: 170px;"
			dense
		>
			<v-timeline-item
				style="padding: 8px 0 0 0;"
				v-for="(item, i) in children_items.items.concat([upload_item])"
				:key="i"
				:color="children_items.select_child_id == item.id ? selectedColor : item.color"
				small
				fill-dot
			>
				<v-card
					light
					style="margin: 0 0 0 -30px;padding: 4px;pointer-events:auto;"
					class="elevation-1"
					:color="children_items.select_child_id == item.id ? selectedColor : item.color"
					width="90"
					max-width="100"
					min-height="24"
					@click="click_item(item)"
				>
					<v-card-title style="cursor: pointer;padding: 0 0 0 6px;line-height: 18px;" class="body-2 font-regular white-text">{{ item.name }}</v-card-title>
					<v-card-text style="padding: 0 0 0 6px;margin: 0;line-height: 12px;" class="caption font-weight-light">{{ item.text }}</v-card-text>
				</v-card>
			</v-timeline-item>
		</v-timeline>
		<v-tooltip right>
			<template v-slot:activator="{ on }">
				<v-btn
					absolute
					dark
					fab
					small
					bottom
					:elevation="show == 'children' ? 4 : 2"
					:color="show == 'children' ? 'orange darken-1' : '#9E9E9E'"
					style=" left: 10px;
                                bottom: 74px;
                                max-width: 24px;
                                max-height: 24px;
                                border-radius: 0px 50% 50% 0px;
                                z-index: 10;"
					@click="toggle_show"
					v-on="on"
				>
					<v-icon>mdi-plus</v-icon>
				</v-btn>
			</template>
			<span>版本列表</span>
		</v-tooltip>
	</div>
</template>

<script>
export default {
	props: {
		children_items: { items: [], show: true, select_child_id: '' },

		show: true,

		display: true
	},

	data() {
		return {
			// timeline: false,

			selectedColor: 'orange darken-1',

			color: 'rgba(255,255,255,0.78)',

			upload_item: {
				id: '1_1_a',

				name: '上传新版本',

				text: '',

				color: 'rgba(255,255,255,0.78)',

				suffix: '',

				badge_value: {},

				show: true
			}

			/*items: [

                    {

                        id: '',// model id

                        name: '第一版',// title text

                        text: '2020-02-20',// second text

                        color: 'rgba(255,255,255,0.78)',

                        suffix: '',

                        badge_value: {

                            build: '',

                            tech: '',

                            plan: '',

                            version: '',

                            date: null

                        },

                        show: true,

                    },

                ],*/
		};
	},

	methods: {
		/**
		 * value: items array , if value is 'This is a children model', is selected a children model
		 * @param value
		 */
		set_items(value) {
			this.children_items.show = true;

			this.children_items.items = value;

			if (typeof value == 'object' && value.length > 0) {
				this._sort_items_by_date();
			}

			// this.items.push(this.upload_item);
		},

		// sort items by 降序
		_sort_items_by_date() {
			this.children_items.items.sort(function(a, b) {
				return new Date(b.text) - new Date(a.text);
			});
		},

		// when click item

		click_item(item) {
			if (item.id == '1_1_a') {
				this.goon_upload();
			} else {
				this._open_model(item);
			}
		},

		toggle_show(current_list_name) {
			this.$emit('sidebarlisttoggle', current_list_name != null ? current_list_name : 'children');
		},

		hide_timeline() {
			this.children_items.show = false;
		},

		goon_upload() {
			this.$emit('goonupload'); // goon upload file
		},

		_open_model(selectedItem) {
			// this.children_items.items.forEach((item)=>{item.color = this.color});

			// selectedItem.color = this.selectedColor;

			this.$emit('openmodel', {
				id: '',

				name: '',

				childId: selectedItem.id,

				childName: selectedItem.name,

				suffix: selectedItem.suffix,

				mode: 'is_open_model_from_children',

				isChild: true
			});
		},

		/**
		 * show sidebar timeline of model if model has children
		 * @param modelId: id of model
		 */
		show_children_by_id(modelId) {
			//传参
			var oMyForm = new FormData();

			oMyForm.append('modelId', modelId);

			var url = this.$G.phpurl + 'modelGetChildren.php';

			this.axios
				.post(url, oMyForm)
				.then(response => {
					console.log(response);

					if (response != '') {
						console.log('图纸子集：' + response['data']['msg']);

						if (response['data']['code'] == 'success' && response['data']['data']['children'].length > 0) {
							this.set_items(response['data']['data']['children']);

							this.toggle_show();
						} else {
							this.set_items([]);

							this.toggle_show('');

							// this.hide_timeline();
						}
					}
				})
				.catch(function(error) {
					// 请求失败处理

					console.error(error);

					return null;
				});
		},

		/**
		 * delete children by id and update msql
		 * @param linkId
		 * @param childIds
		 */
		delete_children(linkId, childIds, callback) {
			// delete item by id

			var i = 0;

			this.children_items.items.forEach(item => {
				if (childIds.indexOf(item.id) > -1) {
					this.children_items.items.splice(i, 1);
				}

				i++;
			});

			// delete to msql

			//传参
			var oMyForm = new FormData();

			oMyForm.append('linkId', linkId);

			oMyForm.append('childIds', childIds);

			var url = this.$G.phpurl + 'modelChildrenDelete.php';

			this.axios
				.post(url, oMyForm)
				.then(response => {
					console.log(response);

					if (response != '') {
						console.log('图纸删除：' + response['data']['msg']);

						if (response['data']['code'] == 'success') {
							// call back when success

							var countTxt = response['data']['data']['countTxt'];

							callback(countTxt, response['data']['msg']);
						}
					}
				})
				.catch(function(error) {
					// 请求失败处理

					console.log(error);

					return null;
				});
		},

		/**
             * update children by update value
             * @param update_value:{linkId, time, version, childId}//
             * build: "1#"
             childId: "tuku_m_iLbcgkWGqmmE8rsZ"
             fileName: "dwg_002.dwg"
             isChild: true
             linkId: "tuku_m_c1cgYGPxVqmTVRA9"
             plan: "施工图"
             tech: "总图"
             time: "2020-03-04"
             version: "222"
             *
             */
		update_children(update_value) {
			let _this = this;

			this.children_items.items.forEach(item => {
				if (item.id == update_value['childId']) {
					item.badge_value = {
						build: update_value['build'],

						tech: update_value['tech'],

						plan: update_value['plan'],

						version: update_value['version'],

						date: update_value['time']
					};

					item.name = _this._set_item_top_text(item);

					item.text = update_value['time'];
				}
			});

			// update sort

			this._sort_items_by_date();
		},

		_set_item_top_text(item) {
			return item['badge_value']['tech'] + '-' + item['badge_value']['plan'] + '-' + item['badge_value']['version'];
		}
	}
};
</script>

<style>
.v-timeline:before {
	display: none;
}
.v-timeline-item__divider {
	min-width: 12px !important;
	left: -42px;
}
</style>
