<!--
<template>
    <div>
        {{currentPage}} / {{pageCount}}
        <pdf
                :src="pdfSrc"
                @num-pages="pageCount = $event"
                @page-loaded="currentPage = $event"
        ></pdf>
    </div>
</template>

<script>

    import pdf from 'vue-pdf'

    export default {

        components: {

            pdf

        },

        data() {

            return {

                pdfSrc: './image/pdf/002.pdf',

                currentPage: 0,

                pageCount: 0,

            }

        }

    }

</script>-->

<template>
	<pdf src="../assets/pdf/001.pdf" :page="1">
		<template slot="loading">
			loading content here...
		</template>
	</pdf>
</template>

<script>
import pdf from 'pdfvuer';

export default {
	components: {
		pdf
	},

	data() {
		return {
			/*pdfSrc: require(this.$G.pdfurl + '1.pdf'),*/
			/*pdfSrc: require('./pdf/001.pdf'),*/
		};
	}
};
</script>
