<template>
	<v-dialog v-model="dialog" persistent max-width="500px">
		<v-card>
			<dailogSnackBar ref="dailogSnackBar"></dailogSnackBar>

			<v-card-title class="blue darken-1" style="padding: 12px 24px;"><span class="white--text" blue style="height:24px;">事件</span></v-card-title>
			<v-card-text style="padding: 0 24px;">
				<v-container style="height:auto;">
					<v-row align="center" class="mr-0">
						<v-col cols="12" sm="9" style="padding: 0 0 0 12px;"><v-text-field label="事件内容*" required v-model="event.name"></v-text-field></v-col>
						<v-col cols="12" sm="3" style="padding: 0 0 0 12px;">
							<v-select v-model="select_type" :items="types" item-text="name" item-value="color" label="类型*" return-object @input="on_click_type"></v-select>
						</v-col>
						<v-col cols="12" sm="6" style="padding: 0 0 0 12px;">
							<v-menu
								v-model="start_date_menu"
								:close-on-content-click="false"
								:nudge-right="40"
								transition="scale-transition"
								offset-y
								max-width="290px"
								min-width="290px"
							>
								<template v-slot:activator="{ on }">
									<v-text-field v-model="event.start_date" label="开始日期*" readonly v-on="on"></v-text-field>
								</template>
								<v-date-picker v-model="event.start_date" @input="start_date_menu = false"></v-date-picker>
							</v-menu>
						</v-col>
						<v-col cols="12" sm="6" style="padding: 0 0 0 12px;">
							<v-menu
								ref="start_menu"
								v-model="start_menu2"
								:close-on-content-click="false"
								:nudge-right="40"
								:return-value.sync="event.start_time"
								transition="scale-transition"
								offset-y
								max-width="290px"
								min-width="290px"
							>
								<template v-slot:activator="{ on }">
									<v-text-field v-model="event.start_time" label="开始时间*" readonly v-on="on"></v-text-field>
								</template>
								<v-time-picker
									v-if="start_menu2"
									v-model="event.start_time"
									full-width
									format="24hr"
									@click:minute="$refs.start_menu.save(event.start_time)"
								></v-time-picker>
							</v-menu>
						</v-col>
						<v-col cols="12" sm="6" style="padding: 0 0 0 12px;">
							<v-menu
								v-model="end_date_menu"
								:close-on-content-click="false"
								:nudge-right="40"
								transition="scale-transition"
								offset-y
								max-width="290px"
								min-width="290px"
							>
								<template v-slot:activator="{ on }">
									<v-text-field v-model="event.end_date" label="结束日期" readonly v-on="on"></v-text-field>
								</template>
								<v-date-picker v-model="event.end_date" @input="end_date_menu = false"></v-date-picker>
							</v-menu>
						</v-col>
						<v-col cols="12" sm="6" style="padding: 0 0 0 12px;">
							<v-menu
								ref="end_menu"
								v-model="end_menu2"
								:close-on-content-click="false"
								:nudge-right="40"
								:return-value.sync="event.end_time"
								transition="scale-transition"
								offset-y
								max-width="290px"
								min-width="290px"
							>
								<template v-slot:activator="{ on }">
									<v-text-field v-model="event.end_time" label="结束时间" readonly v-on="on"></v-text-field>
								</template>
								<v-time-picker
									v-if="end_menu2"
									v-model="event.end_time"
									full-width
									format="24hr"
									@click:minute="$refs.end_menu.save(event.end_time)"
								></v-time-picker>
							</v-menu>
						</v-col>
						<v-col cols="12" sm="6" style="padding: 0 0 0 12px;"><v-text-field v-model="event.location" label="地点"></v-text-field></v-col>
						<v-col cols="12" sm="6" style="padding: 0 0 0 12px;">
							<v-text-field v-model="event.color" label="颜色" readonly flat :background-color="event.color"></v-text-field>
						</v-col>
						<!--<v-col cols="12">
                            <v-menu
                                    v-model="color_menu"
                                    :close-on-content-click="false"
                                    :nudge-right="40"
                                    transition="scale-transition"
                                    offset-y
                                    min-width="290px"
                            >
                                <template v-slot:activator="{ on }">
                                    <v-text-field
                                            v-model="event.color"
                                            label="颜色*"
                                            readonly
                                            v-on="on"
                                    ></v-text-field>
                                </template>
                                <v-color-picker
                                        class="ma-2"
                                        :swatches="swatches"
                                        show-swatches
                                        v-model="event.color"
                                ></v-color-picker>
                            </v-menu>
                        </v-col>-->
					</v-row>
				</v-container>
				<small style="padding: 0 0 0 12px;">*必填项</small>
			</v-card-text>
			<v-card-actions bottom>
				<v-spacer></v-spacer>
				<v-btn color="orange darken-1" text @click="dialog = false">Close</v-btn>
				<v-btn color="orange darken-1" text @click="upload_projection_value">Save</v-btn>
			</v-card-actions>
		</v-card>
	</v-dialog>
</template>
<style>
.container {
	box-shadow: none !important;
}
</style>

<script>
import dailogSnackBar from './snackbar.vue';

export default {
	components: {
		dailogSnackBar
	},

	data: function() {
		return {
			dialog: false,

			event: {
				id: '',

				name: '',

				start_date: new Date().toISOString().substr(0, 10),

				start_time: '09:15',

				end_date: new Date().toISOString().substr(0, 10),

				end_time: '10:15',

				color: '',

				location: '',

				type: ''
			},

			start_date_menu: false,

			start_menu2: false,

			end_date_menu: false,

			end_menu2: false,

			types: [
				{ name: '应用', color: '#E91E63' },
				{ name: '前期', color: '#9ccc65' },
				{ name: '资料', color: '#7cb342' },
				{ name: '讨论', color: '#558b2f' },
				{ name: '绘图', color: '#26c6da' },
				{ name: '提图', color: '#00acc1' },
				{ name: '审图', color: '#00838f' },
				{ name: '出图', color: '#ff8a65' },
				{ name: '汇报', color: '#ff5722' },
				{ name: '会议', color: '#d84315' },
				{ name: '出差', color: '#5c6bc0' },
				{ name: '现场', color: '#3949ab' },
				{ name: '后期', color: '#283593' },
				{ name: '其他', color: '#78909c' }
			],

			select_type: { name: '类型', color: '颜色' },

			swatches: [
				['#FF0000', '#AA0000', '#550000'],
				['#FFFF00', '#AAAA00', '#555500'],
				['#00FF00', '#00AA00', '#005500'],
				['#00FFFF', '#00AAAA', '#005555'],
				['#0000FF', '#0000AA', '#000055']
			],

			uploadEventMode: 'new' // new or edit or delete
		};
	},

	methods: {
		on_click_type() {
			this.event.type = this.select_type.name;

			this.event.color = this.select_type.color;
		},

		show_snackbar(msg) {
			console.log('dialog show snack bar: ' + msg);

			this.$refs.dailogSnackBar.show_bar(msg); // 调用子组件的方法
		},

		/**
		 * show dialog when click edit button of show event dialog
		 * @param event_value: {}
		 * @param upload_mode: new or edit or delete?
		 */
		show_dialog(event_value, upload_mode) {
			this.uploadEventMode = upload_mode;

			if (event_value != null) {
				this.event = event_value;

				this.types.forEach(_type => {
					if (_type.name == event_value.type) {
						this.select_type = _type;
					}
				});
			} else {
				this.event = {
					id: '',

					name: '',

					start_date: new Date().toISOString().substr(0, 10),

					start_time: '09:15',

					end_date: new Date().toISOString().substr(0, 10),

					end_time: '10:15',

					color: '',

					location: '',

					type: ''
				};
			}

			this.dialog = true;

			/*if(upload_mode == 'delete') {

                    this._upload_json_to_web('delete');

                } else {

                    this.dialog = true;

                }*/
		},

		// upload event value from dialog
		upload_projection_value() {
			if (this.event.name != '' && this.event.color != '' && this.event.start_date != '' && this.event.start_time != '') {
				// this._upload_json_to_web(this.uploadEventMode);// edit or new?

				this.dialog = false;

				this.$emit('editevent', this.event);
			} else {
				this.show_snackbar('请填写必填项');
			}
		}

		/*/!**
             * upload json to php when add event
             * @param editMode: new or edit or delete
             * @private
             *!/
            _upload_json_to_web: function (editMode) {

                this.axios.post(this.$G.phpurl + 'projectionEvent.php',

                        this.qs.stringify(
                                {
                                    p_id: this.$G.projection.id,// whether is new or update?
                                    event_id: this.event.id,
                                    event_name: this.event.name,
                                    event_start_date: this.event.start_date,
                                    event_start_time: this.event.start_time,
                                    event_end_date: this.event.end_date,
                                    event_end_time: this.event.end_time,
                                    event_color: this.event.color,
                                    event_type: this.event.type,
                                    event_location: this.event.location,
                                    event_creator_id: this.$G.projection.creator_id,
                                    edit_mode: editMode,// new or edit or delete

                                })).then((response)=> {

                    console.log(response);

                    if(response!=""){

                        if(response.data['code'] == 'success'){

                            console.log(response.data['msg']);

                            this.dialog = false;// hide dialog

                            this.$emit('set_events', response.data['data']['timeline']);//调用父组件方法

                        } else {

                            this.show_snackbar(response.data['msg']);

                        }

                    }})

                    .catch(function (error) { // 请求失败处理

                        console.log(error);

                    }
                );

            }*/
	}
};
</script>
