<template>
	<v-dialog v-model="dialog" persistent max-width="500px">
		<v-card>
			<dailogSnackBar ref="dailogSnackBar"></dailogSnackBar>

			<v-card-title class="blue darken-1" style="padding: 12px 24px;"><span class="white--text" blue>项目内容</span></v-card-title>
			<v-card-text style="padding: 0 24px;">
				<v-container style="height:auto;box-shadow: none;">
					<v-row align="center" class="mr-0">
						<v-col cols="12" style="padding: 0 0 0 12px;height:72px">
							<v-text-field label="项目名称*" required :rules="name_rules" hide-details="auto" v-model="projection.name"></v-text-field>
						</v-col>
						<v-col cols="12" sm="6" style="padding: 0 0 0 12px;height:72px">
							<v-text-field label="项目位置*" required :rules="loc_rules" hide-details="auto" v-model="projection.location"></v-text-field>
						</v-col>
						<v-col cols="12" sm="6" style="padding: 0 0 0 12px;height:72px">
							<v-menu v-model="dateMenu" :close-on-content-click="false" :nudge-right="40" transition="scale-transition" offset-y min-width="290px">
								<template v-slot:activator="{ on }">
									<v-text-field v-model="projection.date" label="创建日期*" readonly v-on="on"></v-text-field>
								</template>
								<v-date-picker v-model="projection.date" @input="dateMenu = false"></v-date-picker>
							</v-menu>
						</v-col>
						<v-col cols="12" sm="6" style="padding: 0 0 0 12px;">
							<v-select :items="['0-10,000', '10,000-100,000', '100,000+']" label="规模" v-model="projection.area" required></v-select>
						</v-col>
						<v-col cols="12" sm="6" style="padding: 0 0 0 12px;">
							<v-autocomplete
								:items="['住宅', '办公', '商业', '医院', '学校', '综合体', '文化建筑', '工业厂房', '展览会馆', '其他']"
								label="类型"
								v-model="projection.type"
								multiple
							></v-autocomplete>
						</v-col>
					</v-row>
				</v-container>
				<small style="padding: 0 0 0 12px;">* 必填项</small>
			</v-card-text>
			<v-card-actions bottom>
				<v-spacer></v-spacer>
				<v-btn color="orange darken-1" text @click="dialog = false">Close</v-btn>
				<v-btn color="orange darken-1" text @click="upload_projection_value">Save</v-btn>
			</v-card-actions>
		</v-card>
	</v-dialog>
</template>

<script>
import dailogSnackBar from './snackbar.vue';

export default {
	components: {
		dailogSnackBar
	},

	data: function() {
		return {
			dialog: false,

			dateMenu: false,

			projection: {
				id: '',

				name: '',

				location: '',

				date: new Date().toISOString().substr(0, 10),

				area: '',

				type: [],

				browse: '0'
			},

			name_rules: [
				input => {
					if (!input) {
						return '必填';
					} else if (input.length < 3) {
						return '至少3个字';
					}

					return true;
				}
			],

			loc_rules: [
				input => {
					if (!input) {
						return '必填';
					} else if (input.length < 2) {
						return '至少2个字';
					}

					return true;
				}
			]
		};
	},

	methods: {
		show_snackbar(msg) {
			console.log('dialog show snack bar: ' + msg);

			this.$refs.dailogSnackBar.show_bar(msg); // 调用子组件的方法
		},

		show_dialog(projection_value) {
			if (projection_value != null) {
				this.projection = projection_value; // edit projection
			} else {
				this.projection = {
					id: '',

					name: '',

					location: '',

					date: new Date().toISOString().substr(0, 10),

					area: '',

					type: [],

					browse: '0',

					members: []
				};
			}

			this.dialog = true;
		},

		// upload projection value from dialog
		upload_projection_value() {
			if (this.projection.name != '' && this.projection.location != '') {
				console.log(typeof this.projection.type);

				this.upload_json_to_web();
			} else {
				this.show_snackbar('请填写必填项');
			}
		},

		// upload json to php when create new projection
		upload_json_to_web: function() {
			this.axios
				.post(
					this.$G.phpurl + 'projectionCreate.php',
					this.qs.stringify({
						p_creator: this.$G.user.name,
						p_creator_id: this.$G.user.id,
						p_id: this.projection.id, // whether is new or update?
						p_name: this.projection.name,
						p_location: this.projection.location,
						p_area: this.projection.area,
						p_type: typeof this.projection.type == 'object' ? this.projection.type.join(',') : this.projection.type,
						p_date: this.projection.date
					})
				)

				.then(response => {
					console.log(response);

					if (response != '') {
						if (response.data['code'] == 'success') {
							if (!response.data['data']['update']) {
								// after new projection

								this.dialog = false;

								this.projection.id = response.data['data']['id']; // from php

								this.$emit('add', this.projection); //调用父组件方法
							} else {
								// after update projection to show snackbar and 1s to close dialog

								this.show_snackbar(response.data['msg']);

								let _this = this;

								setTimeout(function() {
									_this.dialog = false;
								}, 1000);
							}
						} else {
							this.show_snackbar(response.data['msg']);
						}
					}
				})

				.catch(function(error) {
					// 请求失败处理

					console.log(error);
				});
		}
	}
};
</script>
