<template>
	<div>
		<v-navigation-drawer
			id="v-navigation-drawer"
			style="position: fixed;height:calc(100vh - 48px);z-index: 199;overflow: unset!important;"
			v-model="projection_drawer"
			:clipped="$vuetify.breakpoint.lgAndUp"
			app
		>
			<sidebarButton ref="sidebar_btn" :button="sidebarBtn" @click="set_mini"></sidebarButton>
			<v-list-item class="px-2" v-model="user">
				<v-avatar color="white" size="36" style="margin-left:2px;"><img @click.stop="set_mini" :src="user.pic" /></v-avatar>
				<v-list-item-title class="subtitle-1" @click.stop="go_to_login" style="margin-left:24px;cursor: pointer;">{{ user.name }}</v-list-item-title>
			</v-list-item>

			<v-list-item class="px-2" style="padding-left:18px!important;">
				<v-text-field label="搜索" v-model="search" required class="font-weight-light subtitle-2"></v-text-field>
			</v-list-item>

			<template>
				<v-treeview
					v-model="tree"
					:open="open"
					:items="items"
					activatable
					item-key="id"
					item-text="name"
					open-on-click
					rounded
					color="orange darken-1"
					:click="selected"
					:active.sync="active"
					:open.sync="active_open"
					:search="search"
					:filter="filter"
					return-object
					class="font-weight-light tuku_treeview"
				>
					<template v-slot:prepend="{ item, open }">
						<userAvatar v-if="item.member" :member="item.member"></userAvatar>
						<v-icon v-else-if="item.icon == 'icon' || !item.icon">{{ open ? 'mdi-folder-open' : 'mdi-folder' }}</v-icon>
						<v-icon v-else-if="item.icon == 'home'">{{ open ? 'mdi-bank-outline' : 'mdi-bank' }}</v-icon>
						<v-icon v-else-if="item.icon == 'users'">{{ open ? 'mdi-account-multiple-outline' : 'mdi-account-multiple' }}</v-icon>
						<v-icon v-else class="tuku_treeview_icon">{{ icons[item.icon] }}</v-icon>
						<modelBadge
							ref="model_badge"
							:update="select_badge_update"
							:value="item.badge_value"
							:selected="item.id == select_badge"
							:selectedTxt="select_badge_txt"
							:dir_type="models_dir_type"
						></modelBadge>
						<modelDir
							v-if="item.id == '1'"
							ref="model_dir"
							:models_items="items[1]['children']"
							:dir_update="update_dir"
							:dir_type="models_dir_type"
							@updateItems="_update_models_badges_by_dir_new_sort"
						></modelDir>
					</template>
				</v-treeview>
			</template>

			<v-bottom-navigation :input-value="showNav" color="orange light-2" fixed shift grow>
				<v-btn class="px-1" style="min-width: 36px;" @click="show_timeline" title="时间线">
					<span>时间线</span>
					<v-icon>mdi-credit-card-clock</v-icon>
				</v-btn>
				<v-btn class="px-1" style="min-width: 36px;" @click="down_model" title="下载">
					<span>下载</span>
					<v-icon>mdi-cloud-download-outline</v-icon>
				</v-btn>
				<!--<v-btn class="px-1" style="min-width: 36px;"
                       @click="upload_file"
                       title="上传图纸"
                >
                    <span>上传图纸</span>
                    <v-icon>mdi-cloud-upload-outline</v-icon>
                </v-btn>-->
				<v-btn class="px-1" style="min-width: 36px;" @click="delete_model" title="删除">
					<span>删除</span>
					<v-icon>{{ deleteIcon }}</v-icon>
				</v-btn>
				<v-btn class="px-1" style="min-width: 36px;" @click="rename_model" title="修改">
					<span>修改</span>
					<v-icon>mdi-pencil</v-icon>
				</v-btn>
				<v-btn class="px-1" style="min-width: 36px;" @click="show_children_timeline" :title="sidebarTimeLine ? '隐藏列表' : '显示列表'">
					<span>侧列表</span>
					<v-icon>{{ sidebarTimeLine ? 'mdi-playlist-remove' : 'mdi-playlist-play' }}</v-icon>
				</v-btn>
			</v-bottom-navigation>

			<textDialog ref="text_dialog"></textDialog>
		</v-navigation-drawer>
	</div>
</template>
<style>
.theme--light.v-treeview {
	width: 256px !important;
}
.tuku_treeview > div > div > div > div > div > div > div > div + div {
	line-height: 30px !important;
	padding-bottom: 16px !important;
}
/*.tuku_treeview_icon{
        padding-top: 12px!important;
    }*/
.v-treeview-node__label {
	margin: 0 0 0 -4px !important;
}
.v-treeview-node__content {
	margin: 0 0 0 -4px !important;
}
/*.v-treeview-node__children >div{
        line-height: 48px !important;
    }*/
</style>
<script>
import textDialog from './textDialog.vue';

import modelBadge from './modelBadge.vue';

import userAvatar from './userAvatar.vue';

import sidebarButton from './sidebarButton.vue';

import modelDir from './modelDir.vue';

export default {
	components: {
		textDialog,

		modelBadge,

		userAvatar,

		sidebarButton,

		modelDir
	},

	// on load
	mounted: function() {
		// // is phone to set margin for show title of user

		document.getElementById('v-navigation-drawer').style.marginTop = !this.$vuetify.breakpoint.lgAndUp ? '48px' : '0px';

		this._on_btn_open_close();
	},

	watch: {
		projection_drawer: function() {
			this._on_btn_open_close();
		},

		'$vuetify.breakpoint.lgAndUp': function() {
			document.getElementById('v-navigation-drawer').style.marginTop = !this.$vuetify.breakpoint.lgAndUp ? '48px' : '0px';

			/*document.getElementById('children_sidebar_timeline').style.zIndex =

                        !this.$vuetify.breakpoint.lgAndUp ? '99' : '199';*/
		}
	},

	// watch
	computed: {
		selected() {
			// watch open

			if (this.active_open.length > 0) {
				this.show_bottomBar();
			} else {
				this.hide_bottomBar();
			}

			// watch click

			if (!this.active.length) {
				console.log('select none');
			}

			var select_obj = this.active[0]; // select object{name, id, icon, badge_value}

			// return this.users.find(user => user.id === id)

			if (typeof select_obj != 'undefined' && typeof select_obj['id'] != 'undefined' && typeof select_obj['name'] != 'undefined') {
				var id = select_obj['id'].toString();

				var name = select_obj['name'].toLowerCase();

				var icon = select_obj['icon'].toLowerCase(); // icon of node

				console.log('select: ' + name);

				var _this = this;

				if (id == '0' || id.indexOf('0_') == 0) {
					// 点击项目介绍区

					if (id == '0_5_0') {
						// 点击设置项目封面

						this.$emit('cover'); // set cover of projection
					}

					// this.hide_bottomBar();

					setTimeout(() => {
						_this.active = [];
					}, 1000); // un_active selected node
				} else if (id == '1' || id.indexOf('1_') == 0 || this.is_model_node(id)) {
					// 点击项目图纸区

					if (this.is_model_node(id)) {
						// 点击图纸

						this.set_select_model(id, name, null, null, false, select_obj['badge_value']); // saved select model id

						// this.show_bottomBar();

						if (!this.is_same_model(select_obj, this.select)) {
							// 打开文件

							this.$emit('openmodel', {
								id: id,

								name: name,

								childId: '',

								childName: '',

								suffix: icon,

								mode: 'is_open_model_from_menu',

								isChild: false
							}); //调用父组件方法
						} else {
							this.$emit('showscanvas');
						}

						this.select = {
							id: id, // model id

							name: name // model original name
						};
					} else {
						if (name == '上传文件') {
							// 上传文件

							this.select = { id: id, name: name }; // save select {id,name}

							this.show_upload_or_rename_file_dialog('UPLOAD');
						} else if (name == '新建目录') {
							// 新建目录

							this.new_dir();
						} else if (name == '修改目录') {
							// 修改目录

							this.edit_dir('rename');
						}

						// this.hide_bottomBar();

						setTimeout(() => {
							_this.active = [];
						}, 1000); // un_active selected node
					}
				} else if (id == '2' || id.indexOf('2_') == 0) {
					// 点击会员区

					if (name == '邀请成员') {
						// 邀请成员

						this.$emit('invite', '邀请');
					}

					// this.hide_bottomBar();

					setTimeout(() => {
						_this.active = [];
					}, 1000); // un_active selected node
				}
			}
		},

		filter() {
			//return (item, search) => typeof(item['children'])=='undefined' && item['name'].indexOf(search) > -1;
		}
	},

	data: function() {
		return {
			projection_drawer: true,

			user: this.$G.user,

			breakpoint: this.$vuetify.breakpoint.lgAndUp,

			mini: true,

			update_dir: false,

			models_dir_type: 'BUILD', // BUILD or TECH or PLAN

			search: null,

			showNav: false,

			deleteIcon: 'mdi-delete', // set_projection_cover

			layout: {
				span: '多窗口', // 一个窗口

				icon: 'mdi-view-quilt', // mdi-launch

				is_max: false // true
			},

			open: ['public'],

			select: '', // select {id,name}

			select_model: {
				// select model node value{id, name, childId, childName, isChild, badgeValue}

				id: '',

				name: '',

				childId: '',

				childName: '',

				isChild: false,

				badgeValue: { build: '', tech: '', plan: '', version: '', date: '' }
			},

			select_badge: '', // show selected badge

			select_badge_txt: '✓', // show selected badge text

			select_badge_update: false, // change badge to update

			newest_insert_item: null, // newest insert model node item for open newest model auto!!!

			active: [],

			active_open: [],

			tree: [],

			icons: {
				home: 'mdi-bank', //bookmark-outline mdi-silverware
				book: 'mdi-book-open-page-variant', //
				users: 'mdi-account-multiple',
				user: 'mdi-account',
				html: 'mdi-language-html5',
				js: 'mdi-nodejs',
				json: 'mdi-json',
				md: 'mdi-markdown',
				pdf: 'mdi-file-pdf',
				png: 'mdi-image-outline',
				txt: 'mdi-folder-text',
				dwg: 'mdi-text-subject',
				skp: 'mdi-cube-outline',
				rvt: 'mdi-cube',
				xls: 'mdi-file-excel',
				time: 'mdi-folder-clock',
				loc: 'mdi-folder-marker',
				area: 'mdi-folder-table',
				cov: 'mdi-palette',
				add: 'mdi-cloud-upload-outline',
				adf: 'mdi-folder-plus-outline',
				ade: 'mdi-folder-edit-outline',
				adu: 'mdi-account-plus-outline'
			},

			items: [
				{
					name: this.$G.projection.name,
					children: [
						{
							name: '位置: ' + this.$G.projection.location,
							icon: 'loc',
							id: '0_1_0'
						},
						{
							name: '规模: ' + this.$G.projection.area,
							icon: 'area',
							id: '0_2_0'
						},
						{
							name: '类型: ' + this.$G.projection.type,
							icon: 'txt',
							id: '0_3_0'
						},
						{
							name: '创建: ' + this.$G.projection.date,
							icon: 'time',
							id: '0_4_0'
						},
						{
							name: '设置项目封面',
							icon: 'cov',
							id: '0_5_0'
						}
					],
					icon: 'home',
					id: '0'
				},
				{
					name: '项目图纸',
					children: [
						{
							name: '上传文件',

							icon: 'add',

							id: '1_x_a',

							version: '2.0.0'
						}
						/*{
                                name: '新建目录',
                                icon: 'adf',
                                id:'1_x_d',
                                version:'1.0.0',// if nome same version to update auto when load!!!
                            },
                            {
                                name: '修改目录',
                                icon: 'ade',
                                id:'1_x_e',
                                version:'1.0.0',// if nome same version to update auto when load!!!
                            },*/
					],
					id: '1',
					version: '1.0.0'
				},
				{
					name: '项目成员',
					children: [
						{
							name: '成员',
							icon: 'user',
							id: '2_0'
						},
						{
							name: '邀请成员',
							icon: 'adu',
							id: '2_u'
						}
					],
					icon: 'users',
					id: '2'
				}
				/*{
                        name: '项目进度',
                        children: [
                            {
                                name: '项目月历',
                                icon:'user',
                                id:'2_0',
                            },
                            {
                                name: '项目进度',
                                icon: 'adu',
                                id:'2_u',
                            },
                        ],
                        icon:'html',
                        id:'3'
                    },*/
			],

			sidebarBtn: {
				color: 'pink',

				tooltip: '侧边栏'
			},

			sidebarTimeLine: true
		};
	},

	methods: {
		// projection init
		projection_init() {
			// default values
			this.$G.projection = {
				name: '项目名称',

				location: '',

				date: '',

				area: '',

				type: '',

				creator: '',

				id: this.$G.projection.id
			};

			// get projection values by projection id

			this.get_items_from_msql();

			this.set_user_info_init(); // set user info form $G

			this.set_items_calendars();
		},

		set_items_calendars() {
			var items_i = 3;
		},

		// set user info form php by user id

		set_user_info_init() {
			if (this.$G.user.id.indexOf('tuku_') > -1 && this.$G.user.name == '未注册') {
				let _this = this;

				//发送请求
				this.axios
					.post(this.$G.phpurl + 'getUserNameById.php', this.qs.stringify({ userId: this.$G.user.id }))
					.then(response => {
						console.log(response);

						if (response != '' && response.data['code'] == 'success') {
							// change type string to array

							console.log('查询用户：' + response.data['msg']);

							_this.$G.user.name = response.data['data']['name'];

							_this.$G.user.pic = response.data['data']['pic'];

							_this.user = _this.$G.user;

							_this._is_new_member_to_add(_this.$G.user.id);
						} else {
							_this.show_snackbar(response.data['msg']);
						}
					})
					.catch(function(error) {
						// 请求失败处理

						console.log(error);

						return null;
					});
			} else {
				this.user = this.$G.user;

				this._is_new_member_to_add(this.$G.user.id);
			}
		},

		_on_btn_open_close() {
			if (!this.projection_drawer) {
				this.$refs.sidebar_btn.on_menu_close();
			} else {
				this.$refs.sidebar_btn.on_menu_open();
			}
		},

		/**
		 * detect user is a new member? and add to members
		 * @param  members: [{name,picture,badge},...]
		 */
		_is_new_member_to_add(userId) {
			//传参
			var oMyForm = new FormData();

			oMyForm.append('projectionId', this.$G.projection.id);

			oMyForm.append('userId', userId);

			var _this = this;

			var url = this.$G.phpurl + 'projectionAddMember.php';

			this.axios
				.post(url, oMyForm)
				.then(response => {
					console.log(response);

					if (response != '') {
						if (response['data']['code'] == 'success') {
							console.log('查询成员：' + response['data']['msg']);

							_this.set_projection_members_values(response['data']['data']['members']); // [{name,picture},...]
						}
					}
				})
				.catch(function(error) {
					// 请求失败处理

					console.log(error);

					return null;
				});
		},

		// projection info values from php callback values
		set_projection_info_values(values) {
			this.$G.projection = values;

			// update info nodes on items

			var items_i = 0;

			this.items[items_i]['name'] = this.$G.projection.name;

			this.items[items_i]['children'][0]['name'] = '位置: ' + this.$G.projection.location;

			this.items[items_i]['children'][1]['name'] = '规模: ' + this.$G.projection.area;

			this.items[items_i]['children'][2]['name'] = '类型: ' + this.$G.projection.type;

			this.items[items_i]['children'][3]['name'] = '创建: ' + this.$G.projection.date;
		},

		/**
		 * projection members values from php callback values
		 * @param  members: [{name,picture,badge},...]
		 */
		set_projection_members_values(members) {
			var items_i = 2;

			// var members = JSON.parse(members_string);

			if (typeof members == 'object') {
				this.items[items_i]['children'] = [];

				var i = 0;

				for (var member of members) {
					member['tooltip'] = 'no_show';

					this.items[items_i]['children'].push({
						name: member['name'],

						icon: 'user',

						member: member, //{name,picture,badge}

						id: '2_' + i
					});

					i++;
				}

				this.items[items_i]['children'].push({
					name: '邀请成员',

					icon: 'adu',

					id: '2_u'
				});
			}
		},

		//update model dir by current sort, and then --> '_update_models_badges_by_dir_new_sort()' --> '_update_models_badges()'
		_update_models_dir() {
			this.update_dir = !this.update_dir; //
		},

		// update items[1]'s children and update items's badge!
		_update_models_badges_by_dir_new_sort(new_models_items, dir_type) {
			this.items[1]['children'] = new_models_items;

			this.models_dir_type = dir_type;

			this._update_models_badges();

			// save items string to msql

			this.set_items_to_msql();
		},

		// update all badge value by change the key
		_update_models_badges() {
			this.select_badge_update = !this.select_badge_update;
		},

		// set projection models' items by projection id to msql
		set_items_to_msql() {
			if (this.$G.projection.id != '') {
				var items_string = this._set_items_to_string();

				//传参
				var oMyForm = new FormData();

				oMyForm.append('projectionId', this.$G.projection.id);

				oMyForm.append('projectionItems', items_string);

				var _this = this;

				var url = this.$G.phpurl + 'setProjectionItems.php';

				this.axios
					.post(url, oMyForm)
					.then(response => {
						console.log(response);

						if (response != '') {
							if (response['data']['code'] == 'success') {
								console.log('保存目录：' + response['data']['msg']);

								// update calendar events

								this.$emit('ptimeline');
							}
						}
					})

					.catch(function(error) {
						// 请求失败处理

						console.log(error);

						return null;
					});
			}
		},

		// get projection models' items by projection id
		get_items_from_msql() {
			if (this.$G.projection.id != '') {
				//传参
				var oMyForm = new FormData();

				oMyForm.append('projectionId', this.$G.projection.id);

				var url = this.$G.phpurl + 'projectionItems.php';

				this.axios
					.post(url, oMyForm)
					.then(response => {
						console.log(response);

						if (response != '') {
							if (response['data']['code'] == 'success') {
								console.log('查询项目：' + response['data']['msg']);

								this.$emit('loadcompleted', '加载项目完成');

								this.set_projection_info_values(response['data']['data']['projection']); // projection info init

								this._set_items_from_string(response['data']['data']['items']); // {"建筑图纸":[],"结构图纸":[],"设备图纸":[],"三维模型":[]}

								this.$G.projection.cover = response['data']['data']['cover'];

								this._get_projection_description(response['data']['data']['description']);

								// this.$emit('ptimeline',response['data']['data']['timeline']);// add timeline to calendars by envents

								this.models_dir_type = response['data']['data']['dirtype'];
							}
						}
					})

					.catch(function(error) {
						// 请求失败处理

						console.log(error);

						return null;
					});
			}
		},

		/**
		 * get projection description from msql
		 * @param response_description:{build,tech,plan}
		 * @private
		 */
		_get_projection_description(response_description) {
			this.$refs.model_dir.set_projection_description(response_description);
		},

		/**
		 *
		 * @param string: // {"建筑图纸":[],"结构图纸":[],"设备图纸":[],"三维模型":[]}
		 * @returns {Array}
		 * @private
		 */
		// set items array from string
		_set_items_from_string(string) {
			if (string == '') return null;

			var items_i = 1;

			var items_json = JSON.parse(string);

			// whether is update items? by same version?

			/*var old_version = '';

                items_json.forEach((item)=>{if(item.name == '新建目录') old_version = item.version;});

                var new_version = this.items[items_i]['version'];

                // update ?
                if(typeof(old_version) == 'undefined' || old_version != new_version){

                    var _this = this;

                    _find_each(items_json, new_version);

                }

                function _find_each(items, new_version) {

                    var i = 0 ;

                    for (var item of items) {

                        // update icon

                        item['icon'] = item.id.indexOf('tuku_') > -1 ? _this._set_model_icon(item.name) : item['file'] || item['icon'];

                        // update version

                        if(item['name'] == '新建目录' && item['id'] == '1_x_d') {

                            item['version'] = new_version;

                        }

                        // delete i_x_e

                        else if (item['name'] == '修改目录' && item['id'] == '1_x_e'){

                            items.splice(i, 1); // delete

                        } else if (typeof(item['children']) != 'undefined') {

                            _find_each(item['children'], new_version);

                        }

                        i++;

                    }

                }*/

			// set model items

			this.items[items_i]['children'] = items_json;

			// set model dir when load init!!!

			this._update_models_dir();

			// show model items on calendar

			// this.$emit('projectionitems', items_json);
		},

		// set items array to string
		_set_items_to_string() {
			var items_i = 1; // 0 is projection info, 1 is projection direction

			var items = this.items[items_i]['children'];

			var items_string = JSON.stringify(items);

			return items_string;
		},

		/**
		 * update model node by item value
		 * @param item_value:{file_id, last_id, file_name, badgeValue{build, tech , plan, version ,date}
		 */
		update_item_to_items(item_value) {
			var file_icon = this._set_model_icon(item_value['file_name']);

			var update_item = {
				name: item_value['file_name'],

				icon: file_icon,

				id: item_value['file_id'],

				badge_value: {
					countTxt: '',

					topTxt: '',

					build: item_value.badgeValue['build'],

					tech: item_value.badgeValue['tech'],

					plan: item_value.badgeValue['plan'],

					version: item_value.badgeValue['version'],

					date: item_value.badgeValue['date']
				}
			};

			let _this = this;

			// update item values

			this._get_model_node_by_id_to_do(item_value['last_id'], function(items, item, i) {
				items['children'][i] = update_item; // update

				// update models dir on current sort

				_this._update_models_dir();
			});

			return null;
		},

		/**
		 * insert new item to items when new model , and save to msql
		 * @param insert_value : {file_id , file_name, badgeValue{build, tech , plan, version ,date}
		 */
		insert_item_to_items(insert_value) {
			var file_icon = this._set_model_icon(insert_value['file_name']);

			var insert_item = {
				name: insert_value['file_name'],

				icon: file_icon,

				id: insert_value['file_id'],

				badge_value: {
					countTxt: '',

					topTxt: '',

					build: insert_value.badgeValue['build'],

					tech: insert_value.badgeValue['tech'],

					plan: insert_value.badgeValue['plan'],

					version: insert_value.badgeValue['version'],

					date: insert_value.badgeValue['date']
				}
			};

			// save newest model node for auto open model !!!

			this.newest_insert_item = insert_item;

			// push to items[1] base and new sort by next

			this.items[1]['children'].push(insert_item);

			// update models dir on current sort

			this._update_models_dir();

			return null;

			/*var _this = this;

                // get current dir by current id

                // var current_dir_id = insert_value['add_id'].substr(0, insert_value['add_id'].length - 2);// '1-1-a' --> '1-1'

                var current_dir_name;

                switch (this.models_dir_type) {

                    case 'BUILD':

                        current_dir_name = insert_value['badgeValue']['build'];

                        break;

                    case "TECH":

                        current_dir_name = insert_value['badgeValue']['TECH'];

                        break;

                    case "PLAN":

                        current_dir_name = insert_value['badgeValue']['PLAN'];

                        break;

                    default:

                        current_dir_name = insert_value['badgeValue']['build'];

                }

                this._get_model_node_by_name_to_do(current_dir_name, function (items, item, i) {

                    // add item badge's count txt

                    // _this.$refs.model_badge.update_node_badge_count(item, 'add');

                    // insert to item

                    item['children'].splice(0, 0 , insert_item);//insert 1st

                    // save items string to msql

                    _this.set_items_to_msql();

                    // save select model value

                    _this.set_select_model(insert_value['file_id'], insert_value['file_name'], false);

                });*/
		},

		// auto open newest model by change active !!!
		set_select_newest_insert_item_for_auto_open_model() {
			this.active = [this.newest_insert_item];
		},

		/**
		 * update item's children count and save to msql
		 * @param node_value: {modelId, childrenCount}
		 */
		update_item_children_count(node_value) {
			var _this = this;

			this._get_model_node_by_id_to_do(node_value['modelId'], function(items, item, i) {
				_this.$refs.model_badge.update_node_badge_count(item, 'new', node_value['childrenCount']);

				// save items string to msql

				_this.set_items_to_msql();
			});
		},

		_set_model_icon(name) {
			name = name.toLowerCase();

			var fileType = name.split('.')[name.split('.').length - 1];

			if (typeof name != 'undefined') {
				if ('.dwf,.dwfx,.dwg,.dxf'.indexOf(fileType) > -1) {
					return 'dwg';
				} else if (fileType == 'skp') {
					return 'skp';
				} else if ('.3dm,.3ds,.dae,.fbx,.ifc,.nwc,.nwd,.obj,.osgb,.ply,.rfa,.rte,.rvm,.rvt,.stl'.indexOf(fileType) > -1) {
					return 'rvt';
				} else if ('.jpg, .jpeg, .gif, .bmp, .png'.indexOf(fileType) > -1) {
					return 'png';
				} else {
					return 'skp';
				}
			}

			return 'skp';
		},

		/*/!**
             * set current selected model info
             * @param id: parent id of current node
             * @param fileOriginalName: parent name of current node
             * @param childId: current model id, maybe null
             * @param childName: current model name, maybe null
             * @param is_child: is link id or child id
             * @param badge_value: badge value of current model{build, tech, plan, version, date}
             *!/
            set_select_model(linkId, fileOriginalName, childId, childName, is_child, badge_value){

                this.select_model = {

                    id: linkId,

                    name: fileOriginalName,

                    childId: childId,

                    childName: childName,

                    isChild: is_child,

                    badge_value: badge_value,

                };

            },*/

		// _select_model:{

		/**
		 * set current selected model info
		 * @param id: parent id of current node
		 * @param fileOriginalName: parent name of current node
		 * @param childId: current model id, maybe null
		 * @param childName: current model name, maybe null
		 * @param is_child: is link id or child id
		 * @param badge_value: badge value of current model{build, tech, plan, version, date}
		 */
		set_select_model(linkId, fileOriginalName, childId, childName, is_child, badge_value) {
			this.select_model = {
				id: linkId,

				name: fileOriginalName,

				childId: childId,

				childName: childName,

				isChild: is_child,

				badge_value: badge_value
			};
		},

		get_link_id() {
			return this.select_model.id;
		},

		get_link_name() {
			return this.select_model.name;
		},

		// get current select model id , if child id is true to return child id
		get_current_model_id() {
			return this.select_model['isChild'] ? this.select_model['childId'] : this.select_model['id'];
		},

		// get current select model id , if child id is true to return child id
		get_current_model_name() {
			return this.select_model['isChild'] ? this.select_model['childName'] : this.select_model['name'];
		},

		// get current select model node's badge value
		get_current_badge_value() {
			if (typeof this.select_model['badge_value'] == 'undefined') {
				return {
					build: '',

					tech: '',

					plan: '',

					version: '',

					date: null // for set today in dialog
				};
			}

			return this.select_model['badge_value'];
		},

		// get model items of proejction

		get_model_items() {
			return this.items[1]['children'];
		},

		// whether the click select is a model node?
		is_model_node(id) {
			id = id == null ? this.select.id : id; // tuku_m_QnzHEqVls4gq75VE

			return typeof id != 'undefined' && id.indexOf('tuku_m_') > -1;
		},

		// whether is same model node?
		is_same_model(select_obj, last_select_obj) {
			if (typeof last_select_obj == 'undefined' || last_select_obj == '') {
				return false;
			} else if (last_select_obj['isChild']) {
				// if last is child , rutrun false

				return false;
			} else if (select_obj.id.toString() == last_select_obj.id) {
				return true;
			}

			return false;
		},

		set_menu_active_null_by_children_click() {
			this.select['hasChild'] = true;

			this.select['isChild'] = true;

			this.active = []; // null for click again to open parent model
		},

		// },

		/*set_menu_active_null(){

                this.active = [];

            },*/

		/*// get current select model id , if child id is true to return child id
            _get_select_model_id(){

                if(this.select_model['childId'] != '' && this.select_model['childId'] != null){

                    return this.select_model['childId'];

                } else {

                    return this.select_model['id'];

                }

            },*/

		/*// get current select model name , if child name is true to return child name
            _get_select_model_name(){

                if(this.select_model['childName'] != '' && this.select_model['childName'] != null){

                    return this.select_model['childName'];

                } else {

                    return this.select_model['name'];

                }

            },*/

		/*// get current select model's link name , is select_model['name']
            _get_select_model_link_name(){

                return this.select_model['name'];

            },

            // get current select model's link id , is select_model['id']
            _get_select_model_link_id(){

                return this.select_model['id'];

            },*/

		/**
		 * get add id when click
		 * @returns {*}
		 */
		/*get_current_select_node_id(){

                return this.select.id;

            },*/

		go_to_login() {
			if (this.user.name == '' || this.user.name == '未注册') {
				this.$router.push({ path: '/login' });
			}
		},

		set_mini() {
			this.projection_drawer = !this.projection_drawer;
		},

		/*upload_file(){

                console.log('upload file');

                this.$emit('upload');//调用父组件方法

            },*/

		/*goon_upload_file(){

                console.log('go on upload file');

                this.$emit('goonupload');//调用父组件方法

            },*/

		// down file by model id
		down_model() {
			console.log('down file');

			if (this.is_model_node(this.get_current_model_id())) {
				if (typeof this.$G.projection.creator != 'undefined' && this.$G.projection.creator != '' && this.$G.user.id.indexOf('tuku_') > -1) {
					// && this.$G.user.id == this.$G.projection.creator_id) {

					var _this = this;

					var down_txt = this.select_model['isChild']
						? '下载当前图纸的版本 ' + _this.get_current_badge_value()['topTxt'] + ' ？'
						: '下载当前图纸 ' + _this.get_current_model_name() + ' ？';

					_this.$refs.text_dialog.show_dialog(
						{
							type: 'down',

							headline: '下载',

							text: down_txt
						},
						function(d_value) {
							if (d_value) {
								_this.$emit('downmodel', _this.get_current_model_id());
							}
						}
					);
				} else {
					this.show_snackbar('没有权限下载图纸');
				}
			} else {
				this.show_snackbar('请先选择图纸');
			}
		},

		// new insert dir when click 新建目录
		new_dir() {
			var _this = this;

			var dir_name_array = this._get_model_dir_name_array();

			// var new_dir = window.prompt('新建目录名称：');
			this.$refs.text_dialog.show_dialog(
				{
					type: 'input_dir_name',

					headline: '输入',

					input: { label: '新建目录名称*', value: '', filter: dir_name_array } // filter is to same with input value?
				},
				function(dialog_value) {
					if (dialog_value) {
						var new_dir_name = dialog_value.input.value;

						_this._add_new_dir_by_name(new_dir_name);

						_this.set_items_to_msql(); // save new dir
					}
				}
			);
		},

		// add new dir by dir name
		_add_new_dir_by_name(new_dir_name) {
			if (new_dir_name != '' && new_dir_name != null) {
				var insert_id = -1; // 修建目录

				var new_index = 0;

				var children_len = this.items[1]['children'].length;

				if (children_len == 1) {
					new_index = 0;
				} else if (children_len > 1) {
					var lastest_id = this.items[1]['children'][children_len - 2]['id'];

					new_index = parseInt(lastest_id.split('_')[1]) + 1;
				}

				// insert new dir to last -1
				this.items[1]['children'].splice(insert_id, 0, {
					name: new_dir_name,

					children: [],

					id: '1_' + new_index + ''
				});

				return this.items[1]['children'][this.items[1]['children'].length - 2]; // last - 1
			}
		},

		/**
		 * edit dir by delete or rename
		 * @param edit_mode:delete or rename
		 */
		edit_dir(edit_mode) {
			var is_delete = edit_mode == 'delete' ? true : false;

			// get children names of '项目图纸'

			var dir_name_index_array = this._get_model_dir_name_index_array();

			var dir_name_array = this._get_model_dir_name_array();

			var items = this.items[1];

			var _this = this;

			this.$refs.text_dialog.show_dialog(
				{
					type: is_delete ? 'dir_select' : 'dir_select_do_next',

					headline: is_delete ? '删除' : '修改',

					input: { label: '目录新名称*', value: '', filter: dir_name_array }, // filter is to same with input value?

					select: { label: '选择目录*', items: dir_name_index_array, value: null, multiple: false }
				},
				function(dialog_value) {
					if (dialog_value) {
						var sel_index = dialog_value.select.value['value'];

						// rename

						if (!is_delete) {
							items['children'][sel_index]['name'] = dialog_value.input.value;

							_this.set_items_to_msql(); // save dir
						}

						// delete
						else {
							// to prompt to delete?
							// not include 'add file' , count - 1

							var sel_item = items['children'][sel_index];

							var sel_children_count = sel_item['children'].length - 1;

							var sel_dir_name = sel_item['name'];

							_this.$refs.text_dialog.show_dialog(
								{
									type: 'txt',

									headline: '删除',

									text: '删除目录 ' + sel_dir_name + ' 和目录下的 ' + sel_children_count + ' 个图纸(集)？'
								},
								function(d_value) {
									if (d_value) {
										if (_this._is_can_delete()) {
											items['children'].splice(sel_index, 1); // delete

											_this.set_items_to_msql(); // save dir to projection msql

											_this._delete_models_by_dir(sel_item); // delete on model msql
										}
									}
								}
							);
						}
					}
				}
			);
		},

		/**
		 * update file date version to model by id
		 * @param dir_item:{name , id , children}
		 */
		_delete_models_by_dir(dir_item) {
			var dir_model_ids = [];

			dir_item['children'].forEach(_item => {
				if (_item.id.indexOf('tuku_m_') > -1) dir_model_ids.push(_item.id);
			});

			//传参
			var oMyForm = new FormData();

			oMyForm.append('modelIds', dir_model_ids.join(','));

			var url = this.$G.phpurl + 'modelDeleteDir.php';

			this.axios
				.post(url, oMyForm)
				.then(response => {
					console.log(response);

					if (response != '') {
						if (response['data']['code'] == 'success') {
							console.log('删除目录：' + response['data']['msg']);

							this.show_snackbar(response['data']['msg']);
						}
					}
				})
				.catch(function(error) {
					// 请求失败处理

					console.error(error);

					return null;
				});
		},

		// only delete by projection creator

		_is_can_delete() {
			if (this.$G.user.id == this.$G.projection.creator_id) {
				return true;
			} else {
				this.show_snackbar('只有项目创建者有权删除');

				return false;
			}
		},

		/**
		 * return dir names array of 项目图纸
		 * @returns [{name:item name,value:index}]
		 */
		_get_model_dir_name_index_array() {
			var dir_array = [];

			var items = this.items[1];

			var i = 0;

			var count = items['children'].length;

			items['children'].forEach(_item => {
				// if(i < count - 1){
				if (_item.id != '1_x_d') {
					dir_array.push({ name: _item.name, value: i });
				}

				i++;
			});

			return dir_array;
		},

		/**
		 * return dir names array of 项目图纸
		 * @returns [name]
		 */
		_get_model_dir_name_array() {
			var dir_array = [];

			var items = this.items[1];

			var i = 0;

			var count = items['children'].length;

			items['children'].forEach(_item => {
				// if(i < count - 1){
				if (_item.id != '1_x_d') {
					dir_array.push(_item.name);
				}

				i++;
			});

			return dir_array;
		},

		show_bottomBar() {
			// 'mdi-book-open-page-variant';

			this.deleteIcon = 'mdi-delete';

			this.showNav = true;
		},

		hide_bottomBar() {
			this.showNav = false;
		},

		/*// whether is click select model node?
            is_select_model_node(id){

                id = id == null ? this.select.id : id;// tuku_m_QnzHEqVls4gq75VE

                return (typeof(id) != 'undefined' && id.indexOf('tuku_m_') > -1);

            },*/

		show_timeline() {
			if (this.is_model_node()) {
				this.$emit('timeline');
			} else {
				this.show_snackbar('请先选择图纸');
			}
		},

		// update items by projection id
		update_items() {
			this.$router.go(0);
		},

		// go on to load file file to current select model
		goon_upload() {
			if (this.is_model_node()) {
				var _this = this;

				// this.$refs.text_dialog.show_dialog('确认','继续上传当前图纸的新版本？', null, {type:'text_goon_upload',value:null});

				this.$refs.text_dialog.show_dialog(
					{
						type: 'text_goon_upload',

						headline: '确认',

						text: '继续上传当前图纸 ' + _this.get_link_name() + ' 的新版本？'
					},
					function(dailog_value) {
						if (dailog_value) {
							_this.show_upload_or_rename_file_dialog('GOON UPLOAD');
						}
					}
				);
			} else {
				this.show_snackbar('请先选择图纸');
			}
		},

		/*// change layout when click button
            change_layout(){

                this.layout.is_max = !this.layout.is_max;

                // is phone to set margin for show title of user
                var is_sm = !this.$vuetify.breakpoint.lgAndUp;

                if(!this.layout.is_max){

                    this.layout.icon = 'mdi-launch';// 'mdi-select-inverse';

                    this.layout.span = '布局';

                } else {

                    this.layout.icon = 'mdi-view-stream' + (!is_sm ? ' mdi-rotate-90' : '');

                    this.layout.span = '布局';

                }

                this.$emit('changelayout' , this.layout.is_max);

            },

            set_layout_by_is_max(is_max){

                this.layout.is_max = !is_max;

                this.change_layout();

            },*/

		/**
		 * show upload file or rename file dialog ,and next to do by mode
		 * @param mode: "RENAME" , "UPLOAD", ""
		 */
		show_upload_or_rename_file_dialog(mode) {
			let _this = this;

			let badge_value = _this.get_current_badge_value();

			let label = mode == 'UPLOAD' || mode == 'GOON UPLOAD' ? '选择文件*' : mode == 'UPDATE CHILD' ? '替换文件' : '修改图纸名称';

			let name = mode == 'UPDATE LINK' ? _this.get_link_name() : '';

			let build_readonly = mode == 'GOON UPLOAD' || mode == 'UPDATE CHILD' ? true : false;

			let date = mode == 'UPLOAD' || mode == 'GOON UPLOAD' ? null : badge_value['date'];

			_this.$refs.text_dialog.show_dialog(
				{
					type: 'file',

					headline: mode == 'UPLOAD' ? '上传' : mode == 'GOON UPLOAD' ? '上传新版本' : '修改',

					// btn: {txt: '修改目录', value: false},// !!!

					file: { label: label, value: null, name: name },

					select_build: { label: '楼号*', items: [], value: badge_value['build'], multiple: false, disabled: build_readonly },

					select_tech: { label: '专业*', items: [], value: badge_value['tech'], multiple: false },

					select_plan: { label: '进度*', items: [], value: badge_value['plan'], multiple: false },

					file_input: { label: '版本说明', value: badge_value['version'], filter: [] },

					date: date
				},
				function(dialog_value) {
					if (dialog_value) {
						if (dialog_value.btn.value) {
							_this.edit_dir('rename'); // is click edit dir button!
						} else {
							let upload_model = '';

							let linkId = '';

							let childId = '';

							let is_child = false;

							switch (mode) {
								case 'UPLOAD':
									upload_model = 'UPLOAD MODEL';

									linkId = '';

									childId = '';

									is_child = false;

									break;

								case 'UPDATE LINK': // rename parent model node
									upload_model = 'UPDATE MODEL';

									linkId = _this.get_link_id();

									childId = '';

									is_child = false;

									/*let new_name = dialog_value.file.name;

                                    let new_badge_value = {

                                        build: dialog_value['select_build']['value'],

                                        tech: dialog_value['select_tech']['value'],

                                        plan: dialog_value['select_plan']['value'],

                                        version: dialog_value['file_input']['value'],

                                        date: dialog_value['date'],

                                    };

                                    if(new_name != "" && new_name != null) {

                                        _this._rename_model_to_items(_this.get_link_id(), new_name, new_badge_value);

                                        _this._rename_model_to_msql(_this.get_link_id(), new_name, new_badge_value);

                                    }*/

									break;

								case 'GOON UPLOAD':
									upload_model = 'UPLOAD CHILDREN MODEL';

									linkId = _this.get_link_id();

									childId = '';

									is_child = true;

									break;

								case 'UPDATE CHILD':
									upload_model = 'UPDATE CHILDREN MODEL';

									linkId = _this.get_link_id();

									childId = _this.get_current_model_id();

									is_child = true;

									/*var selected_modelId = dialog_selected['value']['id'];

                                    _this.upload_file({

                                            file: d_value['file']['value'],

                                            linkValues: {linkId: '', time: d_value['date'], version: d_value['input']['value'], modelId: selected_modelId}},// input file and linkValues{id,time,version}

                                        'UPDATE CHILDREN MODEL'// upload model mode

                                    );*/

									break;

								default:
							}

							// to do upload file

							_this.$emit(
								'upload',
								{
									file: dialog_value.file.value,

									linkValues: {
										linkId: linkId, // linkId: !!! null---> php ---> "null"

										childId: childId,

										isChild: is_child,

										fileName: dialog_value.file.name, // is not file.value's name! is file input name

										build: dialog_value.select_build.value,

										tech: dialog_value.select_tech.value,

										plan: dialog_value.select_plan.value,

										version: dialog_value.file_input.value,

										time: dialog_value.date
									}
								},

								upload_model
							);
						}
					}
				}
			);
		},

		/**
		 * when click to rename model's file name
		 * @param childrenModels:{name, id, date} of children models from children timeline
		 */
		rename_model() {
			if (this.is_model_node()) {
				var _this = this;

				if (typeof _this.$G.projection.creator != 'undefined' && _this.$G.projection.creator != '' && _this.$G.user.id.indexOf('tuku_') > -1) {
					// is parent model or a children model
					if (this.select['hasChild']) {
						this.show_upload_or_rename_file_dialog('UPDATE CHILD');

						/*this.$emit('getchildrenmodels' , function(childrenModels){// childrenModels:{name,value:{id,date}}

                                _this.$refs.text_dialog.show_dialog({

                                    type: 'edit_select',

                                    headline: '修改',

                                    text: '修改当前图纸集 ' + _this.get_link_name() + ' 或不同版本图纸？',

                                    //btn: {txt: '修改目录', value: false},// !!!

                                    select: {

                                        label: '选择不同版本图纸*',

                                        items: [{

                                            name: _this.get_link_name(),

                                            value: {id: _this.get_link_id(), date: ''}

                                        }].concat(childrenModels),


                                        multiple: false

                                    },

                                }, function(dialog_value) {

                                        if (dialog_value.btn.value) {

                                            _this.edit_dir('rename');// is click edit dir button!

                                        } else {

                                            if (dialog_value.select.value != null) {

                                                var dialog_selected = dialog_value.select.value;// is single item

                                                // is parent model?

                                                if (dialog_selected['name'] == _this.get_link_name()) {

                                                    /!*_this.$refs.text_dialog.show_dialog({

                                                        type: 'input',

                                                        headline: '修改',

                                                        input: {label: '修改图纸名称*', value: _this.get_link_name()},

                                                    }, function (dialog_value) {

                                                        var new_name = dialog_value.input.value;

                                                        if (new_name != "" && new_name != null) {

                                                            _this._rename_model_to_items(_this.get_link_id(), new_name);

                                                            _this._rename_model_to_msql(_this.get_link_id(), new_name);

                                                        }

                                                    });*!/

                                                    _this.show_upload_or_rename_file_dialog('UPDATE LINK');

                                                } else { // id children model

                                                    // _this.$emit('updatechildrenmodel', dialog_selected);

                                                    _this.show_upload_or_rename_file_dialog('UPDATE CHILD');

                                                }

                                            }
                                        }

                                    }

                                );

                            });*/
					}

					// is a single model(link model not has child)
					else {
						this.show_upload_or_rename_file_dialog('UPDATE LINK');
					}
				} else {
					this.show_snackbar('没有权限修改图纸');
				}
			} else {
				this.show_snackbar('请先选择图纸');
			}
		},

		// when click to delete model's file
		delete_model() {
			if (this.is_model_node()) {
				var _this = this;

				if (typeof this.$G.projection.creator != 'undefined' && this.$G.projection.creator != '' && this.$G.user.name == this.$G.projection.creator) {
					// delete model only by creator!!!

					var delete_txt = this.select_model['isChild']
						? '删除当前图纸的版本 ' + _this.get_current_badge_value()['topTxt'] + ' ？'
						: typeof _this.get_current_badge_value()['countTxt'] != 'undefined' &&
						  _this.get_current_badge_value()['countTxt'] != '0' &&
						  _this.get_current_badge_value()['countTxt'] != ''
						? '删除当前图纸 ' + _this.get_link_name() + ' 以及不同版本 ' + _this.get_current_badge_value()['countTxt'] + ' 个？'
						: '删除当前图纸 ' + _this.get_link_name() + ' ？';

					_this.$refs.text_dialog.show_dialog(
						{
							type: 'delete',

							headline: '删除',

							text: delete_txt

							// btn: {txt: '删除目录', value: false},
						},
						function(dialog_value) {
							if (dialog_value) {
								if (!_this.select_model['isChild']) {
									_this._delete_model_to_items(_this.get_link_id());

									_this._delete_model_to_msql(_this.get_link_id());
								}

								// delete children model by selected?
								else {
									_this._delete_children_model_to_timeline_and_msql(_this.get_link_id(), _this.get_current_model_id());
								}
							}
						}
					);

					/*if(this.select['hasChild']){

                            this.$emit('getchildrenmodels' , function(childrenModels){

                                _this.$refs.text_dialog.show_dialog({

                                    type: 'delete_select',

                                    headline:'删除',

                                    text: '删除当前图纸集 ' + _this.get_link_name() + ' 或不同版本图纸？',

                                    // btn: {txt: '删除目录', value: false},

                                    select: {

                                        label: '选择不同版本图纸*',

                                        items: [{

                                            name: _this.get_link_name(),

                                            value: {id: _this.get_link_id(), date: ''}

                                        }].concat(childrenModels),

                                        value: {},

                                        multiple: true

                                    },

                                }, function(dialog_value){

                                    if (dialog_value.btn.value) {

                                        _this.edit_dir('delete');// is click edit dir button to delete dir!

                                    } else if(_this._is_can_delete()){// only projeciton creator can delete!

                                        var dialog_selected = dialog_value.select.value;

                                        // delete parent model by selcted?

                                        var is_parent_model = false;

                                        var children_models_ids = [];

                                        dialog_selected.forEach((item) => {

                                            if(item.name == _this.select.name){

                                                is_parent_model = true;

                                            }else {

                                                children_models_ids.push(item.value['id']);

                                            }

                                        });

                                        if (is_parent_model) {

                                            _this._delete_model_to_items(_this.get_link_id());

                                            _this._delete_model_to_msql(_this.get_link_id());

                                        }

                                        // delete children model by selected?
                                        else {

                                            _this._delete_children_model_to_timeline_and_msql(_this.get_link_id(), children_models_ids);

                                        }
                                    }

                                    });

                                });

                    } else {

                        // this.$refs.text_dialog.show_dialog('删除', '删除当前图纸？', null, {type: 'delete', value: null});

                        _this.$refs.text_dialog.show_dialog({

                            type: 'delete',

                            headline:'删除',

                            text: '删除当前图纸 ' + _this.get_current_model_id() + ' ？',

                            // btn: {txt: '删除目录', value: false},

                        }, function(dialog_value){

                            if (dialog_value.btn.value) {

                                _this.edit_dir('delete');// is click edit dir button to delete dir!

                            } else {

                                _this._delete_model_to_items(_this.get_link_id());

                                _this._delete_model_to_msql(_this.get_link_id());

                            }

                        });

                    }*/
				} else {
					_this.show_snackbar('没有权限删除图纸');
				}
			} else {
				_this.show_snackbar('请先选择图纸');
			}
		},

		/**
		 * rename model on items by file id
		 * @param new_name
		 * @param new_badge_value:{build, tech, plan, version}
		 * @private
		 */
		_rename_model_to_items(id, new_name, new_badge_value) {
			var _this = this;

			this._get_model_node_by_id_to_do(id, function(items, item, i) {
				item['name'] = new_name;

				item['badge_value']['build'] = new_badge_value['build'];

				item['badge_value']['tech'] = new_badge_value['tech'];

				item['badge_value']['plan'] = new_badge_value['plan'];

				item['badge_value']['version'] = new_badge_value['version'];

				item['badge_value']['date'] = new_badge_value['date'];

				_this._update_models_dir();

				_this.select_model['name'] = new_name;
			});
		},

		/**
		 * delete model on items by model id
		 * @param id
		 * @private
		 */
		_delete_model_to_items(id) {
			var _this = this;

			this._get_model_node_by_id_to_do(id, function(items, item, i) {
				items['children'].splice(i, 1);

				// _this.$refs.model_badge.update_node_badge_count(items, 'delete');
			});
		},

		/**
		 * delete children model to children timeline by ids and update msql
		 * @private
		 */
		_delete_children_model_to_timeline_and_msql(linkId, id) {
			this.$emit('deletechildrenmodels', linkId, [id]);
		},

		// set select badge id by picked model or children model id
		// and set select model{linkId,linkName,childId,childName}
		set_select_model_and_badge_value(id) {
			console.log('设置标记：当前选择图纸设置标记成功');

			// whether has link(parent) model

			//传参
			var oMyForm = new FormData();

			oMyForm.append('modelId', id);

			var _this = this;

			var url = this.$G.phpurl + 'modelGetLink.php';

			this.axios
				.post(url, oMyForm)
				.then(response => {
					console.log(response);

					if (response != '') {
						console.log('设置主图纸：' + response['data']['msg']);

						if (response['data']['code'] == 'success') {
							var data = response['data']['data'];

							var is_child = data['isChild'];

							if (is_child) {
								// is child id

								_this.select_badge_txt = '';

								_this.select_badge = response['data']['data']['linkId']; // select_badge_id

								// this.select_badge_txt = response['data']['data']['badgeTxt'];

								_this.$emit('setselectchildid', id);

								// set select id to children model id

								_this.set_menu_active_null_by_children_click();
							} else {
								// is parent id

								_this.$emit('setselectchildid', null);

								_this.select_badge_txt = '✓';

								_this.select_badge = id;
							}

							// update model node's count text

							_this._get_model_node_by_id_to_do(_this.select_badge, function(items, item, i) {
								// item['badge_value']['countTxt'] = data['countTxt'] + '';

								item['badge_value']['countTxt'] = data['badge_value']['countTxt'] + '';

								// set current select model node

								_this.set_select_model(data['linkId'], data['linkName'], data['childId'], data['childName'], data['isChild'], data['badge_value']);

								/*// update current select badge value!!!

                                _this.select['badge_value'] = item['badge_value'];*/
							});
						}
					}
				})
				.catch(function(error) {
					// 请求失败处理

					console.error(error);

					return null;
				});
		},

		/**
		 * find node by id and then to do something
		 * @param id
		 * @param do_function
		 * @private
		 */
		_get_model_node_by_id_to_do(id, do_function_find, do_function_not_find) {
			var items_i = 1; // 0 is projection info, 1 is projection direction

			var items = this.items[items_i];

			var _this = this;

			if (!_find_each(items, id)) {
				// if not find

				if (typeof do_function_not_find == 'function') {
					do_function_not_find();
				}
			}

			function _find_each(items, id) {
				var _is_fined = false;

				var i = 0;

				for (var item of items['children']) {
					if (item['id'] == id) {
						_is_fined = true;

						do_function_find(items, item, i);
					} else if (typeof item['children'] != 'undefined') {
						_is_fined = _find_each(item, id);
					}

					i++;
				}

				return _is_fined;
			}
		},

		/**
		 * find node by name and then to do something
		 * @param name
		 * @param do_function
		 * @private
		 */
		_get_model_node_by_name_to_do(name, do_function) {
			var items_i = 1; // 0 is projection info, 1 is projection direction

			var items = this.items[items_i];

			var _this = this;

			if (!_find_each(items, name)) {
				// if not find , to create new dir by name
				var new_item = _this._add_new_dir_by_name(name);

				do_function(items, new_item, -1);
			}

			function _find_each(items, name) {
				var _is_fined = false;

				var i = 0;

				for (var item of items['children']) {
					if (item['name'] == name) {
						_is_fined = true;

						do_function(items, item, i);

						return _is_fined;
					} else if (typeof item['children'] != 'undefined') {
						_is_fined = _find_each(item, name);
					}

					i++;
				}

				return _is_fined;
			}
		},

		/**
		 * rename model's name by file id to msql
		 * @param modelId
		 * @param fileNewName
		 * @param badge_value
		 */
		_rename_model_to_msql(modelId, fileNewName, badge_value) {
			//传参
			var oMyForm = new FormData();

			oMyForm.append('modelId', modelId);

			oMyForm.append('fileName', fileNewName);

			oMyForm.append('fileName', fileNewName);

			oMyForm.append('modelBuild', badge_value['build']);

			oMyForm.append('modelTech', badge_value['tech']);

			oMyForm.append('modelPlan', badge_value['plan']);

			oMyForm.append('modelVersion', badge_value['version']);

			var url = this.$G.phpurl + 'modelRename.php';

			this.axios
				.post(url, oMyForm)
				.then(response => {
					console.log(response);

					if (response != '') {
						console.log(response['data']['msg']);

						if (response['data']['code'] == 'success') {
							// rename items string on projection msql

							this.set_items_to_msql();
						}
					}
				})

				.catch(function(error) {
					// 请求失败处理

					console.error(error);

					return null;
				});
		},

		/**
		 * delete model's file by file id to msql
		 * @param fileId
		 */
		_delete_model_to_msql(modelId) {
			//传参
			var oMyForm = new FormData();

			oMyForm.append('modelId', modelId);

			var url = this.$G.phpurl + 'modelDelete.php';

			this.axios
				.post(url, oMyForm)
				.then(response => {
					console.log(response);

					if (response != '') {
						console.log('删除图纸：' + response['data']['msg']);

						if (response['data']['code'] == 'success') {
							// update items string on projection msql

							this.set_items_to_msql();

							this.$emit('hidechildrentimeline');

							this.$emit('clearcanvas');
						}

						this.show_snackbar(response['data']['msg']);
					}
				})

				.catch(function(error) {
					// 请求失败处理

					console.log(error);

					return null;
				});
		},

		show_snackbar(msg) {
			this.$emit('showsbar', msg);
		},

		// show current model's children timeline
		show_children_timeline() {
			let _this = this;

			this.$emit('togglechildrentimeline', function(show_or_hide) {
				_this.sidebarTimeLine = show_or_hide;
			});

			// this.$G.children_timeline_show = !this.$G.children_timeline_show;
		},

		/**
		 * open model when click button from calendar dialog
		 * @param event_value
		 */
		open_model_from_calendar_event(event_value) {
			let is_child = event_value['linkId'] != '';

			let m_id = is_child ? event_value['linkId'] : event_value['modelId'];

			let _this = this;

			let _find = false;

			this._get_model_node_by_id_to_do(
				m_id,
				function(items, item, i) {
					_find = true;

					_this.active = [item];

					if (is_child) {
						_this.show_snackbar(event_value['name'] + '是当前图纸的一个不同版本');
					}

					/*_this.set_select_model(item['id'], item['name'], null, null, false, item['badge_value']);// saved select model id

                    // this.show_bottomBar();

                    // is link model

                    if(!is_child){

                        _this.$emit('openmodel', {

                            id: item['id'],

                            name: item['name'],

                            childId: '',

                            childName: '',

                            suffix: item['icon'],

                            mode: 'is_open_model_from_menu',

                            isChild: false

                        });//调用父组件方法

                    }

                    // is child model

                    else {

                        _this.$emit('openmodel', {

                            id: '',

                            name: '',

                            childId: event_value['modelId'],

                            childName: event_value['name'],

                            suffix: event_value['suffix'],

                            mode: 'is_open_model_from_children',

                            isChild: true

                        });

                    }

                    _this.select = {

                        id: item['id'],// model id

                        name: item['name'], // model original name

                    };*/
				},
				function() {
					_this.show_snackbar('打开图纸失败，文件目录不存在');
				}
			);
		}
	}
};
</script>
