<template>
	<v-row id="timeline_calendar" class="justify-end align-end" style="height:auto;padding:0;margin: -10px 0 0 0;">
		<v-col cols="12" style="padding:0 ;"><GSTC v-show="show_gstc" :config="config" @state="onState" /></v-col>
		<v-col cols="8" sm="4" class="row justify-end" style="height: 28px;padding: 0px;position: fixed;bottom: 16px;right: 24px;">
			<v-slider v-show="false" v-model="calendar_zoom" style="margin:0 10% 0 0;" min="150" max="245" height="56" thumb-label width="20%">
				<template v-slot:thumb-label="{ value }">
					{{ satisfactionEmojis[Math.min(Math.floor(((value - 150) / (245 - 150)) * 10), 9)] }}
				</template>
			</v-slider>
			<v-btn color="#aaa" dark outlined small style="background-color: #fff;" @click.stop="set_list_toggle">
				<v-icon>{{ toggle ? 'mdi-format-indent-decrease' : 'mdi-format-indent-increase' }}</v-icon>
			</v-btn>
			<v-btn color="#aaa" dark outlined small style="background-color: #fff;" @click.stop="set_zoom_in"><v-icon>mdi-magnify-minus-outline</v-icon></v-btn>
			<v-btn color="#aaa" dark outlined small style="background-color: #fff;" @click.stop="set_zoom_out"><v-icon>mdi-magnify-plus-outline</v-icon></v-btn>
			<v-btn color="#aaa" dark outlined small style="background-color: #fff;" @click.stop="set_all_range"><v-icon>mdi-magnify-scan</v-icon></v-btn>
			<!--<v-btn
                    color="#aaa"
                    dark
                    outlined
                    small
                    style="background-color: #fff;"
                    @click.stop="set_today"
            >
                今天
            </v-btn>-->
		</v-col>
		<v-col>
			<calendarEventDialog
				ref="calendar_event_dialog"
				:selectedEvent="selectedEvent"
				:imgUrl="imgUrl"
				:eventCreatorName="eventCreatorName"
				@editevent="edit_event"
				@deleteevent="delete_event"
			></calendarEventDialog>
		</v-col>
	</v-row>
</template>
<style>
.gantt-schedule-timeline-calendar__list-column-header-content {
	margin: 20px 0 0 0 !important;
}
.gantt-schedule-timeline-calendar__list-column {
	margin: 0 0 0 -12px !important;
}
.gantt-schedule-timeline-calendar__list-column-row-expander-toggle-child {
	display: none !important;
}
.gantt-schedule-timeline-calendar__list-column-row-expander-toggle img {
	width: 10px !important;
	height: 10px !important;
}
.gantt-schedule-timeline-calendar__list-column-row-content,
.gantt-schedule-timeline-calendar__list-column-header-resizer-container {
	text-align: left !important;
}
.gantt-schedule-timeline-calendar__list-column-row {
	--expander-padding-width: 24px !important;
}
.gantt-schedule-timeline-calendar__chart-timeline-items-row-item {
	font-size: 12px !important;
}
.gantt-schedule-timeline-calendar__chart-timeline-items-row-item-label {
	text-align: left !important;
}
.gantt-schedule-timeline-calendar__chart-timeline-items-row-item .gantt-schedule-timeline-calendar__chart-timeline-items-row-item--selec {
	height: 16px;
}
.gantt-schedule-timeline-calendar__chart-timeline-items-row-item-label {
	height: 16px;
	margin: -3px 0 0 6px;
}
.gantt-schedule-timeline-calendar__chart-timeline-items-row-item--selected {
	-webkit-box-shadow: 0px 0px 2px 2px #eee;
	box-shadow: 0px 0px 2px 2px #eee;
}
.gantt-schedule-timeline-calendar__chart-timeline-grid-row-block--selected {
	background: rgba(187, 187, 187, 0.5) !important;
}
.gantt-schedule-timeline-calendar__chart-timeline-grid-row-block--selecting {
	background: rgba(187, 187, 187, 0.5) !important;
}
/*.gantt-schedule-timeline-calendar__chart-calendar{
        cursor:auto;
        pointer-events: none;
    }*/
.gantt-schedule-timeline-calendar__horizontal-scroll {
	z-index: 299;
}
.gantt-schedule-timeline-calendar__chart-calendar-date--level-1.gstc-current {
	background: #1e88e5;
	color: #fff;
}
/*.gstc{
        width: 100% !important;
        height:100%!important;
    }
    .gantt-schedule-timeline-calendar__chart-calendar, .gantt-schedule-timeline-calendar__list-column-header{
        border-bottom: solid 1px #aaa;
        border-right: solid 0px #aaa;
    }
    .gantt-schedule-timeline-calendar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        color: #606060;
        font-size: 14px;
        background-color: transparent;
        line-height: 1.2;
    }
    .gantt-schedule-timeline-calendar * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .gantt-schedule-timeline-calendar__helper-center {
        text-align: center;
    }
    .gantt-schedule-timeline-calendar__helper-dark {
        background: #F7F7F7;
    }
    .gantt-schedule-timeline-calendar__list-column-header-resizer--active {
        cursor: ew-resize;
    }
    .gantt-schedule-timeline-calendar__list-column-header-resizer--active * {
        -webkit-user-select: none; !* Safari 3.1+ *!
        -moz-user-select: none; !* Firefox 2+ *!
        -ms-user-select: none; !* IE 10+ *!
        user-select: none; !* Standard syntax *!
    }
    .gantt-schedule-timeline-calendar__vertical-scroll {
        overflow: hidden;
        overflow-y: visible;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        position: absolute;
        right: 0px;
    }
    .gantt-schedule-timeline-calendar__vertical-scroll > * {
        will-change: scroll-position;
    }
    .gantt-schedule-timeline-calendar__horizontal-scroll {
        overflow: hidden;
        overflow-x: scroll;
    }
    .gantt-schedule-timeline-calendar__horizontal-scroll > * {
        will-change: scroll-position;
    }
    .gantt-schedule-timeline-calendar__list {
        border-collapse: collapse;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: 20;
        pointer-events: none;
    }
    .gantt-schedule-timeline-calendar__list > * {
        -ms-touch-action: none;
        touch-action: none;
    }
    .gantt-schedule-timeline-calendar__list-toggle {
        position: fixed;
        left: var(--compensation-x);
        top: var(--compensation-y);
        overflow: hidden;
        cursor: pointer;
        padding: 14px;
        background: #fff;
        -webkit-transition: -webkit-box-shadow 250ms;
        transition: -webkit-box-shadow 250ms;
        transition: box-shadow 250ms;
        transition: box-shadow 250ms, -webkit-box-shadow 250ms;
        -webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0);
        box-shadow: 0px 0px 0px rgba(0,0,0,0);
        border-bottom-right-radius: 4px;
    }
    .gantt-schedule-timeline-calendar__list-toggle:hover {
        -webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.15);
        box-shadow: 0px 0px 6px rgba(0,0,0,0.15);
    }
    .gantt-schedule-timeline-calendar__list-toggle img {
        opacity: 0.5;
    }
    .gantt-schedule-timeline-calendar__list-column-row-expander {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: var(--height);
        width: calc(var(--expander-padding-width) + var(--expander-size));
        -ms-flex-negative: 0;
        flex-shrink: 0;
        will-change: opacity;
    }
    .gantt-schedule-timeline-calendar__list-column-row-expander-toggle {
        padding-left: var(--expander-padding-width);
        display: block;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        height: var(--height);
        width: calc(var(--expander-size) + var(--expander-padding-width));
        overflow: hidden;
        text-align: center;
        margin: 0 auto;
        will-change: opacity;
    }
    .gantt-schedule-timeline-calendar__list-column-row-expander-toggle img {
        width: 10px;
        height: 10px;
        will-change: contents;
    }
    .gantt-schedule-timeline-calendar__list-column-row-expander-toggle-child {
        cursor: default;
        display: none;
    }
    .gantt-schedule-timeline-calendar__list-column-row-expander-toggle-open {
        cursor: pointer;
    }
    .gantt-schedule-timeline-calendar__list-column-row-expander-toggle-closed {
        cursor: pointer;
    }
    .gantt-schedule-timeline-calendar__list-column {
        width: var(--width);
        position: relative;
        margin-left: -20px;
    }
    .gantt-schedule-timeline-calendar__list-column-rows {
        height: var(--height);
        width: var(--width);
        overflow: hidden;
        pointer-events: auto;
    }
    .gantt-schedule-timeline-calendar__list-column-rows--scroll-compensation {
        height: var(--height);
        width: var(--width);
        overflow: hidden;
        will-change: transform;
    }
    .gantt-schedule-timeline-calendar__list-column-row,
    .gantt-schedule-timeline-calendar__list-column-header {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: var(--height);
        line-height: var(--height);
        vertical-align: middle;
        font-size: 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-weight: 300;
    }
    .gantt-schedule-timeline-calendar__list-column-row * {
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        line-height: var(--height);
    }
    .gantt-schedule-timeline-calendar__list-column-row {
        border-bottom: 0px solid rgba(187, 191, 192, 0.75);
        border-right: 0px solid rgba(187, 191, 192, 0.75);
        width: var(--width);
        will-change: height;
    }
    .gantt-schedule-timeline-calendar__list-column-row-content {
        width: calc(var(--width) - var(--expander-padding-width) - var(--expander-size));
        height: var(--height);
        overflow: hidden;
        padding-left: 6px;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        text-align: left;
    }
    .gantt-schedule-timeline-calendar__list-column-header {
        background: transparent;
        font-weight: 500;
        color: #707070;
        height: var(--height);
        width: var(--width);
        line-height: var(--height);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        visibility: hidden;
    }
    .gantt-schedule-timeline-calendar__list-column-header-content {
        vertical-align: middle;
        line-height: calc(var(--height) - 2px);
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 26px;
    }
    .gantt-schedule-timeline-calendar__list-column-header-resizer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        background: transparent;
        vertical-align: middle;
        height: var(--height);
    }
    .gantt-schedule-timeline-calendar__list-column-header-resizer-container,
    .gantt-schedule-timeline-calendar__list-column-header-resizer-dots {
        display: block;
    }
    .gantt-schedule-timeline-calendar__list-column-header-resizer-container {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        padding-left: 6px;
        margin-top: -2px;
    }
    .gantt-schedule-timeline-calendar__list-column-header-resizer-line {
        position: absolute;
        top: 0;
        width: 0px;
        height: 100%;
        border-right: 2px dashed #000;
        display: var(--display);
        left: var(--left);
        z-index: 1000;
    }
    .gantt-schedule-timeline-calendar__list-column-header-resizer-dots {
        cursor: ew-resize;
        background: transparent;
        padding-top: 12px;
        padding-left: 6px;
        padding-right: 2px;
    }
    .gantt-schedule-timeline-calendar__list-column-header-resizer-dots-dot {
        background: #e0eff2;
        width: 3px;
        height: 3px;
        border-radius: 100%;
        margin-bottom: 6px;
        -webkit-box-shadow: inset 1px 1px 0px rgba(0,0,0,0.05);
        box-shadow: inset 1px 1px 0px rgba(0,0,0,0.05);
    }
    .gantt-schedule-timeline-calendar__chart {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-negative: 1;
        flex-shrink: 1;
        overflow: hidden;
        position: absolute;
        width: 100%;
    }
    .gantt-schedule-timeline-calendar__chart-calendar {
        background: transparent;
        margin-right: -17px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .gantt-schedule-timeline-calendar__chart-calendar-dates {
        overflow: hidden;
        color: #3c3c3c;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background: #fff;
    }
    .gantt-schedule-timeline-calendar__chart-calendar-dates--level-1 {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
    .gantt-schedule-timeline-calendar__chart-calendar-date {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        border: none;
        white-space: nowrap;
        border-right: 1px solid rgba(0,0,0,0.2);
        overflow: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .gantt-schedule-timeline-calendar__chart-calendar-date--month {
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .gantt-schedule-timeline-calendar__chart-calendar-date--day,
    .gantt-schedule-timeline-calendar__chart-calendar-date--week {
        text-align: center;
    }
    .gantt-schedule-timeline-calendar__chart-calendar-date--level-0 .gantt-schedule-timeline-calendar__chart-calendar-date-content {
        margin-left: 4px;
    }
    .gantt-schedule-timeline-calendar__chart-calendar-date--level-1.gstc-current {
        -webkit-box-shadow: inset 0px 0px 4px rgba(177,184,189,0.45);
        box-shadow: inset 0px 0px 4px rgba(177,184,189,0.45);
        background:#FAF5E3;
    }
    .gantt-schedule-timeline-calendar__chart-calendar-date--level-1 .gantt-schedule-timeline-calendar__chart-calendar-date-content {
        margin: auto;
    }
    .gantt-schedule-timeline-calendar__chart-calendar-date-content {
        white-space: nowrap;
    }
    .gantt-schedule-timeline-calendar__chart-calendar-date-content .gstc-dash {
        line-height: 15px;
    }
    .gantt-schedule-timeline-calendar__chart-calendar-date-content.gstc-date-bold {
        font-weight: 500;
    }
    .gantt-schedule-timeline-calendar__chart-calendar-date-content.gstc-date-thin {
        font-weight: 300;
    }
    .gantt-schedule-timeline-calendar__chart-calendar-date-content.gstc-date-normal {
        font-weight: 400 !important;
    }
    .gantt-schedule-timeline-calendar__chart-calendar-date-content.gstc-date-bottom {
        margin-top: 4px;
    }
    .gantt-schedule-timeline-calendar__chart-calendar-date-content.gstc-date-left {
        text-align: left;
    }
    .gantt-schedule-timeline-calendar__chart-calendar-date-content.gstc-date-center {
        text-align: center;
    }
    .gantt-schedule-timeline-calendar__chart-calendar-date-content.gstc-date-vertical {
        font-size: 14px;
    }
    .gantt-schedule-timeline-calendar__chart-calendar-date-content.gstc-date-vertical .gstc-date-top {
        margin-top: 2px;
    }
    .gstc-date-top{
        font-weight: 500;
    }
    .gantt-schedule-timeline-calendar__chart-calendar-date-content.gstc-date-small {
        font-size: 13px;
        font-weight: 300;
        line-height: 1em;
    }
    .gantt-schedule-timeline-calendar__chart-calendar-date-content.gstc-date-extra-small {
        font-size: 9px;
    }
    .gantt-schedule-timeline-calendar__chart-calendar-date-content.gstc-date-medium {
        font-size: 16px;
    }
    .gantt-schedule-timeline-calendar__chart-calendar-date-content.gstc-date-month-level-1 {
        font-size: 16px;
        line-height: 1.6em;
        text-align: center;
    }
    .gantt-schedule-timeline-calendar__chart-calendar-date-content.gstc-date-big {
        text-align: center;
        font-size: 23px;
        height: var(--calendar-height);
        line-height: var(--calendar-height);
    }
    .gantt-schedule-timeline-calendar__chart-calendar-date-content--hour {
        text-align: center;
    }
    .gantt-schedule-timeline-calendar__chart-calendar-date-content--day,
    .gantt-schedule-timeline-calendar__chart-calendar-date-content--week {
        font-size: 18px;
        line-height: 1.7em;
        overflow: visible;
    }
    .gantt-schedule-timeline-calendar__chart-calendar-date-content--day.gstc-date-week-small,
    .gantt-schedule-timeline-calendar__chart-calendar-date-content--week.gstc-date-week-small {
        line-height: 1.2em;
        height: calc(var(--calendar-height) - 20px);
        font-size: 14px;
    }
    .gantt-schedule-timeline-calendar__chart-calendar-date-content--day.current,
    .gantt-schedule-timeline-calendar__chart-calendar-date-content--week.current {
        border-right: none;
    }
    .gantt-schedule-timeline-calendar__chart-calendar-date-content--day.previous,
    .gantt-schedule-timeline-calendar__chart-calendar-date-content--week.previous {
        border-right: none;
    }
    .gantt-schedule-timeline-calendar__chart-timeline {
        overflow: hidden;
        position: relative;
    }
    .gantt-schedule-timeline-calendar__chart-timeline-inner {
        will-change: transform;
        overflow: hidden;
    }
    .gantt-schedule-timeline-calendar__chart-timeline-grid {
        overflow: hidden;
    }
    .gantt-schedule-timeline-calendar__chart-timeline-grid * {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .gantt-schedule-timeline-calendar__chart-timeline-grid-row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        text-align: center;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        pointer-events: all;
        will-change: height;
    }
    .gantt-schedule-timeline-calendar__chart-timeline-grid-row-block {
        pointer-events: all;
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        margin: auto 0;
        vertical-align: middle;
        overflow: hidden;
        border-right: 1px solid rgba(0,0,0,0.05);
        border-bottom: 1px solid rgba(0,0,0,0.2);
        -ms-touch-action: none;
        touch-action: none;
    }
    .gantt-schedule-timeline-calendar__chart-timeline-grid-row-block--selecting {
        background: rgba(0,119,192,0.5) !important;
    }
    .gantt-schedule-timeline-calendar__chart-timeline-grid-row-block--selecting:last-child {
        border-right: 1px solid #f00;
    }
    .gantt-schedule-timeline-calendar__chart-timeline-grid-row-block--selected {
        background: rgba(0,119,192,0.75) !important;
    }
    .gantt-schedule-timeline-calendar__chart-timeline-grid-row-block.current {
        background: rgba(241,196,15,0.1);
    }
    .gantt-schedule-timeline-calendar__chart-timeline-grid-row-block--weekend {
        background: #f0f0f0;
    }
    .gantt-schedule-timeline-calendar__chart-timeline-dependency-lines-lines,
    .gantt-schedule-timeline-calendar__chart-timeline-dependency-lines-handles {
        position: absolute;
        left: 0;
        top: 0;
        pointer-events: none;
        width: var(--width);
        height: var(--height);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .gantt-schedule-timeline-calendar__chart-timeline-dependency-lines-handle {
        position: absolute;
        border-radius: 100%;
        pointer-events: all;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 2px dashed #e74c36;
    }
    .gantt-schedule-timeline-calendar__chart-timeline-dependency-lines-handle--connector {
        position: absolute;
        border-radius: 100%;
        pointer-events: all;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 2px dashed #e74c36;
    }
    .gantt-schedule-timeline-calendar__chart-timeline-items {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        pointer-events: none !important;
        overflow: hidden;
        -ms-touch-action: none;
        touch-action: none;
    }
    .gantt-schedule-timeline-calendar__chart-timeline-items * {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .gantt-schedule-timeline-calendar__chart-timeline-items-row {
        overflow: hidden;
        pointer-events: none !important;
        will-change: opacity, height;
        -ms-touch-action: none;
        touch-action: none;
    }
    .gantt-schedule-timeline-calendar__chart-timeline-items-row-item {
        -ms-touch-action: none;
        touch-action: none;
        overflow: hidden;
        position: absolute;
        pointer-events: auto;
        padding: 4px 4px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background: #e74c3c;
        border-radius: 18px;
        color: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: calc(var(--row-height) - 8px);
        margin-top: 4px;
        line-height: calc(var(--row-height) - 18px);
        will-change: contents;
    }
    .gantt-schedule-timeline-calendar__chart-timeline-items-row-item-cut {
        width: 10px;
        height: 100%;
        float: left;
        margin-top: -4px;
    }
    .gantt-schedule-timeline-calendar__chart-timeline-items-row-item-cut svg {
        vertical-align: middle;
    }
    .gantt-schedule-timeline-calendar__chart-timeline-items-row-item-label {
        -ms-touch-action: none;
        touch-action: none;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-left: 4px;
        text-align: left;
    }
    .gantt-schedule-timeline-calendar__chart-timeline-items-row-item-resizer {
        -ms-touch-action: none;
        touch-action: none;
        width: 8px;
        background: rgba(255,255,255,0.1);
        cursor: ew-resize;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        will-change: visibility;
    }
    .gantt-schedule-timeline-calendar__chart-timeline-items-row-item--selecting {
        -webkit-box-shadow: 0px 0px 2px 2px rgba(0,119,192,0.5);
        box-shadow: 0px 0px 2px 2px rgba(0,119,192,0.5);
    }
    .gantt-schedule-timeline-calendar__chart-timeline-items-row-item--selected {
        -webkit-box-shadow: 0px 0px 2px 2px #0077c0;
        box-shadow: 0px 0px 2px 2px #0077c0;
    }
    .gantt-schedule-timeline-calendar__chart-timeline-items-row-item--moving {
        -ms-touch-action: none;
        touch-action: none;
        opacity: 0.5;
    }
    .gantt-schedule-timeline-calendar__chart-timeline-items-row-item-dependency-line {
        position: absolute;
    }
    .gantt-schedule-timeline-calendar__chart-timeline-items-row-item-dependency-handle {
        position: absolute;
        border-radius: 100%;
        background: #e74c3c;
        -webkit-box-shadow: 0px 4px 4px rgba(199,44,28,0.678);
        box-shadow: 0px 4px 4px rgba(199,44,28,0.678);
    }
!*    .gantt-schedule-timeline-calendar__chart-calendar-dates--level-0{
        position:absolute;
        top:76px;
        background:transparent!important;
    }*!
    .gantt-schedule-timeline-calendar__chart-timeline-items-row-item .gantt-schedule-timeline-calendar__chart-timeline-items-row-item--selec{
        height:16px;
    }
    .gantt-schedule-timeline-calendar__chart-timeline-items-row-item-label{
        height:16px;
        margin:-3px 0 0 6px;
    }*/
</style>

<script>
import GSTC from 'vue-gantt-schedule-timeline-calendar';

import CalendarScroll from 'gantt-schedule-timeline-calendar/dist/CalendarScroll.plugin.js';

import ItemMovement from 'gantt-schedule-timeline-calendar/dist/ItemMovement.plugin.js';

import Selection from 'gantt-schedule-timeline-calendar/dist/Selection.plugin.js';

import WeekendHighlight from 'gantt-schedule-timeline-calendar/dist/WeekendHighlight.plugin.js';

import calendarEventDialog from './calendarEventDialog.vue';

let subs = [];

export default {
	props: ['model_items', 'time_range'],

	components: {
		GSTC,

		calendarEventDialog
	},

	watch: {
		calendar_zoom() {
			this.set_calendar_zoom();
		}
	},

	created() {
		this.$emit('loadstart');
	},

	mounted() {
		/*let _this = this;

            /!*setTimeout(() => {
                const item1 = this.config.chart.items["1"];
                item1.label = "label changed dynamically";
                item1.time.end += 2 * 24 * 60 * 60 * 1000;
            }, 2000);*!/

            // set range of chart

            window.setTimeout(_onLoad, 0);

            function _onLoad() {

                // show calendar

                _this.show_gstc = true;

                /!*!// set selection of calendar

                _this.state.update('config.plugins.Selection',);*!/

                // set event items

                _this.show_model_items_from_sidebar_menu(_this.model_items);

                // set time range of calendar

                _this.set_all_range();

            }*/

		this.state.update('config.actions.chart-timeline-items-row-item', actions => {
			const _this = this;

			actions.push(
				class ClickRowItem {
					constructor(element, data) {
						element.addEventListener('click', this.onClick);

						element.addEventListener('touchstart', this.onClick);
					}
					onClick() {
						// alert(`Item ${_this.data.item.id} clicked!`);

						const _item = this.vido.item;

						_this.selectedEvent = {
							title: _item.type + (_item.label == '上传' ? '成功' : _item.label),

							backgroundColor: _item.background,

							extendedProps: {
								type: '应用',

								location: ''
							},

							start: _item.time.start,

							end: ''
						};

						_this.eventCreatorName = _item['creator'];

						_this.imgUrl = _item['creator_imgUrl'];

						setTimeout(() => {
							_this.$refs.calendar_event_dialog.show_dialog();

							window.state.data.config.plugin.selection.selected['chart-timeline-items-row-items'] = []; // set default
						}, 10);
					}

					destroy(element) {
						element.removeEventListener('click', this.onClick);

						element.removeEventListener('touchstart', this.onClick);
					}
				}
			);

			return actions;
		});

		this.state.update('config.actions.chart-timeline-grid-row-block', actions => {
			const _this = this;

			actions.push(
				class ClickRowBlock {
					constructor(element, data) {
						element.addEventListener('click', this.onClick);

						element.addEventListener('touchstart', this.onClick);
					}

					onClick() {
						const _from = this.vido.time['leftGlobal'];

						const _to = this.vido.time['rightGlobal'];

						_this.state.update('config.chart.time.calculatedZoomMode', true);

						_this.state.update('config.chart.time.from', _from);

						_this.state.update('config.chart.time.to', _to);
					}

					destroy(element) {
						element.removeEventListener('click', this.onClick);

						element.removeEventListener('touchstart', this.onClick);
					}
				}
			);

			return actions;
		});
	},

	beforeDestroy() {
		subs.forEach(unsub => unsub());
	},

	data() {
		return {
			show_gstc: false,

			expanded: false,

			toggle: true,

			zoom_all: 10, // save for zoom all

			calendar_scroll: 0.1 / 230, // xxx

			calendar_zoom: 220, // xxx

			selectedEvent: {},

			selectedOpen: false,

			imgUrl: this.$G.imageurl + 'icon/user.svg',

			eventCreatorName: '',

			config: {
				height: 495,

				headerHeight: 64,

				plugins: [
					CalendarScroll({
						speed: 0.1,
						hideScroll: false
						//onChange(time) {
						//console.log(time);
					}),
					ItemMovement({
						moveable: true,
						resizeable: true,
						collisionDetection: true
					}),
					Selection({
						items: false,
						rows: false,
						grid: true,
						rectStyle: { opacity: '0.0' },
						canSelect(type, currentlySelecting) {
							if (type === 'chart-timeline-grid-row-block') {
								// check if there is any item that lives inside current cell
								return currentlySelecting.filter(selected => {
									if (!selected.row.canSelect) return false;
									for (const item of selected.row._internal.items) {
										if (
											(item.time.start >= selected.time.leftGlobal && item.time.start <= selected.time.rightGlobal) ||
											(item.time.end >= selected.time.leftGlobal && item.time.end <= selected.time.rightGlobal) ||
											(item.time.start <= selected.time.leftGlobal && item.time.end >= selected.time.rightGlobal)
										) {
											return false;
										}
									}
									return false;
								});
							}
							return currentlySelecting;
						},
						getApi(api) {
							// selectionApi = api;
						},
						canDeselect(type, currently, all) {
							if (type === 'chart-timeline-grid-row-blocks') {
								// if we are selecting we can clear previous selection by returning [] else if
								// we are not selecting but something is already selected let it be selected - currently
								return all.selecting['chart-timeline-grid-row-blocks'].length ? [] : currently;
							}
							return [];
						},
						selecting(data, type) {
							//console.log(`selecting ${type}`, data);
						},
						deselecting(data, type) {
							//console.log(`deselecting ${type}`, data);
						},
						selected(data, type) {
							//console.log(`selected ${type}`, data);
						},
						deselected(data, type) {
							//console.log(`deselected ${type}`, data);
						}
					}),

					WeekendHighlight()
				],
				list: {
					rows: {
						'0': {
							id: '0',
							label: '项目进度'
						}
					},
					columns: {
						data: {
							'label-column-or-whatever': {
								id: 'label-column-or-whatever',
								data: 'label',
								width: this.$vuetify.breakpoint.lgAndUp ? 250 : 110,
								expander: true,
								header: {
									content: '项目图纸'
								}
							}
						}
					},
					toggle: {
						display: false
					},
					expander: {
						padding: 24,
						size: 12,
						icons: {
							open:
								'<?xml version="1.0" encoding="iso-8859-1"?>\n' +
								'<!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->\n' +
								'<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 386.257 386.257" style="enable-background:new 0 0 386.257 386.257;" xml:space="preserve" width="512px" height="512px">\n' +
								'<polygon points="0,96.879 193.129,289.379 386.257,96.879 " fill="#555555"/>\n' +
								'<g>\n' +
								'</g>\n' +
								'<g>\n' +
								'</g>\n' +
								'<g>\n' +
								'</g>\n' +
								'<g>\n' +
								'</g>\n' +
								'<g>\n' +
								'</g>\n' +
								'<g>\n' +
								'</g>\n' +
								'<g>\n' +
								'</g>\n' +
								'<g>\n' +
								'</g>\n' +
								'<g>\n' +
								'</g>\n' +
								'<g>\n' +
								'</g>\n' +
								'<g>\n' +
								'</g>\n' +
								'<g>\n' +
								'</g>\n' +
								'<g>\n' +
								'</g>\n' +
								'<g>\n' +
								'</g>\n' +
								'<g>\n' +
								'</g>\n' +
								'</svg>\n',
							closed:
								'<?xml version="1.0"?>\n' +
								'<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 386.257 386.257" style="enable-background:new 0 0 386.257 386.257;" xml:space="preserve" width="512px" height="512px"><g transform="matrix(-1.83697e-16 -1 1 -1.83697e-16 0 386.257)"><polygon points="0,96.879 193.129,289.379 386.257,96.879 " data-original="#000000" class="active-path" data-old_color="#000000" fill="#555555"/></g> </svg>\n'
						}
					},
					rowHeight: 40
				},
				chart: {
					time: {
						from: new Date().getTime() - 5 * 24 * 60 * 60 * 1000,
						to: new Date().getTime() + 30 * 24 * 60 * 60 * 1000,
						zoom: 21,
						period: 'day',
						calculatedZoomMode: 'true'
					},
					/*grid: {
                            block: {
                                onCreate: []
                            }
                        },*/
					/*spacing: 1,*/
					items: {
						/*"1": {
                               id: "1",
                               rowId: "1",
                               label: "Item 1",
                               moveable: true, // MOVEABLE
                               resizeable: true, // RESIZEABLE
                               time: {
                                   start: new Date().getTime(),
                                   end: new Date().getTime() + 24 * 60 * 60 * 1000
                               }
                           }*/
					}
				},
				locale: {
					name: 'zh-cn',
					weekdays: ['周日', '周一', '周二', '周三', '周四', '周五', '周六'],
					weekdaysShort: ['日', '一', '二', '三', '四', '五', '六'],
					weekdaysMin: ['日', '一', '二', '三', '四', '五', '六'],
					months: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
					monthsShort: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
					//weekStart:1,
					/*relativeTime: {
                            future: 'in %s',
                            past: '%s ago',
                            s: 'a few seconds',
                            m: 'a minute',
                            mm: '%d minutes',
                            h: 'an hour',
                            hh: '%d hours',
                            d: 'a day',
                            dd: '%d days',
                            M: 'a month',
                            MM: '%d months',
                            y: 'a year',
                            yy: '%d years'
                        },
                        formats: {
                            LT: 'HH:mm',
                            LTS: 'HH:mm:ss',
                            L: 'DD/MM/YYYY',
                            LL: 'D MMMM YYYY',
                            LLL: 'D MMMM YYYY HH:mm',
                            LLLL: 'dddd, D MMMM YYYY HH:mm'
                        },*/
				},
				classNames: {},
				actions: {
					//'chart-timeline-items-row-item': [ItemClickAction]
				}
			},

			satisfactionEmojis: ['分', '时', '时', '天', '天', '天', '天', '周', '周', '周']
		};
	},
	methods: {
		onState(state) {
			this.state = state;

			window.state = this.state;

			/*subs.push(

                    state.subscribe("config.chart.items.1", item => {

                        console.log("item 1 changed", item);

                    })

                );*/
		},

		// show gstc calendar

		show_calendar() {
			this.show_gstc = true;

			// set event items

			this.show_model_items_from_sidebar_menu(this.model_items);

			// set time range of calendar

			this.set_all_range('init');
		},

		// close gstc calendar

		close_calendar() {
			this.show_gstc = false;
		},

		/**
		 * show model items on this calendar
		 * @param items
		 */
		show_model_items_from_sidebar_menu(items) {
			let _rows = {};

			let _index = 1;

			let _p_index = 0;

			if (typeof items == 'object') {
				items.forEach(item => {
					if (item.id != '1_x_a') {
						// 上传文件

						if (typeof item['children'] != 'undefined') {
							this.config.list.rows[_index + ''] = {
								id: _index + '',

								label: item.name,

								canSelect: false,

								style: {
									current: { background: '#AAA', color: 'white', 'font-weight': 'bold' },

									children: { background: '#D3D3D3' },

									grid: {
										block: {
											current: { background: '#AAA', color: 'white', 'font-weight': 'bold' },

											children: { background: '#D3D3D3' }
										}
									}
								}
							};

							subs.push(
								this.state.subscribe('config.chart.items.' + _index, item => {
									console.log('item ' + _index + ' changed', item);
								})
							);

							_p_index = _index;

							_index++;

							item['children'].forEach(_item => {
								if (_item.id != '1_x_a') {
									// 上传文件

									this.config.list.rows[_index + ''] = {
										id: _index + '',

										parentId: _p_index + '',

										label: _item.name
									};

									let rowId = _index + '';

									let _this = this;

									this._set_row_chart_items(_item.id, function(timelineObject) {
										let i = 0;

										let _is_success = false;

										if (typeof timelineObject != 'undefined') {
											timelineObject.forEach(timeObj => {
												let _is_open = timeObj['title'].indexOf('打开') > -1;

												let _is_upload = timeObj['title'].indexOf('成功') > -1 && !_is_success;

												if (!_is_success && _is_upload) {
													_is_success = true;
												}

												let _is_down = timeObj['title'].indexOf('下载') > -1;

												let _is_failure = timeObj['title'].indexOf('失败') > -1;

												if (_is_open || _is_upload || _is_failure || _is_down) {
													let start_time = new Date(timeObj['content']).getTime();

													// let _start_time = _this._formatTime(start_time);

													_this.config.chart.items[rowId + '_' + i] = {
														id: rowId + '_' + i,

														label: _is_open || _is_down ? '' : _is_success ? '上传' : '失败',

														rowId: rowId,

														moveable: false,

														resizeable: false,

														type: _is_open ? '打开' : _is_down ? '下载' : _is_success || _is_failure ? '上传' : '',

														background: _is_open ? '#0091EA' : _is_down ? 'green' : _is_failure ? 'red' : '#FB8C00',

														creator: typeof timeObj['creator'] != 'undefined' ? timeObj['creator'] : '',

														creator_imgUrl: typeof timeObj['creator_imgUrl'] != 'undefined' ? timeObj['creator_imgUrl'] : _this.imgUrl,

														time: {
															start: start_time,

															end: start_time + _is_open || _is_down ? 1 * 5 * 1000 : 2 * 60 * 60 * 1000
														},

														style: {
															height: '12px',

															width: _is_open || _is_down ? '12px' : 'auto',

															background: _is_open ? '#0091EA' : _is_down ? 'green' : _is_failure ? 'red' : '#FB8C00',

															borderRadius: '6px',

															margin: _is_open ? '14px 0 0 0' : _is_down ? '27px 0 0 0' : '0',

															fontSize: '12px',

															lineHeight: '12px',

															border: _is_open || _is_down ? '1px solid #fff' : 'none',

															cursor: 'pointer'
														}
													};

													i++;
												}
											});
										}

										_this.state.update('config.chart.items', _this.config.chart.items);

										_this.$emit('loadcompleted', '');
									});

									_index++;
								}
							});
						} else {
							/*this.config.list.rows[_index + ''] = {

                                    id : _index + '',

                                    label: item.name,

                                };

                                _index ++;

                                this._set_row_chart_items(item.id, _index + '');*/
						}
					}
				});
			} else {
				this.config.chart.items['1'] = {
					id: '1',

					rowId: '0',

					label: 'Item 1',

					moveable: true, // MOVEABLE

					resizeable: true, // RESIZEABLE

					time: {
						start: new Date().getTime(),

						end: new Date().getTime() + 24 * 60 * 60 * 1000
					}
				};

				this.state.update('config.chart.items', this.config.chart.items);

				this.$emit('loadcompleted', '');
			}

			[0, 1, 2, 3, 4, 5].forEach(() => {
				this.config.list.rows[_index + ''] = {
					id: _index + '',

					label: ''
				};

				_index++;
			});

			// this.config.list.rows = _rows;
			this.state.update('config.list.rows', this.config.list.rows);

			// expand

			this.expand_all_rows(true);
		},

		_set_row_chart_items(modelId, callback) {
			if (modelId != '') {
				//传参
				let oMyForm = new FormData();

				oMyForm.append('modelId', modelId);

				let _this = this;

				let url = this.$G.phpurl + 'modelTimelineLoad.php';

				this.axios
					.post(url, oMyForm)
					.then(response => {
						console.log(response);

						if (response != '') {
							if (response['data']['code'] == 'success') {
								console.log('图纸时间线：' + response['data']['msg']);

								// let timelineObject = JSON.parse(response['data']['data']['timeline']);
								let timelineObject = response['data']['data']['timeline'];

								// show time line

								callback(timelineObject);
							}
						}
					})
					.catch(function(error) {
						// 请求失败处理

						console.log(error);

						return null;
					});
			}
		},

		// set calendar zoom by slider value
		set_calendar_zoom() {
			window.state.data.config.chart.time.calculatedZoomMode = false;

			let zoom = this.calendar_zoom;

			this.state.update('config.chart.time.zoom', zoom / 10);

			this.state.update('config.plugins.CalendarScroll.speed', this.calendar_scroll * zoom);
		},

		_formatTime(inputTime) {
			let date = new Date(inputTime);

			/*let y = date.getFullYear();

                let m = date.getMonth() + 1;

                m = m < 10 ? ('0' + m) : m;

                let d = date.getDate();

                d = d < 10 ? ('0' + d) : d;*/

			let h = date.getHours();

			h = h < 10 ? '0' + h : h;

			let minute = date.getMinutes();

			let second = date.getSeconds();

			minute = minute < 10 ? '0' + minute : minute;

			second = second < 10 ? '0' + second : second;

			// return y + '-' + m + '-' + d+' '+h+':'+minute+':'+second;
			return h + ':' + minute + ':' + second;
		},

		on_click(event) {
			console.log('click' + event);
		},

		on_mouse_down() {
			return null;

			let select_items = window.state.data.config.plugin.selection.selected['chart-timeline-items-row-items'];

			if (select_items.length == 1) {
				let select_item_id = select_items[0];

				let _item = window.state.data.config.chart.items[select_item_id];

				if (_item) {
					this.selectedEvent = {
						title: _item.type + _item.label,

						backgroundColor: _item.background,

						extendedProps: {
							type: '应用',

							location: ''
						},

						start: _item.time.start,

						end: ''
					};

					this.eventCreatorName = _item['creator'];

					this.imgUrl = _item['creator_imgUrl'];

					setTimeout(() => {
						this.$refs.calendar_event_dialog.show_dialog();

						window.state.data.config.plugin.selection.selected['chart-timeline-items-row-items'] = []; // set default
					}, 10);
				}
			}
		},

		on_mouse_up() {
			return null;

			window.setTimeout(_get_selects, 100);

			window.setTimeout(_clear_selects, 1000);

			function _get_selects() {
				let select_blocks = window.state.data.config.plugin.selection.selected['chart-timeline-grid-row-blocks'];

				if (select_blocks.length > 0) {
					let _from = -1;

					let _to = -1;

					let _add = 0;

					switch (window.state.data.config.chart.time.period) {
						case 'hour':
							_add = 1 * 60 * 60 * 1000;
							break;
						case 'day':
							_add = 24 * 60 * 60 * 1000;
							break;
						case 'week':
							_add = 7 * 24 * 60 * 60 * 1000;
							break;
						case 'month':
							_add = 30 * 24 * 60 * 60 * 1000;
							break;
						case 'year':
							_add = 365 * 24 * 60 * 60 * 1000;
							break;
						default:
							_add = 24 * 60 * 60 * 1000;
					}

					window.state.data.config.chart.time.calculatedZoomMode = true;

					select_blocks.forEach(_sel_block_id => {
						let block_start = new Date(_sel_block_id.substring(_sel_block_id.indexOf(':'))).getTime();

						let block_end = block_start + _add;

						_from = _from < 0 || block_start < _from ? block_start : _from;

						_to = _to < 0 || block_end > _to ? block_end : _to;
					});

					window.state.update('config.chart.time.from', _from);

					window.state.update('config.chart.time.to', _to);
				}
			}

			function _clear_selects() {
				window.state.data.config.plugin.selection.selected['chart-timeline-grid-row-blocks'] = [];
			}
		},

		set_all_range(mode) {
			if (typeof this.time_range != 'undefined') {
				this.state.update('config.chart.time.calculatedZoomMode', false);

				this.config.chart.time.from = new Date(this.time_range['from']).getTime() - 1 * 24 * 60 * 60 * 1000;

				this.config.chart.time.to = new Date(this.time_range['to']).getTime() + 1 * 24 * 60 * 60 * 1000;

				this.state.update('config.chart.time.from', this.config.chart.time.from);

				this.state.update('config.chart.time.to', this.config.chart.time.to);

				this.state.update('config.chart.time.period', 'day');

				this.state.update('config.chart.time.calculatedZoomMode', true);

				if (mode == 'init') {
					let _this = this;

					window.setTimeout(() => {
						_this.zoom_all = _this.config.chart.time.zoom;
					}, 500);
				} else {
					this.state.update('config.chart.time.zoom', this.zoom_all);
				}
			}
		},

		set_today() {
			window.gstc.api.scrollToTime(gstc.api.time.date().valueOf());

			//this.state.update('config.chart.time.centerGlobal', new Date().getTime());

			/*this.state.update('config.chart.time.calculatedZoomMode', false);

                this.state.update('config.chart.time.zoom', 21);

                this.state.update('config.chart.time.from',new Date().getTime() - 3 * 24 * 60 * 60 * 1000);

                this.state.update('config.chart.time.to',new Date().getTime() + 4 * 24 * 60 * 60 * 1000);

                this.state.update('config.chart.time.period', 'day');*/

			// this.state.update('config.chart.time.centerGlobal', new Date().getTime());
		},

		set_list_toggle() {
			this.state.update('config.list.columns.percent', percent => {
				this.toggle = percent === 0;

				return percent === 0 ? 100 : 0;
			});
		},

		set_zoom_in() {
			this.state.update('config.chart.time.calculatedZoomMode', false);

			let zoom = this.state.data.config.chart.time.zoom + 0.5;

			this.state.update(`config.chart.time.zoom`, zoom);
		},

		set_zoom_out() {
			this.state.update('config.chart.time.calculatedZoomMode', false);

			let zoom = this.state.data.config.chart.time.zoom - 0.5;

			this.state.update(`config.chart.time.zoom`, zoom);
		},

		expand_all_rows(expanded) {
			this.expanded = expanded != null ? expanded : !this.expanded;

			let _this = this;

			this.state.update(
				`config.list.rows`,
				rows => {
					for (const rowId in rows) {
						rows[rowId].expanded = _this.expanded;
					}
					return rows;
				},
				{ only: ['*.expanded'] }
			);
		},

		edit_event() {},

		delete_event() {}
	}
};

// Add item click event

/*class ItemClickAction {
        constructor(element, data) {
            this.data = data;
            /!*this.onClick = this.onClick.bind(this);
            element.addEventListener('click', this.onClick);*!/

            //const bg = (this.bg = element.querySelector('.gantt-schedule-timeline-calendar__chart-timeline-items-row-item'));
            element.onclick = ev => {
                ev.stopPropagation();
                alert('dolar clicked!');
            };

        }

        update(element, data) {
            this.data = data;
        }

        destroy(element, data) {
            // element.removeEventListener('click', this.onClick);
            // if (this.bg) this.bg.remove();
        }

        /!*onClick(event) {
            alert(`Item ${this.data.item.id} clicked!`);
        }*!/
    }*/
</script>
