<template>
	<v-row v-show="calendars" style="padding:0;">
		<v-col
			cols="12"
			class="d-flex flex-row-reverse"
			style=" padding: 8px 20px 8px 32px;
                        margin: 0;
                        top: 48px;
                        right: 0px;
                        z-index: 2;
                        position:absolute;"
		>
			<v-row justify="space-between">
				<v-btn v-model="show_models_timeline" color="#aaa" dark outlined small @click="set_pre_month"><v-icon>mdi-chevron-down mdi-rotate-90</v-icon></v-btn>
				<v-btn v-model="show_models_timeline" color="#aaa" dark outlined small @click="set_next_month"><v-icon>mdi-chevron-down mdi-rotate-270</v-icon></v-btn>
				<v-btn v-model="show_models_timeline" color="#aaa" dark outlined small @click="set_today">今天</v-btn>
				<v-spacer></v-spacer>
				<v-btn v-model="show_models_timeline" color="orange darken-2" dark outlined small @click="show_projection_timeline">项目时间线</v-btn>
			</v-row>
		</v-col>
		<v-col cols="12" style="height:calc(100vh - 104px);padding:0px 20px 0px 11px;">
			<FullCalendar
				id="full_calendar"
				ref="full_calendar"
				defaultView="dayGridMonth"
				:plugins="calendarPlugins"
				:weekends="true"
				:first-day="1"
				height="parent"
				:handleWindowResize="false"
				:showNonCurrentDates="true"
				:weekNumbers="true"
				:header="{ left: '', center: 'title', right: '' }"
				:button-text="{ today: '今天' }"
				:editable="true"
				:droppable="true"
				:eventDurationEditable="true"
				:titleFormat="{
					month: '2-digit',
					year: 'numeric'
				}"
				:eventTimeFormat="{
					// like '14:30:00'
					hour: '2-digit',
					minute: '2-digit',
					second: '2-digit',
					hour12: false
				}"
				:views="{
					timeGridFourDay: {
						type: 'timeGrid',
						duration: { days: 30 },
						buttonText: '周',
						scrollTime: '06:00'
					},
					dayGridMonth: {
						buttonText: '月',
						eventLimit: 10,
						eventLimitText: '更多',
						eventLimitClick: 'popover'
					},
					move: {
						type: 'timeGrid',
						duration: { years: 1 },
						buttonText: '移动'
					}
				}"
				defaultTimedEventDuration="00:00"
				timeZone="local"
				:slotLabelFormat="{
					hour: '2-digit',
					minute: '2-digit',
					hour12: false
				}"
				:businessHours="{
					// days of week. an array of zero-based day of week integers (0=Sunday)
					daysOfWeek: [1, 2, 3, 4, 5], // Monday - Thursday
					startTime: '08:00', // a start time (10am in this example)
					endTime: '18:00' // an end time (6pm in this example)
				}"
				slotDuration="00:30"
				minTime="00:00"
				maxTime="24:00"
				scrollTime="08:00"
				:events="events"
				:eventRender="
					function(info) {
						if (info.event.extendedProps.is_loading) {
							info.el.firstChild.firstChild.className += ' loading bullet';
							info.el.firstChild.firstChild.innerText = '';
						}
					}
				"
				:columnHeaderFormat="{ weekday: 'short', month: '2-digit', day: '2-digit', omitCommas: true }"
				:columnHeaderText="columnHeaderText"
				:eventAllow="eventAllow"
				@eventClick="show_event"
				@eventDrop="eventDropStop"
				@eventReceive="eventDropNew"
				@eventResize="eventResizeStop"
			/>
		</v-col>
		<v-col
			cols="12"
			class="d-flex flex-row-reverse"
			style="  padding: 8px 4px 8px 0px;
                        margin: 0px;
                        bottom: 0px;
                        right: 0px;
                        position: fixed;
                        background-color: #fff;"
		>
			<v-speed-dial v-model="add_event_btn" id="event_btns" ref="event_btns" direction="left" transition="scale-transition">
				<template v-slot:activator>
					<v-tooltip top>
						<template v-slot:activator="{ on: tooltip }">
							<v-btn v-model="add_event_btn" :color="add_event_btn ? 'black' : 'orange darken-2'" dark fab small v-on="{ ...tooltip }">
								<v-icon v-if="add_event_btn">mdi-close</v-icon>
								<v-icon v-else>mdi-plus</v-icon>
							</v-btn>
						</template>
						<span>拖拽新建事件</span>
					</v-tooltip>
				</template>
				<v-btn
					v-for="(btn, index) in event_items"
					class="event_item"
					:key="index"
					:color="btn.color"
					:title="btn.name"
					:style="{ color: btn.text_color }"
					fab
					elevation="0"
					small
				>
					<span>{{ btn.name }}</span>
				</v-btn>
			</v-speed-dial>
		</v-col>
		<v-col>
			<calendarEventDialog
				ref="calendar_event_dialog"
				:selectedEvent="selectedEvent"
				:imgUrl="imgUrl"
				:eventCreatorName="eventCreatorName"
				@editevent="edit_event"
				@deleteevent="delete_event"
				@openmodelfromcalendar="open_model_from_calendar"
			></calendarEventDialog>

			<createEventDialog ref="create_dialog" @editevent="update_event"></createEventDialog>

			<textDialog ref="text_dialog"></textDialog>
		</v-col>
	</v-row>
</template>

<style lang="scss">
@import '~@fullcalendar/core/main.css';

@import '~@fullcalendar/daygrid/main.css';

@import '~@fullcalendar/timegrid/main.css';

@import '~text-spinners/spinners.css';

.fc table {
	font-size: 14px !important;
}
.fc-toolbar h2 {
	font-size: 20px !important;
}
.fc-day-number {
	text-align: center;
	width: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
}
.fc-button {
	height: 24px !important;
	line-height: 24px !important;
	margin: 0px !important;
	padding: 2px 10px !important;
	vertical-align: top !important;
	background-color: white !important;
	color: #111 !important;
	border: none !important;
	box-shadow: none !important;
}
.fc-icon {
	height: 18px !important;
	width: 18px !important;
	line-height: 18px !important;
	font-size: 18px !important;
	margin: 0 !important;
	padding: 0 !important;
	vertical-align: top !important;
}
.fc-other-month {
	/*background: #f7f7f7!important;*/
}
.fc-sat .fc-day-number,
.fc-sun .fc-day-number {
	opacity: 0.3 !important;
}
.fc-day-top {
	/*background: transparent!important;*/
}
.fc-today .fc-day-number,
.fc-day-header .fc-widget-header .fc-mon .fc-today {
	background: #1e88e5 !important;
	opacity: 1 !important;
	color: #fff;
}
.fc-today {
	/*background: white!important;*/
}
.fc-event {
	border: none;
	border-radius: 8px !important;
}
.fc-title {
	/*color:white!important;*/
}
.v-application a {
	color: white !important;
}
.fc-listWeek-view {
	margin-left: 12px;
}
.fc-nonbusiness {
	/*background: #f7f7f7!important;*/
}
.event_item {
	width: 5vw !important;
	max-width: 40px !important;
	min-width: 24px !important;
	padding: 0px !important;
	border-radius: 15% !important;
}
.v-speed-dial__list .v-btn {
	margin: 0px 2px 0 0 !important;
}
.v-speed-dial--direction-left .v-speed-dial__list,
.v-speed-dial--direction-right .v-speed-dial__list {
	padding: 0px 2px !important;
}
.v-menu__content {
	margin: 12px 0px !important;
}
.fc-toolbar.fc-header-toolbar {
	padding: 50px 0 0 0 !important;
	margin: 0 !important;
	height: 94px;
	background-color: #fff;
}
.fc-center {
	position: absolute;
	left: 50%;
	top: 20px;
	transform: translate(-50%, 0);
	font-weight: 300;
}
.fc-time,
.fc-title {
	margin-left: 8px;
}
.fc-more-cell a {
	color: #666 !important;
}
.loader {
	border: 2px solid #f3f3f3;
	border-radius: 50%;
	border-top: 2px solid #3498db;
	width: 12px;
	height: 12px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
</style>

<script>
import FullCalendar from '@fullcalendar/vue';

import dayGridPlugin from '@fullcalendar/daygrid';

import { Calendar } from '@fullcalendar/core';

import { formatDate } from '@fullcalendar/core';

import timeGridPlugin from '@fullcalendar/timegrid';

import listPlugin from '@fullcalendar/list';

import interactionPlugin, { Draggable } from '@fullcalendar/interaction';

import createEventDialog from './projectionCalendarsCreateDialog.vue';

import textDialog from './textDialog.vue';

import calendarEventDialog from './calendarEventDialog.vue';

export default {
	components: {
		FullCalendar, // make the <FullCalendar> tag available

		createEventDialog,

		textDialog,

		calendarEventDialog
	},

	mounted: function() {
		let _this = this;

		document.addEventListener('DOMContentLoaded', function() {
			//let Calendar = FullCalendar.Calendar;

			//let Draggable = FullCalendarInteraction.Draggable;

			let containerEl = document.getElementById('event_btns');

			// let calendarEl = document.getElementById('full_calendar');

			// let checkbox = document.getElementById('drop-remove');

			// initialize the external events
			// -----------------------------------------------------------------

			new Draggable(containerEl, {
				itemSelector: '.event_item',

				eventData: function(eventEl) {
					let _item = {
						id: 'event_' + Math.round(Math.random() * 10000),

						title: eventEl.title,

						backgroundColor: eventEl.style.backgroundColor,

						textColor: eventEl.style.color,

						// groupId: eventEl.title,

						extendedProps: {
							creator_id: _this.$G.user.id,

							creator_imgUrl: _this.$G.user.pic,

							creator: _this.$G.user.name,

							type: eventEl.title,

							location: ''
						}
					};

					return _item;
				}
			});

			/*Calendar.setOption('eventClick', function (info) {

                    alert('Event: ' + info.event.title);

                    alert('Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY);

                    alert('View: ' + info.view.type);

                    // change the border color just for fun
                    info.el.style.borderColor = 'red';

                });*/
		});
	},

	data() {
		return {
			calendars: true,

			calendarPlugins: [dayGridPlugin, interactionPlugin, listPlugin, timeGridPlugin],

			event_items: [
				{ name: '其他', color: '#78909c', text_color: '#fff' },
				{ name: '后期', color: '#283593', text_color: '#fff' },
				{ name: '现场', color: '#3949ab', text_color: '#fff' },
				{ name: '出差', color: '#5c6bc0', text_color: '#fff' },
				{ name: '会议', color: '#d84315', text_color: '#fff' },
				{ name: '汇报', color: '#ff5722', text_color: '#fff' },
				{ name: '出图', color: '#ff8a65', text_color: '#fff' },
				{ name: '审图', color: '#00838f', text_color: '#fff' },
				{ name: '提图', color: '#00acc1', text_color: '#fff' },
				{ name: '绘图', color: '#26c6da', text_color: '#fff' },
				{ name: '讨论', color: '#558b2f', text_color: '#fff' },
				{ name: '资料', color: '#7cb342', text_color: '#fff' },
				{ name: '前期', color: '#9ccc65', text_color: '#fff' }
			],

			events: [],

			selectedEvent: {},

			selectedElement: '.v-content__wrap',

			selectedOpen: false,

			imgUrl: this.$G.imageurl + 'icon/user.svg',

			eventCreatorName: '',

			is_show_dialog_edit: true,

			add_event_btn: false,

			show_models_timeline: false,

			events_time_range: {
				from: '',

				to: ''
			},

			models_to_get_translate_callback: []
		};
	},

	methods: {
		is_calendars_show() {
			return this.calendars;
		},

		show_calendars() {
			this.calendars = true;
		},

		hide_calendars() {
			this.calendars = false;
		},

		calendars_toggle() {
			this.calendars = !this.calendars;
		},

		/**
		 * load events by projection id
		 * @param events
		 */
		load_events(events) {
			if (events != null) {
				this.set_events(events);
			} else {
				if (this.$G.projection.id != '') {
					//传参
					var oMyForm = new FormData();

					oMyForm.append('projectionId', this.$G.projection.id);

					var url = this.$G.phpurl + 'projectionItems.php';

					this.axios
						.post(url, oMyForm)
						.then(response => {
							console.log(response);

							if (response != '') {
								if (response['data']['code'] == 'success') {
									console.log('项目事件：' + response['data']['msg']);

									this.set_events(response['data']['data']['timeline']); // set projection events
								}
							}
						})

						.catch(function(error) {
							// 请求失败处理

							console.log(error);

							return null;
						});
				}
			}
		},

		/**
		 * set events when init
		 * @param events
		 */
		set_events(events) {
			if (typeof events == 'object' && events.length > 0) {
				this.events = [];

				for (let i = 0; i < events.length; i++) {
					if (events[i]['type'] == '应用' && events[i]['name'].indexOf('共访问') > -1) {
						this.events_time_range = {
							from: events[i]['start'],

							to: events[i]['end']
						};
					}

					events[i]['title'] = typeof events[i]['modelId'] != 'undefined' ? events[i]['pre_text'] + events[i]['name'] : events[i]['name'];

					events[i]['allDay'] = this._isAllDay(events[i]);

					// events[i]['allow'] = events[i]['type'] == '应用' ? false : true;

					// events[i]['groupId'] = events[i]['name'];// same group id to drag together

					this.events.push(events[i]);

					if (events[i]['is_loading']) {
						this.models_to_get_translate_callback.push(events[i]['modelId']); // push to get translate on loop
					}
				}

				// set get translate model ids to projection.vue

				this.$emit('settranslatemodelids', this.models_to_get_translate_callback);
			}
		},

		/**
		 * change event is_loading by modelId
		 * @param modelId
		 * @param is_translate: true or false
		 */
		update_event_loading_by_modelId(modelId, is_translate) {
			this.events.forEach(_event => {
				if (_event['modelId'] == modelId) {
					_event['is_loading'] = is_translate;

					_event['title'] = '上传' + _event['name'];
				}
			});
		},

		add_event_when_upload_model() {},

		eventDropStop(info) {
			this._upload_json_to_web('edit', info.event);
		},

		eventResizeStop(info) {
			this._upload_json_to_web('edit', info.event);
		},

		eventDropNew(info) {
			// this.events.push(info.event);

			this._upload_json_to_web('new', info.event);
		},

		eventAllow(dropInfo, draggedEvent) {
			if (draggedEvent.extendedProps['type'] === '应用') {
				return false;
			}

			return true;
		},

		// show event dialog when click event on calendar

		show_event(info) {
			// show event of model hor timeline

			if (typeof info.event.extendedProps.modelId != 'undefined' && info.event.extendedProps.modelId.indexOf('tuku_') > -1 && info.event.extendedProps.is_loading) {
				this.$emit('timeline', info.event.extendedProps.modelId);
			}

			// show event of menu dialog
			else {
				/*alert('Event: ' + info.event.title);

                    alert('Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY);

                    alert('View: ' + info.view.type);*/

				// change the border color just for fun
				info.el.style.backgroundColor = 'red';

				// this.selectedElement = '.' + info.el.className;
				// this.selectedElement = info.jsEvent.target;

				this.selectedEvent = info.event;

				this.imgUrl =
					typeof info.event.extendedProps != 'undefined' && info.event.extendedProps.creator_imgUrl != ''
						? info.event.extendedProps.creator_imgUrl
						: this.$G.imageurl + 'icon/user.svg';

				this.eventCreatorName = typeof info.event.extendedProps != 'undefined' ? info.event.extendedProps.creator : '';

				setTimeout(() => {
					this.$refs.calendar_event_dialog.show_dialog();
				}, 10);
			}
		},

		// show edit event dialog when click edit button

		edit_event() {
			if (this.selectedEvent && this.selectedEvent.start != '') {
				this.$refs.create_dialog.show_dialog(
					{
						id: this.selectedEvent.id,

						name: this.selectedEvent.title,

						start_date: this._getDay(this.selectedEvent.start),

						start_time: this._getTime(this.selectedEvent.start),

						end_date: this._getDay(this.selectedEvent.end),

						end_time: this._getTime(this.selectedEvent.end),

						color: this.selectedEvent.backgroundColor,

						location: this.selectedEvent.extendedProps.location,

						type: this.selectedEvent.extendedProps.type
					},
					'edit'
				);
			}
		},

		// delete event when click delete button

		delete_event(selectedEvent) {
			var _this = this;

			// if(window.confirm('删除当前事件？')){
			// this.$refs.text_dialog.show_dialog('删除','删除当前事件？', null, {type: 'delete', value: null});
			this.$refs.text_dialog.show_dialog(
				{
					type: 'delete',

					headline: '删除',

					text: '删除当前事件？'
				},
				function(dialog_value) {
					if (dialog_value) {
						_this.$refs.full_calendar
							.getApi()
							.getEvents()
							.forEach((_event, i) => {
								if (_event.id == selectedEvent.id) {
									_this._upload_json_to_web('delete', selectedEvent);

									_event.remove();
								}
							});
					}
				}
			);
		},

		// update event

		update_event(event_value) {
			var calendar_events = this.$refs.full_calendar.getApi().getEvents();

			calendar_events.forEach((_e, i) => {
				if (_e.id == event_value.id) {
					_e.setAllDay(this._isAllDay(event_value));

					_e.setProp('title', event_value.name);

					_e.setProp('backgroundColor', event_value.color);

					_e.setExtendedProp('type', event_value.type);

					_e.setExtendedProp('location', event_value.location);

					_e.setExtendedProp('name', event_value.name);

					_e.setStart(event_value.start_date + ' ' + event_value.start_time);

					_e.setEnd(event_value.end_time != '' ? event_value.end_date + ' ' + event_value.end_time : '');

					this._upload_json_to_web('edit', _e);
				}
			});
		},

		// format date

		_getDate(str) {
			if (str != '') {
				str = formatDate(str, {
					year: 'numeric',

					month: '2-digit',

					day: '2-digit',

					hour: '2-digit',

					minute: '2-digit',

					second: '2-digit',

					hour12: false,

					locale: 'zh-cn'
				});

				str = str.split('/').join('-');
			}

			return str;
		},

		// format day

		_getDay(str) {
			if (str != '') {
				str = formatDate(str, {
					year: 'numeric',

					month: '2-digit',

					day: '2-digit',

					hour12: false,

					locale: 'zh-cn'
				});

				str = str.split('/').join('-');
			}

			return str;
		},

		// get time

		_getTime(str) {
			if (str != '') {
				return formatDate(str, {
					hour: '2-digit',

					minute: '2-digit',

					second: '2-digit',

					hour12: false,

					locale: 'zh-cn'
				});
			}

			return str;
		},

		// whether is a time format string?

		_isZeroTime(str) {
			var _time = this._getTime(str);

			return _time.indexOf(':') > -1 && _time === '00:00:00';
		},

		// whether is a all day? 0:00 to 0:00

		_isAllDay(event) {
			var end = typeof event.end != 'undefined' ? event.end : event.end_date + ' ' + event.end_time;

			var start = typeof event.start != 'undefined' ? event.start : event.start_date + ' ' + event.start_time;

			return event.type == '应用' || !this._isZeroTime(start) || !this._isZeroTime(end) ? false : true;
		},

		/**
		 * upload json to php when add event
		 * @param editMode: new or edit or delete
		 * @param event: event object
		 * @private
		 */
		_upload_json_to_web: function(editMode, event) {
			this.axios
				.post(
					this.$G.phpurl + 'projectionEvent.php',

					this.qs.stringify({
						p_id: this.$G.projection.id, // whether is new or update?
						event_id: event.id,
						event_name: event.title,
						event_start_date: this._getDay(event.start),
						event_start_time: this._getTime(event.start),
						event_end_date: this._getDay(event.end),
						event_end_time: this._getTime(event.end),
						event_color: event.backgroundColor,
						event_type: event.extendedProps.type,
						event_location: event.extendedProps.location,
						event_creator_id: event.extendedProps.creator_id,
						edit_mode: editMode // new or edit or delete
					})
				)
				.then(response => {
					console.log(response);

					if (response != '') {
						if (response.data['code'] == 'success') {
							console.log(response.data['msg']);

							this.$emit('set_events', response.data['data']['timeline']); //调用父组件方法
						} else {
							this.show_snackbar(response.data['msg']);
						}
					}
				})

				.catch(function(error) {
					// 请求失败处理

					console.log(error);

					return null;
				});
		},

		columnHeaderText(date) {
			let is_TimeGridView = this.$refs.full_calendar.$options.calendar.view.type == 'timeGridFourDay';

			let date_str = date.getMonth() + 1 + '/' + date.getDate();

			let week_str = '';

			switch (date.getDay()) {
				case 0:
					week_str = '周日';

					break;

				case 1:
					week_str = '周一';

					break;

				case 2:
					week_str = '周二';

					break;

				case 3:
					week_str = '周三';

					break;

				case 4:
					week_str = '周四';

					break;

				case 5:
					week_str = '周五';

					break;

				case 6:
					week_str = '周六';

					break;

				default:
					week_str = date.getDay();
			}

			return is_TimeGridView ? week_str + ' ' + date_str : week_str;
		},

		show_projection_timeline() {
			this.$emit('showprojectiontimeline', this.events_time_range);
		},

		set_next_month() {
			this.$refs.full_calendar.getApi().next();
		},

		set_pre_month() {
			this.$refs.full_calendar.getApi().prev();
		},

		set_today() {
			this.$refs.full_calendar.getApi().today();
		},

		open_model_from_calendar(event_value) {
			this.$emit('openmodelfromcalendar', event_value);
		}
	}
};
</script>
