<template>
	<div class="text-center">
		<v-bottom-sheet v-model="sheet" persistent>
			<v-sheet class="text-center" height="500px">
				<v-btn color="white" height="24" style="z-index: 199;margin-top: -24px;" @click="close_sheet"><v-icon>mdi-chevron-down</v-icon></v-btn>

				<projectionTimelineCalendars ref="timeline_calendars" :model_items="model_items" :time_range="projection_time_range"></projectionTimelineCalendars>
			</v-sheet>
		</v-bottom-sheet>
	</div>
</template>
<style>
.v-dialog__content {
	width: 100vw !important;
}
</style>

<script>
import projectionTimelineCalendars from './projectionTimelineCalendar.vue';

export default {
	components: {
		projectionTimelineCalendars
	},

	data() {
		return {
			close: '关闭',

			sheet: false, // hide or show sheet

			model_items: '', // items[1]['children']

			projection_time_range: {
				from: '',

				to: ''
			}
		};
	},

	methods: {
		show_sheet(items, projection_time_range) {
			this.sheet = true;

			this.model_items = items;

			this.projection_time_range = projection_time_range;

			let _this = this;

			window.setTimeout(() => {
				_this.$refs.timeline_calendars.show_calendar();
			}, 500);

			// this.set_card_color_by_title();
		},

		close_sheet() {
			this.$refs.timeline_calendars.close_calendar();

			this.sheet = false;
		}
	}
};
</script>

<style scoped></style>
