<template></template>

<script>
import textDialog from './textDialog.vue';

export default {
	name: 'projectionModelCallback.vue',

	components: {
		textDialog
	},

	props: ['modelIds'],

	data() {
		return {
			translateOk: {
				// modelId: true or false,
			},

			timer: null,

			seconds: 10, // s

			total_times: 10 * 60 // s
		};
	},

	watch: {
		modelIds: function() {
			this.get_translate_on_loop();
		}
	},

	methods: {
		get_translate_on_loop() {
			let _this = this;

			_this._stop_timer();

			let n = 0;

			if (_this.modelIds.length > 0) {
				_this.timer = setInterval(() => {
					console.log('查询转换 ' + (n + 1) * _this.seconds + ' s');

					_this.modelIds.forEach(_modelId => {
						if (_this.translateOk[_modelId] != true) {
							_this._get_translate_status(_modelId);
						}
					});

					if (n * _this.seconds > _this.total_times) {
						console.log('转换查询超时');

						_this._stop_timer();

						_this.$refs.text_dialog.show_dialog(
							{
								type: 'text',

								headline: '确认',

								text: '转换需要更长时间，需要继续？'
							},
							function(d_value) {
								if (d_value) {
									_this.get_translate_on_loop(); // go on to loop
								}
							}
						);
					}

					n++;
				}, _this.seconds * 1000);
			}
		},

		/**
		 * get translate is ok ?
		 * @param modelId
		 */
		_get_translate_status(modelId) {
			//传参
			var oMyForm = new FormData();

			oMyForm.append('modelId', modelId);

			var url = this.$G.phpurl + 'modelTranslateOk.php';

			this.axios
				.post(url, oMyForm)
				.then(response => {
					console.log(response);

					if (response != '') {
						if (response['data']['code'] == 'success') {
							console.log('回调转换：' + response['data']['msg']);

							this.translateOk[modelId] = true;

							this.modelIds.forEach((_m_id, i) => {
								if (_m_id == modelId) {
									this.modelIds.splice(i, 1); // delete
								}
							});

							let modelName = response['data']['data']['modelName'];

							this._model_is_translate_ok(modelId, modelName + ' 上传图纸完成');
						}
					}
				})
				.catch(function(error) {
					// 请求失败处理

					console.log(error);

					return null;
				});
		},

		/**
		 * to do when model is translate
		 * @param msg
		 */
		_model_is_translate_ok(modelId, msg) {
			this.$emit('istranslateok', modelId, msg);
		},

		// destory timer
		_stop_timer() {
			if (this.timer != null) {
				clearInterval(this.timer);
			}
		}
	}
};
</script>

<style scoped></style>
