<template>
	<v-app id="projection">
		<projectionSidebarMenu
			ref="projection_sidebar_menu"
			@loadcompleted="load_completed"
			@showsbar="show_snackbar"
			@showscanvas="hide_calendars"
			@clearcanvas="clear_canvas"
			@openmodel="open_model"
			@timeline="show_timeline"
			@ptimeline="set_calendars_events"
			@invite="show_share_dialog"
			@cover="is_set_cover"
			@upload="upload_file"
			@downmodel="down_model"
			@hidechildrentimeline="hide_children_timeline"
			@deletechildrenmodels="delete_children_timeline_models"
			@togglechildrentimeline="toggle_children_timeline"
			@setselectchildid="set_children_timeline_select_id"
			@changelayout="change_layout_from_click_button"
			@projectionitems="show_model_items_on_timeline_calendar"
		></projectionSidebarMenu>

		<template>
			<v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp" app color="blue darken-3" dark height="48px" style="z-index: 299;width:100vw;max-width:100vw;">
				<!--<v-app-bar-nav-icon @click.stop="set_sidebar_mini"></v-app-bar-nav-icon>-->

				<v-tooltip bottom color="gray" style="z-index: 299;">
					<template v-slot:activator="{ on }">
						<v-toolbar-title class="font-weight-bold" @click="jump_to_home" style="cursor:pointer;max-width:150px;min-width: 110px;" v-on="on">
							EDRAW.XYZ
						</v-toolbar-title>
					</template>
					<span>主页</span>
				</v-tooltip>

				<v-spacer></v-spacer>

				<template>
					<v-tabs background-color="blue darken-3" color="white" slider-color="white" slider-size="4" right v-model="tabs">
						<v-tab :href="`#tab-0`" @click="hide_calendars">
							<v-tooltip bottom color="gray">
								<template v-slot:activator="{ on }">
									<v-btn icon><v-icon v-on="on">mdi-codepen</v-icon></v-btn>
								</template>
								<span>图纸空间</span>
							</v-tooltip>
						</v-tab>
						<v-tab :href="`#tab-1`" @click="show_calendars">
							<v-tooltip bottom color="gray">
								<template v-slot:activator="{ on }">
									<v-btn icon><v-icon v-on="on">mdi-clipboard-list</v-icon></v-btn>
								</template>
								<span>项目进度表</span>
							</v-tooltip>
						</v-tab>
					</v-tabs>
				</template>

				<v-tooltip bottom color="gray">
					<template v-slot:activator="{ on }">
						<v-btn icon @click="jump_to_user"><v-icon v-on="on">mdi-view-dashboard</v-icon></v-btn>
					</template>
					<span>我的项目库</span>
				</v-tooltip>

				<v-tooltip bottom color="gray">
					<template v-slot:activator="{ on }">
						<v-btn icon @click="show_share_dialog"><v-icon v-on="on">mdi-share-variant</v-icon></v-btn>
					</template>
					<span>分享</span>
				</v-tooltip>

				<v-tooltip bottom color="gray">
					<template v-slot:activator="{ on }">
						<v-btn icon @click="change_layout">
							<v-icon v-on="on">{{ layout.icon }}</v-icon>
						</v-btn>
					</template>
					<span>{{ layout.span }}</span>
				</v-tooltip>
			</v-app-bar>
		</template>

		<v-content class="v-content-ass" id="draw_div" style="overflow-x: hidden;overflow-y: hidden;">
			<v-row>
				<v-col
					col="12"
					sm="12"
					:value="`tab-1`"
					v-show="show_calendar_group"
					style="height: calc(100vh - 48px);width: 100%;background-color: #F7F7F7;margin: 0;padding: 0 12px;"
				>
					<!--<v-carousel
                            :show-arrows="false"
                            hide-delimiter-background
                            delimiter-icon="mdi-minus"
                            height="calc(100vh - 48px);"
                            light
                    >
                        <v-carousel-item>
                            <projectionCalendars
                                    ref="calendars"
                            ></projectionCalendars>
                        </v-carousel-item>
                        <v-carousel-item>
                            <projectionTimelineCalendars
                                    ref="timeline_calendars"
                                    :model_items="model_items"
                                    @loadstart="load_start"
                                    @loadcompleted="load_completed"
                            ></projectionTimelineCalendars>
                        </v-carousel-item>
                    </v-carousel>-->
					<projectionCalendars
						ref="calendars"
						@timeline="show_timeline"
						@showprojectiontimeline="show_projection_timeline_sheet"
						@settranslatemodelids="set_models_to_get_translate_callback"
						@openmodelfromcalendar="open_model_from_calendar"
					></projectionCalendars>
				</v-col>

				<v-col
					col="12"
					sm="12"
					:value="`tab-0`"
					v-show="!show_calendar_group"
					id="layout_main"
					style="height: calc(100vh - 48px);width: 100%;background-color: #f7f7f7;margin: 0;padding: 0 12px;"
				>
					<div class="layout_col_absolute row align-end fill-height">
						<modelSidebarTimeline
							ref="children_timeline"
							:children_items="children_items"
							:display="sidebar_list_show"
							:show="sidebar_list_name"
							@openmodel="open_model"
							@goonupload="goon_upload_from_model_children_timeline"
							@sidebarlisttoggle="sidebar_list_toggle"
						></modelSidebarTimeline>
						<modelViewpoint
							ref="model_viewpoint"
							:walkthrough="model_walk_through"
							:display="sidebar_list_show"
							:show="sidebar_list_name"
							@errordialog="show_error_dialog"
							@showdialog="show_dialog_for_input_viewpoint_name"
							@sidebarlisttoggle="sidebar_list_toggle"
							@renameviewpoint="show_dialog_for_rename_viewpoint"
						></modelViewpoint>
					</div>
					<div
						class="layout_col viewer_border layout_viewer_background"
						id="layout_viewer"
						:style="layout_viewer"
						v-show="layout.show_viewer"
						@click="click_layout_viewer"
					>
						<imageViewer ref="image_viewer"></imageViewer>
						<!--<pdfViewer ref="pdf_viewer"></pdfViewer>-->
					</div>

					<div class="layout_col layout_draw_background" ref="layout_draw" id="layout_draw" :style="layout_draw" v-show="layout.show_draw" @click="click_layout_draw">
						<div ref="domId" id="domId" style="position:relative;height:100%;width:100%;margin: 0;"></div>
					</div>

					<input type="file" id="inputBox" />
				</v-col>
			</v-row>
		</v-content>

		<snackBar ref="snackBar" @show_sbar="show_snackbar"></snackBar>

		<circle_progress ref="circle_progress" @closesheet="stop_timer" @gotogettranslateloop="go_to_get_translate_loop" @reload="reload"></circle_progress>

		<shareDialog ref="share_dialog"></shareDialog>

		<imageDialog ref="image_dialog" @is_cover="set_projection_cover"></imageDialog>

		<modelTimeline ref="modelTimeline" @show_text_dialog="show_text_dialog_from_model_timeline"></modelTimeline>

		<textDialog ref="text_dialog"></textDialog>

		<loadOverlay :overlay="overlay"></loadOverlay>

		<projectionTimelineSheet ref="projection_timeline_sheet"></projectionTimelineSheet>

		<projectionModelCallback
			ref="projection_model_callback"
			:modelIds="models_to_get_translate_callback"
			@istranslateok="model_is_translate_ok_from_callback"
		></projectionModelCallback>
	</v-app>
</template>
<style type="text/css">
.v-carousel__controls {
	top: 0px;
	height: 36px !important;
}
.layout_col_absolute {
	position: absolute;
	width: 100%;
	padding: 0 !important;
}
.layout_col {
	position: relative;
	padding: 0 !important;
}
.layout_viewer_background {
	background-image: url(../image/icon/2d.png);
	background-size: 24px;
	background-position: center;
}
.layout_draw_background {
	background-image: url(../image/icon/3d.png);
	background-size: 24px;
	background-position: center;
}
.theme--light.v-tabs-items {
	background-color: transparent !important;
}
.v-tabs--vertical > .v-tabs-bar .v-tab {
	min-height: 24px !important;
	height: 24px !important;
	min-width: 24px !important;
	width: 24px !important;
}
.v-tabs--vertical > .v-tabs-bar .v-tabs-bar__content {
	height: 60px !important;
	min-height: 60px !important;
	width: 24px !important;
}
.v-item-group {
	/*height:48px!important;
        min-height: 48px!important;*/
}
.viewer_border {
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.bf-container ul {
	padding-left: 0px !important;
}
.bf-panel {
	margin: 10px !important;
	z-index: 199 !important;
}
.bf-mobile .bf-toolbar.bf-toolbar-bottom {
	display: flex;
	top: auto !important;
	left: 50% !important;
	right: auto !important;
	bottom: 0px !important;
	height: 56px;
	transform: translate(-50%, 0) !important;
}
.bf-mobile .bf-button {
	line-height: 28px !important;
	font-size: 28px !important;
	height: 48px !important;
	width: 48px !important;
	padding: 0px !important;
}
.bf-map-panel {
	left: auto !important;
	right: 10px !important;
	bottom: 80px !important;
}
.bf-toolbar.bf-toolbar-bottom {
	left: 50% !important;
	right: auto !important;
	bottom: 0px !important;
	height: 56px;
	transform: translate(-50%, 0) !important;
}
.bf-toolbar {
	background-color: transparent !important;
	border: 0px !important;
	margin: 0 0 -12px 0;
}
.bf-button {
	/*line-height:28px!important;*/
	font-size: 28px !important;
	/*height:48px!important;*/
	padding: 0px !important;
	min-width: 36px;
	vertical-align: middle !important;
}
.gld-bf-zoomrect:before {
	content: '\F022F' !important;
	display: inline-block;
	font: normal normal normal 24px/1 'Material Design Icons';
	font-size: 28px !important;
	text-rendering: auto;
	line-height: inherit;
	-webkit-font-smoothing: antialiased;
}
.bf-toolbar-button::after {
	border-bottom: 5px solid #2c2c2c !important;
}
.gld-bf-home:before {
	content: '\FB83' !important;
	display: inline-block;
	font: normal normal normal 24px/1 'Material Design Icons';
	font-size: 28px !important;
	text-rendering: auto;
	line-height: inherit;
	-webkit-font-smoothing: antialiased;
}
.gld-bf-maximize:before {
	content: '\F293' !important;
	display: inline-block;
	font: normal normal normal 24px/1 'Material Design Icons';
	font-size: 28px !important;
	text-rendering: auto;
	line-height: inherit;
	-webkit-font-smoothing: antialiased;
}
.gld-bf-minimize:before {
	content: '\F294' !important;
	display: inline-block;
	font: normal normal normal 24px/1 'Material Design Icons';
	font-size: 28px !important;
	text-rendering: auto;
	line-height: inherit;
	-webkit-font-smoothing: antialiased;
}
.gld-bf-measure:before {
	content: '\F46D' !important;
	display: inline-block;
	font: normal normal normal 24px/1 'Material Design Icons';
	font-size: 28px !important;
	text-rendering: auto;
	line-height: inherit;
	-webkit-font-smoothing: antialiased;
}
.gld-bf-properties:before {
	content: '\F62E' !important;
	display: inline-block;
	font: normal normal normal 24px/1 'Material Design Icons';
	font-size: 28px !important;
	text-rendering: auto;
	line-height: inherit;
	-webkit-font-smoothing: antialiased;
}
.gld-bf-settings:before {
	content: '\FA15' !important;
	display: inline-block;
	font: normal normal normal 24px/1 'Material Design Icons';
	font-size: 28px !important;
	text-rendering: auto;
	line-height: inherit;
	-webkit-font-smoothing: antialiased;
}
.gld-bf-tree:before {
	content: '\F645' !important;
	display: inline-block;
	font: normal normal normal 24px/1 'Material Design Icons';
	font-size: 28px !important;
	text-rendering: auto;
	line-height: inherit;
	-webkit-font-smoothing: antialiased;
	left: 4px !important;
	top: 0px !important;
}
.gld-bf-layers:before {
	content: '\F328' !important;
	display: inline-block;
	font: normal normal normal 24px/1 'Material Design Icons';
	font-size: 28px !important;
	text-rendering: auto;
	line-height: inherit;
	-webkit-font-smoothing: antialiased;
}
.gld-bf-firstperson:before {
	content: '\F70D' !important;
	display: inline-block;
	font: normal normal normal 24px/1 'Material Design Icons';
	font-size: 28px !important;
	text-rendering: auto;
	line-height: inherit;
	-webkit-font-smoothing: antialiased;
}
.gld-bf-information:before {
	content: '\F2FD' !important;
	display: inline-block;
	font: normal normal normal 24px/1 'Material Design Icons';
	font-size: 28px !important;
	text-rendering: auto;
	line-height: inherit;
	-webkit-font-smoothing: antialiased;
}
.bf-toolbar.bf-tree-toolbar {
	left: auto !important;
	right: 10px !important;
	top: 10px !important;
}
.bf-mobile .tree-panel,
.bf-mobile .layers-panel,
.bf-mobile .property-panel {
	width: 80% !important;
	height: 80% !important;
	margin: 18px 0 0 24px !important;
	font-size: 0.65em !important;
}
.tree-panel,
.bf-modelTree-panel {
	left: auto !important;
	right: 10px !important;
	max-width: 300px;
	max-height: 400px;
}
.bf-info-power {
	display: none;
}
.v-overlay {
	/*z-index:201!important;must less than 202*/
	width: 100vw !important;
}
.bf-loading .bf-loading-gif {
	width: 32px !important;
	height: 32px !important;
	background-image: url('../image/gif/load.gif') !important;
}
/*.bf-house{
        widht:120px!important;
        height: 120px !important;
    }
    .bf-house canvas{
        width:120px!important;
        height: 120px !important;
        margin: 20px 0 20px 40px;
    }*/
</style>

<script>
import projectionSidebarMenu from './projectionSidebarMenu.vue';

import snackBar from './snackbar.vue';

import circle_progress from './circleProgress.vue';

import shareDialog from './shareDialog.vue';

import modelTimeline from './modelTimeline.vue';

//import projectionCalendars from './projectionCalendars.vue';
import projectionCalendars from './projectionFullCalendars.vue';

import projectionTimelineCalendars from './projectionTimelineCalendar.vue';

import imageDialog from './imageDialog.vue';

import textDialog from './textDialog.vue';

import modelSidebarTimeline from './modelSidebarTimeline.vue';

import modelViewpoint from './modelViewpoint.vue';

import imageViewer from './imageVViewer.vue';

import loadOverlay from './loadOverlay.vue';

import html2canvas from 'html2canvas';

import projectionTimelineSheet from './projectionTimelineSheet.vue';

import projectionModelCallback from './projectionModelCallback.vue';

// import pdfViewer from './pdfViewer.vue';

export default {
	components: {
		projectionSidebarMenu,

		snackBar,

		circle_progress,

		shareDialog,

		modelTimeline,

		projectionCalendars,

		projectionTimelineCalendars,

		imageDialog,

		textDialog,

		modelSidebarTimeline,

		modelViewpoint,

		imageViewer,

		// pdfViewer,

		html2canvas,

		loadOverlay,

		projectionTimelineSheet,

		projectionModelCallback
	},

	created() {
		this.load_start();
	},

	// on load when init
	mounted: function() {
		// get projection id

		this.$G.projection.id = this.$route.query.id;

		this.$G.user.id = this.$route.query.user;

		if (this.$G.projection.id == '' || typeof this.$G.projection.id == 'undefined') {
			this.show_snackbar('加载的是一个空白项目');
		} else {
			let _this = this;

			this.get_projection_authority(this.$G.projection.id, this.$G.user.id, function(authority) {
				switch (authority) {
					case 'public': // 公开项目，都可以访问
						_this.show_snackbar('这是一个公开项目');

						_do_next();

						break;

					case 'projection_member': // 云协同项目的成员可以访问
						_do_next();

						break;

					case 'not_projection_member': // 不是云协同项目成员,加入？
						_this.$refs.text_dialog.show_dialog(
							{
								type: 'txt',

								headline: '确认',

								text: '这是一个云协同项目，现在加入？'
							},
							function(dialog_value) {
								if (dialog_value == false) {
									_this.jump_to_home();
								} else {
									_do_next(); // add new member next!
								}
							}
						);

						break;

					case 'not_tuku_user': // 不是会员，登录？
						/*_this.$refs.text_dialog.show_dialog({

                                type: 'txt',

                                headline: '确认',

                                text: '需要登录才能访问，现在登录？',

                            }, function (dialog_value) {

                                if (dialog_value == false) {

                                    _this.jump_to_home();

                                } else {

                                    _this.$router.push({path: '/login', query: {id: _this.$G.projection.id}})

                                }

                            });*/

						// jump to login

						_this.$router.push({ path: '/login', query: { id: _this.$G.projection.id } });

						break;

					/*case 'team':    // 云协同项目, 非成员需要加入才能访问

                            _this.$refs.text_dialog.show_dialog({

                                type: 'txt',

                                headline: '确认',

                                text: '这是一个云协同项目，只有会员才能访问，现在登录？',

                            }, function (dialog_value) {

                                if (dialog_value == false) {

                                    _this.jump_to_home();

                                } else {

                                    _this.$router.push({path: '/login', query: {id: _this.$G.projection.id}})

                                }

                            });

                            break;*/

					case 'not_projection': //项目不存在
						_this.$refs.text_dialog.show_dialog(
							{
								type: 'txt',

								headline: '确认',

								text: '这个云项目不存在！'
							},
							function(dialog_value) {
								_this.jump_to_home();
							}
						);

						break;

					case 'secret': // 私密项目
						_this.$refs.text_dialog.show_dialog(
							{
								type: 'txt_no_cancel',

								headline: '没有权限',

								text: '这是一个云私密项目，不能访问，请联系项目创建者！'
							},
							function(dialog_value) {
								_this.jump_to_home();
							}
						);

						// _this.show_snackbar('这是一个私密项目，不能访问，请联系项目创建者');

						break;

					default:
						_do_next();
				}
			});

			function _do_next() {
				// load projection items

				_this.$refs.projection_sidebar_menu.projection_init();

				// this.get_items_from_msql();

				_this.create_file_input();

				// set layout when mobile and pc

				_this.show_layout_init();
			}
		}

		/*// if is not user to login first!!!

            if ((typeof(this.$route.query.user) == 'undefined' || this.$route.query.user.indexOf('tuku_') < 0 || this.$route.query.user == 'tuku_0Orx9Jr5Qcxxxx') && process.env.NODE_ENV === "production") {

                this.$router.push({path: '/login', query: {id: this.$G.projection.id}})

            } else {

                this.$G.user.id = this.$route.query.user;

                if(this.$G.projection.id == "" || typeof(this.$G.projection.id) == 'undefined'){

                    this.show_snackbar('加载的是一个空白项目');

                } else {

                    // this.show_snackbar('加载项目');

                    this.$refs.projection_sidebar_menu.projection_init();

                }

                // this.get_items_from_msql();

                this.create_file_input();

                // set layout when mobile and pc

                this.show_layout_init();

            }*/
	},

	data: function() {
		return {
			input_file: '', // input file

			timer: null, // timer of loop get translate success on space seconds

			_UPLOADMODE: '', // "UPLOAD MODEL" or "UPLOAD CHILDREN MODEL"

			tabs: 'tab-1', // tab-0:draw canvas , tab-1:calendars

			show_calendar_group: true,

			model_items: '', // items[1]['children']

			children_items: { items: [], show: true, select_child_id: '' },

			layout: {
				is_max: false, // default

				current: 'layout_viewer',

				show_viewer: true,

				show_draw: true
			},

			layout_viewer: {
				height: '100%',

				width: '50%',

				display: 'flex'
			},

			layout_draw: {
				height: '100%',

				width: '50%',

				display: 'flex'
			},

			layout: {
				span: '多窗口', // 一个窗口

				icon: 'mdi-view-quilt', // mdi-launch

				is_max: false // true
			},

			model_walk_through: null,

			sidebar_list_name: '', // 'children' or 'viewpoint' or ''

			sidebar_list_show: true,

			overlay: false,

			models_to_get_translate_callback: [] // model ids to get callback of translating
		};
	},

	destroyed: function() {
		this.stop_timer();
	},

	methods: {
		jump_to_home() {
			this.$router.push({ path: '/home' });
		},

		jump_to_user() {
			// this.$router.push({path: '/user'})

			if (this.$G.user.id.indexOf('tuku_') > -1) {
				this.$router.push({ path: '/user', query: { id: this.$G.user.id } });
			} else {
				this.$router.push({ path: '/user', query: { authority: 'public' } });
			}
		},

		// 返回上一层

		go_back() {
			this.$router.go(-1);
		},

		// 刷新

		reload() {
			location.reload();

			// this.$router.go(0);

			// this.jump_to_user();
		},

		// set load start

		load_start() {
			this.overlay = true;
		},

		// when load completed

		load_completed(msg) {
			this.overlay = false;

			// this.show_snackbar('加载项目完成');

			if (msg != '' && msg != null) {
				this.show_snackbar(msg);
			}
		},

		// delete projection value json by projection id(from dialog)
		get_projection_authority: function(projection_id, user_id, callback) {
			//发送请求
			this.axios
				.post(this.$G.phpurl + 'projectionGetAuthority.php', this.qs.stringify({ p_id: projection_id, user_id: user_id }))
				.then(response => {
					console.log(response);

					if (response != '') {
						console.log('用户权限：' + response.data['msg']);

						if (response.data['code'] == 'success') {
							callback(response.data['data']['authority']);
						}
					}
				})
				.catch(function(error) {
					// 请求失败处理

					console.log(error);

					return null;
				});
		},

		/**
		 * set timeline and upload timeline when error
		 * @param error_msg
		 * @private
		 */
		_set_timeline_value_on_error(error_msg) {
			// save time line values
			this.set_timeline_values({
				data: {
					data: {
						time: getNowFormatDate()
					},

					msg: error_msg
				}
			});

			// end of timeline and upload timeline

			this._set_timeline_to_msql();

			// 年-月-日 时:分:秒
			function getNowFormatDate() {
				//获取当前时间
				var date = new Date();
				var seperator1 = '-';
				var seperator2 = ':';
				var month = date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1;
				var strDate = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
				var currentdate =
					date.getFullYear() + seperator1 + month + seperator1 + strDate + ' ' + date.getHours() + seperator2 + date.getMinutes() + seperator2 + date.getSeconds();
				return currentdate;
			}
		},

		/**
		 * make time line of projection process
		 * @param response: callback
		 * @param timeValue:{mode, id}
		 */
		set_timeline_values(response, timeValue) {
			var mode = timeValue != null ? timeValue['mode'] : '';

			var modelId = timeValue != null ? timeValue['id'] : '';

			var is_end = false;

			if (typeof response == 'object' && typeof response['data']['data']['time'] != 'undefined' && typeof response['data']['msg'] != 'undefined') {
				// whether is new?

				if (mode == 'new_begin') {
					this.$G.timeline = { modelId: modelId, items: [] }; // default
				}

				// end of new
				else if (mode == 'new_end') {
					is_end = true;
				}

				// push to timeline array

				this.$G.timeline['items'].push({
					title: response['data']['msg'],

					content: response['data']['data']['time']
				});

				// to save timline to msql

				if (is_end) {
					this._set_timeline_to_msql();
				}
			}
		},

		// save  timeline of model to msql
		_set_timeline_to_msql() {
			var modelId = this.$G.timeline['modelId'];

			if (modelId != '') {
				//传参
				var oMyForm = new FormData();

				oMyForm.append('timeline', JSON.stringify(this.$G.timeline['items']));

				oMyForm.append('modelId', modelId);

				var url = this.$G.phpurl + 'modelTimelineUpload.php';

				this.axios
					.post(url, oMyForm)
					.then(response => {
						console.log(response);

						if (response != '') {
							if ('图纸时间线：' + response['data']['code'] == 'success') {
								console.log(response['data']['msg']);
							}
						}
					})
					.catch(function(error) {
						// 请求失败处理

						console.log(error);

						return null;
					});
			}
		},

		// save  open time of model to msql's m_openline
		set_openline_to_msql(modelId) {
			if (modelId != '') {
				//传参
				var oMyForm = new FormData();

				oMyForm.append('modelId', modelId);

				var url = this.$G.phpurl + 'modelOpenlineUpload.php';

				this.axios
					.post(url, oMyForm)
					.then(response => {
						console.log(response);

						if (response != '') {
							if (response['data']['code'] == 'success') {
								console.log('打开时间线：' + response['data']['msg']);
							}
						}
					})
					.catch(function(error) {
						// 请求失败处理

						console.log(error);

						return null;
					});
			}
		},

		// get  timeline of model to msql
		get_timeline_from_msql(modelId) {
			if (modelId != '') {
				//传参
				var oMyForm = new FormData();

				oMyForm.append('modelId', modelId);

				var url = this.$G.phpurl + 'modelTimelineLoad.php';

				this.axios
					.post(url, oMyForm)
					.then(response => {
						console.log(response);

						if (response != '') {
							if (response['data']['code'] == 'success') {
								console.log('图纸时间线：' + response['data']['msg']);

								// var timelineObject = JSON.parse(response['data']['data']['timeline']);
								var timelineObject = response['data']['data']['timeline'];

								// show time line

								this.$refs.modelTimeline.show_sheet(timelineObject);
							}
						}
					})
					.catch(function(error) {
						// 请求失败处理

						console.log(error);

						return null;
					});
			}
		},

		/*// get projection models' items by projection id
            get_items_from_msql(){

                if(this.$G.projection.id != ''){

                    //传参
                    var oMyForm = new FormData();

                    oMyForm.append("projectionId", this.$G.projection.id);

                    var url = this.$G.phpurl + "projectionItems.php";

                    this.axios.post(url,oMyForm).then((response) => {

                        console.log(response);

                        if(response != '') {

                            if (response['data']['code'] == "success") {

                                console.log(response['data']['data']);

                            }

                        }})

                        .catch(function (error) { // 请求失败处理

                            console.log(error);

                            return null;

                        });

                }

            },*/

		show_snackbar(msg) {
			console.log('App show snack bar: ' + msg);

			this.$refs.snackBar.show_bar(msg); // 调用子组件的方法
		},

		set_sidebar_mini() {
			this.$refs.projection_sidebar_menu.set_mini(); // 调用子组件的方法
		},

		// show circle progress sheet
		show_sheet() {
			this.set_progress_step(1);

			this.$refs.circle_progress.show_sheet(); // 调用子组件的方法
		},

		// show timeline sheet by model id
		show_timeline(modelId) {
			modelId = modelId == null ? this.$refs.projection_sidebar_menu.get_current_model_id() : modelId;

			// get timeline by modelId

			this.get_timeline_from_msql(modelId);
		},

		// hide model sidebar(children) timeline
		hide_children_timeline() {
			// this.$refs.children_timeline.hide_timeline();

			this.sidebar_list_show = false;
		},

		/**
		 * get children models of current children timeline and callback
		 * @param  callback:callback function to back
		 */
		/*get_children_timeline_models(callback){

                var children_models = this.$refs.children_timeline.get_items_names();

                callback(children_models);

            },*/

		/**
		 * delete children models of link(parent) model id to chilren time line
		 * @param  linkId:parent model id
		 * @param  childIds
		 */
		delete_children_timeline_models(linkId, childIds) {
			var _this = this;

			this.$refs.children_timeline.delete_children(linkId, childIds, function(countTxt, msg) {
				/*_this.$refs.projection_sidebar_menu.update_item_children_count(

                            {modelId: linkId, childrenCount: countTxt}

                    );*/

				_this.$refs.projection_sidebar_menu._get_model_node_by_id_to_do(linkId, function(items, item, i) {
					_this.open_model({
						id: linkId,

						name: '',

						childId: '',

						childName: '',

						suffix: item['icon'],

						mode: 'is_open_model_from_menu',

						isChild: false
					});
				});

				_this.clear_canvas();

				_this.show_snackbar(msg);
			});
		},

		// set circle progress value
		set_progress_value(value) {
			this.$refs.circle_progress.set_progress_value(value);
		},

		// set circle progress step value
		set_progress_step(step, value_text, show_translate) {
			this.$refs.circle_progress.set_progress_step(step, value_text, show_translate);
		},

		// destory timer
		stop_timer(timer) {
			timer = !timer ? this.timer : timer;

			if (timer != null) {
				clearInterval(timer);
			}
		},

		// file input
		create_file_input() {
			// var div = document.getElementById('draw_div');

			// div.innerHTML='<input type="file" id="inputBox" webkitdirectory>';文件夹

			// div.innerHTML='<input type="file" id="inputBox">';

			var file = document.getElementById('inputBox');

			file.style.display = 'none';

			this.input_file = file;
		},

		/**
		 * show projection timeline sheet when click button on calendar
		 * @param projection_time_range: {from, to}
		 */
		show_projection_timeline_sheet(projection_time_range) {
			this.$refs.projection_timeline_sheet.show_sheet(
				this.$refs.projection_sidebar_menu.get_model_items(),

				projection_time_range
			);
		},

		/**
		 * to get ranslate on loop
		 * @param modelIds:
		 */
		set_models_to_get_translate_callback(modelIds) {
			this.models_to_get_translate_callback = modelIds;
		},

		model_is_translate_ok_from_callback(modelId, msg) {
			this.show_snackbar(msg);

			this.$refs.calendars.update_event_loading_by_modelId(modelId, false);
		},

		// when sidebar list icon click to toggle
		sidebar_list_toggle(current_list_name) {
			if (this.sidebar_list_name == current_list_name) {
				this.sidebar_list_name = '';
			} else {
				this.sidebar_list_name = current_list_name;
			}

			/*if(this.sidebar_list_name == ''){// default

                    this.sidebar_list_name = current_list_name

                } else {

                    this.sidebar_list_name = this.sidebar_list_name == 'children' ? 'viewpoint' : 'children';

                }*/
		},

		show_error_dialog(msg) {
			this.show_snackbar(msg);
		},

		show_dialog_for_rename_viewpoint(viewpoint_values, filter_names, callback) {
			var _this = this;

			// this.$refs.text_dialog.show_dialog('上传', msg, null, {type:'txt',value:null});
			_this.$refs.text_dialog.show_dialog(
				{
					type: 'select_do_next_BTN',

					headline: '选择',

					select: { label: '选择漫游*', items: viewpoint_values, value: [], multiple: false },

					input: { label: '漫游新名称*', value: '', filter: filter_names }, // filter is to same with input value?

					btn: { txt: '删除漫游', value: null }
				},
				function(dialog_value) {
					if (dialog_value) {
						var modelId = _this.$refs.projection_sidebar_menu.get_current_model_id();

						if (dialog_value.btn.value) {
							// is click delete

							callback('delete', {
								id: dialog_value.select.value['value'],

								model_id: modelId
							});
						} else {
							callback('rename', {
								id: dialog_value.select.value['value'],

								new_name: dialog_value.input.value,

								model_id: modelId
							});
						}
					}
				}
			);
		},

		/**
		 * show dialog to input viewpoint name when save
		 * @param filter_names: exist names
		 * @param callback: next to do
		 */
		show_dialog_for_input_viewpoint_name(filter_names, callback) {
			var modelId = this.$refs.projection_sidebar_menu.get_current_model_id();

			// this.$refs.text_dialog.show_dialog('上传', msg, null, {type:'txt',value:null});
			this.$refs.text_dialog.show_dialog(
				{
					type: 'input',

					headline: '保存',

					input: { label: '漫游路径名称*', value: '', filter: filter_names } // filter is to same with input value?
				},
				function(dialog_value) {
					if (dialog_value) {
						callback(dialog_value.input.value, modelId);
					}
				}
			);
		},

		// edit when click model timeline(not ok)
		show_text_dialog_from_model_timeline(msg) {
			// this.$refs.text_dialog.show_dialog('上传', msg, null, {type:'txt',value:null});
			this.$refs.text_dialog.show_dialog(
				{
					type: 'txt',

					headline: '上传',

					text: msg
				},
				function(dialog_value) {}
			);
		},

		// when click goon upload file from model sidebar timeline
		goon_upload_from_model_children_timeline() {
			this.$refs.projection_sidebar_menu.goon_upload();
		},

		/*// show upload file dialog to input file
            show_upload_file_dialog(){

                var _this = this;

                // this.$refs.text_dialog.show_dialog('上传', null, null, {type:'file',value:null});
                this.$refs.text_dialog.show_dialog({

                    type: 'file',

                    headline: '上传',

                    file: {label:'上传文件*', value:null, name: ''},

                    select_build: {label: '楼号*', items: [], value: [], multiple: false},

                    select_tech: {label: '专业*', items: [], value: [], multiple: false},

                    select_plan: {label: '进度*', items: [], value: [], multiple: false},

                    file_input:{label: '版本备注', value: '', filter: []},

                }, function(dialog_value){

                    _this.upload_file({

                        file: dialog_value.file.value,

                        linkValues: {

                            linkId: '',

                            time: dialog_value.date,

                            build: dialog_value.select_build.value,

                            tech: dialog_value.select_tech.value,

                            plan: dialog_value.select_plan.value,

                            version: dialog_value.file_input.value,

                            modelId: ''

                        }

                        }, // linkId: !!! null---> php ---> "null"

                        'UPLOAD MODEL'// upload model mode

                    );

                });

            },

            /!**
             * show goon upload file dialog to input file
             * @param
             *!/
            show_goon_upload_file_dialog(){

                var _this = this;

                var badge_value = _this.$refs.projection_sidebar_menu._get_current_select_badge_value();

                // this.$refs.text_dialog.show_dialog('上传', null, '图纸版本备注', {type:'goon_file_and_input',value:null});
                this.$refs.text_dialog.show_dialog({

                    type: 'file',

                    headline: '继续上传',

                    file: {label:'上传文件*', value:null, name: ''},

                    select_build: {label: '楼号*', items: [], value: badge_value['build'], multiple: false, disabled:true},

                    select_tech: {label: '专业*', items: [], value: badge_value['tech'], multiple: false},

                    select_plan: {label: '进度*', items: [], value: badge_value['plan'], multiple: false},

                    file_input:{label: '版本备注*', value: badge_value['version'], filter: []},

                    //date:badge_value['date'],

                }, function(dialog_value){

                    var modelId = _this.$refs.projection_sidebar_menu.get_link_id();

                    _this.upload_file({

                        file: dialog_value.file.value,

                        // linkValues: {linkId: modelId, time: dialog_value.date, version: dialog_value.input.value, modelId: ''}},// input file and linkValues{id,time,version}

                        linkValues: {

                            linkId: modelId,

                            time: dialog_value.date,

                            build: badge_value['build'],// from link model

                            tech: dialog_value.select_tech.value,

                            plan: dialog_value.select_plan.value,

                            version: dialog_value.file_input.value,

                            modelId: ''

                        }

                        },


                        'UPLOAD CHILDREN MODEL'// upload model mode

                    );

                });

            },*/

		/**
		 * show update children model file dialog to input file
		 * @param  dialog_selected: {name,value{id,date}}
		 */
		/*show_update_children_model_file_dialog(dialog_selected){

                var _this = this;

                this.$refs.text_dialog.show_dialog({

                    type: 'edit_children_model_file_input',

                    headline: '修改',

                    file: {label:'选择替换文件或不选择', value:null},

                    date: dialog_selected['value']['date'],

                    input: {label: '图纸版本*', value: dialog_selected['name']},

                },function(d_value){

                    var selected_modelId = dialog_selected['value']['id'];

                    _this.upload_file({

                            file: d_value['file']['value'],

                            linkValues: {linkId: '', time: d_value['date'], version: d_value['input']['value'], modelId: selected_modelId}},// input file and linkValues{id,time,version}

                            'UPDATE CHILDREN MODEL'// upload model mode

                    );

                });

            },*/

		/**
		 * down model from web
		 * @param modelId: id of model or image
		 */
		down_model(modelId) {
			var baseModelName = this.$refs.projection_sidebar_menu.get_link_name();

			//传参
			var oMyForm = new FormData();

			oMyForm.append('modelId', modelId);

			oMyForm.append('userId', this.$G.user.id);

			oMyForm.append('baseModelName', baseModelName);

			var _this = this;

			var url = this.$G.phpurl + 'modelDown.php';

			this.axios
				.post(url, oMyForm)
				.then(response => {
					console.log(response);

					if (response != '') {
						if (response['data']['code'] == 'success') {
							console.log('下载图纸：' + response['data']['msg']);

							var downUrl = response['data']['data']['downUrl'];

							var downName = response['data']['data']['downName'];

							var is_local_web = response['data']['data']['isLocalWeb']; // is edraw or bimface

							var url = is_local_web
								? // _this.$G.downImageUrl + _this.$G.phpurl + 'modelDownImage.php?filePath=' + downUrl + '&fileName=' + downName:
								  _this.$G.downImageUrl + _this.$G.phpurl + 'modelDownImage.php?modelId=' + modelId + '&baseModelName=' + baseModelName
								: downUrl;

							// down file from url

							let a = document.createElement('a');

							// a.download = downName;

							a.href = url;

							document.body.appendChild(a);

							a.click();

							document.body.removeChild(a);

							/*
                            // form down file
                            var params = {

                                filename : downName,

                            };

                            var form = document.createElement('form')
                            form.id = 'form'
                            form.name = 'form'
                            document.body.appendChild (form)
                            for (var obj in params) {
                                if (params.hasOwnProperty(obj)) {
                                    var input = document.createElement('input')
                                    input.tpye='hidden'
                                    input.name = obj;
                                    input.value = params[obj]
                                    form.appendChild(input)
                                }
                            }
                            form.method = "GET" //请求方式
                            form.action = downUrl;
                            form.submit()
                            document.body.removeChild(form)*/
						} else {
							_this.show_snackbar(response['data']['msg']);
						}
					} else {
						_this.show_snackbar('上传数据错误');
					}
				})
				.catch(function(error) {
					// 请求失败处理

					console.error(error);

					return null;
				});
		},

		// open model when click calendar event
		open_model_from_calendar(event_value) {
			this.$refs.projection_sidebar_menu.open_model_from_calendar_event(event_value);
		},

		/**
		 * open model or image?
		 * @param model_value:{id,name,childId,childName,suffix,mode,isChild} ,
		 *              modelId: id of model or image , icon:png,dwg,skp,rvt... , from_model:which mode?
		 */
		open_model(model_value) {
			var linkId = model_value['id'];

			var linkName = model_value['name'];

			var childId = model_value['childId'];

			var childName = model_value['childName'];

			var suffix = model_value['suffix'];

			var from_model = model_value['mode'];

			var modelId = model_value['isChild'] ? childId : linkId; // current model id

			// save select model and link(parent) id and name

			// this.$refs.projection_sidebar_menu.set_select_model(linkId, linkName, childId, childName);

			// show badge on openning model node and set_select_model!!!

			this.$refs.projection_sidebar_menu.set_select_model_and_badge_value(modelId);

			// save open time line

			this.set_openline_to_msql(modelId);

			// detect suffix

			var is_image_file = '.jpg, .jpeg, .gif, .bmp, .png'.indexOf(suffix) > -1 ? 'png' : 'dwg';

			switch (is_image_file) {
				case 'png':
					this.open_file_by_model_id(modelId, from_model);

					break;

				default:
					this.open_model_by_get_view_token(modelId, from_model);
			}
		},

		/**
		 * upload model file from pc to bimface
		 * @param callbackValue:{file,linkValues}
		 */
		upload_file(callbackValue, uploadModelMode) {
			console.log('app upload file');

			var file = callbackValue['file'];

			var linkModelValues = callbackValue['linkValues']; // is {id:null,time:null,version:null}

			if (file != null && typeof file != 'undefined') {
				// show upload sheet
				this.show_sheet();
			} else {
				// return null;// exist
			}

			// create file to msql
			this.new_insert_row_to_model_msql(file, linkModelValues, uploadModelMode);
		},

		/**
		 * save or update model row to msql
		 * @param file
		 * @param fileOriginalName: original name of file
		 * @param fileSize
		 * @param linkModelValues: {linkId, time, version, modelId, build, tech, plan}
		 */
		new_insert_row_to_model_msql(file, linkModelValues, uploadModelMode) {
			var fileOriginalName = '',
				fileSize = '',
				fileType = '';

			if (file != null && typeof file != 'undefined') {
				fileOriginalName = file.name;

				fileSize = file.size;

				fileType = file.name.split('.')[file.name.split('.').length - 1];
			}

			var modelId = linkModelValues['isChild'] ? linkModelValues['childId'] : linkModelValues['linkId'];

			var linkId = linkModelValues['isChild'] ? linkModelValues['linkId'] : '';

			fileOriginalName = linkModelValues['fileName']; // !!!

			//传参
			var oMyForm = new FormData();

			oMyForm.append('projectionId', this.$G.projection.id);

			oMyForm.append('creatorId', this.$G.user.id);

			oMyForm.append('fileName', fileOriginalName);

			oMyForm.append('linkModelId', linkId); // if is '', is parent model , false is children model, to insert model Id to parent id

			oMyForm.append('modelId', modelId); // whether is new or update? by modelId, true is update , '' is new

			oMyForm.append('modelBuild', linkModelValues['build']);

			oMyForm.append('modelTech', linkModelValues['tech']);

			oMyForm.append('modelPlan', linkModelValues['plan']);

			oMyForm.append('modelVersion', linkModelValues['version']);

			oMyForm.append('createTime', linkModelValues['time']);

			let _this = this;

			let url = this.$G.phpurl + 'modelCreate.php';

			this.axios
				.post(url, oMyForm)
				.then(response => {
					console.log(response);

					if (response != '') {
						if (response['data']['code'] == 'success') {
							console.log('创建文件：' + response['data']['msg']);

							let modelId = response['data']['data']['modelId'];

							_this._UPLOADMODE = uploadModelMode;

							switch (_this._UPLOADMODE) {
								case 'UPLOAD MODEL': // new model
									_this.$refs.projection_sidebar_menu.insert_item_to_items({
										file_id: modelId,

										file_name: fileOriginalName, // show on model node

										badgeValue: {
											build: linkModelValues['build'],

											tech: linkModelValues['tech'],

											plan: linkModelValues['plan'],

											version: linkModelValues['version'],

											date: linkModelValues['time']
										}
									});

									break;

								case 'UPDATE MODEL':
									_this.$refs.projection_sidebar_menu.update_item_to_items({
										last_id: linkModelValues['linkId'], // last model's id for find node to update

										file_id: modelId,

										file_name: fileOriginalName,

										badgeValue: {
											build: linkModelValues['build'],

											tech: linkModelValues['tech'],

											plan: linkModelValues['plan'],

											version: linkModelValues['version'],

											date: linkModelValues['time']
										}
									});

									break;

								case 'UPLOAD CHILDREN MODEL': // new children model
									// _this.update_item_children_count(linkModelValues['linkId'], childrenCount);

									break;

								case 'UPDATE CHILDREN MODEL':
									_this.$refs.children_timeline.update_children(linkModelValues); // update children model name and date

									break;

								default:
							}

							// if file is null to return null

							if (file != null && typeof file != 'undefined') {
								if ('.jpg, .jpeg, .gif, .bmp, .png'.indexOf(fileType.toLowerCase()) > -1) {
									_this.set_progress_step(1.5, '0%', false);

									// upload file to web
									_this.upload_big_file_by_piece(modelId, file, fileOriginalName, fileType, 1 * 1024 * 1024); // 1M per piece
								} else {
									_this.set_progress_step(1);

									// Witch upload mode? put or policy

									switch (_this.$G.phpurl) {
										case '/test_php/': //"put":
											// upload file to web
											_this.upload_php(modelId, file, fileOriginalName, fileSize);

											break;

										case '/php/': //"policy":
											var fileName = modelId + fileOriginalName.slice(fileOriginalName.length - 4);

											_this.get_policy(fileName, file, modelId);

											break;

										default:
									}
								}

								// save time line values
								_this.set_timeline_values(response, { mode: 'new_begin', id: modelId });
							} else {
								// show badge on openning model node and set_select_model!!!

								this.$refs.projection_sidebar_menu.set_select_model_and_badge_value(modelId);
							}
						}
					}
				})
				.catch(function(error) {
					// 请求失败处理

					console.error(error);

					return null;
				});
		},

		/* /!**
             * update item's childrenCount
             * @param childrenCount: count of children to show on badage
             *!/
            update_item_children_count(modelId, childrenCount){

                this.$refs.projection_sidebar_menu.update_item_children_count({

                    modelId: modelId,

                    childrenCount: childrenCount,

                });  // 调用子组件的方法

            },*/

		/**
		 * get policy for upload model by policy
		 * @param fileName
		 * @param file
		 */
		get_policy(fileName, file, modelId) {
			//传参
			var oMyForm = new FormData();

			oMyForm.append('fileName', fileName);

			var _this = this;

			var url = this.$G.phpurl + 'getPolicy.php';

			this.axios
				.post(url, oMyForm)
				.then(response => {
					console.log(response);

					if (response != '') {
						if (response['data']['code'] == 'success') {
							console.log('获取policy：' + response['data']['msg']);

							_this.upload_by_policy(response['data']['data'], file, fileName, modelId);
						} else {
							_this.show_snackbar('获取policy : ' + response['data']['msg']);
						}
					} else {
						_this.show_snackbar('上传数据错误');
					}
				})
				.catch(function(error) {
					// 请求失败处理

					console.error(error);

					return null;
				});
		},

		/**
		 * upload file by policy
		 * @param policyData
		 * @param file
		 * @param fileName
		 */
		upload_by_policy(policyData, file, fileName, modelId) {
			//传参
			var oMyForm = new FormData();
			oMyForm.append('name', fileName);
			oMyForm.append('key', policyData['objectKey']);
			oMyForm.append('policy', policyData['policy']);
			oMyForm.append('OSSAccessKeyId', policyData['accessId']);
			oMyForm.append('callback', policyData['callbackBody']);
			oMyForm.append('signature', policyData['signature']);
			oMyForm.append('success_action_status', 200);
			oMyForm.append('file', file);

			var _this = this;

			// callback progress
			var config = {
				onUploadProgress: progressEvent => {
					var complete = (((progressEvent.loaded / progressEvent.total) * 66) | 0) + '%';

					_this.set_progress_value(complete);
				}
			};

			var url = policyData['host'];

			this.axios
				.post(url, oMyForm, config)
				.then(response => {
					console.log(response);

					if (response != '') {
						var data = response['data']['data'];

						if (response['data']['code'] == 'success') {
							console.log('上传文件成功');

							// change progress
							this.set_progress_step(2);

							// 发起转换
							this.translate_file(modelId, data['fileId'], data['name'], data['length'], data['suffix']);

							// save time line values
							this.set_timeline_values(response);
						} else {
							this.show_snackbar('上传文件 ' + data['status']);

							this._set_timeline_value_on_error('上传文件失败');
						}
					} else {
						this.show_snackbar('上传文件错误');
					}
				})
				.catch(function(error) {
					// 请求失败处理

					console.error(error);

					// show snack bar
					_this.show_snackbar('上传文件失败：' + error['message']);

					// set timeline error
					_this._set_timeline_value_on_error('上传文件失败');

					return null;
				});
		},

		/**
		 * upload file to bim face by curl, XXXX
		 * @param file
		 * @param fileName
		 * @param fileSize
		 */
		upload_php(modelId, file, fileOriginalName, fileSize) {
			//传参
			var oMyForm = new FormData();

			oMyForm.append('modelId', modelId);

			oMyForm.append('file', file);

			oMyForm.append('fileName', fileOriginalName);

			oMyForm.append('fileSize', fileSize);

			oMyForm.append('projectionId', this.$G.projection.id);

			// callback progress
			var config = {
				onUploadProgress: progressEvent => {
					var complete = (((progressEvent.loaded / progressEvent.total) * 92) | 0) + '%';

					this.set_progress_value(complete);
				}
			};

			var _this = this;

			var url = this.$G.phpurl + 'modelPutByCurl.php';

			this.axios
				.post(url, oMyForm, config)
				.then(response => {
					console.log(response);

					if (response != '') {
						let data = response['data']['data'];

						if (response['data']['code'] == 'success' && data['status'] == 'success') {
							console.log('上传文件：' + response['data']['msg']);

							this.set_progress_step(2);

							// 发起转换
							this.translate_file(modelId, data['fileId'], data['name'], data['length'], data['suffix']);

							// save time line values
							this.set_timeline_values(response);
						} else {
							this.show_snackbar('上传文件 ' + data['status']);
						}
					} else {
						this.show_snackbar('上传文件错误');
					}
				})
				.catch(function(error) {
					// 请求失败处理

					console.error(error);

					// show snack bar
					_this.show_snackbar('上传文件失败：' + error['message']);

					// set timeline error
					_this._set_timeline_value_on_error('上传文件失败');

					return null;
				});
		},

		/**
		 * upload file to bim face to do translate
		 * @param modelId: model id of edraw
		 * @param fileName: file name of bimface
		 * @param fileId: file id of bimface
		 * @param fileLength: file size
		 * @param fileSuffix: file type
		 */
		translate_file(modelId, fileId, fileName, fileLength, fileSuffix) {
			//传参
			var oMyForm = new FormData();

			oMyForm.append('fileName', fileName);

			oMyForm.append('fileId', fileId);

			oMyForm.append('modelId', modelId);

			oMyForm.append('fileLength', fileLength);

			oMyForm.append('fileSuffix', fileSuffix);

			/*var config = {onUploadProgress: progressEvent => {

                    var complete = (progressEvent.loaded / progressEvent.total * 50 | 0) + '%';

                    this.set_progress_value(complete);
                    }
                };*/

			var _this = this;

			var url = this.$G.phpurl + 'modelPutTranslate.php';

			this.axios
				.post(url, oMyForm)
				.then(response => {
					console.log(response);

					if (response != '') {
						if (response['data']['code'] == 'success') {
							console.log('提交转换：' + response['data']['msg']);

							_this.set_progress_step(2);

							// this.insert_item_to_items(fileId, fileOriginalName);

							_this.get_translate({ id: modelId, seconds: 5, total_seconds: 60 }); // get translating from edraw php

							// save time line values
							_this.set_timeline_values(response);
						} else {
							_this.show_snackbar('提交转换 : ' + response['data']['msg']);

							_this._set_timeline_value_on_error('提交转换失败');
						}
					} else {
						_this.show_snackbar('上传数据错误');
					}
				})
				.catch(function(error) {
					// 请求失败处理

					console.error(error);

					// show snack bar
					_this.show_snackbar('提交转换失败：' + error['message']);

					// set timeline error
					_this._set_timeline_value_on_error('提交转换失败');

					return null;
				});
		},

		/* get translate from mysql by space seconds
		 *  values:
		 *          id: model id
		 *          seconds: space seconds
		 *          total_seconds: total seconds, than to stop timer
		 *
		 */
		get_translate(values) {
			var modelId = values['id'];

			var seconds = values['seconds'];

			var total_seconds = values['total_seconds'];

			let _this = this;

			//传参
			let oMyForm = new FormData();

			oMyForm.append('modelId', modelId);

			let total_times = Math.round(total_seconds / seconds);

			let n = 0;

			this.timer = setInterval(() => {
				console.log('查询转换 ' + n);

				_this.axios
					.post(this.$G.phpurl + 'modelTranslateOk.php', oMyForm)
					.then(response => {
						console.log(response);

						if (n > total_times) {
							console.log('转换查询超时');

							_this.stop_timer(_this.timer);

							_this.set_progress_step(-1);

							_this._set_timeline_value_on_error('转换查询超时');
						}

						if (response != '') {
							if (response['data']['code'] == 'success') {
								console.log('转换文件：' + response['data']['msg']); // 转换成功

								_this.set_progress_step(3);

								_this.stop_timer();

								// doing on end of upload model

								// end of new and to save time line values
								_this.set_timeline_values(response, { mode: 'new_end' });

								// change select badge to the new model id
								switch (_this._UPLOADMODE) {
									case 'UPLOAD MODEL':
										_this.$refs.projection_sidebar_menu.set_select_newest_insert_item_for_auto_open_model();

										break;

									case 'UPDATE MODEL':
										_this.open_model({
											id: modelId,

											name: response['data']['data']['modelName'],

											childId: null,

											childName: null,

											suffix: response['data']['data']['suffix'],

											mode: 'is_open_model_from_new',

											isChild: false
										});

										break;

									/*case "UPLOAD CHILDREN MODEL":

                                    // _this.open_model_by_get_view_token(modelId,'is_open_model_from_new');

                                    break;

                                case "UPDATE CHILDREN MODEL":

                                    // _this.open_model_by_get_view_token(modelId,'is_open_model_from_new');

                                    break;*/

									// UPLOAD CHILDREN MODEL, UPDATE CHILDREN MODEL
									default:
										_this.open_model({
											id: _this.$refs.projection_sidebar_menu.get_link_id(),

											name: _this.$refs.projection_sidebar_menu.get_link_name(),

											childId: modelId,

											childName: response['data']['data']['modelName'],

											suffix: response['data']['data']['suffix'],

											mode: 'is_open_model_from_new',

											isChild: true
										});
								}
							} else {
								console.log('转换文件 : ' + response['data']['msg']);
							}
						} else {
							_this.show_snackbar('上次数据错误');
						}
					})
					.catch(function(error) {
						// 请求失败处理

						console.error(error);

						_this.stop_timer();

						// show snack bar
						_this.show_snackbar('转换图纸失败：' + error['message']);

						// set timeline error
						_this._set_timeline_value_on_error('转换图纸失败');

						return null;
					});

				n++;
			}, seconds * 1000);
		},

		/**
		 * get view token by id and open model
		 * @param modelId: model id of edraw
		 * @param from_mode: which from
		 */
		open_model_by_get_view_token(modelId, from_mode) {
			this.show_snackbar('正在打开图纸...');

			// hide calendars

			this.show_layout_draw();

			//传参
			let oMyForm = new FormData();

			oMyForm.append('modelId', modelId);

			let _this = this;

			let url = this.$G.phpurl + 'getViewToken.php';

			this.axios
				.post(url, oMyForm)
				.then(response => {
					console.log(response);

					if (response != '') {
						if (response['data']['code'] == 'success') {
							console.log('浏览文件：' + response['data']['msg']);

							_this.open_model_by_view_token(response['data']['data']['viewToken']);

							/*// show badge on openning model node

                            _this.$refs.projection_sidebar_menu.set_select_badge(modelId);*/

							switch (from_mode) {
								case 'is_open_model_from_new':
									// show children time line if true
									_this.$refs.children_timeline.show_children_by_id(modelId);

									_this.$refs.model_viewpoint.show_viewpoint_by_id(modelId);

									break;

								case 'is_open_model_from_menu':
									//_this.set_openline_to_msql(modelId);

									// show children time line if true
									_this.$refs.children_timeline.show_children_by_id(modelId);

									_this.$refs.model_viewpoint.show_viewpoint_by_id(modelId);

									break;

								case 'is_open_model_from_children':
									//_this.set_openline_to_msql(modelId);

									break;

								default:
							}
						} else {
							_this.show_snackbar('文件打开失败');
						}
					} else {
						_this.show_snackbar('文件错误');
					}
				})
				.catch(function(error) {
					// 请求失败处理

					console.error(error);

					// show snack bar
					_this.show_snackbar('获得权限失败：' + error['message']);

					// set timeline error
					_this._set_timeline_value_on_error('获得权限失败');

					return null;
				});
		},

		/**
		 * open model by view token(12 hours no used will change)
		 * @param viewToken: view token of model
		 */
		open_model_by_view_token(viewToken) {
			// var viewToken = 'd2e25af126364cb59c08067d80446f1c';

			var app;

			var view2D_background = 0; // 0:黑底,2:白底

			var _this = this;

			// 设置BIMFACE JSSDK加载器的配置信息
			var loaderConfig = new BimfaceSDKLoaderConfig();

			loaderConfig.viewToken = viewToken;

			// 加载BIMFACE JSSDK加载器
			BimfaceSDKLoader.load(loaderConfig, successCallback, failureCallback);

			// 加载成功回调函数
			function successCallback(viewMetaData) {
				// 创建WebApplication，直接显示模型或图纸
				var dom4Show = document.getElementById('domId');

				// 清空 div，避免覆盖
				dom4Show.innerHTML = '';

				//new Glodon.Bimface.Application.WebApplicationDemo(viewMetaData, dom4Show);

				/*if (viewMetaData.viewType == "drawingView") {
                        // ======== 判断是否为Drawing模型 ========
                        // 获取DOM元素
                        var dom4Show = document.getElementById('domId');
                        var webAppConfig = new Glodon.Bimface.Application.WebApplicationDrawingConfig();
                        webAppConfig.domElement = dom4Show;
                        webAppConfig.drawingUrl = viewMetaData.drawingUrl;
                        webAppConfig.viewToken = viewMetaData.viewToken;
                        // 创建WebApplication
                        app = new Glodon.Bimface.Application.WebApplicationDrawing(webAppConfig);
                        // 添加待显示的模型
                        app.load(viewToken);
                        // 从WebApplication获取viewerDrawing对象
                        viewer2D = app.getViewer();
                        // 监听添加view完成的事件
                        viewer2D.addEventListener(Glodon.Bimface.Viewer.ViewerDrawingEvent.Loaded, function () {
                            //自适应屏幕大小
                            window.onresize=function(){
                                viewer2D.resize(document.documentElement.clientWidth,document.documentElement.clientHeight-48)
                            }
                        });
                    }*/

				if (viewMetaData.viewType == 'drawingView') {
					// 获取DOM元素
					//var dom4Show = document.getElementById('domId');
					var webAppConfig = new Glodon.Bimface.Application.WebApplicationDrawingConfig();
					webAppConfig.domElement = dom4Show;
					webAppConfig.viewToken = viewMetaData.viewToken;
					//自己定义一个数组，配置自己想要的button
					webAppConfig.Toolbars = ['MainToolbar'];
					webAppConfig.Buttons = ['Home', 'RectZoom', 'DrawingMeasure', 'Layers', 'FullScreen'];
					app = new Glodon.Bimface.Application.WebApplicationDrawing(webAppConfig);
					// 添加待显示的模型
					app.load(viewToken);
					var viewer2D = app.getViewer();
					// 监听添加加载完成事件
					viewer2D.addEventListener(Glodon.Bimface.Viewer.ViewerDrawingEvent.Loaded, function() {
						setButtonColor(dom4Show, viewMetaData.viewType);

						//获取工具条对象
						var toolbar = app.getToolbar('MainToolbar');
						var btnConfig = new Glodon.Bimface.UI.Button.ButtonConfig();
						var btn = new Glodon.Bimface.UI.Button.Button(btnConfig);
						//设置新增按钮的样式
						// btn.setHtml('<button style="width: 50px; height:50px; left: -8px; top: -8px; position: relative; color: white; font-size: 18px;background: rgba(0, 0, 0, 0);opacity: 0.6;border: none;">白</button>');
						btn.setHtml('<div class="mdi mdi-transition-masked" title="风格"></div>');
						//设置按钮的点击事件
						btn.addEventListener('Click', function() {
							view2D_background = view2D_background == 0 ? 2 : 0;
							var background_type = view2D_background == 0 ? 'drawingView' : '3DView'; // 黑底:白底
							viewer2D.setDisplayMode(view2D_background);
							setButtonColor(dom4Show, background_type);
						});
						//设置按钮的位置
						toolbar.insertControl(3, btn);
					});
				} else if (viewMetaData.viewType == '3DView') {
					// 获取DOM元素
					var WebAppConfig = new Glodon.Bimface.Application.WebApplication3DConfig();
					WebAppConfig.domElement = dom4Show;
					// 加载时隐藏Viewhouse
					WebAppConfig.enableViewHouse = false;
					WebAppConfig.enableBorderLine = true;
					//自己定义一个数组，配置自己想要的button
					//WebAppConfig.Buttons=["Home","RectangleSelect","Measure","Section","Walk","Map","Property","Setting","Information",'FullScreen'];
					app = new Glodon.Bimface.Application.WebApplication3D(WebAppConfig);
					var viewer3D = app.getViewer();
					app.addView(viewMetaData.viewToken);

					//标签类的设置
					var drawableConfig = new Glodon.Bimface.Plugins.Drawable.DrawableContainerConfig();
					drawableConfig.viewer = viewer3D;
					//容器
					var drawableContainer = new Glodon.Bimface.Plugins.Drawable.DrawableContainer(drawableConfig);
					var config = new Glodon.Bimface.Plugins.Walkthrough.WalkthroughConfig();
					config.viewer = viewer3D;
					_this.model_walk_through = new Glodon.Bimface.Plugins.Walkthrough.Walkthrough(config);

					// 监听添加加载完成事件
					viewer3D.addEventListener(Glodon.Bimface.Viewer.Viewer3DEvent.ViewAdded, function() {
						setButtonColor(dom4Show, viewMetaData.viewType);
						gradientBackgroundColor(viewer3D);
						// wt.setKeyFrameCallback(keyFrameCallback);
					});

					// 监听添加加载完成事件
					viewer3D.addEventListener(Glodon.Bimface.Viewer.Viewer3DEvent.ButtonOnToolbarClicked, function(e) {
						console.log('ButtonOnToolbarClicked');
					});
				}
			}

			// 加载失败回调函数
			function failureCallback(error) {
				console.error(error);
			}

			// set button color by view type
			function setButtonColor(div, viewType) {
				var bts = div.getElementsByClassName('bf-button');

				for (var i = 0; i < bts.length; i++) {
					bts[i].style.color = viewType == '3DView' ? '#000000' : '#FFFFFF';
				}

				var viewBts = div.getElementsByClassName('viewButton');

				if (viewBts && viewBts.length > 0) {
					viewBts[0].style.display = 'none';
				}
			}

			function gradientBackgroundColor(viewer3D) {
				var color1 = new Glodon.Web.Graphics.Color('#BFEFFF', 0.8);

				var color2 = new Glodon.Web.Graphics.Color('#949494', 0.8);

				viewer3D.setBackgroundColor(color1, color2);

				viewer3D.render();
			}

			//回调事件
			function keyFrameCallback(idx) {
				console.log('Current key frame index is ' + idx);
			}
		},

		// stop timer and go to get translate on loop

		go_to_get_translate_loop(msg) {
			// save to msql

			this._set_timeline_value_on_error(msg);

			// stop timer

			this.stop_timer(this.timer);
		},

		add_view_point_from_3d_model() {
			// var viewpoints = this.model_walk_through;
		},

		/**
		 * open image by model id
		 * @param viewToken: view token of model
		 */
		open_file_by_model_id(modelId, from_mode) {
			this.show_snackbar('正在打开文件...');

			// hide calendars

			this.show_layout_viewer();

			//传参
			var oMyForm = new FormData();

			oMyForm.append('modelId', modelId);

			var _this = this;

			var url = this.$G.phpurl + 'modelGetFilePath.php';

			this.axios
				.post(url, oMyForm)
				.then(response => {
					console.log(response);

					if (response != '') {
						if (response['data']['code'] == 'success') {
							console.log('文件路径：' + response['data']['msg']);

							var filePath = response['data']['data']['filePath'];

							_this.$refs.image_viewer.open_viewer_by_path(filePath);

							switch (from_mode) {
								case 'is_open_model_from_new':
									// show children time line if true
									_this.$refs.children_timeline.show_children_by_id(modelId);

									_this.$refs.model_viewpoint.show_viewpoint_by_id(null);

									break;

								case 'is_open_model_from_menu':
									//this.set_openline_to_msql(modelId);

									// show children time line if true
									_this.$refs.children_timeline.show_children_by_id(modelId);

									_this.$refs.model_viewpoint.show_viewpoint_by_id(null);

									break;

								case 'is_open_model_from_children':
									//this.set_openline_to_msql(modelId);

									break;

								default:
							}
						} else {
							_this.show_snackbar('文件打开失败');
						}
					} else {
						_this.show_snackbar('文件错误');
					}
				})
				.catch(function(error) {
					// 请求失败处理

					console.error(error);

					// show snack bar
					_this.show_snackbar('获得权限失败：' + error['message']);

					// set timeline error
					_this._set_timeline_value_on_error('获得权限失败');

					return null;
				});
		},

		// clear div and canvas
		clear_canvas() {
			// 清空 div
			document.getElementById('domId').innerHTML = '';

			// hide image viewer
			this.$refs.image_viewer.hide_viewer();
		},

		// whether to set cover?
		is_set_cover() {
			if (this.is_calendars_show()) {
				this.show_snackbar('请打开要设置成封面的图纸，并转换到图纸界面');

				return null;
			}

			var _this = this;

			_this._cut_canvas_to_dataURL(function(imageData) {
				_this.$refs.image_dialog.set_image(imageData['data']);
			});
		},

		// accept? and go on set cover of projection card
		set_projection_cover(is_accept, pngData) {
			if (!is_accept) return null;

			// upload png to web

			//传参
			var oMyForm = new FormData();

			// oMyForm.append("p_creator_id", this.$G.projection.id);

			oMyForm.append('p_id', this.$G.projection.id);

			oMyForm.append('file', pngData); // dataUrl

			let headers = {
				'Content-Type': 'multipart/form-data'
			};

			var url = this.$G.phpurl + 'projectionUploadPng.php';

			this.axios
				.post(url, oMyForm, { headers: headers })
				.then(response => {
					console.log(response);

					if (response != '') {
						if (response['data']['code'] == 'success') {
							console.log(response['data']['msg']);

							this.show_snackbar('已经设置好 当前图纸 为 项目封面');
						}
					}
				})
				.catch(function(error) {
					// 请求失败处理

					console.log(error);

					return null;
				});
		},

		/**
		 * show share dialog
		 * @param mode: '邀请' ‘分享’
		 */
		show_share_dialog(mode) {
			// var dataURL = this._cut_canvas_to_dataURL();

			this.$refs.share_dialog.show_share_dialog(mode, this.$G.projection);
		},

		// set calendars events by timeline
		set_calendars_events(timeline) {
			if (typeof this.$refs.calendars != 'undefined') {
				this.$refs.calendars.load_events(timeline);
			}

			/*if(typeof(timeline) == 'object' && timeline.length > 0){

                    var events =timeline;

                    if(typeof(this.$refs.calendars) != 'undefined'){

                        this.$refs.calendars.set_events(events);

                    }

                }*/
		},

		show_model_items_on_timeline_calendar(items) {
			this.model_items = items;

			// this.$refs.timeline_calendars.show_model_items_from_sidebar_menu(items);
		},

		/*toggle_calendars(){

                this.$refs.calendars.calendars_toggle();

                // set menu select to null

                this.$refs.projection_sidebar_menu.set_menu_active_null();

            },*/

		// when layout button click
		change_layout() {
			this.layout.is_max = !this.layout.is_max;

			// is phone to set margin for show title of user
			var is_sm = !this.$vuetify.breakpoint.lgAndUp;

			if (!this.layout.is_max) {
				this.layout.icon = 'mdi-launch'; // 'mdi-select-inverse';

				this.layout.span = '布局';
			} else {
				this.layout.icon = 'mdi-view-agenda' + (!is_sm ? ' mdi-rotate-90' : '');

				this.layout.span = '布局';
			}

			this.change_layout_from_click_button(this.layout.is_max);
		},

		change_layout_from_click_button(is_max_layout) {
			this.layout.is_max = is_max_layout;

			if (this.layout.current == 'layout_draw') {
				this.show_layout_draw();
			} else {
				this.show_layout_viewer();
			}
		},

		set_layout_by_is_max(is_max) {
			this.layout.is_max = !is_max;

			this.change_layout();
		},

		show_calendars() {
			// this.$refs.calendars.show_calendars();

			this.show_calendar_group = true;

			this.tabs = 'tab-1';
		},

		hide_calendars() {
			// this.$refs.calendars.hide_calendars();

			this.show_calendar_group = false;

			this.tabs = 'tab-0';
		},

		is_calendars_show() {
			// return this.$refs.calendars.is_calendars_show();

			return this.show_calendar_group;
		},

		// set layout init when load
		show_layout_init() {
			var is_sm = !this.$vuetify.breakpoint.lgAndUp; // phone

			(this.layout = {
				is_max: is_sm ? true : true, // default

				current: 'layout_viewer',

				show_viewer: is_sm ? true : true,

				show_draw: is_sm ? false : true
			}),
				(this.layout_draw = {
					width: is_sm ? '100%' : '50%',

					height: is_sm ? '100%' : '100%'
				});

			this.layout_viewer = {
				width: is_sm ? '100%' : '50%',

				height: is_sm ? '100%' : '100%'
			};

			this.set_layout_by_is_max(this.layout.is_max);

			// default is show on load

			this.show_calendars();
		},

		// show draw canvas by hide calendars and hide image viewer!
		show_layout_draw() {
			this.hide_calendars();

			// this.$refs.image_viewer.hide_viewer();

			// is phone to set margin for show title of user
			var is_sm = !this.$vuetify.breakpoint.lgAndUp;

			this.layout.current = 'layout_draw';

			this.layout.show_draw = true;

			if (this.layout.is_max) {
				this.layout_draw = {
					width: '100%',

					height: '100%'
				};

				this.layout_viewer = {
					width: '100%',

					height: '100%'
				};

				this.layout.show_viewer = false;
			} else {
				this.layout_draw = {
					width: is_sm ? '100%' : '50%',

					height: is_sm ? '50%' : '100%'
				};

				this.layout_viewer = {
					width: is_sm ? '100%' : '50%',

					height: is_sm ? '50%' : '100%'
				};

				this.layout.show_viewer = true;
			}

			this._resize_layout_canvas_size();
		},

		// show file viewer by hide calendars and hide draw canvas!
		show_layout_viewer() {
			this.hide_calendars();

			// this.$refs.image_viewer.show_viewer();
			var is_sm = !this.$vuetify.breakpoint.lgAndUp;

			this.layout.current = 'layout_viewer';

			this.layout.show_viewer = true;

			if (this.layout.is_max) {
				this.layout_draw = {
					width: '100%',

					height: '100%'
				};

				this.layout_viewer = {
					width: '100%',

					height: '100%'
				};

				this.layout.show_draw = false;
			} else {
				this.layout_draw = {
					width: is_sm ? '100%' : '50%',

					height: is_sm ? '50%' : '100%'
				};

				this.layout_viewer = {
					width: is_sm ? '100%' : '50%',

					height: is_sm ? '50%' : '100%'
				};

				this.layout.show_draw = true;
			}

			this._resize_layout_canvas_size();
		},

		// set canvas size to same div
		_resize_layout_canvas_size() {
			setTimeout(() => {
				var myEvent = new Event('resize');

				window.dispatchEvent(myEvent);
			}, 100); // un_active selected node

			/*var layout_draw = document.getElementById('layout_draw');

                var canvass = layout_draw.getElementsByTagName('canvas');

                for(var i = 0 ; i < canvass.length ; i ++){

                    canvass[i].height = parseFloat(layout_draw.offsetHeight);

                    canvass[i].width = parseFloat(layout_draw.offsetWidth);

                }*/
		},

		click_layout_viewer() {
			this.layout['current'] = 'layout_viewer';
		},

		click_layout_draw() {
			this.layout['current'] = 'layout_draw';
		},

		toggle_children_timeline(callback) {
			this.sidebar_list_show = !this.sidebar_list_show;

			callback(this.sidebar_list_show);
		},

		set_children_timeline_select_id(id) {
			this.children_items.select_child_id = id;
		},

		// cut canvas to share dialog
		_cut_canvas_to_dataURL(callback) {
			// 获取待转换对象

			var downloadContent = this.$refs['domId'];

			//var options = {type: 'dataURL'}

			// 转换并下载

			html2canvas(downloadContent, {
				backgroundColor: null,

				useCORS: true // 如果截图的内容里有图片,可能会有跨域的情况,加上这个参数,解决文件跨域问题
			}).then(canvas => {
				var dataURL = canvas.toDataURL('image/jpeg', 0.5);

				callback({
					data: dataURL,

					rate: canvas.height / canvas.width
				});
			});

			/*var canvas = document.getElementById("DrawingdomId-main-drawing") || // dwg

                        document.getElementById("cloud-main-canvas");// skp

                if(canvas && canvas.width > 0 && canvas.height > 0){

                    var dataURL = canvas.toDataURL("image/jpeg", 0.1);

                    return {

                        data: dataURL,

                        rate: canvas.height / canvas.width,

                    };

                }*/

			return null;
		},

		// cut canvas to png file
		_cut_canvas_to_png() {
			var canvas =
				document.getElementById('DrawingdomId-main-drawing') || document.getElementById('cloud-main-canvas'); // dwg // skp

			if (canvas) {
				var width = 400;

				var height = (width * canvas.height) / canvas.width;

				var png = Canvas2Image.convertToPNG(canvas, width, height);
			}

			return png;
		},

		// upload big(image) file to web
		upload_big_file_by_piece(modelId, file, fileName, fileType, bytesPerPiece) {
			var blob = file;

			var filesize = blob.size;

			var totalPieces = Math.ceil(filesize / bytesPerPiece);

			var time = Math.floor(new Date().valueOf() / 1000);

			var index = 1;

			var start = 0;

			var end = 0;

			var success_i = 0; // is success upload pieces' times

			while (start < filesize) {
				end = start + bytesPerPiece;

				if (end > filesize) {
					end = filesize;
				}

				//切割文件
				var chunk = this.blobSlice(blob, start, end);

				//传参
				var oMyForm = new FormData();

				oMyForm.append('p_id', this.$G.projection.id);

				oMyForm.append('file', chunk);

				oMyForm.append('baseFileName', fileName);

				oMyForm.append('fileName', time + fileName);

				oMyForm.append('totalPieces', totalPieces);

				oMyForm.append('nowPieces', index);

				oMyForm.append('fileLength', filesize);

				oMyForm.append('fileSuffix', fileType);

				oMyForm.append('modelId', modelId);

				// formData.append("md5", md5);

				let _this = this;

				let url = this.$G.phpurl + 'uploadBigFile.php';

				this.axios
					.post(url, oMyForm)
					.then(response => {
						console.log(response);

						if (response != '') {
							if (response['data']['code'] == 'success') {
								// 上传图片成功

								console.log('上传文件：' + response['data']['msg']);

								_this.set_progress_step(3, '100%', false);

								// end of new and to save time line values
								_this.set_timeline_values(response, { mode: 'new_end' });

								// doing on end of upload model

								// change select badge to the new model id
								switch (_this._UPLOADMODE) {
									case 'UPLOAD MODEL':
										_this.$refs.projection_sidebar_menu.set_select_newest_insert_item_for_auto_open_model();

										break;

									case 'UPDATE MODEL':
										_this.open_model({
											id: modelId,

											name: fileName,

											childId: null,

											childName: null,

											suffix: fileType,

											mode: 'is_open_model_from_menu',

											isChild: false
										});

										break;

									// "UPLOAD CHILDREN MODEL" , "UPDATE CHILDREN MODEL"

									default:
										_this.open_model({
											id: _this.$refs.projection_sidebar_menu.get_link_id(),

											name: _this.$refs.projection_sidebar_menu.get_link_name(),

											childId: modelId,

											childName: fileName,

											suffix: fileType,

											mode: 'is_open_model_from_menu',

											isChild: true
										});
								}
							} else {
								success_i++;

								var complete = (((success_i / totalPieces) * 100) | 0) + '%';

								_this.set_progress_step(1.5, complete, false);
							}
						}
					})
					.catch(function(error) {
						// 请求失败处理

						console.log(error);

						return null;
					});

				start = end;

				index++;
			}
		},

		// slice blob xxx
		blobSlice(blob, startByte, endByte) {
			if (blob.slice) {
				return blob.slice(startByte, endByte);
			}

			// 兼容firefox
			if (blob.mozSlice) {
				return blob.mozSlice(startByte, endByte);
			}

			// 兼容webkit
			if (blob.webkitSlice) {
				return blob.webkitSlice(startByte, endByte);
			}

			return null;
		}
	}
};
</script>
