<template>
	<v-row>
		<v-col style="height:100%;padding-bottom:56px;" v-show="calendars">
			<v-sheet height="84">
				<v-toolbar flat color="white">
					<v-btn class="subtitle-2 font-weight-regular" elevation="0" rounded color="white" @click="setToday">今天</v-btn>

					<v-btn fab text small color="black darken-2" @click="prev"><v-icon small>mdi-chevron-left</v-icon></v-btn>
					<v-toolbar-title class="title">{{ title }}</v-toolbar-title>

					<v-btn fab text small color="black darken-2" @click="next"><v-icon small>mdi-chevron-right</v-icon></v-btn>

					<v-spacer></v-spacer>

					<v-menu bottom right>
						<template v-slot:activator="{ on }">
							<v-btn class="subtitle-2 font-weight-regular" elevation="0" rounded color="white" v-on="on">
								<span>{{ typeToLabel[type] }}</span>
								<v-icon right>mdi-menu-down</v-icon>
							</v-btn>
						</template>
						<v-list>
							<v-list-item @click="type = 'day'"><v-list-item-title>天</v-list-item-title></v-list-item>
							<v-list-item @click="type = 'week'"><v-list-item-title>周</v-list-item-title></v-list-item>
							<v-list-item @click="type = 'month'"><v-list-item-title>月</v-list-item-title></v-list-item>
							<!--<v-list-item @click="type = '4day'">
                                <v-list-item-title>4天</v-list-item-title>
                            </v-list-item>-->
						</v-list>
					</v-menu>
				</v-toolbar>
			</v-sheet>
			<v-sheet height="calc(100vh - 200px)">
				<v-calendar
					ref="calendar"
					v-model="focus"
					color="primary"
					:weekdays="weekday"
					:events="events"
					:event-color="getEventColor"
					:now="today"
					:type="type"
					@click:event="showEvent"
					@click:more="viewDay"
					@click:date="viewDay"
					@change="updateRange"
				></v-calendar>

				<v-menu v-model="selectedOpen" :close-on-content-click="false" :activator="selectedElement" offset-x max-width="350px" min-width="300px">
					<v-card color="white" max-width="350px" min-width="300px" flat>
						<v-toolbar :color="selectedEvent.color" flat dark height="48">
							<v-avatar v-show="is_show_dialog_edit" color="white" size="36" style="margin-right:12px;"><img :src="imgUrl" /></v-avatar>
							<v-toolbar-title v-html="selectedEvent.type"></v-toolbar-title>
							<v-spacer></v-spacer>
							<v-btn icon><v-icon @click="edit_event" v-show="is_show_dialog_edit">mdi-pencil</v-icon></v-btn>
							<v-btn icon><v-icon @click="delete_event" v-show="is_show_dialog_edit">mdi-delete</v-icon></v-btn>
						</v-toolbar>
						<v-card-text>
							<span>内容：{{ selectedEvent.name }}</span>
							<span>
								<br />
								时间：{{ selectedEvent.start }}
							</span>
							<span v-show="selectedEvent.end">至 {{ selectedEvent.end }}</span>
							<span v-show="selectedEvent.location">
								<br />
								地点：{{ selectedEvent.location }}
							</span>
						</v-card-text>
						<v-card-actions>
							<v-spacer></v-spacer>
							<v-btn text color="secondary" @click="selectedOpen = false">close</v-btn>
						</v-card-actions>
					</v-card>
				</v-menu>
			</v-sheet>

			<v-tooltip left color="pink">
				<template v-slot:activator="{ on }">
					<v-btn bottom color="pink" dark fab fixed right @click="new_event" v-on="on"><v-icon>mdi-plus</v-icon></v-btn>
				</template>
				<span>添加事件</span>
			</v-tooltip>

			<createEventDialog ref="create_dialog" @set_events="set_events"></createEventDialog>

			<textDialog ref="text_dialog"></textDialog>
		</v-col>
	</v-row>
</template>

<script>
import createEventDialog from './projectionCalendarsCreateDialog.vue';

import textDialog from './textDialog.vue';

export default {
	components: {
		createEventDialog,

		textDialog
	},

	data() {
		return {
			calendars: true,

			today: new Date().toISOString().substr(0, 10),

			focus: '',

			type: 'month',

			typeToLabel: {
				month: '月',

				week: '周',

				day: '天'
			},

			start: null,

			end: null,

			weekday: [1, 2, 3, 4, 5, 6, 0],

			selectedEvent: {},

			selectedElement: null,

			selectedOpen: false,

			colors: ['blue', 'indigo', 'deep-purple', 'cyan', 'green', 'orange', 'grey darken-1'],

			names: ['Meeting', 'Holiday', 'PTO', 'Travel', 'Event', 'Birthday', 'Conference', 'Party'],

			events: [
				/*{
                                name: '创建项目',

                                start: '2020-02-12 09:00',

                                end: '2020-02-12 09:10',

                                color:'blue',

                                id:'',

                                creator:''

                            },*/
			],

			imgUrl: this.$G.imageurl + 'icon/user.svg',

			is_show_dialog_edit: true
		};
	},

	computed: {
		// get title text
		title() {
			const { start, end } = this;
			if (!start || !end) {
				return '';
			}

			const startMonth = this.monthFormatter(start);
			const endMonth = this.monthFormatter(end);
			const suffixMonth = startMonth === endMonth ? '' : endMonth;

			const startYear = start.year;
			const endYear = end.year;
			const suffixYear = startYear === endYear ? '' : endYear;

			const startDay = start.day + this.nth(start.day);
			const endDay = end.day + this.nth(end.day);

			const startYearStr = startYear + '年';
			const suffixYearStr = suffixYear === '' ? '' : suffixYear + '年';

			switch (this.type) {
				case 'month':
					return `${startYearStr} ${startMonth} `;
				case 'week':
				case '4day':
					return `${startYearStr} ${startMonth} ${startDay}  - ${suffixYearStr} ${suffixMonth} ${endDay} `;
				case 'day':
					return `${startYearStr} ${startMonth} ${startDay} `;
			}
			return '';
		},

		monthFormatter() {
			return this.$refs.calendar.getFormatter({
				timeZone: 'UTC',
				month: 'long'
			});
		}
	},

	mounted() {
		this.$refs.calendar.checkChange();
	},

	methods: {
		viewDay({ date }) {
			this.focus = date;
			this.type = 'day';
		},

		getEventColor(event) {
			return event.color;
		},

		setToday() {
			this.focus = this.today;
		},

		prev() {
			this.$refs.calendar.prev();
		},

		next() {
			this.$refs.calendar.next();
		},

		showEvent({ nativeEvent, event }) {
			const open = () => {
				this.selectedEvent = event;

				this.selectedElement = nativeEvent.target;

				// set show_event_dialog_edit tool
				this.is_show_dialog_edit = this.selectedEvent.type == '应用' ? false : true;

				// get creator pic by creator id

				if (event.creator_id != null) {
					setTimeout(() => (this.selectedOpen = true), 10);

					this._get_event_creator_pic(event.creator_id);
				} else {
					this.imgUrl = this.$G.imageurl + 'icon/user.svg'; // default image

					setTimeout(() => (this.selectedOpen = true), 10);
				}
			};

			if (this.selectedOpen) {
				this.selectedOpen = false;

				// setTimeout(open, 10);
			} else {
				open();
			}

			nativeEvent.stopPropagation();
		},

		// get event creator pic by user id
		_get_event_creator_pic(userId) {
			let _this = this;

			//发送请求
			this.axios
				.post(this.$G.phpurl + 'getUserNameById.php', this.qs.stringify({ userId: userId }))
				.then(response => {
					console.log(response);

					if (response != '' && response.data['code'] == 'success') {
						// change type string to array

						console.log(response.data['msg']);

						_this.imgUrl = response.data['data']['pic'];
					} else {
						_this.show_snackbar(response.data['msg']);
					}
				})
				.catch(function(error) {
					// 请求失败处理

					console.log(error);
				});
		},

		/*formatInterval() {
            const longOptions = { timeZone: 'UTC', hour12: false, hour: '2-digit', minute: '2-digit' }
            const shortOptions = { timeZone: 'UTC', hour12: true, hour: 'numeric', minute: '2-digit' }
            const shortHourOptions = { timeZone: 'UTC', hour12: true, hour: 'numeric' }
            return longOptions;
        },*/

		updateRange({ start, end }) {
			//const events = []

			/*const min = new Date(`${start.date}T00:00:00`)
            const max = new Date(`${end.date}T23:59:59`)
            const days = (max.getTime() - min.getTime()) / 86400000
            const eventCount = this.rnd(days, days + 20)

            for (let i = 0; i < eventCount; i++) {
                const allDay = this.rnd(0, 3) === 0
                const firstTimestamp = this.rnd(min.getTime(), max.getTime())
                const first = new Date(firstTimestamp - (firstTimestamp % 900000))
                const secondTimestamp = this.rnd(2, allDay ? 288 : 8) * 900000
                const second = new Date(first.getTime() + secondTimestamp)

                events.push({
                    name: this.names[this.rnd(0, this.names.length - 1)],
                    start: this.formatDate(first, !allDay),
                    end: this.formatDate(second, !allDay),
                    color: this.colors[this.rnd(0, this.colors.length - 1)],
                })
            }*/

			this.start = start;
			this.end = end;
		},

		nth(d) {
			return '日';
			/*return d > 3 && d < 21
                    ? 'th'
                    : ['th', 'st', 'nd', 'rd', 'th', 'th', 'th', 'th', 'th', 'th'][d % 10]*/
		},

		/*rnd (a, b) {
            return Math.floor((b - a + 1) * Math.random()) + a
        },

        formatDate (a, withTime) {
            return withTime
                    ? `${a.getFullYear()}-${a.getMonth() + 1}-${a.getDate()} ${a.getHours()}:${a.getMinutes()}`
                    : `${a.getFullYear()}-${a.getMonth() + 1}-${a.getDate()}`
        },*/

		// add event to calendars from projectionSidebarMenu.vue's projectionItems.php
		/**
         * @param events;
         *
         * $event = array(

             'name'=>$event_name,

             'start'=>$event_start_date . ' ' . $event_start_time,

             'end'=>$event_end_date . ' ' . $event_end_time,

             'color'=>$event_color,

             'creator_id'=>$event_creator_id,

             'type'=>$event_type,

             'location'=>$event_location,

             'id'=>$event_id

         );
         */

		/**
		 * set events when init
		 * @param events
		 */
		set_events(events) {
			if (typeof events == 'object' && events.length > 0) {
				this.events = [];

				for (var i = 0; i < events.length; i++) {
					this.events.push(events[i]);
				}
			}
		},

		is_calendars_show() {
			return this.calendars;
		},

		show_calendars() {
			this.calendars = true;
		},

		hide_calendars() {
			this.calendars = false;
		},

		calendars_toggle() {
			this.calendars = !this.calendars;
		},

		/**
		 * add event from create dialog when 'new' event
		 * @param event
		 */
		add_event_from_dialog(event) {
			this.events.push(event);
		},

		new_event() {
			this.$refs.create_dialog.show_dialog(null, 'new');
		},

		edit_event() {
			this.$refs.create_dialog.show_dialog(this.selectedEvent, 'edit');
		},

		delete_event() {
			var _this = this;

			// if(window.confirm('删除当前事件？')){
			// this.$refs.text_dialog.show_dialog('删除','删除当前事件？', null, {type: 'delete', value: null});
			this.$refs.text_dialog.show_dialog(
				{
					type: 'delete',

					headline: '删除',

					text: '删除当前事件？'
				},
				function(dialog_value) {
					if (dialog_value) {
						_this.$refs.create_dialog.show_dialog(_this.selectedEvent, 'delete');
					}
				}
			);
		},

		/*do_text_dialog(callback){

            if(callback.is_accept){

                this.$refs.create_dialog.show_dialog(this.selectedEvent, 'delete');

            }

        },*/

		show_model_items_from_sidebar_menu() {}
	}
};
</script>
