<template>
	<v-hover>
		<template v-slot="{ hover }" v-if="projection != null">
			<v-skeleton-loader v-if="projection.loading" class="v-project-width-ass" :width="300" :min-height="400" outlined flat type="image, article"></v-skeleton-loader>
			<v-card v-else class="v-project-width-ass" :width="300" :min-height="400" :elevation="hover ? 12 : 0" outlined flat @click="jump_to_projection">
				<v-img class="align-end card-image-project-ass" :src="projection.cover" aspect-ratio="1.2" height="250">
					<v-card-title class="blue--text font-weight-bold">{{ projection.name }}</v-card-title>
				</v-img>

				<v-card-subtitle class="pb-0">项目地点：{{ projection.location }}</v-card-subtitle>

				<v-card-text class="text--gray-ass">
					<div>项目类型：{{ projection.type != null && typeof projection.type == 'object' ? projection.type.join(', ') : '' }}</div>
					<div>项目规模：{{ projection.area }}</div>
					<div>创建时间：{{ projection.date }}</div>
				</v-card-text>

				<v-card-text>
					<v-row justify="start" align="center">
						<v-col class="text--gray-ass" style="max-width: 90px;padding-right: 0px;min-width: 80px;"><p>项目成员：</p></v-col>

						<div v-for="member in projection.members"><userAvatar :member="member"></userAvatar></div>
					</v-row>
				</v-card-text>

				<v-card-actions>
					<v-tooltip bottom color="gray">
						<template v-slot:activator="{ on }">
							<v-btn icon>
								<v-badge color="pink" :content="projection.browse" offset-x="10" class="font-weight-light">
									<v-icon @click.stop="" v-on="on">mdi-eye</v-icon>
								</v-badge>
							</v-btn>
						</template>
						<span>浏览数</span>
					</v-tooltip>

					<v-tooltip bottom color="gray">
						<template v-slot:activator="{ on }">
							<v-btn icon><v-icon @click.stop="delete_projection" v-on="on">mdi-delete</v-icon></v-btn>
						</template>
						<span>删除</span>
					</v-tooltip>

					<v-tooltip bottom color="gray">
						<template v-slot:activator="{ on }">
							<v-btn icon><v-icon @click.stop="share_projection" v-on="on">mdi-share-variant</v-icon></v-btn>
						</template>
						<span>分享</span>
					</v-tooltip>

					<v-tooltip bottom color="gray">
						<template v-slot:activator="{ on }">
							<v-btn icon><v-icon @click.stop="edit_projection" v-on="on">mdi-pencil</v-icon></v-btn>
						</template>
						<span>修改</span>
					</v-tooltip>
				</v-card-actions>
			</v-card>
		</template>
	</v-hover>
</template>

<script>
import userAvatar from './userAvatar.vue';

export default {
	components: {
		userAvatar
	},

	props: ['projection'],

	/*data: function () {

            return {

                // browsetimes: this.projection.browse,

                // coverUrl:'https://www.edraw.xyz/yun/image/icon/project_background.png',

            }

        },

        // on load when init
        mounted: function () {

            /!*if(this.projection.cover != ''&& this.projection.cover != null && typeof(this.projection.cover) != 'undefined'){

                this.set_cover();

            }*!/

        },*/

	methods: {
		jump_to_projection() {
			/*this.$G.projection.name = this.projection.name;

                this.$G.projection.location = this.projection.location;

                this.$G.projection.date = this.projection.date;

                this.$G.projection.area = this.projection.area;

                this.$G.projection.type = this.projection.type;

                this.$G.projection.id = this.projection.id;

                this.$router.push({path: '/projection'});*/

			this.$router.push({ path: '/projection', query: { id: this.projection.id, user: this.$G.user.id } });
		},

		edit_projection() {
			this.$emit('edit'); //调用父组件方法
		},

		delete_projection() {
			this.$emit('delete'); //调用父组件方法
		},

		share_projection() {
			this.$emit('share', '分享');
		}
	}
};
</script>
