<template>
	<v-row style="position: absolute;" class="row align-center ma-auto">
		<v-dialog v-model="dialog" persistent width="302px" id="share_dialog">
			<v-card id="share_card" class="mx-auto" :min-height="400" :hover="true" outlined flat style="padding-top:24px;">
				<v-img class="align-end card-image-project-ass" :src="login.projection.cover" height="160" width="252" id="canvas_img" style="margin:0 24px;"></v-img>

				<div id="qrcode" class="ass_qrcode"></div>
				<!--<div id="wx_login_div" style="height: 350px;width:100%;margin:15% 0px;"></div>-->

				<v-card-text class="text--primary" style="text-align: center;">
					<div>EDRAW.XYZ</div>
					<div>这是由 {{ login.sharer }} {{ login.shareTxt }}的</div>
					<div>在线云项目 {{ login.projection.name }}</div>
					<div>请使用微信扫描二维码加入</div>
				</v-card-text>

				<v-card-actions style="width:100%;" class="container" ref="container">
					<input type="text" v-model="login.copyMessage" style="display: none;" />
					<!--<button type="button" @click="doCopy">Copy!</button>-->
					<v-btn color="orange darken-1" text style="width:100%;margin-left: -2px" @click="doCopy">{{ login.btnTxt }}</v-btn>

					<!--<div class="container" ref="container">
                        <input type="text" v-model="message">
                        <button type="button" @click="doCopy">Copy!</button>
                    </div>-->
				</v-card-actions>
			</v-card>

			<!--<loginCard
                    :login="login"
                    ref="login_dialog"
                    @closedialog="close_dialog"
            ></loginCard>-->
		</v-dialog>
	</v-row>
</template>

<script>
import loginCard from './loginCard.vue';

import html2canvas from 'html2canvas';

export default {
	components: {
		loginCard,

		html2canvas
	},

	data() {
		return {
			dialog: false,

			login: {
				projection: {
					area: '',

					browse: 918,

					cover: 'https://www.edraw.xyz/online/users/tuku_0Orx9Jr5Qcxxxx/tuku_p_rEiFwEUb6YMtKVJ5/cover.jpg',

					creator_id: 'tuku_0Orx9Jr5Qcxxxx',

					date: '2020-03-11',

					id: 'tuku_p_rEiFwEUb6YMtKVJ5',

					location: '888',

					members: [],

					name: '888',

					type: ''
				},

				sharer: '',

				shareTxt: '',

				btnTxt: '拷贝项目链接',

				copyMessage: ''
			}
		};
	},

	methods: {
		close_dialog() {
			this.dialog = false;
		},

		/**
		 * show share dialog
		 * @param mode:
		 * @param dataURL : {data, rate:height/width}
		 */
		show_share_dialog(mode, projection_value) {
			this.login.projection = projection_value;

			var dataURL = projection_value['cover'];

			// dataURL = dataURL == null ? this.$G.projection.cover : dataURL;

			// set creator text

			this.login.shareTxt = mode == '邀请' ? '邀请您加入' : '分享';

			this.login.btnTxt = '拷贝' + (mode == '邀请' ? '邀请' : '分享') + '链接';

			if (this.$G.user.name != '' && this.$G.user.name != '未注册') {
				this.login.sharer = this.$G.user.name;
			} else {
				this.login.sharer = 'EDRAW.XYZ';
			}

			// show dialog

			this.dialog = true;

			let _this = this;

			var n = 0;

			var timer = setInterval(() => {
				// show canvas image

				var canvas_img = document.getElementById('canvas_img');

				if (canvas_img != null || n > 10) {
					clearInterval(timer); // stop timer

					if (dataURL != null && typeof dataURL != 'undefined' && canvas_img != null) {
						canvas_img.style.display = 'block';

						_this.login.projection.cover = dataURL;
					} else {
						canvas_img.style.display = 'none';
					}

					// create qrcode

					_this.create_qrcode();
				}

				n++;
			}, 300);
		},

		create_qrcode() {
			var qrcode_div = document.getElementById('qrcode');

			// qrcode.clear(); // clear the code.

			qrcode_div.innerHTML = '';

			var qrcode = new QRCode(qrcode_div, {
				text: '',

				width: 252,

				height: 252,

				correctLevel: QRCode.CorrectLevel.H
			});

			// var url = location.href;

			var url = this.$G.url + 'projection?id=' + this.login.projection.id;

			this.copyMessage = this._set_copyMessage(url);

			qrcode.makeCode(encodeURI(url)); // make new code
		},

		click_ok() {
			// 获取待转换对象

			var downloadContent = document.getElementById('share_card');

			//var options = {type: 'dataURL'}

			// 转换并下载

			html2canvas(downloadContent, {
				backgroundColor: null,

				useCORS: true // 如果截图的内容里有图片,可能会有跨域的情况,加上这个参数,解决文件跨域问题
			}).then(canvas => {
				var dataURL = canvas.toDataURL('image/jpeg', 0.5);

				this.login.projection.cover = dataURL;

				console.log(dataURL);

				this.copyMessage = dataURL;

				// this.dialog = false;

				// this.doCopy(dataURL);

				/*return{

                        data: dataURL,

                        rate: canvas.height / canvas.width,

                    };*/
			});
		},

		_set_copyMessage: function(url) {
			return (
				'这是由 ' +
				this.login.sharer +
				' ' +
				this.login.shareTxt +
				'的在线云项目 ' +
				this.login.projection.name +
				' ，网址：' +
				url +
				' ，(推荐在微信或使用chrome浏览器访问) [EDRAW.XYZ]'
			);
		},

		doCopy: function(message) {
			// this.message = message;

			let container = this.$refs.container;

			this.$copyText(this.copyMessage, container);

			this.dialog = false;
		}
	}
};
</script>
