<template>
	<v-tooltip right color="gray">
		<template v-slot:activator="{ on }">
			<v-btn top :color="color" dark height="48" min-width="18" max-width="18" :style="{ left: btnLeft + 'px' }" class="sidebar_button" @click="set_menu_open" v-on="on">
				<v-icon>{{ icon }}</v-icon>
			</v-btn>
		</template>
		<span>{{ button.tooltip }}</span>
	</v-tooltip>
</template>
<style>
.sidebar_button {
	top: 0px;
	padding: 0px !important;
	border-radius: 0px 6px 6px 0px !important;
	z-index: 200;
	left: 248px;
	position: absolute !important;
}
</style>
<script>
export default {
	props: [
		'button' // {color,click,tooltip}
	],

	data: function() {
		return {
			color: 'grey',

			btnLeft: 0,

			icon: 'mdi-menu-open mdi-rotate-180'
		};
	},

	methods: {
		set_menu_open() {
			/*this.btnLeft = 250;*/

			this.$emit('click');
		},

		on_menu_close() {
			var _this = this;

			setTimeout(() => {
				_this.btnLeft = 256;

				_this.icon = 'mdi-menu-open mdi-rotate-180';

				_this.color = 'grey';
			}, 100);
		},

		on_menu_open() {
			var _this = this;

			setTimeout(() => {
				_this.btnLeft = 248;

				_this.icon = 'mdi-menu-open';

				_this.color = 'grey lighten-2';
			}, 100);
		}
	}
};
</script>
