<template>
	<div>
		<v-navigation-drawer style="position: fixed;max-height:100%;z-index: 199;overflow: unset!important;" v-model="drawer" :clipped="$vuetify.breakpoint.lgAndUp" app>
			<sidebarButton ref="sidebar_btn" :button="sidebarBtn" @click="set_mini"></sidebarButton>

			<v-list-item class="px-2" v-model="user">
				<v-avatar color="white" size="36" style="margin-left:2px;"><img @click.stop="set_mini" :src="imgUrl" /></v-avatar>
				<v-list-item-title @click.stop="go_to_login" style="margin-left:24px;cursor: pointer;">{{ user.name }}</v-list-item-title>
			</v-list-item>

			<v-divider></v-divider>
			<v-list dense>
				<template v-for="item in items">
					<v-row v-if="item.heading" :key="item.heading" align="center">
						<v-col cols="6">
							<v-subheader v-if="item.heading">{{ item.heading }}</v-subheader>
						</v-col>
						<v-col cols="6" class="text-center"><a href="#!" class="body-2 black--text">EDIT</a></v-col>
					</v-row>
					<v-list-group v-else-if="item.children" :key="item.text" v-model="item.model" :prepend-icon="item.model ? item.icon : item['icon-alt']" append-icon="">
						<template v-slot:activator>
							<v-list-item-content>
								<v-list-item-title>{{ item.text }}</v-list-item-title>
							</v-list-item-content>
						</template>
						<v-list-item v-for="(child, i) in item.children" :key="i" link>
							<v-list-item-action v-if="child.icon">
								<v-icon>{{ child.icon }}</v-icon>
							</v-list-item-action>
							<v-list-item-content>
								<v-list-item-title>{{ child.text }}</v-list-item-title>
							</v-list-item-content>
						</v-list-item>
					</v-list-group>
					<v-list-item v-else :key="item.text" link>
						<v-list-item-action>
							<v-icon>{{ item.icon }}</v-icon>
						</v-list-item-action>
						<v-list-item-content>
							<v-list-item-title>{{ item.text }}</v-list-item-title>
						</v-list-item-content>
					</v-list-item>
				</template>
			</v-list>
		</v-navigation-drawer>
	</div>
</template>

<script>
import sidebarButton from './sidebarButton.vue';

export default {
	components: {
		sidebarButton
	},

	// on load
	mounted: function() {
		// // is phone to set margin for show title of user
		if (!this.$vuetify.breakpoint.lgAndUp) {
			document.getElementsByClassName('v-navigation-drawer__content')[0].style.marginTop = '48px';
		}
	},

	data: function() {
		return {
			drawer: false,

			user: this.$G.user,

			imgUrl: this.$G.user.pic,

			items: [
				/*{icon: 'mdi-contacts', text: 'Contacts'},
                    {icon: 'mdi-history', text: 'Frequently contacted'},
                    {icon: 'mdi-content-copy', text: 'Duplicates'},
                    {
                        icon: 'mdi-chevron-up',
                        'icon-alt': 'mdi-chevron-down',
                        text: 'Labels',
                        model: true,
                        children: [
                            {icon: 'mdi-plus', text: 'Create label'},
                        ],
                    },*/
				{
					icon: 'mdi-chevron-up',
					'icon-alt': 'mdi-settings',
					text: '设置',
					model: false,
					children: [{ icon: 'mdi-tag-outline', text: '版本号: ' + this.$G.version }]
				}
				/*{icon: 'mdi-settings', text: '设置'},*/
			],

			sidebarBtn: {
				color: 'pink',

				tooltip: '侧边栏'
			}
		};
	},

	// on load
	mounted: function() {
		this._on_btn_open_close();
	},

	watch: {
		drawer: function() {
			this._on_btn_open_close();
		}
	},

	methods: {
		init() {
			this.user = this.$G.user;

			this.imgUrl = this.$G.user.pic;
		},

		set_mini() {
			this.drawer = !this.drawer;
		},

		go_to_login() {
			if (this.user.name == '' || this.user.name == '未注册') {
				this.$router.push({ path: '/login' });
			}
		},

		_on_btn_open_close() {
			if (!this.drawer) {
				this.$refs.sidebar_btn.on_menu_close();
			} else {
				this.$refs.sidebar_btn.on_menu_open();
			}
		}
	}
};
</script>
