<template>
	<div class="text-center ma-2" style="position:fixed;z-index:3999;height:auto;width:80%;left:0px;margin:0px 10% 0px 10% !important;">
		<v-snackbar v-model="snackbar" color="pink" :top="true" :timeout="3000" style="position:relative;top:20px;left:0px;">
			{{ text }}

			<v-btn color="white" text @click="snackbar = false">Close</v-btn>
		</v-snackbar>
	</div>
</template>

<script>
export default {
	data: function() {
		return {
			snackbar: false,

			text: "Hello, I'm a snackbar"
		};
	},

	methods: {
		show_bar: function(msg) {
			this.snackbar = false;

			this.text = msg;

			this.snackbar = true;
		}
	}
};
</script>
