<template>
	<v-card flat v-show="file.show" style="width:100%;display: flex;">
		<v-text-field
			style="width:calc(100% - 24px);"
			v-model="file.name"
			:label="file.label"
			prepend-icon="mdi-file-outline"
			:hint="input_hint"
			persistent-hint
			@click:append="show_input_file_dialog"
			@click:prepend="show_input_file_dialog"
			@click="click_text"
		></v-text-field>
		<v-tooltip top color="gray">
			<template v-slot:activator="{ on }">
				<span style="top: 52px;right: 12px;position: relative" v-on="on">?</span>
			</template>
			<span>
				.3dm,.3ds,.dae,.dgn,.dwf,.dwfx,.dwg,.dxf,.fbx,.gbg,.gbq,
				<br />
				.gcl,.gdq,.ggj,.gjg,.gmp,.gpb,.gpv,.gqi,.gsc,.gsh,.gtb,.gtj,
				<br />
				.gzb,.ifc,.igms,.nwc,.nwd,.obj,.osgb,.ply,.rfa,.rte,.rvm,.rvt,
				<br />
				.skp,.step,.stl,.stp,.zip,.jpg, .jpeg, .gif, .bmp, .png
			</span>
		</v-tooltip>

		<v-file-input
			style="width:48px"
			class="tuku_input_file"
			v-model="file.value"
			prepend-icon="mdi-link-variant-plus"
			truncate-length="1"
			hide-details
			id="tuku_input_file"
			accept=".3dm,.3ds,.dae,.dgn,.dwf,.dwfx,.dwg,.dxf,.fbx,.gbg,.gbq,.gcl,.gdq,.ggj,.gjg,.gmp,.gpb,.gpv,.gqi,.gsc,.gsh,.gtb,.gtj,.gzb,.ifc,.igms,.nwc,.nwd,.obj,.osgb,.ply,.rfa,.rte,.rvm,.rvt,.skp,.step,.stl,.stp,.zip,.jpg, .jpeg, .gif, .bmp, .png"
		></v-file-input>
	</v-card>
</template>
<style>
.tuku_input_file > div + div {
	display: none;
}
.tuku_input_file > div {
	margin-left: 24px;
}
</style>

<script>
export default {
	props: {
		file: { show: true, label: '', name: '', value: null }
	},

	watch: {
		fileValue: function() {
			if (this.file.value != null) {
				this.input_hint = this._getFileSize(this.file.value.size);

				this.file.name = this.file.value.name;

				this.file_name = this.file.value.name;
			}
		},

		fileName: function() {
			if (this.file.name == '') {
				this.file.label = '选择文件*';

				this.file.value = null; // for select same file next!
			} else {
				this.file.label = '修改图纸名称*';
			}
		}
	},

	computed: {
		fileValue() {
			return this.file.value;
		},

		fileName() {
			return this.file.name;
		}
	},

	data: function() {
		return {
			input_hint: '2D、3D或图片文件',

			rules: [f => !!f || '必填']
		};
	},

	methods: {
		show_input_file_dialog() {
			document.getElementById('tuku_input_file').click();
		},

		click_text() {
			if (this.file.name == '') {
				this.show_input_file_dialog();
			}
		},

		_getFileSize(size) {
			if (size < 1024 * 1024) {
				return (size / 1024).toFixed(1) + ' KB';
			} else if (size < 1024 * 1024 * 1024) {
				return (size / (1024 * 1024)).toFixed(1) + ' MB';
			} else {
				return (size / (1024 * 1024 * 1024 * 1024)).toFixed(1) + ' GB';
			}
		}
	}
};
</script>
