<template>
	<div>
		<v-dialog v-model="dialog" :max-width="width" persistent>
			<v-card>
				<dailogSnackBar ref="dailogSnackBar"></dailogSnackBar>

				<v-card-title :class="show_cancel ? 'headline' : 'headline error--text'">{{ dialog_value.headline }}</v-card-title>

				<v-card-text>
					<v-container style="height:auto;box-shadow: none;">
						<v-row align="center" justify="space-between" class="mr-0">
							<v-col cols="12" style="padding:0;">{{ dialog_value.text }}</v-col>

							<v-col cols="12" style="padding:0;">
								<v-select
									v-show="show_select"
									v-model="dialog_value.select.value"
									:items="dialog_value.select.items"
									item-text="name"
									item-value="value"
									:label="dialog_value.select.label"
									:multiple="dialog_value.select.multiple"
									chips
									persistent-hint
									return-object
									@input="on_click_select"
								></v-select>
							</v-col>

							<v-col cols="12" sm="12" style="padding:0;">
								<v-text-field v-show="show_input" :label="dialog_value.input.label" :rules="input_rules" persistent-hint v-model="dialog_value.input.value">
									<v-icon slot="prepend">mdi-script-text-outline</v-icon>
								</v-text-field>
							</v-col>

							<v-col cols="12" sm="8" style="padding:0 0 8px 0;">
								<!--<v-file-input
                                        v-show="show_file"
                                        id="tuku_input_file"
                                        show-size
                                        :label="dialog_value.file.label"
                                        accept=".3dm,.3ds,.dae,.dgn,.dwf,.dwfx,.dwg,.dxf,.fbx,.gbg,.gbq,.gcl,.gdq,.ggj,.gjg,.gmp,.gpb,.gpv,.gqi,.gsc,.gsh,.gtb,.gtj,.gzb,.ifc,.igms,.nwc,.nwd,.obj,.osgb,.ply,.rfa,.rte,.rvm,.rvt,.skp,.step,.stl,.stp,.zip,.jpg, .jpeg, .gif, .bmp, .png"
                                        hint="2D、3D或图片文件"
                                        persistent-hint
                                        :rules="file_rules"
                                        hide-details="auto"
                                        chips
                                        v-model="dialog_value.file.value"
                                ></v-file-input>-->
								<textFileInput v-show="show_file" :file="file"></textFileInput>
							</v-col>

							<v-col cols="12" sm="3" style="padding:0 0 8px 0;">
								<v-text-field
									v-show="show_file_input"
									:label="dialog_value.file_input.label"
									v-model="dialog_value.file_input.value"
									:rules="[rules.required, rules.counter]"
									counter
									maxlength="12"
								>
									<v-icon slot="prepend">mdi-script-text-outline</v-icon>
								</v-text-field>
							</v-col>

							<v-col cols="6" sm="3" style="padding:0;">
								<v-select
									v-show="show_select_build"
									v-model="dialog_value.select_build.value"
									:items="dialog_value.select_build.items"
									:label="dialog_value.select_build.label"
									:multiple="dialog_value.select_build.multiple"
									:readonly="dialog_value.select_build.disabled"
									prepend-icon="mdi-office-building"
									chips
									dense
									persistent-hint
									@input="on_click_select"
								></v-select>
							</v-col>

							<v-col cols="6" sm="3" style="padding:0;">
								<v-select
									v-show="show_select_tech"
									v-model="dialog_value.select_tech.value"
									:items="dialog_value.select_tech.items"
									:label="dialog_value.select_tech.label"
									:multiple="dialog_value.select_tech.multiple"
									prepend-icon="mdi-draw"
									chips
									dense
									persistent-hint
									@input="on_click_select"
								></v-select>
							</v-col>

							<v-col cols="6" sm="3" style="padding:0;">
								<v-select
									v-show="show_select_plan"
									v-model="dialog_value.select_plan.value"
									:items="dialog_value.select_plan.items"
									:label="dialog_value.select_plan.label"
									:multiple="dialog_value.select_plan.multiple"
									prepend-icon="mdi-chart-line"
									chips
									dense
									persistent-hint
									@input="on_click_select"
								></v-select>
							</v-col>

							<v-col cols="6" sm="3" style="padding:0;">
								<v-menu
									v-model="dateMenu"
									:close-on-content-click="false"
									:nudge-right="40"
									transition="scale-transition"
									icon="mdi-office-building"
									offset-y
									min-width="290px"
								>
									<template v-slot:activator="{ on }">
										<v-text-field v-show="show_file" v-model="dialog_value.date" label="创建日期*" readonly v-on="on">
											<v-icon slot="prepend">mdi-av-timer</v-icon>
										</v-text-field>
									</template>
									<v-date-picker v-model="dialog_value.date" @input="dateMenu = false"></v-date-picker>
								</v-menu>
							</v-col>
						</v-row>
					</v-container>
				</v-card-text>

				<v-card-actions>
					<v-btn v-show="show_btn" color="orange darken-1" outlined @click="is_btn_click" class="mx-4">{{ dialog_value.btn.txt }}</v-btn>

					<v-spacer></v-spacer>

					<v-btn v-show="show_cancel" color="orange darken-1" text @click="is_cancel">Cancel</v-btn>

					<v-btn color="orange darken-1" text @click="is_accept">OK</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
		<v-dialog v-model="dialog2" max-width="700px">
			<v-card>
				<v-card-title>
					<span>编辑</span>
					<v-spacer></v-spacer>
					<v-col cols="6" sm="12" style="padding:0;">
						<v-text-field label="输入列表项*" hint="以 , 分割" persistent-hint v-model="dialog2_input_value">
							<v-icon slot="prepend">mdi-script-text-outline</v-icon>
						</v-text-field>
					</v-col>
				</v-card-title>
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="orange darken-1" text @click="is_cancel_dialog2">Cancel</v-btn>
					<v-btn color="orange darken-1" text @click="is_accept_dialog2">OK</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
	</div>
</template>

<script>
import dailogSnackBar from './snackbar.vue';

import textFileInput from './textFileInput';

export default {
	components: {
		dailogSnackBar,

		textFileInput
	},

	/*watch:{

            description: function(){

                console.log('description is changed!');

                this.send_description_string();

            }

        },*/

	data() {
		return {
			dialog: false,

			dialog2: false,

			dialog2_key: '',

			dialog2_input_value: '',

			dialog_value: {
				headline: '确定',

				type: null,

				text: null,

				file: { label: '选择文件*', value: null, name: '' },

				date: null,

				input: { label: '', value: '' },

				file_input: { label: '', value: '' },

				select: { items: [{ name: '', value: '' }], value: [], multiple: true },

				select_build: { items: [{ name: '', value: '' }], value: [], multiple: true },

				select_tech: { items: [{ name: '', value: '' }], value: [], multiple: true },

				select_plan: { items: [{ name: '', value: '' }], value: [], multiple: true },

				btn: { txt: '', value: null }
			},

			file: { show: false, label: '选择文件*', name: '', value: null },

			show_input: false,

			show_file: false,

			show_file_input: false,

			show_select: false,

			show_select_build: false,

			select_build_items: [],

			show_select_tech: false,

			select_tech_items: [],

			show_select_plan: false,

			select_plan_items: [],

			show_btn: false,

			show_cancel: true,

			dateMenu: false,

			width: 350,

			rules: {
				required: value => !!value || '',

				counter: value => value.length <= 12 || '字符长度超出'
			},

			input_rules: [
				/*input => this.dialog_value.input.label.indexOf('*') > -1 ? !!input || '必填' : input,

                    input => this.dialog_value.input.label.indexOf('*') > -1 ? (input && input.length >= 2) || '至少2个字' : input,*/

				input => {
					if (this.dialog_value.input.label.indexOf('*') > -1) {
						if (!input) {
							return '必填';
						} else if (input.length < 2) {
							return '至少2个字';
						}
					}

					return true;
				}
			],

			file_rules: [file => (this.dialog_value.file.label.indexOf('*') > -1 ? !!file || '必填' : file)],

			callback: function() {},

			description: {
				build: this.select_build_items,

				tech: this.select_tech_items,

				plan: this.select_plan_items
			}
		};
	},

	methods: {
		on_click_select() {
			// set dialog2 input value

			this.is_open_dialog2();

			// click first item to select all
			if (this.dialog_value.select.multiple) {
				// is first time

				this.dialog_value.select.value.forEach(sel => {
					if (sel.name == this.dialog_value.select.items[0]['name']) {
						this.dialog_value.select.value = this.dialog_value.select.items;
					}
				});
			}

			// save to dialog input from select

			// if (this.dialog_value.type.indexOf('dir_select_do_next') > -1){
			if (this.dialog_value.type.indexOf('select_do_next') > -1) {
				this.show_input = true;

				// this.show_btn = true;// show btn after select!

				// this.dialog_value.input.value = this.select['name'];
				this.dialog_value.input.value = this.dialog_value.select.value['name'];
			}

			// after select to show btn?

			if (this.dialog_value.type.indexOf('next_BTN') > -1) {
				this.show_btn = true; // show btn after select!
			}
		},

		/**
		 *
		 * @param inputValues
		 * @param callback : callback function
		 */
		show_dialog(inputValue, callback) {
			// set value

			(this.dialog_value = {
				headline: _get(inputValue['headline'], '确定'),

				type: inputValue['type'],

				text: inputValue['text'],

				file: _get(inputValue['file'], { label: '选择文件*', value: null, name: '' }),

				date: _get(inputValue['date'], new Date().toISOString()),

				input: _get(inputValue['input'], { label: '', value: '', filter: [] }),

				file_input: _get(inputValue['file_input'], { label: '', value: '', filter: [] }),

				select: _get(inputValue['select'], { label: '选择不同版本图纸*', items: [{ name: '', value: '' }], value: [], multiple: true }),

				select_build: _get(inputValue['select_build'], { label: '选择楼号', items: [], value: [], multiple: false, disabled: true }),

				select_tech: _get(inputValue['select_tech'], { label: '选择专业', items: [], value: [], multiple: false }),

				select_plan: _get(inputValue['select_plan'], { label: '选择进度', items: [], value: [], multiple: false }),

				btn: _get(inputValue['btn'], { txt: '', value: null })
			}),
				(this.callback = callback);

			// set show

			this.show_input = this.dialog_value.type.indexOf('input') > -1;

			this.show_file = this.dialog_value.type.indexOf('file') > -1;

			this.show_select = this.dialog_value.type.indexOf('select') > -1;

			this.show_select_build = this.dialog_value.type.indexOf('file') > -1;

			this.show_select_tech = this.dialog_value.type.indexOf('file') > -1;

			this.show_select_plan = this.dialog_value.type.indexOf('file') > -1;

			this.show_file_input = this.dialog_value.type.indexOf('file') > -1;

			this.show_btn = this.dialog_value.type.indexOf('_btn') > -1;

			this.show_cancel = this.dialog_value.type.indexOf('_no_cancel') < 0;

			// set file

			if (this.show_file) {
				this.file = {
					show: this.show_file,

					label: this.dialog_value.file.label,

					name: this.dialog_value.file.name,

					value: this.dialog_value.file.value
				};
			}

			// set date string to  y m d

			if (typeof this.dialog_value.date == 'string') {
				this.dialog_value.date = this.dialog_value.date.substr(0, 10);
			}

			// show dialog and

			this.width = this.show_file ? 750 : 450;

			// set select build tech plan items from msql

			if (this.show_select_build || this.show_select_tech || this.show_select_plan) {
				// get select build tech plan once

				let _this = this;

				this._get_or_update_description('get', function(response_data) {
					_this.description = response_data;

					_this.$G.description = _this.description;

					_this.select_build_items = _this.description['build'];

					_this.select_tech_items = _this.description['tech'];

					_this.select_plan_items = _this.description['plan'];

					_this.dialog_value.select_build.items = _this.select_build_items;

					_this.dialog_value.select_tech.items = _this.select_tech_items;

					_this.dialog_value.select_plan.items = _this.select_plan_items;

					_this.dialog = true;
				});
			} else {
				this.dialog = true;
			}

			// get value by default
			function _get(_value, _default_value) {
				return _value == null || typeof _value == 'undefined' ? _default_value : _value;
			}
		},

		// when click ok

		is_accept() {
			// set file value from text file input

			this.dialog_value.file.value = this.file.value;

			this.dialog_value.file.name = this.file.name;

			// show alert

			if (
				(this.show_file && this.dialog_value.file.label.indexOf('*') > -1 && this.dialog_value.file.value == null) ||
				(this.show_file && this.dialog_value.file_input.label.indexOf('*') > -1 && this.dialog_value.file_input.value == '') ||
				(this.show_input && (this.dialog_value.input.value == null || this.dialog_value.input.value.length < 2)) ||
				(this.show_select && (this.dialog_value.select.value == null || this.dialog_value.select.value.length == 0)) ||
				(this.show_select_build && (this.dialog_value.select_build.value == null || this.dialog_value.select_build.value.length == 0)) ||
				(this.show_select_tech && (this.dialog_value.select_tech.value == null || this.dialog_value.select_tech.value.length == 0)) ||
				(this.show_select_plan && (this.dialog_value.select_plan.value == null || this.dialog_value.select_plan.value.length == 0))
			) {
				this.$refs.dailogSnackBar.show_bar('请输入带 * 的必填项'); // 调用子组件的方法
			} else if (this.show_input && typeof this.dialog_value.input.filter != 'undefined' && this.dialog_value.input.filter.indexOf(this.dialog_value.input.value) > -1) {
				this.$refs.dailogSnackBar.show_bar('输入内容已经存在'); // 调用子组件的方法
			} else {
				// hide dialog

				this.dialog = false;

				// do callback
				this.callback(this.dialog_value);

				//this.select = [];// set default select
			}
		},

		// when click cancel

		is_cancel() {
			this.dialog = false;

			this.callback(false);

			// this.select = [];// set default select

			// this.$emit('text_dialog', {is_accept: false, value: '', type: ''});
		},

		is_btn_click() {
			this.dialog = false;

			this.dialog_value.btn.value = true; // is_delete = true

			// do callback
			this.callback(this.dialog_value);
		},

		// whether to open dialog2

		is_open_dialog2() {
			for (let select_key of ['select_build', 'select_tech', 'select_plan']) {
				if (this.dialog_value[select_key].value == '编辑...') {
					this.dialog2 = true;

					this.dialog2_key = select_key;

					let input_value = [];

					for (let str of this[select_key + '_items']) {
						if (str != '编辑...') {
							input_value.push(str);
						}
					}

					this.dialog2_input_value = input_value.join(', ');
				}
			}
		},

		// when click dialog2 ok button

		is_accept_dialog2() {
			// splice input value

			let str = this.dialog2_input_value;

			str = str.replace(/\s*/g, ''); //去掉空格

			str = str.replace(/，/g, ','); //替换中文逗号到英文逗号

			// get array

			let str_array;

			if (str == '') {
				str_array = [];
			} else {
				str_array = str.split(',');
			}

			str_array.push('编辑...');

			// save value to dialog

			this[this.dialog2_key + '_items'] = str_array;

			this.dialog_value[this.dialog2_key].items = str_array;

			this.dialog_value[this.dialog2_key].value = '';

			this._get_or_update_description('update'); // save to msql

			// hidden

			this.dialog2 = false;
		},

		// when click dialog2 cancel
		is_cancel_dialog2() {
			this.dialog_value[this.dialog2_key].value = '';

			// hidden

			this.dialog2 = false;
		},

		/**
		 * get or update description ?
		 * @param mode: 'get' or 'update'
		 * @private
		 */
		_get_or_update_description(mode, callback) {
			let description = '';

			// get description from $G.description

			if (mode == 'get') {
				callback(this.$G.description);

				return null;
			} else if (mode == 'update') {
				this.description = {
					build: this.select_build_items,

					tech: this.select_tech_items,

					plan: this.select_plan_items
				};

				this.$G.description = this.description;

				description = JSON.stringify(this.description);
			}

			let printStr = mode == 'get' ? '获取' : '更新';

			//传参
			let oMyForm = new FormData();

			oMyForm.append('p_id', this.$G.projection.id);

			oMyForm.append('description', description);

			let _this = this;

			let url = this.$G.phpurl + 'projectionDescription.php';

			this.axios
				.post(url, oMyForm)
				.then(response => {
					console.log(response);

					if (response != '') {
						if (response['data']['code'] == 'success') {
							console.log(printStr + '信息：' + response['data']['msg']);

							/*if(mode == 'get'){

                                if(response['data']['data']['description'] != ''){

                                    callback(JSON.parse(response['data']['data']['description']));

                                } else {

                                    callback({

                                        build: "",

                                        tech: "",

                                        plan: "",

                                    });
                                }

                            }*/
						}
					}
				})
				.catch(function(error) {
					// 请求失败处理

					console.log(error);

					return null;
				});
		},

		// send build tech plan string to models dir

		send_description_string() {
			this.description = {
				build: this.select_build_items,

				tech: this.select_tech_items,

				plan: this.select_plan_items
			};
		}
	}
};
</script>
