<template>
	<div v-show="typeof member == 'object' && member.picture != ''">
		<v-badge v-if="member.badge == 'creator'" color="orange" icon="mdi-shovel mdi-rotate-180" overlap offset-x="16" offset-y="12">
			<v-avatar v-if="!member.tooltip || member.tooltip == 'show'" color="white" size="36" style="margin:0 2px;">
				<v-tooltip top color="gray">
					<template v-slot:activator="{ on }">
						<img :src="member.picture" v-on="on" />
					</template>
					<span>{{ member.name }}</span>
				</v-tooltip>
			</v-avatar>

			<v-avatar v-else color="white" size="36" style="margin:0 2px;"><img :src="member.picture" /></v-avatar>
		</v-badge>

		<v-avatar v-else-if="!member.tooltip || member.tooltip == 'show'" color="white" size="36" style="margin:0 2px;">
			<v-tooltip top color="gray">
				<template v-slot:activator="{ on }">
					<img :src="member.picture" v-on="on" />
				</template>
				<span>{{ member.name }}</span>
			</v-tooltip>
		</v-avatar>

		<v-avatar v-else color="white" size="36" style="margin:0 2px;"><img :src="member.picture" /></v-avatar>
	</div>
</template>

<script>
export default {
	props: [
		'member' // {name, picture, badge, tooltip}
	],

	data: function() {
		return {};
	}
};
</script>
