<template>
	<v-app id="user">
		<sidebarMenu ref="sidebar_menu"></sidebarMenu>

		<template>
			<div>
				<v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp" app color="blue darken-3" dark height="48px" style="z-index: 299;width:100vw;max-width:100vw;">
					<!--<v-app-bar-nav-icon @click.stop="set_sidebar_mini"></v-app-bar-nav-icon>-->

					<v-tooltip bottom color="gray" style="z-index: 299">
						<template v-slot:activator="{ on }">
							<v-toolbar-title class="font-weight-bold" @click="jump_to_home" style="cursor:pointer;max-width:150px;min-width: 110px;" v-on="on">
								EDRAW.XYZ
							</v-toolbar-title>
						</template>
						<span>主页</span>
					</v-tooltip>

					<v-spacer></v-spacer>

					<v-tooltip bottom color="gray">
						<template v-slot:activator="{ on }">
							<v-btn icon><v-icon v-on="on">mdi-share-variant</v-icon></v-btn>
						</template>
						<span>分享</span>
					</v-tooltip>

					<v-tooltip bottom color="gray">
						<template v-slot:activator="{ on }">
							<v-btn icon><v-icon v-on="on">mdi-magnify</v-icon></v-btn>
						</template>
						<span>查找</span>
					</v-tooltip>

					<v-menu bottom :offset-y="true">
						<template v-slot:activator="{ on }">
							<v-btn icon v-on="on"><v-icon>mdi-dots-vertical</v-icon></v-btn>
						</template>

						<v-list>
							<v-list-item-group v-model="sort_option" mandatory color="indigo">
								<v-list-item v-for="(option, n) in options" :key="n" @click="sort_projection_card_by_option(n)">
									<v-list-item-title>{{ option }}</v-list-item-title>
								</v-list-item>
							</v-list-item-group>
						</v-list>
					</v-menu>
				</v-app-bar>
			</div>
		</template>

		<v-content class="v-content-ass">
			<div style="margin: 0 0 20px 0;" class="row align-start justify-center">
				<projectionCard
					v-model="update"
					v-for="(project, index) in projects"
					:projection="project"
					:key="index"
					@edit="edit_projection_dialog(index)"
					@delete="delete_projection(index)"
					@share="show_share_dialog(index)"
				></projectionCard>
			</div>
		</v-content>

		<v-tooltip left color="pink">
			<template v-slot:activator="{ on }">
				<v-btn bottom color="pink" dark fab fixed right @click="new_projection_dialog" v-on="on"><v-icon>mdi-plus</v-icon></v-btn>
			</template>
			<span>新建项目</span>
		</v-tooltip>

		<projectionDialog ref="projection_dialog" @add="add_projection_card_from_dialog"></projectionDialog>

		<shareDialog ref="share_dialog"></shareDialog>

		<snackBar ref="snackBar" @show_sbar="show_snackbar"></snackBar>

		<textDialog ref="text_dialog"></textDialog>
	</v-app>
</template>

<script>
import projectionCard from './projectionCard.vue';

import sidebarMenu from './sidebarMenu.vue';

import projectionDialog from './projectionCreateDialog.vue';

import snackBar from './snackbar.vue';

import shareDialog from './shareDialog.vue';

import textDialog from './textDialog.vue';

import sidebarButton from './sidebarButton.vue';

export default {
	components: {
		projectionCard,

		projectionDialog,

		sidebarMenu,

		snackBar,

		shareDialog,

		textDialog,

		sidebarButton
	},

	data: function() {
		return {
			projects: [],

			update: 1,

			/*projects: [
                    /!*{

                     id: "tuku_p_3kf1cXep1xWGncg1",

                     name: "项目名称1",

                     location: "浙江 杭州",

                     date: "2020-01-20",

                     area: "0-10,000",

                     type: "商业",

                     browse: "123",

                     creator_id:'',

                     cover:''// cover.jpg

                     members:[{name,picture},...],

                     },*!/

                ],*/

			options: ['按时间降序', '按时间升序'],

			sort_option: 0,

			sidebarBtn: {
				color: 'pink',

				click: '',

				tooltip: 'aaa'
			}
		};
	},

	created: function() {
		this.projects = this._set_loading_cards(4);
	},

	// on load when init
	mounted: function() {
		if (typeof this.$route.query.authority != 'undefined') {
			this.get_projection_ids_by_authority(this.$route.query.authority);
		} else {
			this.$G.user.id = this.$route.query.id;

			if (this.$G.user.id.indexOf('tuku_') > -1) {
				// this.get_user_id_by_user_name(this.$G.user.name);

				this.get_user_name_by_user_id(this.$G.user.id);

				this.get_projection_ids_by_user_id(this.$G.user.id);
			} else {
				this.jump_to_home();
			}
		}
	},

	methods: {
		jump_to_home() {
			this.$router.push({ path: '/home' });
		},

		show_snackbar(msg) {
			console.log('App show snack bar: ' + msg);

			this.$refs.snackBar.show_bar(msg); // 调用子组件的方法
		},

		/**
		 * get user name and pic by user id
		 * @param userName
		 */
		get_user_name_by_user_id(userId) {
			let _this = this;

			//发送请求
			this.axios
				.post(this.$G.phpurl + 'getUserNameById.php', this.qs.stringify({ userId: userId }))
				.then(response => {
					console.log(response);

					if (response != '' && response.data['code'] == 'success') {
						// change type string to array

						console.log('查询用户：' + response.data['msg']);

						_this.$G.user.name = response.data['data']['name'];

						_this.$G.user.pic = response.data['data']['pic'];

						_this.$refs.sidebar_menu.init();
					} else {
						_this.show_snackbar(response.data['msg']);
					}
				})

				.catch(function(error) {
					// 请求失败处理

					console.log(error);
				});
		},

		/**
		 * get user id and pic by user name
		 * @param userName
		 */
		get_user_id_by_user_name(userName) {
			let _this = this;

			//发送请求
			this.axios
				.post(this.$G.phpurl + 'getUserIdByName.php', this.qs.stringify({ userName: userName }))
				.then(response => {
					console.log(response);

					if (response != '' && response.data['code'] == 'success') {
						// change type string to array

						console.log(response.data['msg']);

						_this.$G.user.id = response.data['data']['id'];

						_this.$G.user.pic = response.data['data']['pic'];

						_this.$refs.projection_sidebar_menu.projection_init();
					} else {
						_this.show_snackbar(response.data['msg']);
					}
				})

				.catch(function(error) {
					// 请求失败处理

					console.log(error);
				});
		},

		/**
		 * get projection ids by user id
		 * @param userId
		 */
		get_projection_ids_by_authority(authority) {
			if (authority != '') {
				this.axios
					.post(this.$G.phpurl + 'projectionIdByAuthority.php', this.qs.stringify({ p_authority: authority }))
					.then(response => {
						console.log(response);

						if (response != '' && response.data['code'] == 'success') {
							this.show_snackbar(response.data['msg']);

							var projection_ids = response.data['data'];

							if (projection_ids.length > 0) {
								// show projects loading cards

								this.projects = this._set_loading_cards(projection_ids.length);

								this.update++;

								// whether is Synchronous or Asynchronous?

								if (false) {
									// Asynchronous

									for (let i = 0; i < projection_ids.length; i++) {
										this.get_projection_json_by_id(projection_ids, i);
									}
								} else {
									// Synchronous 同步

									this.get_projection_json_by_id(projection_ids, 0);
								}
							}
						}
					})

					.catch(function(error) {
						// 请求失败处理

						console.log(error);
					});
			}
		},

		/**
		 * get projection ids by user id
		 * @param userId
		 */
		get_projection_ids_by_user_id(userId) {
			if (userId != '') {
				this.axios
					.post(this.$G.phpurl + 'projectionIdByUser.php', this.qs.stringify({ p_creator_id: userId }))
					.then(response => {
						console.log(response);

						if (response != '' && response.data['code'] == 'success') {
							this.show_snackbar(response.data['msg']);

							var projection_ids = response.data['data'];

							if (projection_ids.length > 0) {
								// show projects loading cards

								this.projects = this._set_loading_cards(projection_ids.length);

								this.update++;

								// whether is Synchronous or Asynchronous?

								if (false) {
									// Asynchronous

									for (let i = 0; i < projection_ids.length; i++) {
										this.get_projection_json_by_id(projection_ids, i);
									}
								} else {
									// Synchronous 同步

									this.get_projection_json_by_id(projection_ids, 0);
								}
							}
						}
					})

					.catch(function(error) {
						// 请求失败处理

						console.log(error);
					});
			}
		},

		// get projection value json by projection id(from user)
		get_projection_json_by_id: function(projection_ids, index) {
			var projection_id = projection_ids[index];

			//发送请求
			this.axios
				.post(this.$G.phpurl + 'projectionLoadById.php', this.qs.stringify({ p_id: projection_id }))

				.then(response => {
					console.log(response);

					if (response != '') {
						// change type string to array

						/*if(response.data['data']['type'] != ""){

                                        response.data['data']['type'] = response.data['data']['type'].split(',');

                                    } else {

                                        response.data['data']['type'] = [];

                                    }*/

						if (response.data['code'] == 'success') {
							// this.projects.push(response.data['data']);// from php

							var projection = response.data['data'];

							projection.loading = false; // is end of the projection's loading

							this.projects[index] = projection;

							this.update++;
						}

						if (index < projection_ids.length - 1) {
							// 同步

							this.get_projection_json_by_id(projection_ids, ++index);
						}
					}
				})

				.catch(function(error) {
					// 请求失败处理

					console.log(error);
				});
		},

		// delete projection value json by projection id(from dialog)
		delete_projection_json_by_id: function(index) {
			var projection_id = this.projects[index].id;

			//发送请求
			this.axios
				.post(this.$G.phpurl + 'projectionDeleteById.php', this.qs.stringify({ p_id: projection_id }))
				.then(response => {
					console.log(response);

					if (response != '') {
						if (response.data['code'] == 'success') {
							this.projects.splice(index, 1); // delete first on this array
						}

						this.show_snackbar(response.data['msg']);
					}
				})
				.catch(function(error) {
					// 请求失败处理

					console.log(error);

					return null;
				});
		},

		set_sidebar_mini() {
			this.$refs.sidebar_menu.set_mini(); // 调用子组件的方法
		},

		// create projection on show dialog
		new_projection_dialog() {
			if (this.$route.query.authority != 'public') {
				if (this.$G.user.id.indexOf('tuku_') > -1) {
					this.$refs.projection_dialog.show_dialog();
				} else {
					this.show_snackbar('先登录再创建您的云项目哦');
				}
			} else {
				this.show_snackbar('这里不能创建哦，登录您自己的专属页面创建云项目吧');
			}
		},

		// edit projection on show dialog
		edit_projection_dialog(index) {
			if (this.$G.user.id == this.projects[index]['creator_id']) {
				this.$refs.projection_dialog.show_dialog(this.projects[index]);
			} else {
				this.show_snackbar('只有项目创建者有权修改');
			}
		},

		// delete projection by index
		delete_projection(index) {
			if (this.$G.user.id == this.projects[index]['creator_id']) {
				var _this = this;

				// if(window.confirm("删除当前项目？")){
				// this.$refs.text_dialog.show_dialog('删除', '删除当前项目？', null, {type: 'delete', value: index});
				this.$refs.text_dialog.show_dialog(
					{
						type: 'delete',

						text: '删除当前项目？',

						headline: '删除'
					},
					function(dialog_value) {
						if (dialog_value) {
							// accept to delete

							_this.delete_projection_json_by_id(index); // index
						}
					}
				);
			} else {
				this.show_snackbar('只有项目创建者有权删除');
			}
		},

		// add projection card from dialog value
		add_projection_card_from_dialog(projection_value) {
			this.projects.push({
				id: projection_value.id,

				name: projection_value.name,

				location: projection_value.location,

				date: projection_value.date,

				area: projection_value.area,

				type: projection_value.type,

				browse: projection_value.browse,

				members: projection_value.members,

				cover: this.$G.imageurl + 'icon/project_background.png' // only from dialog
			});

			this.show_snackbar('创建项目成功');
		},

		// sort cards when click sort options
		sort_projection_card_by_option(current_index) {
			if (current_index != this.sort_option) {
				this.projects = this.projects.reverse();

				this.sort_option = current_index;
			}
		},

		show_share_dialog(index) {
			this.$refs.share_dialog.show_share_dialog('分享', this.projects[index]);
		},

		_set_loading_cards(n) {
			var ps = [];

			for (var i = 0; i < n; i++) {
				ps.push({ loading: true });
			}

			return ps;
		}
	}
};
</script>
