@charset "utf-8";

.ass_body {
    position: absolute;
    background: rgb(236, 243, 251);
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    /*-moz-user-select: none;/*firefox禁止选择页面上的内容*/
}

.ass_body h1 {
    color: #bbb;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.5vh;
    vertical-align: middle;
    line-height: 2vh;
    height: 2vh;
    padding: 0.6vh 0 0.6vh 0;
    margin: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

.ass_body a {
    color: #fff;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.ass_body p {
    color: #bbb;
    font-size: 1.2vh;
    height: 1.5vh;
    line-height: 1.5vh;
    text-align: right;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    margin: 2px 0 2px 10px;
    cursor: default;
}

.ass_body select {
    color: #bbb;
    border: none;
    outline: medium;
}

.ass_body input {
    color: #bbb;
    border: none;
    outline: medium;
    vertical-align: middle;
    text-indent: 4px;
    padding: 0;
}

.ass_body pre {
    color: #222;
    outline: medium;
    vertical-align: middle;
    padding: 0;
    text-align: center;
    cursor: default;
    /*font-weight: 700;*/
}

/*Arial, Helvetica, sans-serif*/
/*'Times New Roman', Times, serif*/

.ass_body h1,
.ass_body a,
.ass_body p,
.ass_body select,
.ass_body pre {
    font-family: 'constantine', Arial, sans-serif;
}

.ass_body a,
.ass_body h1,
.ass_body pre,
.ass_body select,
.ass_body p {
    /*unselectable p*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
}

/*.ass_float_title pre{
    font-family: 'geosanslight', Arial, sans-serif;
}*/

.ass_body input,
.ass_select p,
.ass_slider_pop p,
.ass_status p,
.ass_progress p,
.ass_select p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
    height: 4.0vh;
    line-height: 4.0vh;
}

.ass_float_form pre,
.ass_mark pre,
.ass_head_icon pre {
    color: #fff;
    width: 100%;
    height: 100%;
    line-height: 100%;
}

.ass_screenmenu pre,
.ass_float_form pre,
.ass_head_icon pre {
    font-family: 'dk', Arial, sans-serif;
    font-size: 80%;
    margin-top: 30%;
}

.ass_mark pre {
    font-family: 'palmsprings', Arial, sans-serif;
}

.ass_float_title,
.ass_slider_pop,
.ass_slider_roller,
.ass_titlemenu li,
.ass_select {
    box-shadow: 0px 0px 1px 0 rgba(0, 0, 0, 0.1);
}

/*scrollbar width color */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #bbb;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #bbdefb;
}

/*placeholder color*/
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: lightsteelblue;
    /*
    font-size: 10px;
    */
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: lightsteelblue;
    /*
    font-size: 10px;
    */
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: lightsteelblue;
    /*
    font-size: 10px;
    */
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: lightsteelblue;
    /*
    font-size: 10px;
    */
}

.ass_baike_line {
    float: left;
    margin: 0.8vh 0 0.3vh 0;
    width: 100%;
    height: 0;
    border-bottom: 1px solid #fff;
    border-right: 0;
    border-left: 0;
}

.ass_option_after { /*             -                   */
    float: left; /*             \                   */
    border-top: 0;
    border-right: 1.0vh solid #205081;
    border-bottom: 1.0vh solid transparent;
    border-left: 0;
    width: 0;
    height: 0;
}

.ass_bottom_after { /*             -                   */
    position: absolute; /*             \                   */
    border-top: 0;
    border-right: 10px solid #aaa;
    border-bottom: 10px solid transparent;
    border-left: 0;
    width: 0;
    height: 0;
}

.ass_bottom_right_after { /*             -                   */
    position: absolute; /*             /                   */
    border-top: 0;
    border-left: 10px solid #aaa;
    border-bottom: 10px solid transparent;
    border-right: 0;
    width: 0;
    height: 0;
}

.ass_bottom_center_after { /*             ——                   */
    position: absolute; /*             \/                   */
    border-top: 8px solid #0A365C; /*用于homepage */
    border-right: 8px solid transparent;
    border-bottom: 0;
    border-left: 8px solid transparent;
    width: 0;
    height: 0;
}

.ass_right_after { /*             \                   */
    position: absolute; /*             -                   */
    border-top: 10px solid transparent;
    border-right: 0;
    border-bottom: 0;
    border-left: 10px solid #aaa;
    width: 0;
    height: 0;
}

.ass_left_after { /*             /                   */
    position: absolute; /*             -                   */
    border-top: 10px solid transparent;
    border-left: 0;
    border-bottom: 0;
    border-right: 10px solid #aaa;
    width: 0;
    height: 0;
}

.ass_top_after { /*             /                   */
    position: absolute; /*             -                   */
    border-top: 0;
    border-right: 0;
    border-bottom: 10px solid #aaa;
    border-left: 10px solid transparent;
    width: 0;
    height: 0;
}

.ass_ui {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.ass_viewport {
    position: fixed;
    padding: 0;
    margin: 0;
    background: rgba(236, 243, 251, 1);
    z-index: 6;
}

.ass_viewport p {
    position: absolute;
    top: 1.0vh;
    right: 3.0vh;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    height: auto;
    z-index: 10;
    margin: 0;
}

.ass_sidebar {
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0);
}

.ass_viewport_canvas {
    position: absolute;
    width: 80vw;
    height: 100%;
    right: 0px;
    z-index: 16;
}

.ass_sketch_canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 17;
}

/*17:top of viewport , 15:behind of viewport*/
.ass_cursor_canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    top:0px;
}

.ass_sidebar,
.ass_head_icon li {
    z-index: 30;
}

.ass_option h1,
.ass_about h1 {
    background: rgba(255, 255, 255, 0.8);
    color: #205081;
    box-shadow: 0px 0px 1px 0 rgba(0, 0, 0, 0.1);
}

.ass_option ul,
.ass_about div {
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 0px 1px 0 rgba(0, 0, 0, 0.1);
}

.ass_option p,
.ass_about p {
    color: #000;
}

.ass_search div {
    position: absolute;
    width: 3vh;
    height: 3vh;
    right: 2vh;
    top: 1.5vh;
}

.ass_search div img {
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
}

.ass_user {
    position: absolute;
    top: 1vh;
    right: 2vh;
    width: 4vh;
    height: 4vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.ass_option {
    float: left;
    width: 100%;
    height: auto;
    margin: 0.4vh 0 0 0;
    padding: 0;
}

.ass_option ul {
    float: right;
    width: 95%;
    height: auto;
    list-style: none;
    padding: 1vh 0 1vh 0;
    margin: 0;
}

.ass_option ul li {
    float: left;
    width: 100%;
    margin: 6px 0 0 0;
    line-height: 2.0vh;
    height: 2.0vh;
    vertical-align: middle;
}

.ass_option ul li p {
    float: left;
    width: 50%;
    height: 1.6vh;
    line-height: 1.6vh;
    margin: 0.2vh 0 0.2vh 0;
}

.ass_option ul li input {
    float: right;
    width: 38%;
    height: 1.6vh;
    line-height: 1.6vh;
    margin: 0.2vh 0.5vh 0.2vh 0;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    color: rgb(32, 80, 129);
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.ass_about {
    float: left;
    width: 100%;
    height: auto;
    margin: 0.4vh 0 0 0;
    padding: 0;
}

.ass_about div {
    float: right;
    width: 95%;
    height: auto;
    padding: 1vh 0 1vh 0;
    margin: 0;
    text-align: center;
}

.ass_about div img {
    float: left;
}

.ass_about div p {
    float: left;
    width: 100%;
    margin: 2px 0 0 0;
    text-align: center;
}

.ass_select {
    position: absolute;
    width: 109px;
    z-index: 33;
}

.ass_select ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.ass_select ul li {
    float: left;
    width: 100%;
    height: 1.5vh;
    line-height: 1.5vh;
    margin: 0;
    padding: 2px 0 2px 0;
}

.ass_select ul li p {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #333;
}

.ass_radio {
    float: right;
    width: 2vh;
    height: 2vh;
    margin: 0 14% 0 0;
}

.ass_radio div {
    width: 1.0vh;
    height: 1.0vh;
    border-radius: 50%;
    margin: 0.5vh 0 0.5vh 0;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.ass_headbar {
    position: fixed;
    width: 100%;
    top: 0;
    background: #205081;
    z-index: 97; /*border-bottom: 1px solid #205081;*/
}

/*0069aa 045075 2d5f7c 0769ad 044F67*/
.ass_logo {
    float: left;
    margin: 0;
    padding: 0;
    background: #333;
    cursor: pointer;
}

.ass_logo div {
    width: 100%;
    height: 100%;
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
}

.ass_topic {
    position: absolute;
    height: 100%;
    background: #205081;
    z-index: 10;
    border-right: solid 1px #AAAAAA;
}

.ass_topic img {
    position: absolute;
    top: 30%;
    width: 100%;
    height: 40%;
}

.ass_head_buttons {
    position: fixed;
    height: auto;
    z-index: 10;
    bottom: 0;
}

.ass_head_button {
    float: left;
    background: rgba(2, 60, 102, 0.8);
}

.ass_head_button div {
    width: 100%;
    height: 100%;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.ass_head_icon {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    height: auto;
    width: auto; /* background: rgba(255, 255, 255, 0.4); *//* box-shadow: 1px -1px 1px 0 rgba(0,0,0,0.3); */
}

.ass_head_icon li {
    position: absolute;
    list-style-type: none;
}

.ass_head_icon li div {
    width: 100%;
    height: 100%;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.ass_float_title {
    position: absolute;
    width: auto;
    height: auto;
    background: rgba(255, 255, 255, 1.0);
    z-index: 99;
}

.ass_float_title pre {
    margin: 0 8px 0 8px;
    padding: 0px;
    line-height: 18px;
    font-size: 12px;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}

.ass_slider_pop {
    position: absolute;
    background: #fff;
    z-index: 35;
}

.ass_slider_pop div {
    float: right;
}

.ass_slider_pop p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #222;
}

.ass_slider_digit {
    float: right;
    height: 100%;
    background: #fff;
}

/*位*/
.ass_slider_roller {
    position: absolute;
    height: auto;
    overflow: hidden;
}

.ass_status {
    position: absolute;
    right: 0;
    top: 0;
    width: 24vh;
    line-height: 2vh;
}

.ass_status div {
    position: absolute;
    right: 0;
    margin-right: 2px;
    margin-top: 2px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #333;
}

.ass_status p {
    float: left;
    margin: 2px 2px 0 0;
    text-align: center;
    background: #333;
    padding: 0;
}

.ass_channel {
    position: fixed;
    padding: 0;
    margin: 0;
    z-index: 7;
    overflow: hidden;
}

.ass_channel div {
    padding: 0;
    margin: 0;
}

.ass_channel_canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.ass_channel_grid_canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

.ass_templates {
    position: absolute;
    padding: 0;
    margin: 0;
    background-color: rgb(236, 243, 251);
    overflow: scroll;
    overflow-x: hidden;
    z-index: 8;
}

.ass_templates div {
    width: 15vw;
}

.ass_templates div div:hover { /*background-color: #99CCFF;*/
    cursor: pointer;
    box-shadow: #99CCFF 0 0 8px 2px;
}

.ass_templates_ul {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.ass_templates_ul li {
    float: left;
    width: 90%;
    padding: 2.5% 5% 2.5% 5%;
    margin: 0;
    display: table;
}

.ass_templates_ul_icon {
    float: left;
    list-style: none;
    padding: 0;
    margin: 2.5% 5% 0 5%;
    width: 90%;
}

.ass_templates_ul_icon li {
    float: left;
    width: 2vw;
    height: 2vw;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    display: inline
}

.ass_templates_ul_icon li img {
    width: 100%;
    height: 100%;
    background-color: rgb(236, 243, 251);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.ass_templates_ul_icon li img:hover {
    cursor: pointer;
    box-shadow: #99CCFF 0 0 8px 2px;
}

.ass_templates_hli p {
    float: left;
    text-align: left;
    font-size: 1.0vw;
    height: auto;
    line-height: 120%;
    padding: 2px 0 2px 0;
    color: #000;
    margin: 0;
    white-space: normal;
    font-weight: normal;
}

.ass_templates_hli textarea {
    float: left;
    width: 100%;
    text-align: left;
    font-size: 13px !important;
    height: auto;
    line-height: 120%;
    padding: 2px 0 2px 0;
    color: #000;
    margin: 0;
    white-space: normal;
    font-weight: normal;
    background: rgb(216, 237, 253);
    border: none;
    resize: none;
}

.ass_templates_pli {
    height: 1vw;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(238, 238, 238);
}

.ass_templates_pli img {
    float: left;
    width: 0.8vw !important;
    height: 0.8vw;
    padding: 0;
    opacity: 0.5;
    margin: 0;
}

.ass_templates_pli p {
    float: left;
    font-family: 'palmsprings', Arial, sans-serif;
    text-align: left;
    font-size: 0.8vw;
    height: auto;
    line-height: 100%;
    padding: 1px 0 1px 0;
    text-indent: 4px;
    color: #888;
    width: 3vw;
    margin: 0;
    display: table-cell;
}

.ass_templates_ali img {
    float: left;
    top: 0;
    left: 0;
    width: 2vw !important;
    height: 2vw;
    border-radius: 50%; /* margin: 2px 0 2px 4px; */
}

.ass_templates_ali p {
    width: 85%;
    text-align: left;
    font-size: 0.8vw;
    height: auto;
    line-height: 100%;
    padding: 2px 0 2px 0;
    text-indent: 4px;
    color: #000;
    margin: 0;
}

.ass_templates_ali input {
    width: 15.8vw;
    text-align: left;
    font-size: 0.8vw;
    height: auto;
    line-height: 100%;
    padding: 2px 0 2px 0;
    text-indent: 4px;
    color: #000;
    margin: 0 0 0 0.2vw;
    background: rgb(216, 237, 253);
    text-indent: 0;
}

.ass_templates_load {
    position: absolute;
    height: 30px;
    margin: 6px 0 36px 6px;
    background-color: #FFF;
    border-radius: 6px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.22);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.ass_templates_load:hover {
    background-color: #66CCFF;
}

.ass_template {
    position: absolute; /*border-radius:6px;box-shadow:rgba(0, 0, 0, 0.219608) 0px 1px 1px 0px;*/
    background-color: rgb(255, 255, 255);
}

.ass_template > img {
    float: left;
    width: 100%; /*border-radius:6px 6px 0px 0px;*/
    background-color: rgb(187, 187, 187);
    background-size: cover;
    background-repeat: no-repeat;
}

.ass_template_scale {
    position: absolute;
    width: 1.5vw !important;
    height: 1.5vw;
    left: 0.5vw;
    top: 0.5vw;
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
}

.ass_template_add {
    position: absolute;
    width: 1.5vw !important;
    height: 1.5vw;
    left: 2.5vw;
    top: 0.5vw;
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
}

.ass_template_del {
    position: absolute;
    width: 1.5vw !important;
    height: 1.5vw;
    left: 0.5vw;
    top: 0.5vw;
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
}

.ass_template_open {
    position: absolute;
    width: 1.5vw !important;
    height: 1.5vw;
    right: 0.5vw;
    top: 0.5vw;
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
}

.ass_upload {
    position: absolute;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.219608) 0 1px 1px 0;
    background-color: rgb(255, 255, 255) !important;
}

.ass_upload > div {
    float: left;
    width: 100%;
    border-radius: 6px 6px 0 0;
    background: #dddddd;
    width: 100%;
}

.ass_upload > div img {
    border-radius: 6px 6px 0 0;
}

.ass_upload ul {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.ass_upload ul li {
    float: left;
    width: 96%;
    padding: 2%;
    margin: 0;
}

.ass_upload_input {
    font-size: 13px !important;
    float: left;
    width: 100%;
    height: 20px !important;
    margin: 0;
    background-color: rgb(216, 237, 253);
}

.ass_templates_hli textarea:hover,
.ass_upload_input:hover {
    box-shadow:0px 0px 0px 1px #3399FF;
}

.ass_upload_p {
    color: #333 !important;
    text-align: left !important;
    text-indent: 0px;
    font-size: 13px !important;
    margin: 0px 0px 4px 0px !important;
}

.ass_upload_button {
    list-style: none;
    margin: 0;
    padding: 10px 0 0 0;
    width: 20vw; /* bottom: 5%; */
    position: absolute;
    z-index: 99;
}

.ass_upload_button li {
    float: left;
    width: 100%;
    font-size: 1.2vw;
    padding: 0 0 10px 0;
    margin: 0; /* text-align: center; */
}

.ass_upload_button li input {
    width: 20vw;
    height: 30px !important;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
    border-radius: 6px;
}

.ass_templates_add {
    position: fixed;
    cursor: pointer;
    z-index: 17;
}

.ass_templates_add div {
    width: 100%;
    height: 100%;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

/*.ass_templates_add:hover{background-color: #66CCFF;}*/

.ass_layoutborder_v {
    position: absolute;
    background: #fff;
    left: 0;
}

.ass_layoutborder_h {
    position: absolute;
    background: #fff;
    top: 0;
}

.ass_viewstyle {
    position: absolute;
    width: auto;
    height: auto;
    left: 50%;
}

.ass_viewstyle div {
    float: left;
    margin: 0;
    opacity: 0.9;
}

.ass_float_form {
    position: absolute;
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
}

.ass_float_form div {
    width: 100%;
    height: 100%;
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.ass_mark {
    position: absolute;
    z-index: 40;
    /*border-right: 1px solid #AAAAAA;*/
}

.ass_mark div {
    width: 40%;
    height: 100%;
    margin: 0 30% 0 30%;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s ease-out;
}

.ass_mark pre {
    color: #3399FF;
}

.ass_mark div:hover {
    transform: scale(1.2, 1.2)
}

.ass_float_user span,
.ass_sign input,
.ass_sign span {
    font-family: 'questrial', Arial, sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 15px;
    letter-spacing: 0.2vh;
    font-style: normal;
    vertical-align: middle;
}

.ass_sign {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 88;
}

.ass_sign > div {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 89;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
    width: 40vh;
    height: 100%;
}

.ass_sign_img {
    float: left;
    width: 100%;
    height: 40%;
    background: #3399FF;
}

.ass_sign_img > img {
    width: 33.3334%;
    height: 55.5556%;
    margin: 13.3334% 33.3334% 13.3334% 33.3334%;
    border-radius: 50%;
    cursor: pointer;
}

.ass_sign_img > span {
    width: 24vh;
    line-height: 20vh;
    margin: 0px 0px;
    cursor: pointer;
    position: absolute;
}

.ass_sign_img > img + img {
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 50%;
    transition: 0.3s ease-out;
}

.ass_sign_img > img + img:hover {
    transform: scale(1.2, 1.2);
}

.ass_sign_img_button {
    position: absolute;
    width: 9% !important;
    height: 6% !important;
    margin: 0 !important;
    border-radius: 0 !important;
    background: #3399FF;
    left: 75%;
    top: 5%;
}

.ass_sign_img_edit {
    position: absolute;
    width: 6% !important;
    height: 4% !important;
    margin: 0 !important;
    left: 47%;
    top: 26.5%;
    border-radius: 0 !important;
}

.ass_sign_imgs {
    position: absolute;
    width: 100%;
    height: 40%;
    padding: 0;
    background: #3399FF;
}

.ass_sign_imgs > img {
    float: left;
    margin: 3% 0 0 5.875%;
    width: 25.5%;
    height: 42.5%;
    border-radius: 50%;
    cursor: pointer;
}

.ass_sign_imgs > img:hover {
    box-shadow: 0 0 10px 2px #3399FF;
}

.ass_sign_form_1 {
    float: left;
    width: 100%;
    height: 60%;
    display: table;
    margin: 0px 0px;
}

.ass_sign_form {
    float: left;
    width: 100%;
    height: 60%;
    display: table;
    margin: 50px 0px;
}

.ass_sign_form ul {
    display: table-cell;
    margin: 0;
    padding: 0;
    height: 100%;
    vertical-align: middle;
}

.ass_sign_form ul li {
    height: 12%;
    list-style: none;
    padding: 0;
    margin: 10px 0 10px 0;
    overflow_y: scroll;
    overflow-x: hidden;
}

.ass_sign_form ul li fieldset {
    margin: 0;
    border: 0;
    padding: 0;
    height: 100%;
    display: table;
}

.ass_sign_form ul li fieldset > div {
    position: absolute;
    width: 10%;
    height: 7.2%;
    margin-left: 7%;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.ass_sign_form ul li fieldset input {
    width: 60%;
    height: 100%;
    margin-left: 20%;
    background: #FFFFFF; /*border-radius: 3px;*/
    display: table-cell;
}

.ass_sign_form ul li fieldset input:hover {
    background: rgb(102, 204, 255);
}

.ass_sign_form ul li p {
    text-align: center;
    margin: 0 0 0 0;
    font-family: 'questrial', Arial, sans-serif;
    text-indent: 4px;
    font-size: 12px;
    color: lightsteelblue;
}

.ass_sign_form ul li p:hover {
    color: #3399FF;
    cursor: pointer;
}

.ass_sign_span {
    position: absolute;
    width: 100%;
    height: 20%;
    line-height: 200%;
    text-align: center;
}

.ass_sign_form_button {
    width: 60%;
    height: 100% !important;
    margin: 0 0 0 20%;
    background: #3399FF; /*border-radius: 3px;*/
    cursor: pointer;
    white-space: nowrap;
    display: table-cell;
    text-indent: 0 !important;
    letter-spacing: 5px !important;
    font-family: 'questrial', Arial, sans-serif !important;
    font-weight: bold;
    color: #ffffff !important;
    font-size: 15px !important;
    font-style: normal !important;
    text-align: center;
    vertical-align: middle;
}

.ass_sign_form_button span {
    width: 100%;
    height: 100%;
}

.ass_float_back {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 3px;
    top: 2px;
    margin: 0;
    transition: 0.2s ease-out;
}

.ass_float_back img {
    width: 80%;
    height: 80%;
    margin: 10%;
}

.ass_float_back:hover {
    background-color: #bbdefb;
}

.ass_float_qrcode {
    position: absolute;
    z-index: 99;
}

.ass_float_qrcode div {
    position: absolute;
    background-color: rgba(255, 255, 255, 1.0);
}

.ass_qrcode{
    height: 252px;
    width:252px;
    margin:0px 24px 18px 24px;
}

.ass_qrcode img{
    box-shadow: 0px 0px 1px #aaa;
}

.ass_float_online {
    position: absolute;
    z-index: 98;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
}

.ass_float_online video {
    position: absolute;
    width: 100%;
    height: 80%;
    background-color: #000000;
    margin: 0;
}

.ass_float_voice {
    position: absolute;
    z-index: 98;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
    background-color: #3399FF;
}

.ass_float_voice_div {
    position: absolute;
    width: 10%;
    height: 10%;
    bottom: 10%;
    left: 45%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.ass_float_voice_div img {
    width: 100%;
    height: 100%;
}

.ass_float_voice_ul {
    position: absolute;
    width: 94%;
    height: 70%;
    top: 10%;
    left: 0;
    padding: 0 3% 0 0;
    margin: 0 0 0 3%;
    display: table-cell;
    overflow: scroll;
    overflow-x: hidden;
}

.ass_float_voice_ul li {
    float: right;
    height: 20px;
    list-style: none;
    padding: 0;
    margin: 0 0 6px 6px;
}

.ass_float_voice_ul_percent {
    height: 100%;
    background: #FF3300;
}

.ass_float_voice_canvas {
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 0%;
    left: 0;
}

.ass_float_voice_wave {
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 30%;
    left: 0;
}

.ass_float_voice_state {
    width: 100%;
    height: 20px !important;
    bottom: 50px;
    position: absolute;
    font-size: 12px;
    margin: 0 !important;
    text-align: center !important;
}

.ass_float_online_button {
    background: #3399ff;
    border: none;
    height: 32px;
    width: 100px;
    color: #ffffff;
    cursor: pointer;
    font-family: 'questrial', Arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
    font-style: normal;
    text-align: center;
    vertical-align: middle;
}

.ass_float_online_button:hover {
    background: rgb(102, 204, 255);
}

.ass_float_user {
    position: absolute;
    z-index: 98;
}

.ass_float_user_div {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1.0);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
}

.ass_float_user_username {
    position: absolute;
    left: 0;
    bottom: 62%;
    width: 100%;
    text-align: center;
    color: #ffffff !important;
}

.ass_float_user_file_li div {
    float: left;
    width: 46%;
    height: 120px;
    margin: 2% 0 0 3%;
    transition: 0.2s ease-out;
}

.ass_float_user_file_li div:hover {
    cursor: pointer;
    box-shadow: #81d4fa 0 0 8px 2px;
    transform: scale(1.15, 1.0);
    background-color: #fff;
}

.ass_float_user_file_li div input { /* position:absolute; */
    width: 100%;
    height: 20px;
    margin: -2px 0 0 0;
    font-size: 12px;
    color: rgb(2, 70, 102);
    text-align: center;
}

.ass_float_user_file_li div pre {
    width: 100%;
    height: 20px;
    color: #ddd;
    font-size: 10px;
    text-align: center;
    margin: -20px 0 0 3%;
    font-family: 'palmsprings', Arial, sans-serif;
}

.ass_float_user_file_li div canvas {
    width: 100%;
    height: 100px;
    background-color: rgb(236, 243, 251);
    margin: 0;
}

.ass_float_user_file_li div pre + img {
    width: 20px;
    height: 20px;
    margin: -124px 0 0 110px;
    transition: 0.2s ease-out;
}
.ass_float_user_file_li div pre + img:hover {
    transform: scale(1.2, 1.2);
}

.ass_float_user_user_li > div {
    float: left;
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s ease-out;
}

.ass_float_user_user_li > div:hover {
    transform: scale(1.3, 1.3);
}

.ass_headmenu {
    float: right;
    z-index: 20;
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
}

.ass_headmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
}

.ass_headmenu li {
    float: right;
    list-style-type: none;
    margin-right: 10px;
    display: table;
}

.ass_headmenu li div {
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s ease-out;
    border-radius: 50%;
}

.ass_headmenu li pre {
    font-size: 1.5vh;
    display: table-cell;
    vertical-align: middle;
    color: #FFFFFF;
    text-indent: 0.5vh;
    font-family: 'palmsprings', Arial, sans-serif;
}

.ass_headmenu li div:hover {
    transform: scale(1.2, 1.2);
    background-color: #3399ff;
}

.ass_channelnmenu {
    position: absolute;
    z-index: 19;
    list-style: none;
    margin: 0;
    padding: 0;
    height: auto;
}

.ass_channelnmenu ul {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    height: auto;
}

.ass_channelnmenu li {
    position: absolute;
    list-style-type: none;
}

.ass_channelnmenu li div {
    width: 100%;
    height: 100%;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s ease-out;
}

.ass_channelnmenu li div:hover {
    background-size: 90%;
    background-color: #bbdefb;
}

.ass_four_menu {
    position: absolute;
    z-index: 9;
    list-style: none;
    margin: 0;
    padding: 0;
    height: auto;
}

.ass_four_menu ul {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    height: auto;
}

.ass_four_menu li {
    float: left;
    list-style-type: none;
}

.ass_four_menu li pre {
    position: absolute;
    margin: 0px;
    font-size: 12px;
    bottom: 3px;
    color: #205081;
    font-weight: bold;
    display: none;
}

.ass_four_menu li div {
    position: absolute;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 1.0);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}

.ass_four_menu li:hover > pre {
    display: block;
}

/*.ass_four_menu li:active{box-shadow: #81d4fa 0 0 8px 2px;}*/

.ass_type_menu {
    position: absolute;
    z-index: 100;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgba(100, 100, 100, 0.7);
}

.ass_type_menu ul {
    height: 120px;
    width: 240px;
    list-style: none;
    margin: 50vh 50vw;
    padding: 0;
    transform: translate(-50%, -50%);
    background-color: #fff;
}

.ass_type_menu li {
    float: left;
    list-style-type: none;
}

.ass_type_menu li p {
    height: 40px;
    background-color: #205081;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 10px;
    color: #fff;
    line-height: 40px;
    font-size: 12px;
}

.ass_type_menu li img {
    float: right;
    width: 20px;
    height: 20px;
    margin-top: -30px;
    margin-right: 10px;
    transition: 0.2s ease-out;
}

.ass_type_menu li div {
    width: 120px;
    height: 120px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 1.0);
    box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease-out;
}

.ass_type_menu li pre {
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 98px 0 0 0;
    font-size: 12px;
    display: none;
    transform: scale(0.769, 1.0);
}

.ass_type_menu li div:hover {
    cursor: pointer;
    box-shadow: #81d4fa 0 0 8px 2px;
    transform: scale(1.3, 1.0);
}

.ass_type_menu li div:hover > pre {
    cursor: pointer;
    display: block;
}

.ass_type_menu li img:hover {
    transform: scale(1.2, 1.2);
}

.ass_list_menu {
    position: absolute;
    z-index: 30;
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
    background-color: #fff;
}

.ass_list_menu ul {
    width: auto;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0
}

.ass_list_menu li {
    float: left;
    width: auto;
    height: 100%;
    list-style-type: none;;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
    transition: 0.2s ease-out;
}

.ass_list_menu li div {
    float: left;
    width: 100%;
    height: 100%;
    margin: 0;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s ease-out;
}

.ass_list_menu li pre {
    float: left;
    width: 60px;
    height: 100%;
    line-height: 100%;
    margin: 0;
    padding: 0 2px 0 0;
    font-size: 12px;
    text-align: center;
    color: #205081;
}

.ass_list_menu li input {
    float: left;
    width: 100px;
    height: 100%;
    margin: 0;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background-color: transparent;
}

.ass_list_menu li:hover {
    background-color: #bbdefb;
}

.ass_list_menu li div:hover {
    background-size: 80%;
}

.ass_mobilemenu_canvas {
    position: fixed;
    background: rgba(255, 255, 255, 0.6);
    z-index: 19;
}

.ass_mobilemenu {
    position: fixed;
    z-index: 19;
    margin: 0;
    padding: 0;
    height: auto;
}

.ass_mobilemenu div {
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

/*.ass_mobilemenu_talk {transition:width 500ms cubic-bezier(0.4, 0.0, 0.2, 1);}*/
/*.ass_mobilemenu_talk:hover{width:500px !important;}*/

.ass_progress {
    position: absolute;
    width: 40vw;
    height: 2vh;
    top: 49vh;
    left: 30vw;
    background: #ffffff;
    z-index: 30;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
}

.ass_progress div {
    position: absolute;
    height: 100%;
    background: #3399FF;
}

.ass_progress p {
    position: absolute;
    width: 100%;
    height: 2vh;
    line-height: 2vh;
    text-align: center;
    color: rgb(32, 80, 129);
    margin: 0;
    font-size: 1.5vh;
}

.ass_progress div + p + p {
    width: 5vh;
    text-align: left;
    right: 0.2vh;
    font-size: 1vh;
    font-style: italic;
}

.ass_view_tag {
    position: absolute;
    width: 2.5vh;
    height: auto;
    z-index: 19;
    right: 0.5vh;
    top: 1vh;
    opacity: 0.8;
}

.ass_view_tag div {
    float: left;
    width: 1.2vh;
    height: 1.2vh;
    border-radius: 50%;
    background: #ffffff;
    margin: 1vh 1vh 1vh 1vh;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
}

.ass_view_tag div:hover {
    cursor: pointer;
}

.ass_channel_command {
    position: absolute;
    background: #ffffff;
}

.ass_channel_command textarea {
    margin: 0;
    padding: 0;
    border: 1px solid #3399FF;
    resize: none;
    color: #024666;
    vertical-align: middle;
}

.ass_titlemenu {
    position: absolute;
    z-index: 90;
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
}

.ass_titlemenu ul {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
}

.ass_titlemenu li {
    float: left;
    list-style-type: none;
    background: rgba(255, 255, 255, 1.0);
    overflow: hidden;
    transition: 0.2s ease-out;
}

.ass_titlemenu li div {
    float: left;
    width: 36px;
    height: 100%;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s ease-out;
}

.ass_titlemenu li img {
    width: 40%;
    height: 40%;
    margin-left: 55%;
    margin-top: 16px;
}

.ass_titlemenu li input {
    float: left;
    width: 72px;
    height: 100%;
    font-family: cyen;
    color: #024666;
    font-size: 12px;
    background: rgba(255, 255, 255, 0);
    text-indent: 0;
}

.ass_titlemenu li div:hover {
    transform: scale(1.2, 1.2);
}

.ass_titlemenu li:hover {
    background-color: #bbdefb;
}

.ass_group_text {
    position: absolute;
    margin: 0;
    padding: 0;
}

.ass_group_text_bottom {
    position: absolute;
    margin: 0;
    padding: 0;
}

.ass_group_text_bottom li {
    float: left;
    list-style-type: none;
    opacity: 1.0;
    box-shadow: 0px 0px 1px 0 rgba(0, 0, 0, 0.3);
}

.ass_group_text_bottom li div {
    float: left;
    background-repeat: no-repeat;
    background-position: center;
}

.ass_group_text_bottom li img {
    float: left;
}

.ass_group_text_bottom li input {
    font-family: roundregular;
    color: #024666;
    text-align: center;
    font-weight: 100;
    background-color: transparent;
}

.ass_group_text_right {
    position: absolute;
    margin: 0;
    padding: 0;
}

.ass_group_text_right ul {
    position: absolute;
    margin: 0;
    padding: 0;
}

.ass_group_text_right li {
    float: left;
    list-style-type: none;
    opacity: 1.0;
}

/*.ass_group_text_right li:hover {box-shadow: inset 0 0 5px rgba(0,0,0,0.3);}*/
.ass_group_text_right li div {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
}

.ass_group_text_right li img {
    position: absolute;
    right: 0px;
}

.ass_group_text_right li input {
    position: absolute;
    font-family: roundregular;
    color: #024666;
    text-align: center;
    font-weight: 100;
    background-color: transparent;
    -webkit-transform: scale(0.8);
}

/*.ass_group_text_right li textarea{position: absolute;font-family: roundregular ; color: #024666; text-align: center;font-weight: 100;background-color:transparent;border:0px;overflow:hidden;resize : none;}*/
.ass_group_text_right li pre {
    position: absolute;
    font-family: roundregular;
    color: lightsteelblue;
    text-align: center;
    font-weight: 100;
    margin: 0px;
}

.ass_group_text_edit_imgs_right {
    left: 15px;
    width: 120px;
    height: 40px;
}

.ass_group_text_edit_imgs_right li {
    width: 40px;
    height: 40px;
    padding-top: 5px;
}

.ass_group_text_edit_imgs_right li div {
    float: left;
    width: 40px;
    height: 40px;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: none;
    transition: 0.2s ease-out;
}

.ass_group_text_edit_imgs_right li img {
    top: 20px;
}

.ass_group_text_edit_imgs_right li div:hover {
    transform: scale(1.25, 1.25);
    background-color: #bbdefb;
}

.ass_group_text_block {
    position: absolute;
    margin: 0;
    padding: 0;
}

.ass_group_text_block ul {
    position: absolute;
    margin: 0;
    padding: 0;
}

.ass_group_text_block li {
    float: left;
    list-style-type: none;
    opacity: 1.0;
}

/*.ass_group_text_block li:hover {box-shadow: inset 0 0 5px rgba(0,0,0,0.3);}*/
.ass_group_text_block li div {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
}

.ass_group_text_block li img {
    position: absolute;
    right: 0px;
}

.ass_group_text_block li input {
    position: absolute;
    font-family: roundregular;
    color: #024666;
    text-align: center;
    font-weight: 100;
    background-color: transparent;
}

.ass_group_text_block li pre {
    position: absolute;
    font-family: roundregular;
    color: lightsteelblue;
    text-align: center;
    font-weight: 100;
    margin: 0px;
}

.ass_channelnmenu li,
.ass_templates_add,
.ass_head_icon li { /*border-radius: 50%;*/
    background: rgba(255, 255, 255, 0.6); /*box-shadow: 0 1px 0 1px rgba(0,0,0,0.1);*/
}

.ass_play_mouse {
    position: absolute;
    width: 20px;
    height: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 30;
}

.ass_timeline{
    height:345px;
    box-shadow: 0 0 0!important;
    /*
    margin-top: -40px;
    */
}

.ass_timeline span{
    /*font-size: 12px!important;*/
    /*font-weight: 400!important;*/
}

.ass_timeline_title{
    font-size: 1rem!important;
}

.vue-horizontal-timeline .timeline ol[data-v-c0e978a0] {

    padding: 18px 0!important;
}

.v-tab{
    min-width: 48px!important;
    padding: 0px!important;
}

.ass_tabs_items{
    position:absolute;
    height: 100%;
    width:100%;
}

.ass_tabs_items > div{
    height: 100%;
    width:100%;
}

.v-timeline-item__dot--small{

    height:8px!important;
    width:8px!important;
    background-color: rgba(255,255,255,0.5)!important;
}

.time{

    padding: 8px!important;
}
.v-tooltip__content{
    padding:4px 8px !important;
    border-radius: 0px !important;
}