.impowerBox .qrcode {
    width: 250px;
    margin: 0px!important;
}

.impowerBox .title {
    display: none;
}

.impowerBox .info {
    width: 100%;
    margin-left: 0px;
    margin-top:-10px;
}

.status_icon {
    display: none
}

.impowerBox .status {
    text-align: center;
    display:none;
}