<template>
    <div id="app" style="width:100vw;right:0;left:0;">
        <!--<header>-->
            <!--&lt;!&ndash; router-link 定义点击后导航到哪个路径下 &ndash;&gt;-->
            <!--<router-link to="/home">Home</router-link>-->
            <!--<router-link to="/user">About</router-link>-->
        <!--</header>-->
        <!--&lt;!&ndash; 对应的组件内容渲染到router-view中 &ndash;&gt;-->
        <router-view></router-view>
    </div>
</template>

<script>
    export default {

    }
</script>